@charset "utf-8";
#logo{
	position: fixed;
	top: 30px;left: 2%;
	z-index: 99999;
	width: ;
}
#icon-fw{
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
}
#icon-fw a{
	color: #707070;
	font-size: 20px;
	display: inline-block;
	width: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #bfbfbf;
	margin-left: 12px;
}
#icon-fw a:hover{
	color: #ffcd00;
}
.qr{
	width: 150px;
	position: fixed;
	right: 1.5%;top: -150px;
	z-index: 999;
}
.qr img{
	display: block;
	width: 100%;
	position: absolute;
	
}
.main{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 9999;
}
.main img{
	display: block;
	width: 100%;
}
.main1{
	width: 1022px;
	margin-left: -511px;
	margin-top: -173px;
}
.main2{
	width: 674px;
	margin-left: -337px;
	margin-top: -276px;
}
.main4{
	width: 666px;
	height: 458px;
	margin-left: -333px;
	margin-top: -229px;
	background-image: url(../img/contents3.png);
}
.main4 span{
	display: block;
	text-align: center;
	color: #BFBFBF;
	font-size: 32px;
	font-family: arial;
}
.main4 span a{
	text-decoration: none;
	color: #BFBFBF;
}
.main4 span:first-child{
	padding-top: 230px;
}
.main4 span:nth-child(2),
.main4 span:nth-child(2) a{
	color: #FFCD00;
}
@media only screen and (max-width: 720px) {
	.section-nav{
		display: none !important;
	}
	.section-2 img{
		width: 80%;
		margin: 10% auto 0;
	}
	#icon-fw a{
		display: block;
		margin-bottom: 1rem;
	}
}