/* ========================================================================== */

/* Foundation */

/* ========================================================================== */
@font-face {
 font-family: 'kobelettuce';
 src:
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.ttf?75fway') format('truetype'),
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.woff?75fway') format('woff'),
  url('https://files.lettuce.co.jp/template/default/asset/fonts/kobelettuce.svg?75fway#kobelettuce') format('svg');
 font-weight: normal;
 font-style: normal;
}
.c-icon-new__in{font-size:12px;padding:11px 0 0;position:absolute;width:32px;height:13px}.c-icon-new__text{font-size:11px;display:block;position:relative;margin:-8px 0 0 -20px;width:28px;height:18px;border-radius:28%;color:#fff;line-height:18px;text-align:center;background-color:#f39}.c-header-lunch{width:100%;background-color:#FFFFFF;text-align:center}.p-attentions{border-top:5px solid var(--main-color);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-wrap:wrap;flex-wrap:wrap;text-align:center}.p-attentions__item{-ms-flex-preferred-size:49.8%;flex-basis:49.8%;margin-bottom:2px;display:-webkit-box;display:-ms-flexbox;display:flex}.p-header-emblem{width:140px}.p-header-page-nav__logo{margin-left:230px}.p-header_banner{width:1100px;margin:0 auto}.p-header_banner.is-long{width:auto}.p-header_banner-item--single{margin-top:10px}.p-header_banner-item--mulch{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.p-header_banner-item--mulch li{margin-top:10px}.banners-slider .slick-prev,.banners-slider .slick-next{width:3%;height:100%;font-size:0;padding:0;background:transparent;border:none;outline:0;position:absolute;top:0;z-index:100;-webkit-transition:opacity .3s ease;transition:opacity .3s ease;opacity:.5;cursor:pointer}.banners-slider .slick-prev:hover,.banners-slider .slick-next:hover{opacity:1}.banners-slider .slick-prev{left:0;background:url(https://www.rakuten.ne.jp/gold/mobacaba/index_img/btnPrev.png) no-repeat center center #ccc}.banners-slider .slick-next{right:0;background:url(https://www.rakuten.ne.jp/gold/mobacaba/index_img/btnNext.png) no-repeat center center #ccc}.slick-slider{position:relative;display:block;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.u-mark,.u-mark--orange,.u-mark--ygreen,.u-mark--red,.u-mark--item,.u-mark--movie,.u-mark--code{padding:6px;border-radius:8px;border:1px solid;font-weight:700;display:inline-block;line-height:1;vertical-align:bottom;font-size:1rem}.u-mark--orange,.u-mark--code{color:#f8c16d}.u-mark--ygreen,.u-mark--item{color:#bada75}.u-mark--red,.u-mark--movie{color:#f1717b}.u-mark--item{padding:2px;border-radius:3px}.u-mark--movie{padding:2px;border-radius:3px}.u-mark--code{padding:2px;border-radius:3px}.u-mark--movie{padding:2px;border-radius:3px}





[data-timer].is-hidden {
    display: none;
}

a {
	text-decoration:none;
}
	@media ( min-width:769px ) {
		a:active {
			opacity: 0.7;
		}
		a:hover {
			text-decoration:none;
		}
		a:hover img {
			opacity:0.7;
		}
	}

/*A:link{ color:#4b472e;}
A:visited{ color:#4b472e;}
A:active{ color:#4b472e; filter: Alpha(opacity=70); text-decoration:none;}
A:hover{ color:#4b472e;}*/
A:hover img { filter: Alpha(opacity=70); }

img{
	max-width: 100%;
	height: auto;
	width /***/:auto;
	vertical-align: bottom;
}

/* ========================================================================== */

/* Object */

/* ========================================================================== */

/* ----------------------------------------------------------------- */

/* Component */

/* ----------------------------------------------------------------- */
.c-sp-header__in{
	height:48px;
	width:100%;
	border:none;
	overflow : hidden;
}
.c-gmenu__in{
	height:50px;
	width:100%;
	border:none;
	overflow : hidden;
}
#gmenu {
	position: static;
	line-height: 0;
	height:50px;
	z-index:10;
}

#gmenu.fixed {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
}

@media ( min-width:769px ) {
	#sp-header{
		display: none;
	}
}

.top{
	width: 40px;
	height: 40px;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 15px;
	right: 10px;
	border-radius: 50%;
	z-index: 100;
	line-height: 35px;
	text-align: center;
}

.top a {
	display: block;
}

.main-contents {
	width:100%;
	margin:0 auto;
}

@media ( min-width:769px ) {

	.main-contents{
	    width: 1100px;
		margin: 0 auto;
	}
}

.main-contents__right {
	width:100%;
}

@media ( min-width:769px ) {
	.main-contents__right{
		width: 750px;
		float: right;
	}
}

/* ----------------------------------------------------------------- */

/* Project */

/* ----------------------------------------------------------------- */

@media ( min-width:769px ) {
.p-pcmenu__item-text{
	display: inline;
}
}

@media ( min-width:769px ) {
.p-scroll-nav__link{
	font-size:14px;
}
}
/* PCヘッダインフォメーション部分 */

.p-pchader-info__block{
	width:950px;
	text-align:left;
	margin:10px auto;
	background:#FFF;
	border:1px solid #ddd;
	font-size:0.9em;
	line-height:1.5rem;
}
.p-pchader-info__top{
	width:98%;
	text-align:left;
	padding:10px 0;
	margin:10px auto;
	background:#f5f5f5;
	}
.p-pchader-info__title{
	padding:5px 0 0 10px;
	font-weight:bold;
	font-size: 14px;
	color:#f69;
	}
	
.p-pchader-info__top ol{
	list-style:none;
	}	
.p-pchader-info__top li{
	list-style:none;
	}
.p-pchader-info__top li a{
	color:#000;
	line-height:1.5em;
	}
.p-pchader-info__top li a p{
	padding:5px 10px 0;
	}
.p-pchader-info__top li:hover{
	background:#eeeeee;
	}

/* ----------------------------------------------------------------- */

/* Utility */

/* ----------------------------------------------------------------- */

.u-width100{
	width:100%;
}
.u-fontweight-bold{
	font-weight:bold;
}
.u-for-pc{
	display: none;
}
	@media (min-width: 768px) {
	.u-for-pc{
		display: block;
	}
	}
.u-for-sp{
	display: block;
}
	@media (min-width: 768px) {
	.u-for-sp{
		display: none;
	}
	}


/* ----------------------------------------------------------------- */

/* レスポンシブ用 */

/* ----------------------------------------------------------------- */
/*---------------TOPへ戻るボタン---------------*/
.page-top{
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	bottom:15px;
	right:10px;
	width:40px;
	height:40px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	z-index:458784545645;
}
.page-top a{
	color:#ffffff;
	font-weight:fixed;
	text-decoration:none;
	position:absolute;
	bottom:7%;
	right:8%;
	font-size:17px;
}
.page-top a img{
	width:90%
}


/*---------------PC/SP共通CSS---------------*/
/*===============================================
●タブレット 画面の横幅が768pxまで
===============================================*/
@media screen and (max-width: 768px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
/*---------------ヘッダー・サイド・フッター・リスト----------------*/
.in{
	width:100%;
	margin:0 auto;
	}
.main{
	width:100%;
	text-align:center;
	}
.pc_side{
		display:none;
	}
/*---------------文字----------------*/
html{font-size: 87.5%;}
}
/*===============================================
●SP  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
/*---------------ヘッダー・サイド・フッター・リスト----------------*/
.in{
	width:100%;
	margin:0 auto;
	}
.main{
	width:100%;
	text-align:center;
	}
#pc_header{
	display:none;
}
#sp_header{
	display:block;
}
#pc_header_higawari{
	display:none;
}
#pc_footer{
	display:none;
}
#sp_footer{
	display:block;
}
#sp_footer_tokusyu{
	display:block;
}
/*---------------文字----------------*/
html{font-size:75%;}
}
/*===============================================
●PC 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width /***/:auto;
}
/*---------------ヘッダー・サイド・フッター・リスト----------------*/
.main{
	width:950px;
	margin:0 auto;
	}
#pc_header{
	display:block;
}
#sp_header{
	display:none;
}
#pc_header_higawari{
	display:block;
}
#pc_footer{
	display:block;
}
#sp_footer{
	display:none;
}
#sp_footer_tokusyu{
	display:none;
}
.l-global-point{
	text-align:center;
	background:#000000;
}
.customer{
            width:1100px;
            font-size:10px;
            color: #FFF;
            margin: 10px auto 0;
            background: #FFF;
            border:2px solid #f69;
            padding: 5px 0;
            color:#777;
            line-height:1.5em;
            text-align:center;
}
.customer p.title{
			font-weight: normal;
			text-align:center;
			color:#f69;
			margin:5px 0;
			font-size:14px;
			letter-spacing:0.1em;
}
    .customer p{
			font-weight: bold;
			padding:0 10px;
}

/*---------------文字----------------*/
html{font-size: 100%;}
.main-contents{
		width: 1100px;
		margin: 0 auto;
	}
.main-contents__right {
	width:100%;
}
}
/*---------------UP!アイコン----------------*/
.c-icon-new__text {
    font-size: 11px;
    display: block;
    position: relative;
    margin: -10px 0 0 -25px;
    width: 23px;
    height: 17px;
    border-radius: 28%;
    color: #fff;
    line-height: 18px;
    text-align: center;
    background-color: #f39;
}

@media screen and (min-width: 769px){
.c-icon-new__text {
    font-size: 11px;
    display: block;
    position: relative;
    margin: -10px 0 0 -50px;
    width: 30px;
    height: 20px;
    border-radius: 28%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background-color: #f39;
}
}

.c-icon-new__in {
    font-size: 12px;
    padding: 11px 0 0;
    position: absolute;
    width: 32px;
    height: 13px;
}


/*---------------トップのUP!アイコン----------------*/
.c-icon-new__text2 {
    font-size: 11px;
    display: block;
    position: relative;
    margin: -48px 0 0 48px;
    width: 23px;
    height: 17px;
    border-radius: 28%;
    color: #fff;
    line-height: 18px;
    text-align: center;
    background-color: #f39;
}

@media screen and (min-width: 769px){
.c-icon-new__text2 {
    font-size: 11px;
    display: block;
    position: relative;
	margin: -73px 0 0 170px;
    width: 30px;
    height: 20px;
    border-radius: 28%;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background-color: #f39;
}
}

.c-icon-new__in {
    font-size: 12px;
    padding: 11px 0 0;
    position: absolute;
    width: 32px;
    height: 13px;
}



/*ヘッダー下バナー表示*/

.top_banner_ber {
  width: 100%;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .top_banner_ber {
  }
  .top_banner_ber img {
    width: 1100px;
  }
}

.top_banner_ber_text {
	font-weight: bold;
}

.top_banner_ber_noimage {
	width: 100%;
	display: block;
	text-align: center;
	color: #ff3e82;
	background-color: #fffebe;
	padding: 1.5% 0;
	font-size: 1.1rem;
	}

	@media (min-width: 768px) {
	.top_banner_ber_noimage {
			padding: 1% 0;
			font-size: 1.8rem;
		}
	}



/*---------------メニュー下の同梱バナー----------------*/
@media screen and (min-width: 767px){
	
.soumu_banner{
	display: none;
	
}
}

/*---------------ヘッダー高さ（spのみ）----------------*/
@media screen and (max-width: 650px){
.l-global-nav{
	margin-bottom: 10.3%;
}
}





/* ----------------------------------------------------------------- */

/* poitbanner */

/* ----------------------------------------------------------------- */

.poitbanner{
	width:100%;
	padding-top:30px;
}

.poitbanner950{
	display: none;
}
	@media (min-width: 768px) {
	.poitbanner950{
		display: block;
	}
	}
.poitbanner570{
	display: block;
	width:93%;
	margin:auto;
}
	@media (min-width: 768px) {
	.poitbanner570{
		display: none;
	}
	}


/* ----------------------------------------------------------------- */

/* ヘッダー下リンクあり*/

/* ----------------------------------------------------------------- */

.p-top_banner_bar {
    width: 100%;
    display: block;
    text-align: center;
	background-color: #73cbd9;
    	}


/*.p-top_banner_bar img {
    width: 100%;
}
*/


    
    
    