body
{
	color: #000;
	font-family: 'Lucida Grande' ,メイリオ,Meiryo, 'Hiragino Kaku Gothic ProN' ,sans-serif;
	font-size: 12px;
}
#right_area
{
	width: 750px;
}
#right_area a:link
{
	color: #000;
	font-size: 12px;
	text-decoration: underline;
}
#right_area a:visited
{
	color: #000;
	font-size: 12px;
	text-decoration: underline;
}
#right_area a:hover
{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
#right_area a:active
{
	color: #000;
	font-size: 12px;
	text-decoration: none;
}
#right_area .right_common
{
	margin: 0;
}
#right_area .pagetop01
{
	text-align: right;
}
#right_area .pagetop02
{
	margin: 0 0 30px;
	text-align: right;
}
#right_area h2
{
	color: #000;
	font-family: "メイリオ" ,Meiryo, "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,Osaka, "ＭＳ Ｐゴシック" , "MS PGothic" ,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 0 10px;
}
.right_area
{
	border-bottom: 2px solid #d7d7d7;
	color: #000;
	font-family: "メイリオ" ,Meiryo, "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,Osaka, "ＭＳ Ｐゴシック" , "MS PGothic" ,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 0 10px;
}
#right_area .guide_q
{
	background: none repeat scroll 0 0 #484848;
	color: #fff;
	margin: 0;
	padding: 0;
}
#right_area .guide_q h3
{
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	padding: 12px 20px 10px;
}
#right_area .guide_a
{
	margin: 0;
	padding: 20px;
}
#right_area .guide_a p
{
	line-height: 1.5;
	margin: 0;
}
#right_area h4, #right_area h5
{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;
	padding: 9px 0;
}
#right_area .bt_guide
{
	height: 40px;
	line-height: 40px;
	margin: 30px 0 0;
	width: 160px;
}
#right_area .bt_guide a
{
	font-size: 12px;
	text-decoration: none;
}
#right_area .bt_guide a:before
{
	background: url(                               "http://www.dreamvs.jp/pc/stylesheets/leftImg/common/btn_pre.png" ) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 5px;
	left: 10px;
	position: absolute;
	top: 43%;
	width: 6px;
}
.ma_rt00
{
	margin-right: 0 !important;
}
#right_area img
{
	border: medium none;
}

#right_area div, p, th, td
{
	color: #000;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	margin: 0 auto 20px;
	padding: 0;
	text-align: left;
}
#right_area :after
{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}


* html
{
	height: 1%;
}


.guide_tit h1
{
	font-size: 28px;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 15px;
	margin-left: 0;
	margin-top: 0;
	width: 990px;
}
.cs_area
{
	border: 1px solid #d7d7d7;
	border-radius: 2px;
	margin: 0 0 50px;
	padding: 0;
	position: relative;
	width: 990px;
}
.cs_area .inner
{
	margin: 20px;
	overflow: hidden;
	padding: 0;
	width: 950px;
}
.cs_area .cs_txt
{
	float: left;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	width: 540px;
}
.cs_area .cs_txt span
{
	font-weight: bold;
}
.cs_area .cs_bt
{
	float: right;
	height: 41px;
	line-height: 41px;
	margin: -20px 0 0;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	width: 182px;
}
.cs_area .cs_bt a:before
{
	background: url(                                "http://www.dreamvs.jp/pc/stylesheets/leftImg/btn_next.png" ) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	content: "";
	height: 5px;
	left: 20px;
	position: absolute;
	top: 43%;
	width: 6px;
}
.cs_area .cs_bt a
{
	font-size: 11px;
	text-decoration: none;
}
.cs_area .cs_bt:hover
{
	opacity: 0.6;
}
.list_bg_img
{
	border: 0 none;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.list_area
{
	margin: 10px 0 22px;
	overflow: hidden;
	padding: 0;
	width: 992px;
}
.list_area .inner
{
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 992px;
}
.list_area .inner h3
{
	float: left;
	margin: 0 16px 18px 0;
	padding: 0;
}
#right_area img
{
	vertical-align: bottom;
}
.right_area
{
	border-bottom: 2px solid #d7d7d7;
	color: #000;
	font-family: "メイリオ" ,Meiryo, "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" ,Osaka, "ＭＳ Ｐゴシック" , "MS PGothic" ,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 0 10px;
}
#right_area ul
{
	margin: 0;
	padding: 0;
}
#right_area ul li
{
	list-style: none outside none;
}
.guide_caution
{
	list-style: none outside none;
	margin: 20px 0;
	padding: 0;
}
.guide_list
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
#right_area h4, #right_area h5
{
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0;
}
.guide_a .guide_cap
{
	display: block;
	margin: 15px auto;
	text-align: center;
	width: 590px;
}
.guide_a .line_part
{
	border-top: 1px solid #d7d7d7;
	margin: 15px 0;
	width: 698px;
}
#right_area h2 a
{
	color: #f00;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
}
.left_tit
{
	cursor: pointer;
}
.list_title
{
	margin: 0;
	font-size: 13px;
	padding-bottom: 5px;
	border-bottom: double 1px #999;
	float: left;
	width: 740px;
	margin-left: 260px;
}
.sidebar2
{
	padding-left: 0;
	padding-right: 20px;
	width: 250px;
	float: left;
	padding-bottom: 10px;
	padding-top: 16px;
}
.container
{
	margin: 0 auto;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	width: 1020px;
}
.list
{
	border-bottom: 1px double #999;
	float: right;
	font-size: 13px;
	margin: 0;
	padding-bottom: 5px;
	width: 750px;
}
.content2
{
	float: left;
	padding: 10px 0;
	margin-top: 0px;
	width: 750px;
}

html, body
{
	height: 100%;
}
*
{
	margin: 0;
	padding: 0;
}

#right_area .mailbin *:after
{
	clear: both;
	content: ".";
	display: inline;
	height: 0;
	visibility: hidden;
}
#timed div
{
	color: #000;
	font-size: 12px;
	margin: 0px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	padding: 0;
	text-align: center;
}
#timed td
{
	color: #000;
	font-size: 12px;
	margin: 0px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	padding: 0;
	text-align: center;
}
#timed p
{
	color: #000;
	font-size: 12px;
	margin: 0px;
	letter-spacing: 0.5px;
	line-height: 1.6;
	padding: 0;
	text-align: center;
}
#right_area .table *:after
{
	content: '';
	background-color: #cccccc;
}
