@charset "utf-8";
/* CSS Document */


* {
  margin: 0;
  padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-size: 100%;
	line-height:1.5em;
	font-family: Verdana, Arial, sans-serif;
}


/* ~~ エレメント / タグセレクター ~~ */
ul, ol, dl, li{ /* ブラウザー間の相違により、リストの余白とマージンをゼロにすることをお勧めします。一貫性を保つために、量をここで指定するか、リストに含まれるリスト項目 (LI、DT、DD) で指定できます。より詳細なセレクターを記述しない限り、ここで指定する内容が .nav リストにも適用されることに注意してください。 */
	padding:4px 0px;
	margin: 0;
	list-style:none;
}

a img { /* このセレクターは、一部のブラウザーでイメージをリンクで囲んだ場合にイメージの周囲に表示される初期設定の青いボーダーを削除します。 */
	border: none;
}
/* ~~ サイトのリンクのスタイル付けは、ホバー効果を作成するセレクターグループも含め、この順序にする必要があります。~~ */
a:link {
	color: #42413C;
	text-decoration: none; /* 非常に特殊な表示方法でリンクをスタイル付けする場合を除き、一目で見分けられるように下線を指定することをお勧めします。 */
}
a:visited {
	color: #6E6C64;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* このセレクターグループは、キーボードを使用するユーザーに対し、マウスを使用するユーザーと同じホバー効果を提供します。 */
	color: #09C;
	text-decoration: none;
}


#container { 
  width:900px;
  position: relative;
  height:100%;
  margin:0 auto;
  min-height: 100%;
  overflow:hidden;
}

body > #container {
  height: auto;
}


#contents {
	padding-bottom: 50px;
}

/*パンくずリスト*/
#list{
	width:630px;
	float:right;
	margin:0;
	font-size:13px;
	padding-bottom:5px;
	border-bottom:double 1px #999;
}

#list span{
	font-size:15px;
	font-weight:bold;
	color:#ff7f0b;
	
}

#list1{
	width:900px;
	float:left;
	margin:0;
	font-size:13px;
	padding-bottom:5px;
	border-bottom:double 1px #999;
}
#list1 span{
	font-size:15px;
	font-weight:bold;
	color:#ff7f0b;
	
}


h1{
	margin-bottom:15px;
}


#main{

	text-align:center;
	background-color:#fff;
	width:900px;
	margin:0 auto;
	overflow:hidden;
	padding:30px 0 0 0;
	font-size:13px;
}



#main ul{
	margin-top:10px;
	text-align:left;
	padding-left:30px;	
}

.left{
	float:left;
	width:280px;

}


.left li{
	padding-left:15px;
}


#center{
	float:left;
	width:280px;
	margin-left:30px;

}

#center li{
	padding-left:15px;
}


#right{
	float:left;
	width:280px;
	margin-left:30px;

}
#right li{
	padding-left:15px;
}


#footer {
	width: 900px;
	text-align:center;
	background-color: #CCC;
    position: absolute;
    bottom: 40px;
    height: 30px;

}


#footer2 {
	padding: 10px 0 10px 0px;
	width:900px;
	text-align: center;
	color: #FFF;
	background: #ff3399;
	font-size:12px;
    position: absolute;
    bottom: 0;
    height: 20px;
}


/**/
#head{
width:1000px; 
margin:0 auto;
overflow:hidden;

}



#logo {
	padding: 5px 0;
	margin:0 auto;
	width: 180px;
	float: left;
	height: auto;
}


#box-001 {
	width: 700px;
	height: 50px;
	float: right;
	padding-top: 10px;
	font-size:13px;
}

#box-002 {
	width: 650px;
	height: 45px;
	float: right;
}


 

.ic_navi{
background: url(http://www.dreamvs.jp/pc/images/top/ic_heart.gif) no-repeat;
padding:1px 0 0 18px;
font-size:1em;
}

a {color: #ff0084;
line-height:15px;
font-size:12px;}

a:hover {
color: #0066FF;
}


.sidebar1 {
	float: left;
	width: 30%;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 630px;
	float: left;
	margin-top:20px;
}

.content1 {
	padding: 10px 0;
	width: 900px;
	margin:0px;
	display:block;
	text-align:center;
}

#footer p {
	font-size: 0.75em;
	line-height: 1.5em;
	margin-top: 5px;
	margin-bottom: 0.625em;
	padding-top: 0px;
}


/*▼ご利用ガイド_用語集▼*/
.yougo{
	font-size:14px;
	padding: 2px;
}

#chuui{
	 color: #F00;
}



/*▼ボタン・・・マイページ、ログイン等▼*/

#PC_NAVI_B{
           width: 100%;
           height: 25px;
           margin: 0 0px 10px 0;
           clear:both;
   }
   
   #PC_NAVI_B ul,li{
           margin: 0px;
           padding: 0px;
   }
   
   #PC_NAVI_B li{
           display: inline;
           float: right;
   }
   
   #PC_NAVI_B A{
           display: block;
           margin: 5px 0 0 3px;
           padding: 3px 0 0 25px;
           background-image: url(http://www.dreamvs.jp/pc/img-top/button/navi_b.gif);
           height: 22px;
           width: 135px;
           font-weight: bold;
           color: #FFFFFF;
           font-size: 14px;
           text-decoration: none
   }
   
   #PC_NAVI_B A:hover{
           background-image: url(http://www.dreamvs.jp/pc/img-top/button/navi_b_hover.gif);
           color: #E9F200;
           text-decoration: none;
   }


<!--[if lte IE 7]>

.content { margin-right: -1px; } /* この 1 ピクセルの負のマージンはこのレイアウトのどのカラムにも配置でき、同じ補正効果を持ちます。 */
ul.nav a { zoom: 1; }  /* zoom プロパティにより、IE の hasLayout をトリガーします。これは、リンク間の余分なホワイトスペースを修正するのに必要です。 */
<![endif]-->
