@charset "utf-8";

div.icon-search{
	width: 50px;
	height: 50px;
	margin: 20px auto 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;/* ie9+ */
	border: 5px solid #333;
	position: relative;
}
div.icon-search::after{	/* ie9+ */
	content: "";
	display: block;
	width: 8px;
	height: 60px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #333;
	position: absolute;
	right: -22px;
	top: 38px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);/* ie10+ android5+ */
}

div.dt-ttl{
	position: relative;
	text-align: center;
	font-size: 48px;
	cursor: pointer;
	font-family:  sans-serif;
}
div.dt-ttl:hover::after{
	content: attr(data-title);	/*取得data-title属性的值*/
	display: inline-block;
	padding: 10px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: -80px;
	left: 50%;
	margin-left: -144px;
}

.l-gradient{
	width: 200px;
	height: 50px;
	margin: 20px auto;
	/*background: linear-gradient(to right,red,yellow,black,green);*/
	/*background: linear-gradient(to bottom,red,yellow,black,green);*/
	/*background: linear-gradient(to right, #f9c 50%, #09c 50%);*/
	/*background: linear-gradient(45deg,#f9c,#9c);*/
	background: -webkit-repeating-linear-gradient(red, yellow 20%, green 20%);
	background: -moz-repeating-linear-gradient(red, yellow 20%, green 20%);
	background: -ms-repeating-linear-gradient(red, yellow 20%, green 20%);
	background: -o-repeating-linear-gradient(red, yellow 20%, green 20%);
	background: repeating-linear-gradient(red, yellow 10%, green 20%);/*ie10+ android4.4+ safari7+*/
}
.r-gradient{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: radial-gradient(circle, rgba(255,0,0,1), rgba(255,0,0,0) 72%);
}
div.chrome{
width:180px;
height:180px;
border-radius:50%;
box-shadow:004px#999,002px#dddinset;
background: radial-gradient(circle,#4FACF50,#2196F3 28%,transparent 28%), radial-gradient(circle,#fff 33%,transparent 33%), linear-gradient(-50deg,#FFEB3B 34%,transparent 34%), linear-gradient(60deg,#4CAF50 33%,transparent 33%), linear-gradient(180deg,#FF756B0,#F44336 30%,transparent 30%), linear-gradient(-120deg,#FFEB3B 40%,transparent 40%),linear-gradient(-60deg,#FFEB3B 30%,transparent 30%), linear-gradient(0deg,#4CAF50 45%,transparent 45%),linear-gradient(60deg,#4CAF50 30%,transparent 30%), linear-gradient(120deg,#F44336 50%,transparent 50%),linear-gradient(180deg,#F44336 30%,transparent 30%);
}

