@charset "shift-JIS";
/* CSS Document */
@media screen and (min-width: 768px)  {
div#sanrioCollabo {
    position: relative;
    background-image: url(../images/bgimg_heart.gif);
    padding-bottom: 100px;
}

div#sanrioCollabo h1 {
	position: absolute;
	top: 0;
}

div#sanrioCollabo h1+p {
	text-align: center;
}

div#sanrioCollabo .itemwrap{
    /* padding: 20px 20px 50px; */
    position: relative;
    border-top: 2px #fff solid;
}

div#sanrioCollabo .itemwrap .kazari_fix {
    position: absolute;
    top: -39px;
    left: 0;
    width: 100%;
    height: 57px;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-size: 200px;
    z-index: 2;
}
div#sanrioCollabo .itemwrap .kazari_fix.kazari_btm {
	top: inherit;
	bottom: -20px;
}

div#sanrioCollabo .itemwrap .kazari_fix.red {
    background-image: url(../images/raceline_red.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.pink {
    background-image: url(../images/raceline_pink.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.black {
    background-image: url(../images/raceline_black.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.blue {
    background-image: url(../images/raceline_blue.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.purin {
    background-image: url(../images/raceline_purin.gif);
}
div#sanrioCollabo .itemwrap.color_red{
	background-color: #fdcbc4;
	/*background-image: url(../images/bgimg_red.gif);*/
}

div#sanrioCollabo .itemwrap.color_pink{
	background-color: #fae1e4;
	/*background-image: url(../images/bgimg_pink.gif);*/
}

div#sanrioCollabo .itemwrap.color_black{
	background-color: #efebec;
	/* background-image: url(../images/bgimg_black.gif); */
}

div#sanrioCollabo .itemwrap.color_blue{
	background-color: #dcfbfe;
	/* background-image: url(../images/bgimg_blue.gif); */
}

div#sanrioCollabo .itemwrap.color_purin{
	background-color: #FFC;
	/* background-image: url(../images/bgimg_blue.gif); */
}

div#sanrioCollabo .itemwrap h2,
div#sanrioCollabo .itemwrap .kazari {
    text-align: center;
    margin: 30px 0 0;
}

div#sanrioCollabo ul.navibutton {
    width: 85%;
    margin: 0 auto 50px;
    text-align: center;
}

div#sanrioCollabo ul.navibutton li {
    margin: 0;
    padding: 5px;
    display: inline-block;
    width: 17%;
}

div#sanrioCollabo ul.navibutton:after {
	  content: "";
	  clear: both;
	  display: block;
}


div#navi_fix {
    position: fixed;
    bottom: 30px;
    right: 110px;
    z-index: 3;
    width: 80px;
}
div#navi_fix ul.navibutton {
    width: 100%;
}
div#navi_fix ul.navibutton li {
    margin: 0px 7px;
    padding: 5px;
    width: 100%;
}
div#navi_fix ul.navibutton li img {
    width: 100px;
}



/*���i���C��*/
div#sanrioCollabo ul.list_01 {
    width: 95%;
    margin: 0 auto;
	padding-bottom: 60px;
}

div#sanrioCollabo ul.list_01:after {
	  content: "";
	  clear: both;
	  display: block;
}

div#sanrioCollabo ul.list_01 li {
    margin: 50px 0 13px;
    /* border: 3px #333 solid; */
    /* background-color: #fff; */
    /* border-radius: 12px; */
    /* -webkit-border-radius: 12px; 
    -moz-border-radius: 12px;*/
    line-height: 0.5em;
}

div#sanrioCollabo ul.list_01 li img {
    max-width: 100%;
    border-radius: 12px; 
    /* -webkit-border-radius: 12px; 
    -moz-border-radius: 12px;*/
}

div#sanrioCollabo ul.list_01 li .detail {
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 1px;
}

div#sanrioCollabo li .detail .price {
	font-size: 1.5em;
}

div#sanrioCollabo li .detail .price span {
	font-size: 0.7em;
}

div#sanrioCollabo ul li {
	position: relative;
}

/*���i��3��*/
div#sanrioCollabo ul.list_03 {
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

div#sanrioCollabo ul.list_03:after {
	  content: "";
	  clear: both;
	  display: block;
}
div#sanrioCollabo ul.list_04 li {
	padding-top: 80px;
}
div#sanrioCollabo ul.list_03 li {
	float: left;
	width: 30%;
	margin: 15px 0 15px 13px;
	border: 3px #da0943 solid;
	padding-bottom: 10px;
	background-color: #fff;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

div#sanrioCollabo li img {
    max-width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    -moz-border-top-left-radius: 9px;
    -moz-border-top-right-radius: 9px;
    /* margin-bottom: 10px; */
}
div#sanrioCollabo li .item_price_ {
	font-size: 1.5em;
	margin: 5px 0;
	color: #da0943;
}

div#sanrioCollabo li .item_price_ span {
	font-size: 0.7em;
}


/*���i��4��*/
div#sanrioCollabo ul.list_04 {}

div#sanrioCollabo ul.list_04:after {
	  content: "";
	  clear: both;
	  display: block;
}

div#sanrioCollabo ul.list_04 li {
    float: left;
    width: 30%;
    margin: 15px 0 15px 13px;
    border: 3px #333 solid;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

div#sanrioCollabo ul.list_04 li img{
	width: 90%;
}

div#sanrioCollabo ul.list_04 li .detail {
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 1px;
}

div#sanrioCollabo ul.list_04 li {
    float: left;
    width: 22%;
    margin: 15px 0 15px 13px;
    border: 3px #333 solid;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

div#sanrioCollabo ul.list_04 li{
	border-color: #737272;
	text-align: center;
	padding: 20px 0 0
	}



div#sanrioCollabo .itemwrap.color_red li{
	border-color: #e10044;
}

div#sanrioCollabo .itemwrap.color_red li .detail,
div#sanrioCollabo .itemwrap.color_red li .detail .price,
div#sanrioCollabo .itemwrap.color_red li .detail .itemname,
div#sanrioCollabo .itemwrap.color_red li .detail .size {
	color: #e64550 !important;
}

div#sanrioCollabo .itemwrap.color_pink li{
	/* border-color: #f0bdd7; */
}

div#sanrioCollabo .itemwrap.color_pink li .detail,
div#sanrioCollabo .itemwrap.color_pink li .detail .price,
div#sanrioCollabo .itemwrap.color_pink li .detail .itemname,
div#sanrioCollabo .itemwrap.color_pink li .detail .size {
	color: #eb84a0 !important;
}

div#sanrioCollabo .itemwrap.color_black li .detail,
div#sanrioCollabo .itemwrap.color_black li .detail .price,
div#sanrioCollabo .itemwrap.color_black li .detail .itemname,
div#sanrioCollabo .itemwrap.color_black li .detail .size {
	color: #737272 !important;
}


div#sanrioCollabo ul.list_03 div.buy_btn {
    width: 55%;
    margin: 5px auto 0;
}

div#sanrioCollabo ul.list_04 div.buy_btn {
    width: 85%;
    margin: 5px auto 0;
}

div.buy_btn img {
    width: 100%;
}

/* 03.���{�� */
.ribbon{
	position:relative;
	margin: 0 -8px;
	padding: 3px;
	/* font:normal 28px/1.6 "Times New Roman", Times, serif; */
	font-size: 1.3em;
	text-align:center;
	color: #fff;
	background: #e5454f;
	-webkit-transform: rotate(-3deg) skew(-3deg);
	-moz-transform: rotate(-3deg) skew(-3deg);
	-o-transform: rotate(-3deg) skew(-3deg);
	transform: rotate(-3deg) skew(-3deg);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(top,
			transparent 8%,
            rgba(255, 255, 255, 0.5) 8%,
            rgba(255, 255, 255, 0.5) 12%,
            transparent 12%,
            transparent 88%,
            rgba(255, 255, 255, 0.5) 88%,
            rgba(255, 255, 255, 0.5) 92%,
            transparent 92%	
			);
	background-image: -o-linear-gradient(top,
			transparent 8%,
            rgba(255, 255, 255, 0.5) 8%,
            rgba(255, 255, 255, 0.5) 12%,
            transparent 12%,
            transparent 88%,
            rgba(255, 255, 255, 0.5) 88%,
            rgba(255, 255, 255, 0.5) 92%,
            transparent 92%	
			);
}
.ribbon:before{
	content:" ";
	position:absolute;
	top:-5px;
	left:0;
	width:0;
	height:0;
	border-width:0 0 5px 8px;
	border-style:solid;
	border-color:transparent;
	border-bottom-color:#c66;
}
.ribbon:after{
	content:" ";
	position:absolute;
	top:100%;
	right:0;
	width:0;
	height:0;
	border-width:5px 8px 0 0;
	border-style:solid;
	border-color:transparent;
	border-top-color:#c66;
}

.color_pink .ribbon {
	background: #eb84b4;
}
.color_black .ribbon {
	background: #df95ba;
}



/*�����N����*/
a.disabled {
    cursor: default;
}
a.disabled img {
    opacity: 1;
}

.id_number {
    text-align: center;
    font-size: 12px;
    padding: 20px 0 50px;
    /* background-color: #ffffff; */
    color: #333;
    /* position: absolute; */
    /* bottom: 10px; */
    /* left: 0; */
    width: 100%;
}

.comment {
    text-align: center;
    margin: 0 10px;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #333;
}
.color_red .comment {
    color: #e64550;
    border-top: 1px #f00 dashed;
    border-bottom: 1px #f00 dashed;
    padding: 10px 5px;
    background-color: #fff3f5;
}
.color_pink .comment {
    color: #eb84a0;
    border-top: 1px #eb84a0 dashed;
    border-bottom: 1px #eb84a0 dashed;
    padding: 10px 0;
    background-color: #fff3f5
}
.color_black .comment {
    color: #e8a4bb;
    border-top: 1px #e8a4bb dashed;
    border-bottom: 1px #e8a4bb dashed;
    padding: 10px 0;
    background-color: #fff3f5
}
.comment:after {
    /* content:url("https://www.dreamvs.jp/pc/images/collabo/mymelody/fukidasi01.gif"); */
}


.fotorama span{
	height:609px !important;
}
.text_img {
    text-align: center;
    margin: 10px auto;
}
.text_img2 {
    text-align: center;
    margin: 50px auto;
    font-size: 20px;
    line-height: 1.4;
    color: #d86184;
}
.text_img2 img {
	border: 1px #CCC solid;
}
p#pagetop {
    display: none !important;
}
.text_img.anime {
    position: absolute;
    top: 593px;
    left: 10%;
}
.space_ {
    height: 350px;
}

.buy_btn {
    margin: 20px auto;
    position: relative;
    /* left: 10%; */
    /* bottom: 30px; */
    width: 600px;
    text-align: center;
}
.buy_btn.torabulu {
    bottom: 318px;
}

.buy_btn a,
.buy_btn p {
    display: block;
    padding: 50px 20px;
    color: #f03856;
    background-color: #ffffff;
    border: 4px #f03856 solid;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    -moz-box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    -webkit-box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    font-size: 35px;
    position: relative;
    text-decoration: none;
}
.buy_btn::after {
	position: absolute;
	top: 45%;
	right: 30px;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	margin-top: -4px;
	border-top: 4px solid #f03856;
	border-right: 4px solid #f03856;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.buy_btn.buy_all a{
	margin-top: 50px;
	line-height: 1.4;
	padding: 25px 20px;
	color: #fff;
	background-color: #e0688f;
	border: 4px #ffffff solid;
}
.buy_btn.buy_all::after {
	
border-top: 4px solid #ffffff;
	
border-right: 4px solid #ffffff;
}

/*.buy_btn a:hover {
     color: #da0943;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #da0943 solid;
     font-size: 35px;
}
.buy_btn:hover::after {
	border-top: 4px solid #bb0423;
	border-right: 4px solid #bb0423;
}*/

/*�s���N*/
#pink .buy_btn a,
#pink .buy_btn p {
     color: #f89bb5;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #f89bb5 solid;
}
#pink .buy_btn::after {
	border-top: 4px solid #f89bb5;
	border-right: 4px solid #f89bb5;
}
/*�N���~*/
#kuromi .buy_btn a,
#kuromi .buy_btn p {
     color: #b67ca0;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #b67ca0 solid;
}
#kuromi .buy_btn::after {
	border-top: 4px solid #b67ca0;
	border-right: 4px solid #b67ca0;
}
/*�V�i����*/
#cinnamoroll .buy_btn a,
#cinnamoroll .buy_btn p {
     color: #89bade;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #89bade solid;
}
#cinnamoroll .buy_btn::after {
	border-top: 4px solid #89bade;
	border-right: 4px solid #89bade;
}
/*�v����*/
#pompompurin .buy_btn a,
#pompompurin .buy_btn p {
	color: #d4a95f;
	background-color: #ffffff;
	text-decoration: none;
	border: 4px #d4a95f solid;
}
#pompompurin .buy_btn::after {
	border-top: 4px solid #d4a95f;
	border-right: 4px solid #d4a95f;
}
.textlink {
    text-align: center;
    font-size: 2em;
    margin: 30px;
}
.textlink a{
    text-decoration: underline;
    color: #975134;
}
div#sanrioCollabo .title {
    text-align: center;
    font-size: 35px;
    color: #e99296;
    text-shadow: 1px 2px 3px #ffffff; 
}
.item .buy_btn {
    position: static;
}

/*.item .buy_btn a:hover {
     color: #d86184;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #d86184 solid;
}
.item .buy_btn:hover::after {
	border-top: 4px solid #d86184;
	border-right: 4px solid #d86184;
}*/

.text_img3 {
    text-align: center;
    margin: 50px auto;
    font-size: 32px;
    line-height: 1.4;
    color: #e73b51;
    background-color: #ff0;
    padding: 20px 0;
}
.text_img3 a{
	text-decoration: underline;
	color:#e73b51;
}


.text_img4 {
    text-align:  center;
    color: #e0688f;
    font-size: 25px;
}

ul.banner_list_ {
    margin: 0 auto 50px;
    width: 95%;
    text-align: center;
}
ul.banner_list_ li {
    margin: 10px 0;
}

/*�߂�{�^��*/
.back_btn {
    margin: 30px auto 60px;
    position: relative;
    width: 600px;
    text-align: center;
}

.back_btn a {
    display: block;
    padding: 50px 20px;
    color: #fff;
    background-color: #e0688f;
    border: 4px #fff solid;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    box-shadow:0px 0px 3px 3px rgba(189, 188, 188, 0.8);
    -moz-box-shadow:0px 0px 3px 3px rgba(189, 188, 188, 0.8);
    -webkit-box-shadow:2px 3px 5px 3px rgba(189, 188, 188, 0.8);
    font-size: 32px;
    position: relative;
}
.back_btn::after {
	position: absolute;
	top: 45%;
	left: 35px;
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	margin-top: -8px;
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.back_btn a:hover {
     color: #e0688f;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #e0688f solid;
}
.back_btn:hover::after {
	border-top: 4px solid #e0688f;
	border-right: 4px solid #e0688f;
}

/*�w��O�̒��ӕ�*/
.mecce_ {
    font-size: 1.2em;
    margin: 50px auto;
    line-height: 1.5em;
    color: #888888;
    width: 600px;
    background-color: #fff;
    padding: 20px 30px;
    border: 1px #e0688f solid;
}
.mecce_.torabulu {
	position: absolute;
	bottom: 34px;
	left: 7%;
	margin: 20px 0;
}
.mecce_ .midasi {
	text-align: center;
	font-size: 1.7em;
	line-height:1.4em;
	color: #e0688f;
	font-weight: bold;
}
.mecce_ p {
	margin: 10px 0;
}
.mecce_ a {
	color: #e0688f;
	text-decoration: underline;
}
.mecce_ ul.payment_ li{
	font-size: 0.9em;
}



}

@media screen and (max-width: 767px)  {
	
	div#sanrioCollabo {
   background-image: url(../images/bgimg_heart.gif);
   background-size: 50px;
   position: relative;
   padding-top: 5px;
   padding-bottom: 25px;
}

div#sanrioCollabo a {
	text-decoration: none;
}

div#sanrioCollabo img {
	width: 100%;
}

div#sanrioCollabo h1+p {
	text-align: center;
	/* margin: 0; */
	/* padding: 0; */
}

div#sanrioCollabo .topimg {
    /* margin-top: -20px; */
}

div#sanrioCollabo .itemwrap{
    padding: 0;
    position: relative;
    border-top: 2px #fff solid;
}

div#sanrioCollabo .itemwrap .kazari_fix {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 29px;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-size: 100px;
    z-index: 2;
}
div#sanrioCollabo .itemwrap .kazari_fix.kazari_btm {
	top: inherit;
	bottom: -20px;
}

div#sanrioCollabo .itemwrap .kazari_fix.red {
    background-image: url(../images/raceline_red.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.pink {
    background-image: url(../images/raceline_pink.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.black {
    background-image: url(../images/raceline_black.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.blue {
    background-image: url(../images/raceline_blue.gif);
}
div#sanrioCollabo .itemwrap .kazari_fix.purin {
    background-image: url(../images/raceline_purin.gif);
}
div#sanrioCollabo .itemwrap.color_red{
	background-color: #fdcbc4;
}

div#sanrioCollabo .itemwrap.color_pink{
	background-color: #fae0e3;
}

div#sanrioCollabo .itemwrap.color_black{
	background-color: #efebec;
}

div#sanrioCollabo .itemwrap.color_blue{
	background-color: #dcfbfe;
}

div#sanrioCollabo .itemwrap.color_purin{
	background-color: #FFC;
}


div#sanrioCollabo .itemwrap h2,
div#sanrioCollabo .itemwrap .kazari {
    text-align: center;
    margin: 20px 0 0;
}


div#sanrioCollabo .itemwrap h2 img {
	width: 80%;
}

div#sanrioCollabo .itemwrap .kazari img {
	width: 30%;
}

div#sanrioCollabo ul.navibutton {
    width: 90%;
    margin: 0 auto 30px;
}

div#sanrioCollabo ul.navibutton li {
	display: inline-block !important;
	margin: 0;
	width: 18.5%;
	/* padding: 5px; */
	/* border: 1px #ccc dashed; */
	/* background-color: #fff; */
}
@media screen and (max-device-width: 320px) {
div#sanrioCollabo ul.navibutton li {
    width: 18.4%;
}
}



div#sanrioCollabo ul.navibutton:after {
	  content: "";
	  clear: both;
	  display: block;
}
div#navi_fix {
    position: fixed;
    bottom: 0;

    left: 0;
    z-index: 2;
    width: 100%;
}
div#navi_fix ul.navibutton{
	text-align: center;
 }

div#navi_fix ul.navibutton li{
	display: inline-block;
	width: 18%;
 }
div#navi_fix li img {
    width: 100%;
}


div#sanrioCollabo li img {
    width: 100%;
    /* border-top-left-radius: 9px; */
    /* border-top-right-radius: 9px; */
    /* -webkit-border-top-left-radius: 9px; */
    /* -webkit-border-top-right-radius: 9px; 
    -moz-border-top-left-radius: 9px;
    -moz-border-top-right-radius: 9px;*/
}



/*���i���C��*/
div#sanrioCollabo ul.list_01 {
    width: 97%;
    margin: 20px auto 10px;
    padding-bottom: 20px;
}

div#sanrioCollabo ul.list_01:after {
	  content: "";
	  clear: both;
	  display: block;
}

div#sanrioCollabo ul.list_01 li {
    margin: 0;
    /* border: 3px #333 solid; */
    /* background-color: #fff; */
    /* border-radius: 12px; */
    /* -webkit-border-radius: 12px; */
    -moz-border-radius: 12px;
    /* line-height: 0.5em; */
    position: relative;
}

div#sanrioCollabo ul.list_01 li img {
    max-width: 100%;
border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}


div#sanrioCollabo ul.list_01 li .detail {
    padding: 15px 10px;
    text-align: center;
    letter-spacing: 1px;
}

div#sanrioCollabo li .detail .price {
	font-size: 1.5em;
	font-weight: bold;
}

div#sanrioCollabo li .detail .price span {
	font-size: 0.7em;
}

div#sanrioCollabo li .detail .price span:nth-child(2) {
	font-size: 0.6em;
	font-weight: normal;
}


/*���i��4��*/
div#sanrioCollabo ul.list_03 {
	width: 90%;
	margin: 10px auto;
}

div#sanrioCollabo ul.list_03:after {

	  content: "";
	  clear: both;
	  display: block;
}

div#sanrioCollabo ul.list_03 li {
    float: left;
    width: 29.5%;
    padding: 0 0 10px 0;
    margin: 0 7px 10px 0;
    border: 2px #f7a1ab solid;
    background-color: #fff;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    text-align: center;
}
/*
@media screen and (min-device-width: 375px) {
div#sanrioCollabo ul.list_03 li {
    width: 30.3%;
}
}

@media screen and (min-device-width: 414px) {
div#sanrioCollabo ul.list_03 li {
    width: 30.5%;
}
}
*/

div#sanrioCollabo dd.item_articlename_ {
    font-size: 10px;
}

div#sanrioCollabo dd.item_price_ {
    font-size: 14px;
    color: #f2a4b2;
}
div#sanrioCollabo dd.item_price_ span {
    font-size: 0.8em;
}

div#sanrioCollabo ul.list_03 li img{
	width: 100%;
	margin: 0;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

div#sanrioCollabo ul.list_03 li:nth-child(3n) {
	margin-right: 0;
}


div#sanrioCollabo .itemwrap.color_red li{
	border-color: #e64550;
}

div#sanrioCollabo .itemwrap.color_red li .detail,
div#sanrioCollabo .itemwrap.color_red li .detail .price,
div#sanrioCollabo .itemwrap.color_red li .detail .price span,
div#sanrioCollabo .itemwrap.color_red li .detail .itemname,
div#sanrioCollabo .itemwrap.color_red li .detail .size {
	color: #e64550 !important;
}

div#sanrioCollabo .itemwrap.color_pink li{
	border-color: #f0bdd7;
}

div#sanrioCollabo .itemwrap.color_pink li .detail,
div#sanrioCollabo .itemwrap.color_pink li .detail .price,
div#sanrioCollabo .itemwrap.color_pink li .detail .price span,
div#sanrioCollabo .itemwrap.color_pink li .detail .itemname,
div#sanrioCollabo .itemwrap.color_pink li .detail .size {
	color: #eb84a0 !important;
}

div#sanrioCollabo .itemwrap.color_black li{
	border-color: #737272;
}

div#sanrioCollabo .itemwrap.color_black li .detail,
div#sanrioCollabo .itemwrap.color_black li .detail .price,
div#sanrioCollabo .itemwrap.color_black li .detail .price span,
div#sanrioCollabo .itemwrap.color_black li .detail .itemname,
div#sanrioCollabo .itemwrap.color_black li .detail .size {
	color: #737272 !important;
}



div#sanrioCollabo ul.list_03 div.buy_btn {
    width: 70%;
    margin: 5px auto 0;
}

div#sanrioCollabo ul.list_04 div.buy_btn {


    width: 90%;
    margin: 0 auto;
}

div.buy_btn img {
    width: 100%;
}

/*�����N����*/
a.disabled {
    cursor: default;
}
a.disabled img {
    opacity: 1;
}
.id_number {
    text-align: center;
    font-size: 10px;
    padding: 0;
    /* background-color: #ffffff; */
    color: #333;
    /*position: absolute;
    bottom: 10px;
    left: 0;*/
    width: 100%;
    margin: 20px auto 15px;
}
.id_number span{
	font-size: 1.2em;
}
.mecce_ {
    /* text-align: center; */
    font-size: 11px;
    margin: 30px auto 50px;
    line-height: 1.5em;
    color: #e0688f;
    width: 81%;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px #e0688f solid;
}
.mecce_.torabulu {
	position: absolute;
	bottom: 10px;
	left: 7%;
	margin: 20px 0;
	font-size: 10px;
	width: 80%;
	padding: 10px 10px;
}
.mecce_ .midasi {
	text-align: center;
	font-size: 1.2em;
	line-height:1.4em;
	font-weight: bold;
}
.mecce_ p {
	margin: 10px 0;
	line-height: 1.5em;
	font-size: 12px;
}
.mecce_.torabulu p {
	font-size: 10px;
}
.text_img {
    width: 80%;
    margin: 0 auto 15px;
}
p#pagetop_btn {
    display: none !important;
}
.text_img.anime {
    position: absolute;
    top: 290px;
    left: 10%;
}
@media screen and (max-device-width: 320px) {
.text_img.anime {
    top: 250px;
}
}
@media screen and (min-device-width: 414px) {
.text_img.anime {
    top: 310px;
}
}
.space_ {
    height: 140px;
}

.buy_btn {
    margin: 10px auto;
    /* position: absolute; */
    /* left: 6%; */
    /* bottom: 10px; */
    width: 85%;
    text-align: center;
}
@media screen and (min-device-width: 414px) {
	.buy_btn {
		bottom: 20px;
	}
}
.buy_btn.torabulu {
    bottom: 246px;
}
.buy_btn a,
.buy_btn p {
    display: block;
    padding: 10px;
    color: #f03856;
    background-color: #ffffff;
    border: 3px #f03856 solid;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    -moz-box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    -webkit-box-shadow: 2px 3px 5px 3px rgba(67, 51, 51, 0.3);
    font-size: 18px;
    position: relative;
}
.buy_btn::after {
	position: absolute;
	top: 46%;
	right: 20px;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: -4px;
	border-top: 3px solid #f03856;
	border-right: 3px solid #f03856;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.buy_btn.buy_all a{
	
margin-top: 35px;
	
line-height: 1.4;
	
padding: 15px 20px;
	
color: #fff;
	
background-color: #e0688f;
	
border: 4px #ffffff solid;
	
} 

.buy_btn.buy_all::after {
	
border-top: 4px solid #ffffff;
	
border-right: 4px solid #ffffff;  
}

@media screen and (max-width: 320px) {
	.buy_btn a,
	.buy_btn p {
		font-size: 16px;
	}
	.buy_btn::after {
		top: 42%;
	}
	
}
/*.buy_btn a:hover {
     color: #da0943;
     background-color: #ffffff;
     text-decoration: none;
     border: 3px #da0943 solid;
}
.buy_btn:hover::after {
	border-top: 4px solid #da0943;
	border-right: 4px solid #da0943;
}*/
/*�s���N*/
#pink .buy_btn a,
#pink .buy_btn p {
     color: #f89bb5;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #f89bb5 solid;
}
#pink .buy_btn::after {
	border-top: 4px solid #f89bb5;
	border-right: 4px solid #f89bb5;
}
/*�N���~*/
#kuromi .buy_btn a,
#kuromi .buy_btn p {
     color: #b67ca0;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #b67ca0 solid;
}
#kuromi .buy_btn::after {
	border-top: 4px solid #b67ca0;
	border-right: 4px solid #b67ca0;
}
/*�V�i����*/
#cinnamoroll .buy_btn a,
#cinnamoroll .buy_btn p {
     color: #89bade;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #89bade solid;
}
#cinnamoroll .buy_btn::after {
	border-top: 4px solid #89bade;
	border-right: 4px solid #89bade;
}
/*�v����*/
#pompompurin .buy_btn a,
#pompompurin .buy_btn p {
     color: #d4a95f;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #d4a95f solid;
}
#pompompurin .buy_btn::after {
	border-top: 4px solid #d4a95f;
	border-right: 4px solid #d4a95f;
}

.textlink {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}
.textlink a{
    text-decoration: underline !important;
    color: #975134;
}

div#sanrioCollabo .title {
    text-align: center;
    font-size: 35px;
    color: #e99296;
    text-shadow: 1px 2px 3px #ffffff; 
}
.item .buy_btn {
    position: unset;
}
/*.item .buy_btn a:hover {
     color: #d86184;
     background-color: #ffffff;
     text-decoration: none;
     border: 4px #d86184 solid;
}
.item .buy_btn:hover::after {
	border-top: 4px solid #d86184;
	border-right: 4px solid #d86184;
}*/
.text_img2 {
    text-align: center;
    margin: 30px 10px;
    font-size: 15px;
    line-height: 1.4;
    color: #d86184;
}
.text_img2 img {
	border: 1px #CCC solid;
}
.text_img3 {
    text-align: center;
    margin: 20px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #e73b51;
    background-color: #ff0;
    padding: 13px 0;
}
.text_img3 a{
	text-decoration: underline !important;
	color:#e73b51;
}

.text_img4 {
    text-align:  center;
    color: #e0688f;
}

ul.banner_list_ {
    margin: 0 auto 20px;
    width: 95%;
}
ul.banner_list_ li {
    margin: 5px 0;
}

/*�߂�{�^��*/
.back_btn {
    margin: 0px auto 40px;
    position: relative;
    width: 85%;
    text-align: center;
}

.back_btn a {
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #e0688f;
    border: 3px #fff solid;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    box-shadow:0px 0px 3px 3px rgba(189, 188, 188, 0.8);
    -moz-box-shadow:0px 0px 3px 3px rgba(189, 188, 188, 0.8);
    -webkit-box-shadow:2px 3px 5px 3px rgba(189, 188, 188, 0.8);
    font-size: 18px;
    position: relative;
}
.back_btn::after {
	position: absolute;
	top: 46%;
	left: 15px;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: -5px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.back_btn a:hover {
     color: #e0688f;
     background-color: #ffffff;
     text-decoration: none;
     border: 3px #e0688f solid;
}
.back_btn:hover::after {
	border-top: 3px solid #e0688f;
	border-right: 3px solid #e0688f;
}

/*�w��O�̒��ӕ�*/
.mecce_ {
    font-size: 11px;
    margin: 30px auto;
    line-height: 1.5em;
    color: #888888;
    width: 81%;
    background-color: #fff;
    padding: 10px 15px;
    border: 1px #e0688f solid;
}
.mecce_.torabulu {
	position: absolute;
	bottom: 10px;
	left: 7%;
	margin: 20px 0;
	font-size: 10px;
	width: 80%;
	padding: 10px 10px;

}
.mecce_ .midasi {
	color: #e0688f;
	text-align: center;
	font-size: 1.5em;
	line-height:1.4em;
	font-weight: bold;
}
.mecce_ p {
	margin: 10px 0;
	line-height: 1.5em;
	font-size: 12px;
}
.mecce_.torabulu p {
	font-size: 10px;
}
.mecce_ a {
	color: #e0688f;
	text-decoration: underline;
}
.mecce_ ul.payment_ li{
	font-size: 10px;
}

}

@media screen and (max-width: 340px)  {

.back_btn a {
	font-size: 14px;
}

}



/*�A�j��*/
.yurayura {
  animation: yurayura 2s linear infinite;
  transform-origin: 50% 50%;
}
@keyframes yurayura {
  0% { transform: translateY(0) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(0) }
}