@charset "shift-JIS";
/* CSS Document */


div#category_page {}
div#category_page .topimg_ img {
    width: 100%;
}
p.img_ {
    margin: 30px auto;
    text-align: center;
}
/* ---------------------------------------------------------------
	見出し
--------------------------------------------------------------- */
.midashi_style01_{
  margin: 30px 0 10px 0;
  padding: 10px 20px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px !important;
  line-height: 1.5 !important;
  background-color: #fff !important;
  clear: both;
  border-bottom: 1px #CCC solid;
  color: #333 !important;
}
.midashi_style01_.sale_{
  color: #D61D1D !important;
  border-bottom: 1px #D61D1D solid;
}
.midashi_style01_.sale_ div.subtext_{
  color: #D61D1D !important;
}
.midashi_style01_ div.subtext_{
  font-size: 13px;
  padding: 0 20px;
  letter-spacing: 5px;
}
.midashi_style02_{
	text-align:center;
	background-color:#f2f2f2;
	padding: 5px 0;
	margin-bottom:10px;
	width:100%;
	font-weight:bold;
	letter-spacing:2px;
}
.midashi_style03_{
	margin: 0 0 30px;
	text-align: center;
	position: relative;
}
h1 .date_ {
    text-align: center;
    color: #D96196;
    font-size: 12px;
}
/* ---------------------------------------------------------------
	共通
--------------------------------------------------------------- */
.clearfix_:after,
.clear_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.top_space50_ {
    margin-top: 50px !important;
}
.top_space80_ {
    margin-top: 80px !important;
}
.top_space100_ {
    margin-top: 100px !important;
}
.bottom_space50_ {
    margin-bottom: 80px !important;
}
.bottom_space80_ {
    margin-bottom: 80px !important;
}
.bottom_space100_ {
    margin-bottom: 80px !important;
}
/* ---------------------------------------------------------------
	ボタンCSS
--------------------------------------------------------------- */
/*もっと見る*/
.button_style01_ {
	width:600px;
	margin: 10px auto;
	text-align:center;
	font-size: 28px;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position:relative;
	/* clear: both; */
}
.button_style01_ a{
	color: #FFf;
	text-decoration: none;
	padding: 20px 0px;
	background-color:#333333;
	display: block;
	font-weight: normal !important;
	border-radius: 5px;        /* CSS3草案 */  
	-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
	-moz-border-radius: 5px;
}
.button_style01_ a:hover{
	opacity:0.9;
}
.button_style01_::after {
	position: absolute;
	top: 43%;
	right: 30px;
	display: block;
	content: '';
	width: 15px;
	height: 15px;
	margin-top: -4px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.button_style02_ {
	width:500px;
	margin: 10px auto;
	text-align:center;
	font-size: 28px;
	color: #ffffff;
	position:relative;
	border: 2px #000 solid;
	padding: 20px 0px;
	position: relative;
}
a .button_style02_ {
	color: #000;
	text-decoration: none;
	padding: 20px 0px;
	display: block;
	font-weight: normal !important;
}
a .button_style02_::after {
	position: absolute;
	top: 43%;
	right: 30px;
	display: block;
	content: '';
	width: 15px;
	height: 15px;
	margin-top: -4px;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
a:hover{
	text-decoration: none;
}


/*アンカーボタン*/
ul.anchor_button_line3_{
	margin: 10px auto;
	width: 80%;
}
ul.anchor_button_line3_ li{
	/* float:left; */
	display: inline-block;
	vertical-align: top;
	list-style:none;
	margin: 5px 10px 5px 0;
	width: 31% !important;
	background-color:#fff;
	/* display:block; */
	border: 1px #CCC solid;
}
ul.anchor_button_line3_ li:nth-child(3n){
    margin-right:0;
}
ul.anchor_button_line3_ li a{
    padding: 20px;
	text-align:center;
	font-size:17px;
	display:block;
}
ul.anchor_button_line3_ li a img{
	width: 100%;
}
ul.anchor_button_line3_ li:hover{
	border: 1px #d86196 solid;
}
ul.anchor_button_line3_ li a:hover{
	color: #d86196;
	text-decoration: none;
}
/*ボタン2コ*/
ul.anchor_button_line3_.line2_{
	margin: 10px auto;
	width: 60%;
}
ul.anchor_button_line3_.line2_ li{
	width: 47% !important;
}


/*アンカーボタン/画像*/
ul.anchor_button_img03_{
	margin: 10px auto;
	width: 100%;
}
ul.anchor_button_img03_ li{
	float:left;
	list-style:none;
	margin-right:10px;
	width: 32% !important;
	background-color:#fff;
	display:block;
	/* border: 1px #CCC solid; */
}
ul.anchor_button_img03_ li:nth-child(3n){
    margin-right:0;
}
ul.anchor_button_img03_ li a{
    padding: 20px;
	text-align:center;
	font-size:17px;
	display:block;
}
ul.anchor_button_img03_ li a img{
	width: 100%;
}
/*ボタン4コ*/
ul.anchor_button_line4_{
	margin: 10px auto;
	width: 90%;
	text-align:center;
}
ul.anchor_button_line4_ li{
	display: inline-block;
	vertical-align: top;
	list-style:none;
	margin: 5px 10px 5px 0;
	width: 23% !important;
	background-color:#fff;
	border: 1px #CCC solid;
}
ul.anchor_button_line4_ li:nth-child(4n){
    margin-right:0;
}
ul.anchor_button_line4_ li a{
    padding: 20px 0;
    text-align:center;
    font-size:17px;
    display:block;
}
ul.anchor_button_line4_ li a img{
	width: 100%;
}
ul.anchor_button_line4_ li:hover{
	border: 1px #d86196 solid;
}
ul.anchor_button_line4_ li a:hover{
	color: #d86196;
	text-decoration: none;
}


/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横1つver.
--------------------------------------------------------------- */
ul.item_line01_ a{
	color: #333;
	text-decoration: none;
}
ul.item_line01_{
	width: 780px;
	margin: 0 auto 20px;
	text-align: center;
}
ul.item_line01_ li{
	width: 600px;
	display:inline-block;
	vertical-align: top;
	/*float: left;*/
	margin: 10px 20px 30px;
	position: relative;
}
ul.item_line01_ li:nth-child(2n){
	margin-right: 0;
}
ul.item_line01_ img{
	max-width: 100%;
	border: 1px #f2f2f2 solid;
}
ul.item_line01_ dt{
	margin: 0;
	padding: 0;
}
ul.item_line01_ dd{
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}
ul.item_line01_ dd.item_articlename_{
	font-size: 15px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	/* width: 220px; */
	overflow: hidden;
}
ul.item_line01_ dd.item_price_{
	text-align: center;
	font-size: 40px;
	/* font-weight: bold; */
	margin: 11px 0;
	/*display: none;*/
	line-height: 1;
}
ul.item_line01_ dd.item_price_.sale_{
	color:#c91242;
}
ul.item_line01_ dd.item_price_ span{
	font-size: 25px;
}
ul.item_line01_ dd.item_price_ span.intax_{
	font-size: 12px;
}

ul.item_line01_ dd.item_doubleprice_{
	font-size: 12px;
	line-height: 1em;
}

ul.item_line01_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横2つver.
--------------------------------------------------------------- */
ul.item_line02_ a{
	color: #333;
	text-decoration: none;
}
ul.item_line02_{
	width: 780px;
	margin: 0 auto 20px;
	text-align: center;
}
ul.item_line02_ li{
	width: 350px;
	display:inline-block;
	vertical-align: top;
	/*float: left;*/
	margin: 10px 15px 30px;
	position: relative;
}
/*ul.item_line02_ li:nth-child(2n){
	margin-right: 0;
}*/
ul.item_line02_ img{
	max-width: 100%;
	border: 1px #f2f2f2 solid;
}
ul.item_line02_ dt{
	margin: 0;
	padding: 0;
}
ul.item_line02_ dd{
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}
ul.item_line02_ dd.item_articlename_{
	font-size: 8px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
	-o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	/* width: 220px; */
	overflow: hidden;
}
ul.item_line02_ dd.item_price_{
	text-align: center;
	font-size: 29px;
	font-weight: bold;
	margin: 11px 0;
	/*display: none;*/
}
ul.item_line02_ dd.item_price_.sale_{
	color: #D61D1D;
}
ul.item_line02_ dd.item_price_ span{
	font-size: 25px;
}
ul.item_line02_ dd.item_price_ span.intax_{
	font-size: 12px;
}

ul.item_line02_ dd.item_doubleprice_{
	font-size: 12px;
	line-height: 1em;
}

ul.item_line02_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横3つver.
--------------------------------------------------------------- */
ul.item_line03_ a{
	color: #333;
	text-decoration: none;
}
ul.item_line03_{
	width: 780px;
	margin: 0 auto 20px;
	text-align: center;
}
ul.item_line03_ li{
	width: 236px;
	display:inline-block;
	vertical-align: top;
	/*float: left;*/
	margin: 10px 10px 30px;
	position: relative;
}
ul.item_line033_ li:nth-child(3n){
	margin-right: 0;
}
ul.item_line03_ img{
	width: 99%;
	border: 1px #f2f2f2 solid;
}
ul.item_line03_ dt{
	margin: 0;
	padding: 0;
}
ul.item_line03_ dd{
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}
ul.item_line03_ dd.item_articlename_{
	font-size: 8px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	width: 220px;
	overflow: hidden;
}
ul.item_line03_ dd.item_price_{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 5px 0;
	/*display: none;*/
}
ul.item_line03_ dd.item_price_ span{
	font-size: 15px;
}
ul.item_line03_ dd.item_price_ span.intax_{
	font-size: 12px;
}

ul.item_line03_ dd.item_doubleprice_{
	font-size: 8px;
	line-height: 1em;
}
ul.item_line03_ .sale_ {
    color: #D61D1D;
}
ul.item_line03_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横4つver.
--------------------------------------------------------------- */
ul.item_line04_ a {
	color: #333;
	text-decoration: none;
}
ul.item_line04_ {
	width: 780px;
	margin: 0 0 20px;
}
ul.item_line04_ li {
	width: 176px;
    display: inline-block ;
	vertical-align: top;
	margin: 10px 20px 10px 0;
	/*height: 320px;*/
	position: relative;
}
ul.item_line04_ li:nth-child(4n) {
	margin-right: 0;
}
ul.item_line04_ img {
	width: 173px;
	border: 1px #f2f2f2 solid;
}
ul.item_line04_ dt {
	margin: 0;
	padding: 0;
}
ul.item_line04_ dd {
	margin: 5px auto;
	padding: 0 5px;
	text-align: center;
}
ul.item_line04_ dd.item_articlename_ {
	font-size: 8px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	width: 170px;
	overflow: hidden;
}
ul.item_line04_ li dd.item_price_ {
	font-size: 17px;
	font-weight: bold;
	/*display: none;*/
}
ul.item_line04_ li dd.item_price_ span {
	font-size: 11px;
}
ul.item_line04_ li dd.item_price_ span.intax_ {
	font-size: 8px;
}
ul.item_line04_ dd.item_doubleprice_{
	font-size: 8px;
	line-height: 1em;
}
ul.item_line04_ span.utikesi_ {
    color: #666;
    line-height: 1.8;
    font-size: 9px !important;
    text-decoration: line-through;
    font-weight: normal;
}
ul.item_line04_ span.sale_ {
    line-height: 1.3;
    color: #E42B2B;
    font-size: 12px !important;
}
ul.item_line04_ span.sale_ span {
	font-size: 10px;
}
ul.item_line04_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横5つver.
--------------------------------------------------------------- */
ul.item_line05_ a{
	color: #333;
	text-decoration: none;
}

ul.item_line05_{
	width: 780px;
	margin: 0 0 20px;
	text-align: center;
}

ul.item_line05_ li{
	width: 135px;
	/* float: left; */
	display: inline-block;
	margin: 10px 17px 10px 0;
}

ul.item_line05_ li:nth-child(5n){
	margin-right: 0;
}

ul.item_line05_ img{
	width: 100%;

}

ul.item_line05_ dt{
	margin: 0;
	padding: 0;
}

ul.item_line05_ dd{
	margin: 5px 0;
	padding: 0;
}

ul.item_line05_ dd.item_articlename_{
	font-size: 8px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
}

ul.item_line05_ dd.item_price_{
	/* text-align: right; */
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0;
}

ul.item_line05_ dd.item_price_ span{
	font-size: 10px;
}

ul.item_line05_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;	
}


/*セール価格前に文字表示*/
dd.item_price_.sale_:before {
	content:"SALE";
	padding-right: 5px;
	font-size: 12px;
}

/* ---------------------------------------------------------------
	おすすめアイテム一覧
--------------------------------------------------------------- */
ul.pickitem_list_ {
    margin: 10px 0;
    text-align: center;
}
ul.pickitem_list_ li {
	/*border-bottom: 1px #CCC dotted;*/
	padding: 20px 0;
}
ul.pickitem_list_ li img {
    max-width: 100%;
    padding: 0 10px;
}
ul.pickitem_list_.half_ li {
	display: inline-block;
	width: 49%;
	margin: 0;
	padding: 0;
}
ul.pickitem_list_.half_ li img {
	width: 95%;
	border: 1px #CCC solid;
	padding: 0;
}
ul.pickitem_list_ li div {
	padding: 10px 0;
	font-size: 18px;
}

/* ---------------------------------------------------------------
	ランキングアイコン
--------------------------------------------------------------- */

.ranking_ li {
    display: block;
    position: relative;
    counter-increment: divCount;
    cursor: pointer;
}

.ranking_ li:before {
    position: absolute;
    content: counter(divCount);
    color: #333;
	text-align: center;
	padding: 5px 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3;
	width: 30px;
	height: 20px;
	position: absolute;
	top: -10px;
    left: -10px;
    border-radius: 50%;        /* CSS3草案 */  
    -webkit-border-radius: 50%;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 50%;
    background-color: #ffffff;
    border: 1px #CCC solid;
}
.ranking_ li:nth-child(1):before{
	content: "1";
	background-color: #AE9A20;
	color: #fff;
	border: 1px #AE9A20 solid;
}
.ranking_ li:nth-child(2):before{
	content:"2";
	background-color: #777;
	color: #fff;
	border: 1px #777 solid;
}
.ranking_ li:nth-child(3):before{
	content: "3";
}
.ranking_ lili:nth-child(4):before{
	content: "4";
}
.ranking_ lili:nth-child(5):before{
	content: "5";
}
.ranking_ lili:nth-child(6):before{
	content: "6";
}

/* ---------------------------------------------------------------
	ブランド別ランキング
--------------------------------------------------------------- */
h3.midashi_style02_.dbs {
    background-color: #ae9fb6 !important;
	font-size: 1.5em;
    padding: 10px 0 !important;
    color: #fff! important;
}
h3.midashi_style02_.dml {
    background-color: #e1afbf !important;
	font-size: 1.5em;
    padding: 10px 0 !important;
    color: #fff! important;
}
h3.midashi_style02_.nlm {
    background-color: #a2a1a1 !important;
	font-size: 1.5em;
    padding: 10px 0 !important;
    color: #fff! important;
}


/* ---------------------------------------------------------------
	商品一覧アイコン
--------------------------------------------------------------- */ 
div.item_icon_ {
    margin: 0 0 7px;
}
div.item_icon_ span.new_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #D96196;
	border: 1px #D96196 solid;
}
div.item_icon_ span.re_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #6E74BB;
	border: 1px #6E74BB solid;
}
div.item_icon_ span.free_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #E06D6F;
	border: 1px #E06D6F solid;
}
div.item_icon_ span.upday_  {
	font-size: 13px;
	padding: 0 5px 0 0;
	line-height: 1;
}


div.item_icon_.yokoku_ {
	margin: 0 0 3px;
	text-align: center;
	line-height: 1.2;
}


div.item_icon_.yokoku_ span.upday_  {
	font-size: 15px;
	padding: 0;
	line-height: 1;
	color: #E06D6F;
}

/* ---------------------------------------------------------------
	シューズ特集 ナビボタン
--------------------------------------------------------------- */ 
ul.mustitem_navi_ {
    width: 90%;
    margin: 50px auto;
}
ul.mustitem_navi_ li {
    float: left;
    width: 30%;
    margin: 20px 10px;
}
ul.mustitem_navi_ li img {
    width: 100%;
}

/* ---------------------------------------------------------------
	表示切替対応
--------------------------------------------------------------- */
.pview_sp_ {
	display: none !important;
}

ul.price_on_  dd.item_price_{
	display: block;
}
ul.price_sale_ dd.item_price_{
	color: #eb6565;
}

/* ---------------------------------------------------------------
	検索結果カテゴリ別表示 ランキング
--------------------------------------------------------------- */
.inc_search_ranking_ li:nth-child(n+6){
    display: none;

}

/* ---------------------------------------------------------------
	価格注意書き
--------------------------------------------------------------- */
.price_attention_ {
    text-align: center;
    color: #e42b2b;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: 2px;
    margin: 10px auto;
}
.price_attention_ span {
    font-size: 1.3em;
    font-weight: bold;
}
/* ---------------------------------------------------------------
	帯
--------------------------------------------------------------- */
.obi_ {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    color: #fff;
    width: 100%;
    top: 150px;
    font-size: 25px;
    padding: 10px 0;
}
/* ---------------------------------------------------------------
	予告
--------------------------------------------------------------- */
.infotex_ {
    text-align: center;
    font-size: 40px;
    margin: 10px 0;
    line-height: 1.2em;
    color: #ef1c45;
    background-color: #f5f728;
    padding: 20px 0;
}
.infotex_ span {
    font-size: 25px;
}


