@charset "shift-JIS";
/* CSS Document */


/*hoverAction*/
.opa_ {
	-webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}
.opa_:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
}
/*hoverAction End*/
#return {
	letter-spacing: 1px;
}
#return img{
	max-width: 100%;
}

@media screen and (min-width:768px){
#return h1{
	border-bottom:5px #d86196 solid;
	width: 780px;
	text-align: center;
}
#return{
	width: 100%;
	margin:0 0 50px;
	padding:0;
	font-size: 16px !important;
	position: relative;
}

section#return_main_con_ {
	width: 770px;
	margin: 30px auto 50px;
}
section#return_main_con_ h2 {
	margin: 15px auto 0;
}

ul.return_list_ {
	width: 770px;
	margin: 0 auto;
}
ul.return_list_ li{
	width: 100%;
	position:  relative;
	text-align:  right;
}
ul.return_list_ li+li{
	margin-top: 30px;
}

.balloon {
 	position: relative;
 	display: inline-block;
 	margin: 20px 5%;
 	padding: 1.2em 0;
 	width: 90%;
 	font-size: 30px;
 	background: #888;
 	border-radius: 50px;
}

.balloon::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 75%;
	margin-left: -17px;
	border: 17px solid transparent;
	border-top: 17px solid #888;
}

.balloon h3 {
	text-align: center;
	color: #fff;
	font-weight:  bold;
	letter-spacing: 3px;
}
.balloon h3 span {
	margin-left: -0.5em;
}
.return_imgbox_ {
	width: 100%;
	margin-bottom: 15px;
}
ul.return_list_ li a {
	color: red;
	font-size: 20px;
	padding-right: 0.5em;
	text-decoration: underline;
}

/*返品・交換の手順　必ずお読みください*/
article.imp_note {
	width: 100%;
	margin-top: 100px;
	position: relative;
}
article.imp_note h2 {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #f00;
	margin: 70px auto 30px;
}
article.imp_note p.read_ {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
section#return_change_flow p a.kwsk_{
	font-size: 18px;
	font-weight: bold;
	color: #f00;
	text-decoration: underline;
}
article.imp_note .red_ {
	color: #f00 !important;
}
article.imp_note p,
article.imp_note ul.must_list_,
article.imp_note div.change_anchor_ {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

section#return_change_flow p{
	line-height: 1.4;
}
section#return_change_flow p a {
	color: #d86196;
    text-decoration: underline;
}
section#return_change_flow p.cap_ {
	font-size: 14px;
	margin-top: 10px;
}

section#must_read ul.must_list_ li {
	line-height: 1.4;
	padding-left: 1em;
    text-indent: -1em;
}

section#must_read div.change_anchor_ {
	margin: 40px auto 55px;
}
section#must_read div.change_anchor_ a {
	display: inline-block;
	color: #06F;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}
section#must_read div.change_anchor_ a+a {
	margin-top: 1em;
}

section#must_read ul.must_list_ li a {
	color: #06F;
	text-decoration: underline;
}

section#must_read p#must_change2 {
	margin-top: 50px;
}

/*詳細リスト*/
section#guide_returnlink {
	width: 100%;
}
section#guide_returnlink h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 60px auto 20px;
	border-bottom: 3px #CCC solid;
	padding-bottom: 10px;
	width: 96%;
}
ul.submenulist_ {
    margin: 0 15px;
}
ul.submenulist_ li {
    display: inline-block;
    width: 210px;
    margin: 5px 10px;
    padding-left: 15px;
    vertical-align:top;
    background-image: url("/img/icon/ico_arrow_r_w.png");
    background-repeat: no-repeat;
    background-position: 0px 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}

div.btn_form_ {
	width: 375px;
	margin: 40px auto 50px;
	box-sizing: border-box;
}
div.btn_form_ a{
	background-color: #fff;
	display: block;
	padding: 25px;
	color: #d86196;
	font-size: 16px;
	text-align: center;
	line-height: 1;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	box-sizing: border-box;
	border: 2px solid #d86196;
	position: relative;
	text-decoration: none;
}
div.btn_form_ a::after {
	position: absolute;
	top: 48%;
	right: 15px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #d86196;
	border-right: 1px solid #d86196;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


}

/*SP css*/

@media screen and (max-width: 767px){

#return h1{
	border-bottom:5px #d86196 solid;
	width: 100%;
	text-align: center;
}
#return h1 img{
	width: 100%;
}
#return{
	width:  100%;
	max-width:  640px;
	font-size: 14px !important;
	margin: 0 auto 50px;
}

section#return_main_con_ {
	width: 93.75%;
	max-width:  600px;
	margin: 20px auto 50px;
}
section#return_main_con_ h2 {
	margin: 15px auto 0;
}

ul.return_list_ {
	width: 100%;
	max-width:  600px;
	margin: 0 auto;
}
ul.return_list_ li{

	width: 100%;
	position:  relative;
	text-align:  right;
}
ul.return_list_ li+li{
	margin-top: 15px;
}

.balloon {
 	position: relative;
 	display: inline-block;
 	margin: 20px auto 7px;
 	padding: 1em 1%;
 	width: 98%;
 	font-size: 16px;
 	background: #888;
 	border-radius: 50px;
}

.balloon::before {
	content: "";
	position: absolute;
	top: 100%;
	left: 65%;
	margin-left: -17px;
	border: 17px solid transparent;
	border-top: 17px solid #888;
}

.balloon h3 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
}
.balloon h3 span {
	margin-left: -0.5em;
}
.return_imgbox_ {
	width: 100%;
	margin-bottom: 10px;
	border:  3px solid #ccc;
	border-radius:  10px;
	box-sizing:  border-box;
	padding: 0.5%;
}
ul.return_list_ li a {
	color: red;
	font-size: 16px;
	padding-right: 0.5em;
	text-decoration: underline;
}

/*返品・交換の手順　必ずお読みください*/
article.imp_note {
	width: 100%;
	margin-top: 50px;
	position: relative;
}
article.imp_note h2 {
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #f00;
	margin: 50px auto 30px;
}
article.imp_note p.read_ {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
section#return_change_flow p a.kwsk_{
	font-size: 18px;
	font-weight: bold;
	color: #f00;
	text-decoration: underline;
}
article.imp_note .red_ {
	color: #f00 !important;
}
article.imp_note p,
article.imp_note ul.must_list_,
article.imp_note div.change_anchor_ {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

section#return_change_flow p{
	line-height: 1.4;
}
section#return_change_flow p a {
	color: #d86196;
    text-decoration: underline;
}
section#return_change_flow p.cap_ {
	font-size: 12px;
	margin-top: 10px;
}

section#must_read ul.must_list_ li {
	line-height: 1.6;
	padding-left: 1em;
	text-indent: -1em;
}

section#must_read div.change_anchor_ {
	margin: 30px auto 50px;
}
section#must_read div.change_anchor_ a {
	display: inline-block;
	color: #06F;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}
section#must_read div.change_anchor_ a+a {
	margin-top: 1em;
}

section#must_read ul.must_list_ li a {
	color: #06F;
	text-decoration: underline;
}

section#must_read p#must_change2 {
	margin-top: 50px;
}

/*詳細リスト*/
section#guide_returnlink {
	width: 100%;
}
section#guide_returnlink h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 40px auto 10px;
	border-bottom: 3px #CCC solid;
	padding-bottom: 5px;
	width: 90%;
}
ul.submenulist_ {
    margin: 0 15px;
}
ul.submenulist_ li {
    display: block;
    width: 90%;
    margin: 5px 10px;
    padding-left: 15px;
    vertical-align:top;
    background-image: url("/img/icon/ico_arrow_r_w.png");
    background-repeat: no-repeat;
    background-position: 0px 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
}
ul.submenulist_ li a {
	text-decoration: none;
	display: block;
}

div.btn_form_ {
	width: 280px;
	margin: 25px auto 35px;
	box-sizing: border-box;
}
div.btn_form_ a{
	background-color: #fff;
	display: block;
	padding: 10px 20px;
	color: #d86196;
	font-size: 16px;
	text-align: center;
	line-height: 1.4;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	box-sizing: border-box;
	border: 2px solid #d86196;
	position: relative;
	text-decoration: none;
}
div.btn_form_ a::after {
	position: absolute;
	top: 48%;
	right: 15px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #d86196;
	border-right: 1px solid #d86196;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

}
