@charset "Shift-JIS";
/* CSS Document */

/* ---------------------------------------------------------------
	ヘッダー TOP専用
--------------------------------------------------------------- */
div#header .header_logo_ h1.logo_ { 
	float: left;
	background: url(../img/common/top_logo.png) no-repeat center center;
	text-indent: -9999px;
	width: 300px;
	height: 60px;
}


/* ---------------------------------------------------------------
	カルーセル
--------------------------------------------------------------- */
/*bxslider.cssに記載*/



/* ---------------------------------------------------------------
	メインコンテンツ
--------------------------------------------------------------- */

/*各見出し*/
h2.top_title_ {1
	border-top: 1px #4E4C63 solid;
	border-bottom: 1px #4E4C63 solid;
	font-size: 1.2em;
	margin: 0 0 20px 0;
	background-image: url(../img/common/top_title_h2.gif);
	background-repeat: no-repeat;
	height: 70px;
	text-indent: -9999px;
	position: relative;
}

h2.top_title_.title_newitem_ {
	background-position: 20px 0;
}

h2.top_title_.title_coord_ {
	background-position: 20px -70px;
}

h2.top_title_.title_ranking_ {
	background-position: 20px -140px;
}

h2.top_title_.title_topic_ {
	background-position: 20px -210px;
}

h2.top_title_.title_category_ {
	background-position: 20px -280px;
}

h2.top_title_.title_hititem_ {
	background-position: 20px -420px;
}

h2.top_title_.title_brand_ {
	background-position: 20px -490px;
}

h2.top_title_.title_reitem_ {
	background-position: 18px -560px;
}

h2 span {
	font-size: 11px;
	padding-left: 20px;
	color:#666;
}
#ranking h3 {
    clear: both;
    margin: 30px 0 20px;
    font-size: 15px;
    padding: 7px 0;
    text-align: center;
    letter-spacing: 3px;
    border-right: 1px #4E4C63 solid;
    border-left: 1px #4E4C63 solid;
    width: 250px;
}

/* ---------------------------------------------------------------
	メインコンテンツ
--------------------------------------------------------------- */
#newitem,
#reitem,
#ranking,
#topic,
#category,
#brand,
#coordinate  {
	width: 780px;
	margin: 0 0 50px 2px;
}
#newitem:after,
#reitem:after,
#ranking:after,
#topic:after,
#category:after,
#brand:after,
#coordinate:after  {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横4つver.
--------------------------------------------------------------- */
ul.item_line04_ a {
	color: #333;
	text-decoration: none;
}
ul.item_line04_ {
	width: 780px;
	margin: 0 0 20px;
}
ul.item_line04_ li {
	width: 176px;
    display: inline-block ;
	vertical-align: top;
	margin: 10px 20px 10px 0;
	/*height: 320px;*/
	position: relative;
}
ul.item_line04_ li:nth-child(4n) {
	margin-right: 0;
}
ul.item_line04_ img {
	width: 173px;
	border: 1px #f2f2f2 solid;
}
ul.item_line04_ dt {
	margin: 0;
	padding: 0;
}
ul.item_line04_ dd {
	margin: 5px 0;
	padding: 0 5px;
}
ul.item_line04_ dd.item_articlename_ {
	font-size: 8px;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
	white-space: nowrap;
	width: 175px;
	overflow: hidden;
	text-align: left;
}
ul.item_line04_ dd.item_brand_ {
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 0 !important;
    text-align: left;
}
ul.item_line04_ li dd.item_price_ {
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	display: block !important;
}
ul.item_line04_ li dd.item_price_ span {
	font-size: 11px;
}
ul.item_line04_ li dd.item_price_ span.intax_ {
	font-size: 8px;
}
ul.item_line04_ span.utikesi_ {
    color: #666;
    line-height: 1.8;
    font-size: 9px !important;
    text-decoration: line-through;
    font-weight: normal;
}
ul.item_line04_ span.sale_ {
    line-height: 1.3;
    color: #E42B2B;
    font-size: 12px !important;
}
ul.item_line04_ span.sale_ span {
	font-size: 10px;
}
dd.sale {
        text-align: right;
            line-height: 1.3;
    font-size: 12px !important;
}
ul.item_line04_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*新作シューズ一覧*/
ul.item_line04_.new_shoes_ {
	margin-top: 30px;
}
ul.item_line04_.new_shoes_ li:before {
	margin: 10px 0 ;
	content:"NEW SHOES";
	font-size: 10px;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 2.5;
	color: #D96196;
	border: 1px #D96196 solid;
	background-color: #fbfb96;
}
ul.item_line04_.new_shoes_ li {
	height:280px;
}
ul.item_line04_.new_shoes_ dd.item_price_ {
	display: none;
}


/* ---------------------------------------------------------------
	商品一覧アイコン
--------------------------------------------------------------- */ 
div.item_icon_ {
    margin: 0 0 7px;
}
div.item_icon_ span.new_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #D96196;
	border: 1px #D96196 solid;
}
div.item_icon_ span.re_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #6E74BB;
	border: 1px #6E74BB solid;
}
div.item_icon_ span.free_  {
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	margin-right: 2px;
	line-height: 1;
	color: #E06D6F;
	border: 1px #E06D6F solid;
}
div.item_icon_ span.upday_  {
	font-size: 13px;
	padding: 0 5px 0 0;
	line-height: 1;
}
div.item_icon_.yokoku_ {
	margin: 0 0 3px;
	text-align: center;
	line-height: 1.2;
}
div.item_icon_.yokoku_ span.upday_  {
	font-size: 15px;
	padding: 0;
	line-height: 1;
	color: #E06D6F;
}
div.obi_01_ {
    position: absolute;
    bottom: 69px;
    background-color: #bd362f;
    opacity: 0.9;
    text-align: center;
    width: 97%;
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
    padding: 5px 0;
}

/*ランク*/
#ranking .ranking_count_ li:before  {
  margin: 5px 0;
  padding: 5px 0;
  color: #333;
  text-align: center;
  z-index: 100;
  font-size: 20px;
  line-height: 1;
  content: "No."counter(ranking_count_);
}
.ranking_count_ li  {
    display: block;
    position: relative;
    counter-increment: ranking_count_;
    cursor: pointer;
}
/*
.ranking_count_ li:nth-child(1):before {
	 background: #D9C646 !important;
	 color: #fff !important;
	 border-color: #D9C646 !important;
}


.ranking_count_ li:nth-child(2):before {
	 background: #9E9C9C !important;
	 color: #fff !important;
	 border-color: #9E9C9C !important;
}
.ranking_count_ li:nth-child(3):before {
	 background: #A05615 !important;
	 color: #fff !important;
	 border-color: #A05615 !important;
}
ul.inc_ranking_shoes_all li:nth-child(n+5){
    display: none;
}
*/

/* ---------------------------------------------------------------
	ブランド一覧
--------------------------------------------------------------- */ 
ul.brandlist_ {
	width: 780px;
	line-height: 1.2;
	margin: 25px auto 100px;
}
ul.brandlist_  {
	margin: 0;
	width: 779px;
	border: 1px #CCC solid;
}
ul.brandlist_ li {
	width: 369px;
	float: left;
	display: block;
	margin: 0;
	padding: 10px;
	text-align: center;
	letter-spacing: 0.5px;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
	position: relative;
}
ul.brandlist_ li:nth-child(2n) {
	border-right: none;
}
ul.brandlist_ li:nth-child(3),
ul.brandlist_ li:nth-child(4) {
	border-bottom: none;
}


ul.brandlist_ li a {
	text-decoration: none;
}
ul.brandlist_ li dt {
}


ul.brandlist_ li dt img {
	width: 100%;
}
ul.brandlist_ dd {
	margin: 10px 0;
	text-align: center;
	font-size: 13px;
}

ul.brandlist_ .info_obi_ {
	background-color: rgba(223, 9, 43, 0.9);
	padding: 5px;
	color: #fff;
	letter-spacing: 2px;
	position: absolute;
	width: 92%;
	top: 90px;
}

/* ---------------------------------------------------------------
	ランキング
--------------------------------------------------------------- */ 
#ranking ul.item_line04_ li{
    /* margin-bottom: 40px */
}
#ranking ul.item_line04_ li img{
	width: 100%;
}
#ranking ul.item_line04_ li:nth-child(n+7){
    margin-bottom: 0;
}
#ranking ul.item_line04_ li:nth-child(1),
#ranking ul.item_line04_ li:nth-child(2),
#ranking ul.item_line04_ li:nth-child(3),
#ranking ul.item_line04_ li:nth-child(4),
#ranking ul.item_line04_ li:nth-child(5),
#ranking ul.item_line04_ li:nth-child(6){
	width: 242px;
}
#ranking ul.item_line04_ li:nth-child(3),
#ranking ul.item_line04_ li:nth-child(6),
#ranking ul.item_line04_ li:nth-child(10){
	margin-right: 0;
}
#ranking ul.item_line04_ li:nth-child(4),
#ranking ul.item_line04_ li:nth-child(8){
	margin-right: 20px;
}
#ranking ul.item_line04_ li:nth-child(n+11){
	display: none;
}
#ranking .ranking_count_ li  {
    counter-increment: ranking_count_;
    text-align: center; 
}
#ranking .ranking_count_ li:nth-child(1) {
    background:url(/img/icon/icon_rank_gold.png) no-repeat;
    background-size: 25px;
    background-position: 24% 0;
}
#ranking .ranking_count_ li:nth-child(2) {
    background:url(/img/icon/icon_rank_silver.png) no-repeat;
    background-size: 25px;
    background-position: 24% 0;
}
#ranking .ranking_count_ li:nth-child(3) {
    background:url(/img/icon/icon_rank_bronze.png) no-repeat;
    background-size: 25px;
    background-position: 24% 0;
}

/* ---------------------------------------------------------------
	トピック一覧
--------------------------------------------------------------- */ 

#topic ul.topiclist_  {
	margin: 0;
}
#topic ul.topiclist_ li {
	width: 243px;
	float: left;
	display: block;
	margin: 0 25px 25px 0;
	padding: 0;
	height: 300px;
	border-bottom: 1px #ccc dotted;
	letter-spacing: 0.5px;
}
#topic ul.topiclist_ li:nth-child(3n) {
	margin-right: 0;
}
#topic ul.topiclist_ li a {
	text-decoration: none;
}
#topic ul.topiclist_ li dt {
	display: block;
	width: 210px;
	margin-right: 20px;
}


#topic ul.topiclist_ li dt img {
	width: 243px;
	border: 1px #f2f2f2 solid;
}
#topic ul.topiclist_ dd {
	margin: 0;
	padding: 0 10px 0 0;
}
#topic ul.topiclist_ dd.topic_upday_ {
	font-size: 10px;
	margin: 7px 0;
	color: #666666;
}
#topic ul.topiclist_ dd.topic_text_01_ {
	font-size: 13px;
	margin-bottom:7px;
	font-weight:bold;
	line-height: 1.4;
	
}
#topic ul.topiclist_ dd.topic_text_02_ {
	font-size: 10px;
	color: #666666;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
ul.topiclist_ span.tag00_ {/*グレー/汎用*/
	background-color: #333333;
	color: #fff !important;
	padding: 0 2px !important;
	line-height: 1em!important;
	margin-right: 5px;
}
ul.topiclist_  span.tag01_ {/*赤/送料無料*/
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	line-height: 1;
	color: #E06D6F;
	border: 1px #E06D6F solid;
}
ul.topiclist_  span.tag02_ {/*青/雑誌掲載*/
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	line-height: 1;
	color: #7EB19F;
	border: 1px #7EB19F solid;
}
ul.topiclist_ span.tag03_ {/*緑/再入荷*/
	font-size: 10px;
	color: #fff;
	padding: 0 3px;
	line-height: 1;
	color: #7EB19F;
	border: 1px #7EB19F solid;
}
ul.topiclist_ .up_:after {
	content:url(../img/icon/icon_new_red.gif);
	padding-left:5px;
	position: absolute;
}


/* ---------------------------------------------------------------
	コーディネート一覧
--------------------------------------------------------------- */ 
#coordinate ul.coordinate_list_ li.coord_ {
	width: 245px;
	float: left;
	margin: 10px 20px 30px 0;
	border-bottom: 1px #ccc dotted;
	height: 460px;
}
#coordinate ul.coordinate_list_ li.coord_:nth-child(3n) {
	margin-right: 0;
}
#coordinate ul.coordinate_list_ li.coord_ img {
	width: 240px;
	border: 1px #f2f2f2 solid;
}
#coordinate ul.coordinate_list_ .coordinate_item_ li  {
	display: inline-block !important;
    font-size: 11px !important;
    margin: 5px 5px 0 !important;
    padding: 0 !important;
    border-bottom: none !important;
    text-align: center;
    height: 15px !important;
    width: inherit;
}
#coordinate .coordinate_item_ li a {
    color: #666 !important;
    text-decoration: underline;
}
#coordinate ul.coordinate_list_ p.update_  {
    text-align: right;
    color: #ccc;
    font-size: 12px;
    margin: 3px 10px;
}
#coordinate ul.coordinate_list_ p.pointtext_ {
    text-align: left;
    color: #333;
    margin: 10px 0;
	line-height: 1.6;
}

 
/* ---------------------------------------------------------------
	カテゴリー一覧
--------------------------------------------------------------- */
ul.categorylist_  {
    width: 780px;
    border: 1px #ccc solid;
}
ul.categorylist_ li  {
    float: left;
    width: 219px;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    padding: 20px;
    height: 290px;
}
ul.categorylist_ li:nth-child(3n) {
    border-right: none;
}
ul.categorylist_ li:nth-last-child(1),
ul.categorylist_ li:nth-last-child(2),
ul.categorylist_ li:nth-last-child(3) {
    border-bottom: none;
}
ul.categorylist_ li dt  {
    float: left;
    width: 80px;
    text-align: center;
}
ul.categorylist_ li dt a  {
	display: block;
}
ul.categorylist_ li dt img {
    width: 70px;
}
ul.categorylist_ li dt h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 5px 0;
}
ul.categorylist_ li dd  {
    float: left;
    width: 120px;
    margin-left: 10px;
}
ul.categorylist_ li dd ul li  {
    padding: 0;
    margin: 7px 0;
    font-size: 12px;
    border: none;
    height: auto !important;
    width: auto;
    float: none;
}


/* ---------------------------------------------------------------
	タブ切替
--------------------------------------------------------------- */
#tabnavi,
#tabnavi2,
#tabnavi3 {
	margin: 30px 0 20px;
}
#tabnavi ul,
#tabnavi2 ul
#tabnavi3 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: -1px;
	position: relative;/*IE*/
}
#tabnavi ul:after,
#tabnavi2 ul:after,
#tabnavi3 ul:after  {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#tabnavi li,
#tabnavi2 li,
#tabnavi3 li {
	width: 120px !important;
	float: left;
	padding: 0 !important;
	text-align: center !important;
	font-size: 13px !important;
	letter-spacing: 1px !important;
	margin-right: 10px !important;
	background-color:#fff;
	height: 36px !important;
	margin: 0 !important;
	position: relative;
}


#tabnavi li a,
#tabnavi2 li a,
#tabnavi3 li a {
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	display: block;
	border-right:1px #ccc solid;
}
#tabnavi li:hover,
#tabnavi2 li:hover,
#tabnavi3 li:hover {
	/*text-decoration: underline;*/
}
#tabnavi li:first-of-type a,
#tabnavi2 li:first-of-type a,
#tabnavi3 li:first-of-type a {
	border-left:1px #ccc solid;
}


#tabnavi li a.active,
#tabnavi2 li a.active,
#tabnavi3 li a.active {
	float: left;
	padding: 10px 0;
	background-color: #4E4C63;
	color: #fff !important;
	border-bottom:1px #fff solid;
	width: 100%;
	/* color: #fff; */
}
#tabnavi li a.active:before,
#tabnavi2 li a.active:before,
#tabnavi3 li a.active:before {
	position: absolute;
	top: 75%;
	right: 46%;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	margin-top: 3px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	background-color: #4E4C63;
}

 
 
/* ---------------------------------------------------------------
	ボタン
--------------------------------------------------------------- */ 
.button_more_01_ {
	background-color: #F4EEE7;
	text-align: center;
	margin: 0 20px 0 0;
	width: auto;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	font-size: 13px;
	float: right;
	position: relative;
	letter-spacing: 0.5px;
	}
.button_more_01_ a {
	display: block;
	padding: 10px 40px 10px 30px;
	border: 1px #4E4C63 solid;
	color: #4E4C63;
}
.button_more_01_ a::after  {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #4E4C63;
	border-right: 1px solid #4E4C63;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.button_more_01_ a:hover {
	color: #fff !important;
	text-decoration:none !important;
	background-color: #4E4C63;
}
.button_more_01_ a:hover::after  {
	border-top: 1px solid #fff !important;
	border-right: 1px solid #fff !important;
}
.button_more_01_.space {
	margin-right: 60px !important;
}

#ranking ul.item_line04_ li:nth-child(n+21) {
	display: none;
}

.topbanner_ {
    margin: 0 auto 10px;
    width: 1000px;
}

.topbanner_yoko2_ {
    margin: 10px auto;
    width: 1000px;
}

.topbanner_yoko2_ a {
    margin: 0 10px 0 0;
    float: left;
    width: 490px;
}
.topbanner_yoko2_ a img {
    width: 100%;
    border: 1px #f2f2f2 solid;
}
.top_none_{
	display: none;
}
.common_none_ {
    display: block;
}





