
@media screen and (min-width:768px){
	p.subtex_ {
		text-align: center;
		font-size: 1.4em;
		line-height: 1.4;
		letter-spacing: 5px;
		margin: 20px 0 40px;
		color: #000;
	}
	ul.pickyukata_ li {
		position: relative;
		padding: 0;
	}
	ul.pickyukata_.nlm_ li {
		margin-bottom: 50px;
	}
	ul.buybtn01_ {
		position: absolute;
		bottom: 90px;
		left: 10%;
		width: 80%;
		margin: 0 auto;
	}
	ul.buybtn01_:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	ul.buybtn01_ li {
		float: left;
		/* display: inline-block; */
		width: 48%;
		margin-right: 10px;
		text-align: center;
		box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
		-moz-box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
		-webkit-box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
	}
	ul.buybtn01_ li a {
		padding: 20px;
		background-color: rgba(256,256,256,0.5);
		display: block;
		font-size: 2em;
		letter-spacing: 2px;
		border: 2px #e3718d solid;
		color: #e3718d;
		line-height: 1;
	}
	ul.buybtn01_ li:nth-child(2n) {
		margin-right: ;
	}
	ul.buybtn01_ li::after {
		position: absolute;
		top: 43%;
		right: 30px;
		display: block;
		content: '';
		width: 15px;
		height: 15px;
		margin-top: -4px;
		border-top: 2px solid #e3718d;
		border-right: 2px solid #e3718d;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn02_,
	.buybtn03_ {
		bottom: 20px;
		width: 60%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
		-moz-box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
		-webkit-box-shadow:2px 2px 5px 2px rgba(207, 207, 207, 0.8);
		
	}
	.buybtn02_:after {
		position: absolute;
		top: 43%;
		right: 30px;
		display: block;
		content: '';
		width: 15px;
		height: 15px;
		margin-top: -4px;
		border-top: 2px solid #000;
		border-right: 2px solid #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn02_ a {
		padding: 20px;
		color: #000;		
		display: block;
		font-size: 2em;
		letter-spacing: 2px;
		border: 2px #000 solid;
		line-height: 1;
		
	}

	.buybtn03_:after {
		position: absolute;
		top: 43%;
		right: 30px;
		display: block;
		content: '';
		width: 15px;
		height: 15px;
		margin-top: -4px;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn03_ a {
		padding: 20px;
		background-color: #6387d0;
		color: #fff;		
		display: block;
		font-size: 2em;
		letter-spacing: 2px;
		border: 2px #6387d0 solid;
		
	}


	
	img.kazari_ {
		margin: 10px 0 30px;
	}
	
	.comingsoon_ {
		position: absolute;
		width: 100%;
		z-index: 2;
		background-color: rgba(111, 157, 204, 0.91);
		bottom: 100px;
		text-align: center;
		font-size: 1.5em;
		padding: 10px 0;
		color: #fff;
	}
	

	ul.yukatanavi_ {
    margin: 20px auto;
    width: 80%;
	}
	ul.yukatanavi_ li {
		width: 31%;
		float: left;
		text-align: center;
		margin-right: 20px;
		opacity: 0;
	}
	ul.yukatanavi_ li:nth-child(3n) {
		margin-right: 0;
	}
	ul.yukatanavi_ li img {
		width: 100%;
	}
	
	.posi01_{
		top: 30%;left: 1%;
	}
	.posi02_{
		bottom: 20%;right: 0;
	}
	.posi03_{
		top:  30%;left: 10%;
	}
	.posi04_{
		bottom: 20%;right: 0;
	}
	.posi05_{
		top: 36%;right: 1%;
	}
	.posi06_{
		bottom: 20%;left: 0;
	}
	.posi07_{
		top: 30%;right: 1%;
	}
	.posi08_{
		bottom: 20%;left: 0;
	}
	.posi09_{
		bottom: 18%;    
		right: 2%;
	}
	.posi10_ {
    	top: 18%;
    	left: 58%;
	}
	.posi11_ {
    	top: 27%;
    	left: 43%;
	}
	.posi12_ {
    	top: 50%;
    	left: 1%;
	}
	.posi13_ {
    	top: 30%;
    	left: 33%;
	}
	.posi14_ {
		bottom: 30%;
    	left: 50%;
	}
	.posi15_ {
		top: 18%;
    	left: 2%;
	}
	.posi16_ {
		top: 50%;
    	left: 40%;
	}
	.posi17_ {
    top: 38%;
    right: 1%;
	}

}

@media screen and (max-width:767px){
	
	p.subtex_ {
		text-align: center;
		font-size: 1em;
		line-height: 1.4;
		letter-spacing: 2px;
		margin: 20px 0 40px;
		color: #000;
	}
	ul.pickyukata_ li {
		position: relative;
		padding: 0;
	}
	ul.pickyukata_.nlm_ li {
		margin-bottom: 50px;
	}
	ul.pickyukata_.nlm_ li:last-of-type {
		margin-bottom: 20px;
	}
	ul.buybtn01_ {
		position: absolute;
		bottom: 41px;
		left: 5%;
		width: 94%;
		margin: 0 auto;
	}
	ul.buybtn01_:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	ul.buybtn01_ li {
		float: left;
		/* display: inline-block; */
		width: 46%;
		margin-right: 10px;
		text-align: center;
		box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
		-moz-box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
		-webkit-box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
	}
	ul.buybtn01_ li a {
		padding: 7px 11px 7px 7px;
		background-color: rgba(256,256,256,0.5);
		display: block;
		font-size: 1em;
		letter-spacing: 2px;
		border: 2px #e3718d solid;
		color: #e3718d;
		text-decoration: none;
		color: #e3718d;
	}
	ul.buybtn01_ li:nth-child(2n) {
		margin-right: ;
	}
	ul.buybtn01_ li::after {
		position: absolute;
		top: 45%;
		right: 16px;
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		margin-top: -4px;
		border-top: 2px solid #e3718d;
		border-right: 2px solid #e3718d;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn02_,.buybtn03_ {
		bottom: 10px;
		width: 60%;
		margin: 0 auto;
		text-align: center;
		position: relative;
		box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
		-moz-box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
		-webkit-box-shadow:1px 1px 2px 1px rgba(207, 207, 207, 0.8);
	}
	.buybtn02_:after {
		position: absolute;
		top: 45%;
		right: 16px;
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		margin-top: -4px;
		border-top: 2px solid #000;
		border-right: 2px solid #000;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn02_ a {
		padding: 7px 11px 7px 7px;
		background-color: rgba(256,256,256,0.5);
		display: block;
		font-size: 1em;
		letter-spacing: 2px;
		border: 2px #000 solid;
		color: #000;
		text-decoration: none;
		
	}
	
	.buybtn03_:after {
		position: absolute;
		top: 45%;
		right: 16px;
		display: block;
		content: '';
		width: 10px;
		height: 10px;
		margin-top: -4px;
		border-top: 2px solid #fff;
		border-right: 2px solid #fff;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.buybtn03_ a {
		padding: 7px 11px 7px 7px;
		background-color: #6387d0;
		color: #fff !important;
		display: block;
		font-size: 1em;
		letter-spacing: 2px;
		border: 2px #6387d0 solid;
		color: #6387d0;
		text-decoration: none;
		
	}
	
	img.kazari_ {
		margin: 10px 0 20px;
	}
	
	.comingsoon_ {
		position: absolute;
		width: 100%;
		z-index: 2;
		background-color: rgba(111, 157, 204, 0.91);
		bottom: 100px;
		text-align: center;
		font-size: 1.2em;
		padding: 10px 0;
		color: #fff;
	}
	ul.yukatanavi_ {
    margin: 20px auto;
    width: 85%;
	}
	ul.yukatanavi_ li {
		width: 28%;
		float: left;
		text-align: center;
		margin-right: 20px;
		opacity: 0;
	}
	ul.yukatanavi_ li:nth-child(3n) {
		margin-right: 0;
	}
	ul.yukatanavi_ li img {
		width: 100%;
	}
	.checkbtn_ img {
		width: 100%;
	}
	.checkbtn_ {
		width: 50px;
		height: 50px;
	}



	.posi01_{
		top: 30%;left: 1%;
	}
	.posi02_{
		bottom: 22%;
		right: 11px;
	}
	.posi03_{
		top:  30%;left: 10%;
	}
	.posi04_{
		bottom: 43%;
		right: 34%;
	}
	.posi05_{
		top: 34%;
		right: 8px;
	}
	.posi06_{
		bottom: 24%;
		left: 0;
	}
	.posi07_{
		top: 30%;
		right: 22px;
	}
	.posi08_{
		bottom: 27%;
		left: 3px;
	}
	.posi09_{
		bottom: 18%;    
		right: 2%;
	}
	.posi10_ {
    	top: 18%;
    	left: 58%;
	}
	.posi11_ {
    	top: 27%;
    	left: 43%;
	}
	.posi12_ {
    	top: 50%;
    	left: 1%;
	}
	.posi13_ {
    	top: 30%;
    	left: 33%;
	}
	.posi14_ {
		bottom: 30%;
    	left: 50%;
	}
	.posi15_ {
		top: 18%;
    	left: 2%;
	}
	.posi16_ {
		top: 50%;
    	left: 40%;
	}
	.posi17_ {
    top: 38%;
    right: 1%;
	}
	
}

	ul.yukatanavi_ li:nth-child(1) {
	  -webkit-animation: example 0.5s ease 0.5s 1 forwards;
	  animation: example 0.5s ease 0.5s 1 forwards;
	}
	
	ul.yukatanavi_ li:nth-child(2) {
	  -webkit-animation: example 0.5s ease 1s 1 forwards;
	  animation: example 0.5s ease 1s 1 forwards;
	}
	
	ul.yukatanavi_ li:nth-child(3) {
	  -webkit-animation: example 0.5s ease 1.5s 1 forwards;
	  animation: example 0.5s ease 1.5s 1 forwards;
	}
	
	@-webkit-keyframes example {
	  100% {
		opacity: 1;
	  }
	}
	@keyframes example {
	  100% {
		opacity: 1;
	  }
	}
	
	.checkbtn_ {
    position: absolute;
    z-index: 2;

 }

   .clear_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.price_attention_ {
    background-color: #fefe79;
    padding: 10px;
}




@media screen and (min-width:768px){
	.timesaleprice_ {
		background-color: #f00;
		width: 60%;
		margin: 0 auto;
		text-align: center;
		padding: 10px;
		color: #ff0;
		font-size: 20px;
		letter-spacing: 1px;
		position: absolute;
		right: 19%;
		bottom: 92px;
		font-weight: bold;
	}
	.timesaleprice_ span {
		font-size: 0.8em;
		font-weight: normal;
	}
	
	.timesaleprice_.dml_ {
		bottom: 163px;
	}
}

@media screen and (max-width:767px){
	.timesaleprice_ {
    background-color: #f00;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2px 0;
    color: #ff0;
    font-size: 16px;
    letter-spacing: 1px;
    position: absolute;
    /* right: 19%; */
    bottom: 57px;
    font-weight: bold;
	}
	.timesaleprice_ span {
    font-size: 0.7em;
    font-weight: normal;
	color: #ff0;
	}	
	.timesaleprice_.dml_ {
		bottom: 92px;
	}
	.timesaleprice_ a{
		color: #ff0;
	}
}


