@charset "utf-8";
/* CSS Document */

/* left fixd */
* html body {
	background: url(null) fixed;
	}

* html div#rc_leftArea{
	position:absolute !important;
	top: expression((documentElement.scrollTop || document.body.scrollTop) + 200 + 'px');
	left: expression((documentElement.scrollleft || document.body.scrollleft) + document.body.clientWidth - 130 + 'px');/*【- ○ + 'px'】画像全体の横幅数値*/
}

/* left bannar */
div#rc_leftArea,#rc_leftArea-ss{
	position: fixed;
	top: 60px;
	left: 0px;
	text-indent:-9993px;
	display:block;
	z-index: 99999999;
}
#jungle #rc_leftArea{
	top: 35px !important;
}


/*------------イベント（大）------------*/

div#rc_leftArea .rc_leftk1, .rc_leftk2{
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:282px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0 5px 0px;
	z-index:9998px;
	background-image: url(../img/h_navi-180209sk.jpg);
}

div#rc_leftArea .rc_leftlunch{
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:80px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0 10px 0px;
	z-index:9998px;
}


/*-----------打ち出しカテゴリー/特集-----------*/

div#rc_leftArea .rc_left1 , .rc_left2 , .rc_left3 , .rc_left4 , .rc_left5 , .rc_left6 , .rc_left7 , .rc_left8{
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:54px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0;
	margin-bottom:3px;
	z-index:9998px;
}

/*------------イベント（小）------------*/

div#rc_leftArea .rc_left000 , .rc_left001 , .rc_left002 , .rc_left003{
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:54px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0;
	margin-bottom:3px;
	z-index:9998px;
}


/*-----------タイムセール用-----------*/

div#rc_leftArea .rc_left1000, .rc_left1001, .rc_left1002, .rc_left1003, .rc_left1004, .rc_left1005{
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:28px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0;
	margin-bottom:3px;
	z-index:9998px;
}

/*------------スーパーSALE用--------------*/

div#rc_leftArea .rc_left100, .rc_left101, .rc_left102, .rc_left102a, .rc_left103, .rc_left104, .rc_left105, .rc_left106, .rc_left107, .rc_left108, .rc_left109, .rc_left110, .rc_left111, .rc_left112, .rc_left113, .rc_left114, .rc_left110a, .rc_left111a, .rc_left112a, .rc_left113a, .rc_left114a,
div#rc_leftArea-ss .rc_left100, .rc_left101, .rc_left102, .rc_left102a, .rc_left103, .rc_left104, .rc_left105, .rc_left106, .rc_left107, .rc_left108, .rc_left109, .rc_left110, .rc_left111, .rc_left112, .rc_left113, .rc_left114, .rc_left110a, .rc_left111a, .rc_left112a, .rc_left113a, .rc_left114a

{
	position: fixed;
	top: 0;
	left: 0;
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:56px;/*画像全体の縦幅数値*/
	left:0px;
	margin-bottom:3px;
	margin:0 0;
	z-index:9998px;
	background-image: url(../img/1710-main_we.jpg);
}


/*------------クーポン--------------*/

div#rc_leftArea .rc_leftcp1, .rc_leftcp2, .rc_leftcp3, .rc_leftcp4,
div#rc_leftArea-ss .rc_leftcp1, .rc_leftcp2, .rc_leftcp3, .rc_leftcp4 {
	outline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:32px;/*画像全体の縦幅数値*/
	left:0px;
	margin:0 0;
	margin-bottom:3px;
	z-index:9998px;
}

/*------------メイン会場用（各カテゴリーページ内リンク）--------------*/

div#rc_leftArea .rc_left_c1 , .rc_left_c2, .rc_left_c3 , .rc_left_c4 , .rc_left_c5 , .rc_left_c6 , .rc_left_c7 , .rc_left_c8 , .rc_left_c9 , .rc_left_c10, .rc_left_c11{
	position: fixed;
	soutline: none;
	display: block;
	position: relative;
	width: 130px;/*画像全体の横幅数値*/
	height: 27px;/*画像全体の縦幅数値*/
	left: 0;
	top: 1px;
	margin: 0;
	z-index: 9998px;
	background-image: url(../img/1710-main_we.jpg);
}


/*------------メポイント会場（--------------*/

div#rc_leftArea .rc_left_ev1 , .rc_left_ev2{
	position: fixed;
	soutline:none;
	display: block;
	position: relative;
	width:130px;/*画像全体の横幅数値*/
	height:54px;/*画像全体の縦幅数値*/
	left: 0;
	top:1px;
	margin:0;
	z-index:9998px;
}


/*削除する場合*/

/*
通常時バナー
img/left-navi-wf1b.jpg
*/

/*
Pt10倍
img/left-navi-ss_3a-2.jpg
*/




/*img/left-trend.jpg*/



/*------------イベント（大）------------*/
div#rc_leftArea .rc_leftlunch {
	background: url(../img/170118-lunch_r.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/    
}


div#rc_leftArea .rc_leftk1 {
	background: url(../img/h_navi-1711a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 
	background-size: 130px;
	/*margin-bottom:30px;*/  
		
}

div#rc_leftArea .rc_leftk2 {
	background: url(../img/h_navi-1711a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 
	background-size: 130px;
	/*margin-bottom:30px;*/  
		
}

/*------------イベント（小）------------*/

div#rc_leftArea .rc_left000 {
	background: url(../img/h_navi-1711m_00.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left001 {
	background: url(../img/h_navi-1711m_01a.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left002 {
	background: url(../img/h_navi-1711m_02.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left003 {
	background: url(../img/h_navi-1711m_03.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}



/*------------打ち出しカテゴリー/特集--------------*/

div#rc_leftArea .rc_left1 {
	background: url(../img/1708o-pd_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left2 {
	background: url(../img/1708o-point_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}


div#rc_leftArea .rc_left3 {
	background: url(../img/1708o-new_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left4 {
	background: url(../img/1708o-rank_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left5 {
	background: url(../img/1708o-eve_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left6 {
	background: url(../img/1709-bag_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}


div#rc_leftArea .rc_left7 {
	background: url(../img/1709-outer_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}

div#rc_leftArea .rc_left8 {
	background: url(../img/1710-jg_l.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-bottom:3px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/  

}


/*--------------タイムセール用----------------*/



div#rc_leftArea .rc_left1000 {
	background: url(../img/1705m-ts_shoes.jpg) no-repeat scroll /*-46px*/0 0 transparent; margin-top:10px;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}

div#rc_leftArea .rc_left1001 {
	background: url(../img/1705m-ts_wear.jpg) no-repeat scroll /*-46px*/0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}

div#rc_leftArea .rc_left1002 {
	background: url(../img/1705m-ts_bag.jpg) no-repeat scroll /*-46px*/0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}

div#rc_leftArea .rc_left1003 {
	background: url(../img/1705m-ts_hat.jpg) no-repeat scroll /*-46px*/0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}

div#rc_leftArea .rc_left1004 {
	background: url(../img/1705m-ts_goods.jpg) no-repeat scroll /*-46px*/0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}

div#rc_leftArea .rc_left1005 {
	background: url(../img/1705m-ts_stole.jpg) no-repeat scroll /*-46px*/0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/ 

}





/*------------スーパーSALE用--------------*/



div#rc_leftArea .rc_left100 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	/*margin-top:70px;*/
}


div#rc_leftArea .rc_left101 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;

}

div#rc_leftArea .rc_left102 {
	background: url(../img/1803outer-hidairi_ob.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea .rc_left103 {
	background: url(../img/1803bag-hidairi_obi.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea .rc_left104 {
	background: url(../img/1712ss-hidairi_obi04.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea .rc_left105 {
	background: url(../img/1712ss-hidairi_obi05.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea .rc_left106 {
	background: url(../img/1712ss-hidairi_obi06.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea .rc_left107 {
	background: url(../img/1712ss-hidairi_obi07.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	
}

div#rc_leftArea .rc_left108 {
	background: url(../img/1712ss-hidairi_obi08.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea .rc_left109 {
	background: url(../img/1712ss-hidairi_obi09.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea .rc_left110 {
	background: url(../img/1712ss-hidairi_obi10.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea .rc_left100 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	/*margin-top:70px;*/
}


/*20180227-ss用に先行で増やした分↓*/


div#rc_leftArea-ss .rc_left101 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;

}

div#rc_leftArea-ss .rc_left102 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea-ss .rc_left103 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea-ss .rc_left104 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea-ss .rc_left105 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea-ss .rc_left106 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}


div#rc_leftArea-ss .rc_left107 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	
}

div#rc_leftArea-ss .rc_left108 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea-ss .rc_left109 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

div#rc_leftArea-ss .rc_left110 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
}

/*20180227-ss用に先行で増やした分↑*/

/*------------クーポン--------------*/


div#rc_leftArea .rc_leftcp1 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea .rc_leftcp2 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea .rc_leftcp3 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea .rc_leftcp4 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}


/*20180227-ss用に先行で増やした分↓*/

div#rc_leftArea-ss .rc_leftcp1 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea-ss .rc_leftcp2 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea-ss .rc_leftcp3 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}
div#rc_leftArea-ss .rc_leftcp4 {
	background: url(../img/1709afs-left00a.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-top:2px;
}

/*20180227-ss用に増やした分↑*/


/*------------メイン会場用（各カテゴリーページ内リンク）--------------*/



div#rc_leftArea .rc_left_c1 {
	background: url(../img/1710-main_cat.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}

div#rc_leftArea .rc_left_c2 {
	background: url(../img/1710-main_sh.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}
div#rc_leftArea .rc_left_c3 {
	background: url(../img/1710-main_we.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}
div#rc_leftArea .rc_left_c4 {
	background: url(../img/1710-main_ou.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}
div#rc_leftArea .rc_left_c5 {
	background: url(../img/1710-main_ba.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}
div#rc_leftArea .rc_left_c6 {
	background: url(../img/1710-main_st.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}

div#rc_leftArea .rc_left_c7 {
	background: url(../img/1710-main_ha.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}

div#rc_leftArea .rc_left_c8 {
	background: url(../img/1710-main_go.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}

div#rc_leftArea .rc_left_c9 {
	background: url(../img/1710-main_ranking2.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 0.5em;
}

div#rc_leftArea .rc_left_c10 {
	background: url(../img/1710-main_stb.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 0.5em;
}

div#rc_leftArea .rc_left_c11 {
	background: url(../img/171110-time_l.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 2px;
}




/*------------ポイント会場--------------*/

div#rc_leftArea .rc_left_ev1 {
	background: url(../img/1802m-hidari_p.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 4px;
}

div#rc_leftArea .rc_left_ev2 {
	background: url(../img/1802m-cp_h-1.jpg) no-repeat scroll 0 0 transparent;/*【-○px】マウスオーバーで表示する画像の横幅数値*/
	background-size: 130px;
	margin-bottom: 4px;
}











/*------------動く--------------*/




/*div#rc_leftArea .rc_left100:hover,
div#rc_leftArea .rc_left101:hover,
div#rc_leftArea .rc_left102:hover,
div#rc_leftArea .rc_left103:hover,
div#rc_leftArea .rc_left104:hover,
div#rc_leftArea .rc_left105:hover,
div#rc_leftArea .rc_left106:hover,
div#rc_leftArea .rc_left107:hover,
div#rc_leftArea .rc_left108:hover,
div#rc_leftArea .rc_left109:hover,
div#rc_leftArea .rc_left110:hover,
div#rc_leftArea .rc_left111:hover
{
	background-position:0px 0px;  width:112px; transition: all .3s; -webkit-transition: all .3s;
	}
*/
div#rc_leftArea .rc_left:hover,
/*div#rc_leftArea .rc_left1:hover,
div#rc_leftArea .rc_left2:hover,
div#rc_leftArea .rc_left3:hover,
div#rc_leftArea .rc_left4:hover,
div#rc_leftArea .rc_left5:hover,
div#rc_leftArea .rc_left6:hover,
div#rc_leftArea .rc_left7:hover,
div#rc_leftArea .rc_left8:hover,
div#rc_leftArea .rc_left9:hover,
div#rc_leftArea .rc_left10:hover,*/
div#rc_leftArea .rc_left11:hover,
div#rc_leftArea .rc_left12:hover,
div#rc_leftArea .rc_left13:hover,
div#rc_leftArea .rc_left99:hover,
div#rc_leftArea .rc_left98:hover,
div#rc_leftArea .rc_left97:hover,
div#rc_leftArea .rc_left200:hover{
	background-position:0px 0px;  width:200px; transition: all .3s; -webkit-transition: all .3s;/*【width:○px;】画像全体の横幅数値*/
	}	



