@charset "utf-8";

.leftMain{
	width: 12.5rem;
}
.rightMain{
	width: 53.75rem;
}



/*
 * left css
 */
.leftMain a{
	color: #333333;
}
.leftMain a.more{
	display: block;
	margin-bottom: 2rem;
	text-align: right !important;
}
.arrow_b02{
	background-image: url(../img/ico_arrow_b_w.png) !important;
	background-repeat: no-repeat;
	background-position: right center;
}
.lists li a {
	 padding: 7px 2px 7px 15px;
	 padding: 9px 2px 7px 15px\9;/*IE8*/
	 display: block;
}

.lists li a:hover { 
	background-color:#F0F0F0; 
	text-decoration:none; 
}

.menuCategory .lists{
	margin:0 0 1rem;
}

.menuCategory .lists li { 
  margin:0; 
	font-size: 13px;
}

.menuCategory .lists li a {
	 border-bottom:solid 1px #CCCCCC;
	 padding: 13px 2px 10px 15px;
	 padding:9px 2px 7px 15px\9;
	 display:block;
}

.menuCategory .static li a:hover { 
     background:#747474; 
	 color:#ffffff; 
	 text-decoration:none; 
}

.menuCategory .lists li div.open {
	display: none;
}
.menuCategory .lists li div ul { 
  padding:12px 10px 15px;
	background:#f2f2f2; 
	width:calc( 100% - 20px ); 
	margin:0 0 15px;
}

.menuCategory .lists li div ul li { 
	border: 0; 
	 padding: 0; 
	 position: relative; 
}
.menuCategory .lists li div ul li a { 
	 background: none;
	 display: block; 
	 color:#333;
}

.menuCategory .lists li div ul li a:hover { 
	text-decoration: underline; 
}

.listsLink {
    clear: both;
    padding: 7px 0;
    margin: 5px 0 0;
}
.item-guide{
	overflow: hidden;
}
.item-guide li{
	width: 50%;
	float: left;
	margin-top: 1rem;
	text-align: center;
	font-size: .875rem;
}
.item-guide p{padding-top: .3rem;}
.item-guide a{display: block;}
.item-guide a:hover p{
	color: red;
	text-decoration: underline;
}














/*
 * right
 */
.item_title{
	font-size: 1.25rem;
	border-bottom: 1px solid #dddddd;
	padding: calc( .375rem - 1px ) .625rem;
}

.item-list1 img,
.item-list2 img,
.item-list3 img,
.item-list4 img,
.item-list5 img{
	width: 100%;
	display: block;
}
.item-ranking{
	padding-left: .5rem;
}
.item_area li a{
	display: block;
	position: relative;
}
.listProduct_rank{
	color: #AAAAAA;
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	position: absolute;
	left: calc( -.5rem + 1px);
	top: calc( -.5rem + 1px);
	border: 1px solid #AAAAAA;
	background-color: #FFFFFF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.topThree1{
	color: #FFFFFF;
	background-color: #e6c800;
	border: 1px solid #e6c800;
}
.topThree2{
	color: #FFFFFF;
	background-color: #afafaf;
	border: 1px solid #afafaf;
}
.topThree3{
	color: #FFFFFF;
	background-color: #b89762;
	border: 1px solid #b89762;
}
.labelbox{
	position: absolute;
	left: 0;
	bottom: 0;
	color: #FFFFFF;
	font-size: 85%;
	width: 8rem;
	text-align: center;
	line-height: 1.75rem;
}
.item-label.timesale{
	background-color: #da2721;
}
.item-label.coupon_target{
	background-color: #c1a494;
}
.item-label.new{
	background-color: #8ac85d;
}
.item-product_box{
	margin-top: .25rem;
	line-height: 1.4rem;
}
.rate_first,.tax{
	font-size: .75rem;
}
.rate_end{
	display: block;
}
.item_area{
	position: relative;
}
.item-list3 li{
	float: left;
	width: 17.25rem;
	margin-right: .75rem;
}
.item-list3.newarrival li{
	margin-right: 1rem;
}
.item-list4 li{
	float: left;
	width: calc( 12.5rem + 3px );
	margin-right: .82rem;
}
.item-pickup{
	color: #FFFFFF;
	font-size: 1rem;
	line-height: 2rem;
	text-align: center;
	background-color: #000000;
}
.pickup-list{
	display:block;
	margin-bottom: .75rem;
}
.pickup-list img{
	display: block;
	width: 100%;
}
