@charset "euc-jp";
/* CSS Document */

/* ----------- head ----------- */

html{
	font-size:10px;
	line-height:1.5em;
}

body{
	margin: 0;
	padding: 0;
	background: #fff;
	font-family: "Times New Roman", "TaIAA≪", YuMincho, " ProN W3", "Hiragino Mincho ProN", Meiryo, serif;
	font-size:13px;
	font-size:1.3rem;
	color:#2E2E2E;
}


/*バナーリスト*/
/*---------------------*/
.banner-list{
	margin:10px 0;
	padding:10px 0;
	border-top:1px solid #ccc;
}

.banner-list li{
	margin:5px auto 0;
}

.banner-list li:first-child{
	margin-top:0;
}

.banner-list li img{
	width:100%;
	border:1px solid #CCC;
}

hr.top{
	border-top:1px solid #ccc;
	margin:25px auto;
	width:95%;
}


a{
	color:#2E2E2E;
}

img{
	width:100%;
}

ul{
	list-style:none;
}

.arrow_right{
	display:inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	margin-right:5px;
}

@media screen and ( max-width:320px) {
	html{
		font-size:9px;
	}
}


/* ----------- ヘッダー ----------- */

#header{
	height: 60px;
	width:100%;
	background:#FFF;
	position:relative;
	overflow:hidden;
	border-top:#F4F4F4 1px solid;
}

h1 {
	padding:0;
	margin:0;
	display:inline;
}

h1 img {
	width:160px;
	position:absolute;
	top:40%;
	left:50%;
	margin-top:-10px;
	margin-left:-75px;
}

#shop_icon {
	display:inline;
	position:absolute;
	top:22%;
	left:10px;
}

#shop_icon img{
	width:30px;
	vertical-align:middle;
}

#cart{
	position:absolute;
	right:20px;
	top:22%;
}

#cart img{
	width:30px;
}


/* カテゴリメニュー */

#drawer_menu ul li img{
	width:20px;
}


.mm-menu.mm-theme-dark{
	background:#2e2e2e;
	border-color:#111;
}

.mm-menu.mm-theme-dark .mm-listview{
	border-color:#111;
}

.mm-navbar{
	box-shadow: 0 1px 0 #444;
	-moz-box-shadow: 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 0 #444;
}

.mm-listview > li, .mm-listview > li:after, .mm-listview > li .mm-next, .mm-listview > li .mm-next:before{
	box-shadow: 1px 1px 0 #444;
	-moz-box-shadow: 1px 1px 0 #444;
	-webkit-box-shadow: 1px 1px 0 #444;
}

.mm-navbar-bottom{
	border:none;
}
	
#mm-blocker{
	background:rgba(0, 0, 0, 0.6);
}

.mm-menu.mm-theme-dark .mm-navbar > *, .mm-menu.mm-theme-dark .mm-navbar a{
	color:rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-navbar .mm-btn:before, .mm-menu.mm-theme-dark .mm-navbar .mm-btn:after{
	border-color:rgba(255, 255, 255, 0.8);
}

.mm-menu.mm-theme-dark .mm-listview > li .mm-next:after, .mm-menu.mm-theme-dark .mm-listview > li .mm-arrow:after{
	border-color:rgba(255, 255, 255, 0.8);
}

.mm-prev:before, .mm-next:after, .mm-arrow:after{
	width:12px;
	height:12px;
}

.mm-close:after{
	content:" ";
	display:inline-block;
	width:15px;
	height:15px;
	background:url("../img/batsu.gif") ;
	background-size:contain;
	vertical-align:middle;
}

#drw_close{
	font-size:15px;
	font-size:1.5rem;
}

#drw_close img{
	width:13px;
	vertical-align:middle;
	margin-right:5px;
}


.mm-navbar .mm-btn:last-child{
	padding-left:30px;
}

.mm-navbar .mm-title{
	font-size:14px;
	font-size:1.4rem;
}

/* ----------- コンテンツ ----------- */

#wrap{
	background:#fff;
}

/* フローティング */


#main_nav ul {
	width:100%;
	background-color:#555555;
	list-style:none;
	display:table;
	table-layout:fixed;
}

#main_nav li {
	display:table-cell;
	text-align:center;
}

#main_nav li:nth-child(even){
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}

#main_nav li a {
	color:#FFF;
	padding:12px 0;
	display:block;
	text-decoration:none;
}

.nav_fixed {
	position: fixed;
	top: 0;
	z-index: 1000;
	box-shadow:rgba(0, 0, 0, 0.65) 0px 5px 3px -5px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.65) 0px 5px 3px -5px;
	-moz-box-shadow:rgba(0, 0, 0, 0.65) 0px 5px 3px -5px;
}


/* フローティングボトム */

.fixed {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;  
}

#ipnsh-bottom {
	margin-bottom: 60px;
}



/* NEW */
#newitem,#ranking,#category,#other{
	margin-top:-55px; 
	padding-top:65px;
}

/* 送料 */
#soryo{
	background:#FFF;
	text-align:center;
	margin-bottom:3px;
	padding:5px 0;
	color:#C30505;
}


/* メインスライダー */

#banner{
	margin:5px 0 5px;
	display:none;
}

#banner p:not(:first-child){
	margin-top:5px;
}

#key_visual{
	display:none;
}


#slider_sale{
	color:#BF0000;
}

h2{
	margin-bottom:30px;
}



/* -----------タイトル ----------- */

h5{
	text-align:center;
	padding:5px;
	background:#EEEEEE;
	font-family: "Times New Roman", "TaIAA≪", YuMincho, " ProN W3", "Hiragino Mincho ProN", Meiryo, serif;
	font-size:16px;
	font-size:1.6rem;
	margin-bottom:10px;
}

h5::before{
	font-size:11px;
	font-size:1.1rem;
	margin-right:5px;
}

.title_img{
	border-top:1px solid #eeeeee;
	padding:10px 0 0;
	margin-top:10px;
	background:#fff;
}

.title_img::before{
	content:none;
}

h5 span{
	font-size:10px;
	font-size:1rem;
	font-weight:normal;
	margin-left:10px;
}


/* ------------ NEW ARRIVAL ------------ */



.item_list{
	width:100%;
	display:table;
	table-layout:fixed;
	border-spacing: 10px 0;
	border-collapse:separate;
	margin-bottom:10px;
}

.item_list li{
	display:table-cell;
}

.item_list li img{
	width:100%;
	margin-bottom:3px;
}

.item_button{
    width:70%;
     display: block;
 margin-left: auto;
 margin-right: auto;
}


.item_list span{
	display:block;
	text-align:center;
}

.item_list span:nth-of-type(2){
	display:block;
	text-align:center;
	font-size:10px;
	font-size:1rem;
	color:#BF0000;
	border:1px #BF0000 dotted;
}

#item_last{
	padding-bottom:10px;
}



.more01,.more02{
	display:none;
}




.item_open,.item_close{
	padding-top:10px;
}

.item_open a{
	padding:5px;
	margin:0 auto 10px;
	width:140px;
	text-align:center;
	background:#2E2E2E;
	color:#fff;
	display:block;
}

.item_open span{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	display:inline-block;
	margin-right:5px;
}

.item_close a{
	padding:5px;
	margin:0 auto 10px;
	width:140px;
	text-align:center;
	background:#2E2E2E;
	color:#fff;
	display:block;
}

.item_close span{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8px 5px;
	border-color: transparent transparent #ffffff transparent;
	display:inline-block;
	margin-right:5px;
}


#new_button{
	background:#adadad;
}


.cate_link .arrow_right, .re_cate_link .arrow_right,#new_button .arrow_right,#rearrival_button .arrow_right,#reserve_button .arrow_right,#sale_button .arrow_right{
	border-color: transparent transparent transparent #ffffff;
}



/*　特集　*/

.title-block-big{
	color:#777;
	text-align:center;
	background:#FFF;
	margin:15px auto 0;
	padding: 5px 0;
}

.title-block-big div.block{
	padding: 10px;
	border: 1px solid #999;
	margin: 0 5px;
}

.title-block-big div.block p.sub{
	font-family: 'Lora', serif;
	font-size:10px;
}

.title-block-big div.block h2 {
	font-weight:normal;
	font-family: 'Lora', serif;
	font-size:22px;
}
.title-block-big div.block p.desc{
	color:#777;
	font-size:10px;
}

.cont-block-big{
	background:#FFF;
	margin:1px auto 0;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
}

.cont-block-big a{
	text-decoration:none;
}

.cont-block-big p{
	color:#777;
	padding: 0 10px;
}

.cont-block-big p.pic{
	padding: 10px 7px;
}

.cont-block-big p.pic img{
		width:100%;
		border:1px solid #ccc;
}

.cont-block-big p.date{
	font-family: 'Lora', serif;
	font-size:10px;
}

.cont-block-big p.desc{
	padding:5px 10px 10px;
	font-size:12px;
}

.cont-block-big p.title{
	padding:5px 10px 0;
	font-size:12px;
	font-weight:bold;
}

/*特集・リスト*/
/*---------------------*/
.cont-block li{
	background:#FFF;
	margin:1px auto 0;
	position:relative;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
}

.cont-block p.pic{
	padding:0 7px 0 7px;
	width:120px;
	float:left;
}

.cont-block p.pic img{
	border:1px solid #eee;
}

.cont-block div p{
	color:#777;
	padding:0 0 0 5px;
	width:90%;
}

.cont-block p.date{
	font-family: 'Lora', serif;
	font-size:10px;
}

.cont-block p.desc{
	padding-top:5px;
	font-size:12px;
}
.cont-block p.title{
	padding-top:15px;
	font-size:11px;
	font-weight:bold;
}

.cont-block li a{
	text-decoration:none;
	padding:10px 0;
	display: inline-block;
	width: 100%;
}

.cont-block li a:after{
	display:block;
	content:"";
	width:7px;
	height:7px;
	border-top:2px solid #adadad;
	border-right:2px solid #adadad;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	position:absolute;
	top:44%;
	right:10px;
	clear:both;
}


/*特集・リスト*/
/*---------------------*/

.info-block .information-link {
	color:#777;
	background:#FFF;
	margin:1px auto 0;
	position:relative;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
}

.info-block .info-block-item{
	font-weight:bold;
	font-size:10px;
	padding:0 0 0 7px;
	width:85%;
}

.info-block .pic{
	width: initial;
	margin: 0 auto;
	padding: 0 7px;
	text-align: center;
}

.info-block .pic img{
	width:100%;
	border:1px solid #ccc;
}

.info-block .date{
	font-weight:normal;
	font-family: 'Lora', serif;
}

.info-block .desc{
	padding-top:5px;
}

.info-block .title{
	padding-top:5px;
	font-weight:bold;
}

.info-block li a{
	text-decoration:none;
	padding:15px 0;
	display: inline-block;
	width: 100%;
	color:#888;
	position: relative;
}

.info-block li.list a:after{
	display:block;
	content:"";
	width:7px;
	height:7px;
	border-top:2px solid #adadad;
	border-right:2px solid #adadad;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	position:absolute;
	top:44%;
	right:10px;
	clear:both;
}


/*ランキングヘッド */
#ranking ul{
	display:table;
	table-layout:fixed;
	width:100%;
	background:#fff;
	border-bottom:#2E2E2E 1px solid;
	margin-bottom:1px;
}
#ranking li{
	display:table-cell;
	text-align:center;
	padding:10px 0;
	border-right:#2E2E2E 1px solid;
}

#ranking li:last-child{
	border-right:none;
}

#rank_trend{
	color:#FFF;
	background:#1f89eb;
}

#ranking .select{
	color:#FFF;
	background:#2E2E2E;
}


/*ランキングアイテム */


.hide {
  display: none;
}


.ranking_content{
	padding:0 0 10px;

}


.ranking_content div{
	clear:right;
}

.ranking_content li{
	border-right:none
}

.ranking_content div ul{
	display:table;
	width:100%;
	padding:10px;
	border-bottom:1px #aaa dashed;
	
}

.ranking_content div li{
	display:table-cell;
	vertical-align:middle;
	
}

.ranking_content div li:first-child{
	width:35%;
	padding-right:10px;
}


.ranking_content div li:first-child img{
	width:100%;


}

.ranking_content div li:nth-child(even) img{
	width:40%;
	padding:5px 0;

}

.ranking_content div li div{
	float:right;
	margin-right:20px;
}


.ranking_detail{
	font-size:10px;
	font-size:1rem;
}

.ranking_img{
	display:table-cell;
	vertical-align:middle;
	border-right:none;
	width:35%;
	padding-right:10px;

}

.ranking_name{
	margin-bottom:5px;
	font-size:13px;
	font-size:1.3rem;
}

.ranking_price{
	font-size:13px;
	font-size:1.3rem;
	display:inline;
	margin-right:5px;
}


.ranking_buy{
	background:#2E2E2E;
	display:inline-block;
	padding:3px 0;
	width:80px;
	color:#fff;
	text-align:center;
	border:1px solid #BFBFBF;
}



/* 検索 */

#ipnsh-header {
	margin-top: 60px;
}

#search-form {
    padding: 12px;
    margin: 0 auto;
    font-family: メイリオ;
    focus::-webkit-input-placeholder { color: white; } /* Chrome・Safari・Opera用(※Edgeにも使える) */
:focus:-moz-placeholder { color: white; }  /* Firefox18以前用 */
:focus::-moz-placeholder { color: white; } /* Firefox19以上用 */
:focus:placeholder-shown { color: white; } /* CSS標準(予定)の記述 */
}

#search-form form {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 14px;
}
#search-form input[type=text] {
    display: table-cell;
    width: 100%;
    height: 38px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: none;
}
#search-form .search-button {
    display: table-cell;
    vertical-align: top;
    width: 20%;
}
#search-form .search-button input[type="submit"] {
    width: 100%;
    height: 38px;
    font-weight: bold;
    color: #444;
    border: none;
    background: #ddd;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}


#search-form.design-1 form{
    font-size: 16px;
    font-color: #444;
}
#search-form.design-1 input[type=text] {
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
}
#search-form.design-1 .search-button input {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#search-form.design-1 .search-keyword li a {
    color: #555;
}

.hotword-block{
	background:#ddd;
	margin:6px auto 0;
	height:30px;
	position:relative;
	text-align: left;
	border-radius:2px 2px 0 0;
	-webkit-border-radius:2px 2px 0 0;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.1);
}

.hotword-block h2{
    font-weight: bold;
    color: #444;
	font-family: "Times New Roman", "TaIAA≪", YuMincho, " ProN W3", "Hiragino Mincho ProN", Meiryo, serif;
	font-size:14px;
	padding:0 0 0 10px;
	line-height:30px;
}

.hotword-block:before{/*吹き出し*/
	position:absolute;
	left:30px;
	top:-20px;
	display:block;
	content:"";
	height:0;
	width:0;
}

.hot-word{
	background:#FFF;
	margin:1px auto 0;
	padding:5px 0;
	text-align: left;
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
}

.hot-word ul{
	padding: 0 5px;
}

.hot-word li{
	text-align:center;
	display:inline-block;
}

.hot-word li a{
	text-decoration:none;
	padding:3px 0;
}

.hot-word li p{
	padding:;
	font-size:12px;
	font-weight:bold;
}




/*ページトップへ*/
#page-top{
position: fixed;
bottom:10px;
right:8px;
}

#page-top img{
width:40px;
}


/* アコーディオン */
.section{
	margin-bottom:20px;
	overflow:hidden;
}

.accordion {  
	margin:0 10px; 
	}
	
.accordion dt {
	border-bottom:1px solid #EEE; 
	box-sizing:border-box;
	height:40px; 
	text-indent:10px; 
	line-height:40px; 
	color:#333;
	font-size:13px;
	font-size:1.3rem;
	font-weight:bold;
	position: relative;
	}
	
.accordion dt img{
	height:35px;
	width:35px;
	margin-right:5px;
}
		
.accordion dt::after{
	 border-right: 2px solid #9E9E9E;
	 border-top: 2px solid #9E9E9E;
	 border-radius: 2px;
	 content: "";
	 height: 10px;
	 right: 20px;
	 position: absolute;
	 transform: rotate(135deg);
	 -webkit-transform: rotate(135deg);
	 top: 13px;
	 width: 10px;
}

.accordion dt.open::after {
	 border-right: 2px solid #9E9E9E;
	 border-top: 2px solid #9E9E9E;
	 border-radius: 2px;
	 content: "";
	 height: 10px;
	 right: 20px;
	 position: absolute;
	 transform: rotate(-45deg);
	 -webkit-transform: rotate(-45deg);
	 top: 13px;
	 width: 10px;
}
	
.accordion dd { 
	line-height:1.5;
	display:none;
}

.accordion_list li a{
	padding:10px 0 10px 15px;
	border-bottom:1px solid #eee;
	display:block;
	background:#fff;
	border-bottom: 1px solid #fff;
}

.accordion_list li a::before{
	margin-right:5px;
}

.accordion_sub ul { 
	list-style:none;
	display:none;
	}

.accordion_sub p{
	padding:10px 0 10px 15px;
	display:block;
	background:#fff;
	border-bottom: 1px solid #fff;
	position: relative;
}

.accordion_sub li a::before{
	content:"└";
	margin-right:3px;
	color:#666;
}

.accordion_sub span::before{
	content:"";
	margin-right:5px;
}

.accordion_sub span::after{
	 content: "+";
	 font-size:18px;
	 font-size:1.8rem;
	 color:#9E9E9E;
	 right: 20px;
	 position: absolute;
	 top: 5px;
}

.accordion_sub span.open::after {
	 content: "-";
	 font-size:24px;
	 font-size:2.4rem;
	 color:#9E9E9E;
	 right: 21px;
	 position: absolute;
	 top: 0;
}

.accordion_sub li a{
	padding:10px 0 10px 25px;
	display:block;
	background:#fff;
	border-bottom: 1px solid #E8E8E8;
}


/*フッター*/

/*------------------------------*/
.fnav{
	text-align:center;
	background-color: #E0E0E0;
	padding:10px 0 60px;
	position:relative;
	bottom:-50px;
}

#fgnav {
	clear: both;
}

#fgnav ul {
	width:100%;
	vertical-align:middle;
	font-size:12px;
	font-weight: bold;
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #c3bea9), color-stop(1.00, #ada68a));
	background: linear-gradient(#c3bea9, #ada68a);
	border-top:1px solid #d3d0c0;
	border-bottom:1px solid #99916d;
}

#fgnav ul li a {
	width: 20%;
	color: #FFF;
	padding: 0 0 3px 0;
	margin: 0;
	text-decoration: none;
	float: left;
	border-right: 1px solid #aca587;
	border-left: 1px solid #cac5b2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 44px;
}


#fguide {
	margin:10px 0 0;
	text-align:center;
}

#fguide li {
	font-size:12px;
	line-height:1.6em;
	display:inline;
	list-style-type:none;
	margin-right:3px;
	padding-left:7px;
	border-left:1px solid #999;
}


#fguide dl {
	font-size:12px;
	color: #555;
	line-height:1.6em;
	display:inline;
	list-style-type:none;
	margin-right:3px;
	padding-left:7px;
}


#fguide li a{
	color:#555;
}

#fguide .guideLeft {
	border-left:0;
	padding-left:0;
}

.slick-prev, .slick-next {
   z-index: 2;
}



/* ----------- ヘッダー ----------- */

#header.wd{
	height: 50px;
	width:100%;
	position:relative;
	overflow:hidden;
	background:#75c8be;
	border:none;
}

#header.wd h1 {
	padding:0;
	margin:0;
	display:inline;
}

#header.wd h1 img {
	width:170px;
	position:absolute;
	top:40%;
	left:50%;
	margin-top:-20px;
	margin-left:-85px;
}

#header.wd #shop_icon {
	display:inline;
	position:absolute;
	top:10px;
	left:10px;
}

#header.wd #shop_icon img{
	width:20px;
	vertical-align:middle;
}

#header.wd #cart{
	position:absolute;
	right:12px;
	top:25%;
}

#header.wd #cart img{
	width:25px;
}