@charset "euc-jp";
/*======================================
	共通 
=======================================*/
body {
color:#000;
font-size:12px;
font-family:"ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3";
line-height:1.0em;
margin:0;
padding:0;
}

img{
border:none;
}

.clearfix:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
	line-height: 0;
}
.clearfix {
	display: inline-block;
	min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {	display:block;}
/* End hide from IE-mac */

h1{
font-size:10px;
color:#666666;
font-weight:normal;
margin:0 0 0px 0;
padding:10px 0 0 0;
float:left;
}

h2,h3{
font-size:12px;
font-weight:normal;
margin:0;
padding:0;
line-height:1.0em;
}

ul{
list-style:none;
margin:0;
padding:0;
}

a:link, a:visited, a:active {color:#000; text-decoration:underline;}
a:hover {color:#000; text-decoration:none;}

.fltl {float:left;}

.fltr {float:right;}

.mt4{
margin-top:4px;
}

.mt10{
margin-top:10px;
}

.mt20{
margin-top:20px;
}

.mb5{
margin-bottom:5px;
}

.mb8{
margin-bottom:8px;
}

.mb10{
margin-bottom:10px;
}

.mb12{
margin-bottom:12px;
}

.mb15{
margin-bottom:15px;
}

.mb20{
margin-bottom:20px;
}

.mb25{
margin-bottom:25px;
}

.mb30{
margin-bottom:30px;
}

.mb35{
margin-bottom:35px;
}

.mb40{
margin-bottom:40px;
}

.mb45{
margin-bottom:45px;
}

.mb48{
margin-bottom:48px;
}

.mb60{
margin-bottom:60px;
}

.mb75{
margin-bottom:75px;
}

.pb30{
padding-bottom:30px;
}

.pb48{
padding-bottom:48px;
}

.pl4{
padding-left:4px;
}

.pr10{
padding-right:10px;
}

.pr15{
padding-right:15px;
}

.pr19{
padding-right:19px;
}

.pr20{
padding-right:20px;
}

.pr40{
padding-right:40px;
}

.w130{
width:130px;
}

.w140{
width:140px;
}

.w180{
width:180px;
}

.w196{
width:196px;
}

.w210{
width:210px;
}

.w345{
width:345px;
}

.txt_r{
text-align:right;
}

.txt_c{
text-align:center;
}

.v-align_m{
vertical-align:middle;
}

/*======================================
	上部 
=======================================*/
	
#top {
width:950px;
margin:0 auto; padding:0;
clear:both;
}

#top img {border:0; margin:0; padding:0;}

/*======================================
	ヘッダー
=======================================*/

#header {
width:950px;
margin:0; padding:0;

}

#header ul li {
float:left;
}

#header #search {
background:url(../../img/renewal/header/search_bg.gif) no-repeat 0 0;
width:950px;
height:33px;
margin-bottom:2px;
}

#header #search .txt {
font-size:11px;
float:left;
margin:0;
padding:12px 0 0 25px;
line-height:1.0em;
}

#header #search .txt a:link,#header #search .txt a:visited,#header #search .txt a:active {color:#d20000;font-weight:bold;}
#header #search .txt a:hover {color:#d20000;font-weight:bold;}

#header #search form {
padding:6px 13px 0 0 ;
margin:0;
}

#header #search form input {
vertical-align:middle;
}

#header #search .txt02 {
width:210px;
height:18px;
border:solid 1px #bebebe;
}

#header .dropdown{
width:950px;
position:relative;
}

#header .dropdown_menu {
background:#333;
font-size:12px;
font-weight:bold;
filter:alpha(opacity=95);
-moz-opacity: 0.95;
opacity: 0.95;
line-height:1.4em;
padding:5px;
margin:0;
z-index:100;
display:none;
}

#header .dropdown .dropdown_menu1{
position:absolute;
left:0;
}

#header .dropdown .dropdown_menu2{
position:absolute;
left:84px;
}

#header .dropdown .dropdown_menu3{
position:absolute;
left:167px;
}

#header .dropdown .dropdown_menu4{
position:absolute;
left:250px;
}

#header .dropdown .dropdown_menu5{
position:absolute;
left:358px;
}

#header .dropdown .dropdown_menu6{
position:absolute;
left:466px;
}

#header .dropdown .dropdown_menu7{
position:absolute;
left:574px;
/*right:268px;*/
}

#header .dropdown .dropdown_menu8{
position:absolute;
left:682px;
/*right:185px;*/
}

#header .dropdown .dropdown_menu9{
position:absolute;

left:765px;
/*right:77px;*/
}

#header .dropdown_menu ul li{
float:left;
font-size:12px;
}

#header .dropdown_menu ul.second li {
padding:5px 10px 2px 5px;
}

#header .dropdown_menu ul.second li.none {
clear:both;
}

#header .dropdown_menu ul li.third{
background:url(../../img/renewal/header/arrow03.gif) no-repeat 0px 10px;
font-size:10px;
font-weight:normal;
line-height:1.8em;
padding:5px 7px 2px 10px;
}

#header .dropdown_menu a:link,#header .dropdown_menu a:visited,#header .dropdown_menu a:active {color:#fff; text-decoration:none;}
#header .dropdown_menu a:hover {color:#fff; text-decoration:underline;}

/*======================================
	左ナビ
=======================================*/

.top_m_l {
width:160px;
margin:0 0 0 0;
padding:0 0px 0 0;
}

.top_m_l .pu_brand {
width:160px;
margin:0 0 12px 0;
}

.top_m_l .pu_brand a:link,.top_m_l .pu_brand a:visited,.top_m_l .pu_brand a:active{color:#000; text-decoration:none;}
.top_m_l .pu_brand a:hover{color:#000; text-decoration:underline;}

.top_m_l .brandarea {
width:148px;
margin:0;
padding:8px 6px 8px 10px;
background:url(../../img/renewal/left-navi/dot.gif) repeat-x bottom;
}

.top_m_l .brandarea_end {
width:148px;
margin:0;
padding:8px 6px 12px;
border-bottom:#000 solid 1px;
}

.top_m_l .pu_brand p.name{
float:left;
font-size:12px;
font-weight:bold;
line-height:1.1em;
margin:0;
padding:0;
}

.top_m_l .pu_brand p.name span{
font-size:11px;
line-height:1.0em;
color:#ab773d;
font-weight:normal;
margin:0;
padding:0;
}

.top_m_l p.guidearea {
font-size:12px;
font-weight:bold;
margin:0;
padding:5px 0 7px 7px;
background:url(../../img/renewal/left-navi/dot.gif) repeat-x bottom;
}

.top_m_l .shopguide {
line-height:1.2em;
}

.top_m_l .calender {
    border: 1px solid #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif,"Trebuchet MS",Tahoma;
    font-size: 11px;
}

.top_m_l .calender th {
    font-size: 9px;
    font-weight: normal;
}

/*======================================
	フッター
=======================================*/
#footer {
width:950px;
margin:50px auto 0; padding:0;
}

#footer #footer01 {
width:910px;
background:#292929;
padding:25px 20px;
}

#footer #footer01 .area01 {
width:372px;
height:107px;
background:#fff;
font-size:11px;
line-height:1.2em;
color:#626262;
float:left;
}

#footer #footer01 .area01 .logo{
padding:27px 0px 0 20px;
}

#footer #footer01 .area01 .logo p{
margin:0;
padding:7px 0 0 20px;
width:201px;
}

#footer #footer01 .area02 {
width:492px;
height:77px;
background:#fff;
font-size:12px;
line-height:1.2em;
color:#000;
padding:15px 18px;
float:right;
}

#footer #footer01 .area02 p{
margin:0;
padding:10px 0;
}

#footer #footer01 .area02 p span{
font-weight:bold;
}

#footer #footer01 .area02 p.txt06{
font-size:11px;
margin:0;
padding:0;
}

#footer #footer02 {
width:950px;
background:#292929;
color:#fff;
font-size:11px;
line-height:1.5em;
}

#footer #footer02 .ttl03{
background:url(../../img/renewal/footer/dot02.gif) no-repeat bottom;
padding:0 0 12px 35px;
}

#footer #footer02 .contents{
padding:18px 0 35px 42px;
}

#footer #footer02 .contents ul{
padding:16px 0px 0 12px;
}

#footer #footer02 .contents ul li{
margin-bottom:10px;
list-style-position:outside;
list-style-image:url(../../img/renewal/footer/arrow.gif);
}

#footer #footer02 .contents ul a{
color:#fff;
}

.font_style9 strong {
	color: #000;
}
