@charset "UTF-8";
/* CSS Document */
/*20170130 newdesign.css header-2.css main.css side.css*/
/*newdesign*/
/* CSS Document */
div#wrapper {
  width: 1200px;
  margin: 30px auto 0;
  overflow: hidden; }
  div#wrapper.subpage {
    margin: 400px auto 0; }

body {
  background: #efefef;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow-x: hidden; }

a {
  color: #111; }
  a:hover {
    opacity: 0.7; }

img {
  vertical-align: bottom; }

#top {
  width: 980px;
  margin: 0 auto;
  padding: 0;
  clear: both; }
  #top.subpage {
    margin: 400px auto 0; }

/*slider*/
#slider {
  max-width: 1200px;
  margin: 230px auto 80px;
  /*177px 207px */ }

#slider2 {
  max-width: 1200px;
  margin: 400px auto 0px;
  /*通常:　255px auto 25px;*/
  /*3列:285px*/
  /*告知:　305px*/
  /*告知+3列:　335px*/
  /* display: none; */ }

#slider3 {
  padding: 50px 32px 10px; }

/* Browser Resets */
.flex-container a:active, .flexslider a:active {
  outline: none; }

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider .slides > li {
  display: none; }
.flexslider .slides img {
  width: 100%;
  display: block; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  background: #111;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  zoom: 1; }
  .flexslider .slides {
    zoom: 1; }
    .flexslider .slides > li {
      width: 1280px;
      position: relative; }


/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
  zoom: 1;
  position: relative; }

/* Caption style */
/* IE rgba() hack */
.flex-caption {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom: 1;
  width: 96%;
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 16px; }

/* 横の次へ前へのナビゲーション */
.flex-direction-nav li a {
  width: 45px;
  height: 45px;
  display: block;
  position: absolute;
  top: 50%;
  cursor: pointer;
  text-indent: -9999px;
  background-color: #111;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .flex-direction-nav li a.flex-prev {
    left: -50px;
    background: url(../img/arrow-circle-left.png) no-repeat;
    opacity: 0; }
  .flex-direction-nav li a.flex-next {
    right: -50px;
    background: url(../img/arrow-circle-right.png) no-repeat;
    opacity: 0; }

#slider3 .flex-direction-nav li a.flex-prev {
  left: 0;
  background: url(../img/new-slider-button-l.png) no-repeat;
  opacity: 1;
  z-index: 200;
  width: 30px;
  height: 66px; }
#slider3 .flex-direction-nav li a.flex-next {
  right: 0;
  background: url(../img/new-slider-button-r.png) no-repeat;
  opacity: 1;
  width: 30px;
  height: 66px; }

.flexslider:hover .flex-direction-nav li a.flex-prev {
  left: 10px;
  background: url(../img/arrow-circle-left.png) no-repeat;
  opacity: 1; }
.flexslider:hover .flex-direction-nav li a.flex-next {
  right: 10px;
  background: url(../img/arrow-circle-right.png) no-repeat;
  opacity: 1; }

.flex-direction-nav li .next {
  background-position: -52px 0;
  right: -5px;
  background: url(images/arrow_right.png) no-repeat 0 0; }
.flex-direction-nav li .prev {
  left: 5px;
  background: url(images/arrow_left.png) no-repeat 0 0; }
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default; }

/* 下のナビゲーション */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  /*滚动条不显示按钮*/ 
  display: none;
}

#slider3 .flex-control-nav {
  width: 100px;
  position: absolute;
  top: 80px;
  right: 25px;
  text-align: center;
  height: 100px;
  font-size: 14px; }

.flex-control-nav li {
  margin: 0 0 0 5px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

#slider3 .flex-control-nav li {
  margin: 0 0 0 5px;
  /* display: inline-block; */
  zoom: 1;
  *display: inline;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0; }

.flex-control-nav li:first-child {
  margin: 0; }
.flex-control-nav li a {
  width: 100px;
  height: 5px;
  display: block;
  background: #efefef;
  cursor: pointer;
  text-indent: -9999px; }
  .flex-control-nav li a:hover {
    background-position: 0 -13px; }
  .flex-control-nav li a.flex-active {
    background: #c80104;
    cursor: default; }

#slider3 .flex-control-nav li a {
  width: 100px;
  height: 100px;
  display: none;
  background: none;
  cursor: pointer;
  text-indent: 0;
  color: #fff;
  opacity: 0; }
  #slider3 .flex-control-nav li a:hover {
    background-position: 0 -13px; }
  #slider3 .flex-control-nav li a.flex-active {
    background: none;
    cursor: default;
    color: #000;
    opacity: 1;
    display: block; }

#link {
  padding-top: 40px; }

header {
  /* width:980px; */
  margin: 0 auto;
  background: #fff;
  padding: 80px 0 10px;
  line-height: 1; 
}
  header:after {
    content: "";
    clear: both;
    display: table; }
  header a:hover {
    color: #333; }

#header-top-wrap {
  background-color: #fff; }
  #header-top-wrap__head {
    width: 980px;
    margin: 5px auto 0px;
    color: #999;
    font-size: 11px;
    line-height: 2em; }

#header-top {
  /* overflow: hidden; */
  background-color: #fff;
  width: 980px;
  margin: 0 auto;
  height: 51px; 
  position: relative;
 }

#header-guide {
  width: 319px;
  float: left; }
  #header-guide li {
    width: 151px;
    float: left;
    line-height: 4.2em;
    text-align: center;
    font-size: 12px;
    background: url(../img/header_slash.png) no-repeat 3% 40%;
    position: relative; }
    #header-guide li:first-child {
      width: 168px; }
      #header-guide li:first-child a {
        display: block;
        background: url(../img/header_under.png) no-repeat 93% 47%; }
    #header-guide li ul {
      display: none; }
    #header-guide li a {
      display: block;
      background: url(../img/header_under.png) no-repeat 85% 49%; }
  #header-guide ul.level-1 {
    position: absolute;
    z-index: 300 !important;
    background: #fff;
    /* overflow: hidden; */
    height: auto;
    width: 170px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.039);
    display: none; }
    #header-guide ul.level-1 li {
      position: relative;
      background: none;
      background-color: #fff;
      float: none;
      width: 91%;
      text-align: left;
      padding-left: 9%; }
      #header-guide ul.level-1 li:hover {
        background-color: #f5f5f5; }
      #header-guide ul.level-1 li a {
        background: none; }

/* header-sns */
#header-sns-wrapper {
  width: 90px;
  padding: 0 0 0 20px;
  float: left;
  background: url(../img/header_slash.png) no-repeat 3% 40%; }

#header-sns .FS2_repeater {
  /* font-family: Times New Roman; */
  font-size: 12px;
  width: 161px;
  float: left;
  padding: 20px 40px 0 33px; }
#header-sns-in {
  overflow: hidden;
  padding: 12px 0; }
  #header-sns-in li {
    width: 25px !important;
    height: 25px;
    float: left;
    margin: 0 10px 0 0; }
    #header-sns-in li:hover {
      background-position: bottom !important; }
    #header-sns-in li a {
      width: 25px !important;
      height: 26px;
      display: block; }
  #header-sns-in .h-sns01 {
    background: url(../img/header_fb.png) no-repeat; }
  #header-sns-in .h-sns02 {
    background: url(../img/header_tw.png) no-repeat; }
  #header-sns-in .h-sns03 {
    background: url(../img/header_inst.png) no-repeat; }
  #header-sns-in .h-sns04 {
    background: url(../img/header_mail.png) no-repeat; }
  #header-sns-in .h-sns05 {
    background: url(../img/header_line.png) no-repeat; }

#scroll {
  float: right; 
  position: absolute;
  right: 0;
  top: -80px;
}
  #scroll li {
    float: left;
   }
.gray { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
/* header-middle */
.header-middle-wrap {
  background-color: #111;
  position: relative;
  /*z-index: 1;*/
  height: 64px; }

.header-middle {
  background-color: #111;
  overflow: hidden;
  width: 980px;
  margin: 0 auto;
  height: 64px; }

.header-middle__head {
  padding: 16px 0;
  float: left;
  margin: 0 12px 0 0; }

.header-middle__ship {
  float: left;
  font-size: 13px;
  font-size: 0.8125rem;
  width: 323px;
  padding: 13px 0 13px 51px;
  margin: 14px 0 0 0;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/hd_truck.png) no-repeat 6% center; }
  .header-middle__ship a {
    color: #fff; }
    .header-middle__ship a:hover {
      opacity: 0.7;
      color: #fff !important; }

.header-middle h2 {
  width: 72px;
  height: 84px;
  float: left;
  margin: 0 23px 0 0; }

#h-comments {
  font-size: 10px;
  position: absolute;
  top: 18px;
  right: 1px;
  color: #fff;
  background-color: #c70003;
  width: 14px;
  border-radius: 100%;
  height: 10px;
  text-align: center;
  padding: 2px 0; }

.h-ship {
  overflow: hidden;
  float: left;
  margin: 0;
  height: 64px; }
  .h-ship:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    vertical-align: middle; }
  .h-ship__icon {
    display: inline-block;
    float: left;
    width: 33px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle; }
    .h-ship__icon.truck {
      background-image: url(../img/hd_truck.png); }
    .h-ship__icon.line {
      background-image: url(../img/hd_line.png); }
    .h-ship__icon.point {
      background-image: url(../img/hd_point.png); }

.h-ship__list {
  display: inline-block;
  width: 126px;
  padding: 0;
  font-size: 11px;
  line-height: 1.5;
  vertical-align: middle;
  border-left: 1px solid #ddd; }

.h-ship__link {
  color: #fff; }

.h-ship1 {
  margin: 0; }

.h-ship2 {
  margin: 0 7px 0 0; }

.h-ship3 {
  margin: 0; }

.h-fav {
  overflow: hidden;
  float: right;
  width: 460px;
  margin: 0 0 0 -1px; }
  .h-fav__icon {
    display: block;
    margin: 0 auto;
    height: 45px;
    width: 72px !important;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle; }
    .h-fav__icon.flag {
      background-image: url(../img/hd_flag.png); }
    .h-fav__icon.abox {
      background-image: url(../img/hd_abox.png); }
    .h-fav__icon.coupon {
      background-image: url(../img/hd_ticket.png); }
    .h-fav__icon.fav {
      background-image: url(../img/hd_fav.png); }
    .h-fav__icon.gift {
      background-image: url(../img/hd_gift.png); }
    .h-fav__icon.cart {
      background-image: url(../img/hd_cart.png); }
    .h-fav__icon.review {
      background-image: url(../img/dld.png); }
  .h-fav__list {
    /* margin:10px 0; */
    float: left;
    width: 87px;
    border-left: 1px solid #515151;
    padding-bottom: 7px;
    color: #fff;
    text-align: center;
    font-size: 9px;
    font-size: 0.5625rem;
    font-weight: bold;
    position: relative;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }
    .h-fav__list:nth-child(4){
    	width: 106px;
    }
    .h-fav__list:last-child {
      border-right: 1px solid #515151; }
    .h-fav__list a {
      color: inherit;
      display: block; }
      .h-fav__list a:hover {
        color: #fff; }
  .h-fav__list-1 {
    background: #fff;
    font-size: 11px;
    width: 340px;
    margin: 0 5px 9px 0;
    height: 25px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left; }
    .h-fav__list-1 a {
      display: block;
      padding: 0 10px;
      color: #d60000; }
    .h-fav__list-1:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 11px;
      border-color: transparent transparent transparent #ffffff;
      position: absolute;
      left: 10px;
      bottom: -8px; }
  .h-fav__list-2 {
    border-radius: 0;
    float: right;
    margin: 0;
    width: 95px;
    height: auto; }
    .h-fav__list-2 a {
      color: #d60000;
      display: block;
      padding: 34px 0 0 0;
      background: #fff url(../img/hd_cart.png) no-repeat center 10px; }

.flag-number {
  border-radius: 30px;
  position: absolute;
  right: 30px;
  top: 10px;
  text-align: center;
  width: 13px;
  height: 13px;
  line-height: 13px;
  background: #c70003; }
h3.pickup-title{
	 text-align: center;
   font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
   margin-top: 45px;
   font-size: 18px;
   font-weight: 700;
   letter-spacing: .1rem;
   padding-bottom: 4px;
}
div.top-pickup{
	max-width: 1200px;
	margin: 16px auto;
	display: table;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
div.top-pickup a{
	padding: 10px;
	display: table-cell;
}
div.top-pickup a img{
	width: 100%;
}
/* gnavi */
#gnavi-wrap {
  background-color: #fff; }

#gnavi {
  width: 980px;
  margin: 0 auto 10px;
  position: relative;
  z-index: 2; }
  #gnavi #dropmenu {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: stretch;
    /* Safari */
    align-items: stretch; }
  #gnavi ul {
    height: 60px;
    letter-spacing: -0.4em;
    text-align: justify;
    width: 980px; }
    #gnavi ul ul li {
      display: none; }
    #gnavi ul li {
      -webkit-flex-grow: 1;
      /* Safari */
      flex-grow: 1;
      display: inline-block;
      font-size: 11px;
      width: 67px;
      vertical-align: middle;
      text-align: center;
      background: #fff;
      padding: 0;
      letter-spacing: 0em;
      line-height: 1.25em;
      position: relative;
      border-right: dotted 1px #cbcbcb; }
      #gnavi ul li:before {
        content: "";
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle; }
      #gnavi ul li:hover {
        background: #4b4a4a; }
        #gnavi ul li:hover a {
          color: #fff; }
    #gnavi ul .h-b-fashion ul.h-brand {
      margin: 0 0 0 -293px;
      height: 170px; }
    #gnavi ul .h-b-fashion ul.h-ladies {
      margin: 0 0 0 0;
      width: 312px;
      height: 50px; }
    #gnavi ul .h-b-fashion ul.h-mens {
      margin: 0 0 0 0;
      width: 307px;
      height: 50px; }
    #gnavi ul .h-b-abox {
      padding: 0;
      background-color: #efefef;
      overflow: hidden;
      text-align: center; }
      #gnavi ul .h-b-abox a {
        padding: 0;
        vertical-align: middle;
        text-align: center; }
        #gnavi ul .h-b-abox a img {
          padding: 0;
          /* display: table-cell; */
          line-height: 60px;
          width: 55px; }
        #gnavi ul .h-b-abox a:hover img {
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          -o-filter: invert(100%);
          -ms-filter: invert(100%);
          filter: invert(100%); }
    #gnavi ul li a {
      padding: 15px 0;
      /* height: 60px; */
      display: inline-block;
      width: 100%;
      text-decoration: none;
      vertical-align: middle; }
    #gnavi ul .h-b-list a,
    #gnavi ul .h-b-fashion a {
      padding: 10px 0; }
    #gnavi ul .h-b-new,
    #gnavi ul .h-b-rank,
    #gnavi ul .h-b-list {
      display: inline-block;
      font-size: 11px;
      width: 65px;
      vertical-align: middle;
      background-color: #efefef; }
    #gnavi ul .h-b-new:hover,
    #gnavi ul .h-b-rank:hover,
    #gnavi ul .h-b-list:hover,
    #gnavi ul .h-b-abox:hover {
      background: url(../img/header_bg.png); }


/* header-bottom */
.header-bottom {
  width: 980px;
  margin: 0 auto;
  position: relative; 
}
  .header-bottom__ul {
    margin: 12px 0 0 0;
    width: 450px;
    float: left; }
  .header-bottom__list {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 110px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #dadada;
    text-align: center;
    font-size: 11px;
    margin: 0 8px 0 0;
    position: static;
    overflow: hidden; }
    .header-bottom__list:last-child {
      margin: 0; }
    .header-bottom__list:hover {
      background: #333;
      color: #fff !important;
      overflow: visible; }
    .header-bottom__list--small {
      width: 100px; }
  .header-bottom__link {
    display: block;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    color: inherit;
    position: relative;
    z-index: 1001; }
    .header-bottom__link:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -5px;
      bottom: 0;
      right: 5px;
      width: 7px;
      height: 7px;
      margin: auto 0 auto 10px;
      vertical-align: middle;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      border-bottom: 1px solid #858585;
      border-right: 1px solid #858585; }
    .header-bottom__link:hover {
      color: #fff !important; }
    .header-bottom__link span:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      right: 50px;
      bottom: -13px;
      opacity: 0; }
    .header-bottom__link span:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #dddddd transparent;
      position: absolute;
      right: 50px;
      bottom: -11px;
      opacity: 0; }
    .header-bottom__link--small:after {
      display: none; }
    .header-bottom__link--small.red {
      color: #c00;
      letter-spacing: 0.1em; }

.h-brandlist__number {
  margin: 0 0 10px; }
  .h-brandlist__number:after {
    content: "";
    display: table;
    clear: both; }
  .h-brandlist__number li {
    float: left;
    border: #d5d5d5 1px solid;
    margin-right: 5px;
    font-size: 12px;
    font-size: 0.75rem; }
    .h-brandlist__number li a {
      display: block;
      padding: 7px 7px;
      color: #333; }
    .h-brandlist__number li.h-pickup {
      background: #eeeeee; }
    .h-brandlist__number li.lu-pickup {
      background: #e5c062; }
.h-brandlist__list {
  margin-bottom: 10px; }
  .h-brandlist__list:after {
    content: "";
    display: table;
    clear: both; }
  .h-brandlist__list li {
    float: left;
    width: 230px;
    text-align: left;
    background: #eeeeee;
    margin: 0 5px 9px 0;
    border: 1px solid #eee;
    transition: .4s; }
    .h-brandlist__list li:hover {
      color: #000;
      background: #fff; }
    .h-brandlist__list li a {
      text-decoration: none;
      display: block; }
    .h-brandlist__list li a p {
      margin: 10px;
      font-size: 13px;
      color: #333; }
    .h-brandlist__list li a span {
      display: block;
      font-size: 10px; }
.h-brandlist__more {
  display: block;
  width: 230px;
  margin: 0 auto;
  color: #fff !important;
  background: #333;
  padding: 5px 0;
  border-radius: 3px;
  font-size: 13px;
  font-size: 0.8125rem; }

.h-open {
  border: #ddd solid 1px;
  position: absolute;
  background: #fff;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 60px;
  z-index: 1000;
  width: 980px;
  padding: 20px 10px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  .h-open-2 {
    padding: 5px 24px; }
  .h-open__list {
    display: inline-block;
    line-height: 1.25; }
  .h-open__link {
    display: block;
    padding: 5px;
    background: #eee; }

.header-bottom__list:hover {
  opacity: 1; }
  .header-bottom__list:hover a {
    opacity: 1; }
  .header-bottom__list:hover .h-open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 100; }
  .header-bottom__list:hover .header-bottom__link span:after, .header-bottom__list:hover .header-bottom__link span:before {
    opacity: 1; }

.h-category {
  border-right: 1px solid #dadada;
  width: 220px; }
  .h-category__list {
    text-align: left; }
    .h-category__list.active .h-category__link {
      background: #e6e6e6; }
    .h-category__list.active .h-category__under {
      display: block;
      opacity: 1;
      visibility: visible; }
  .h-category__link {
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    font-size: 0.875rem;
    width: 190px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
  .h-category__under {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 0;
    left: 240px;
    padding: 0 0 0 20px;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out; }
  .h-category-second {
    margin: 20px 0 20px 0;
    text-align: left;
    letter-spacing: -.8em;
    /* border-top: solid 1px #ccc; */
    border-left: solid 1px #ccc; }
    .h-category-second li {
      display: inline-block;
      width: 230px;
      text-align: center;
      letter-spacing: 0;
      border-top: #ccc solid 1px;
      border-right: #ccc solid 1px;
      border-bottom: #ccc solid 1px;
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -ms-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .h-category-second li:hover {
        background: #666;
        color: #fff; }
        .h-category-second li:hover a {
          color: #fff; }
      .h-category-second li a {
        font-size: 13px;
        display: block;
        padding: 15px 0; }
    .h-category-second li span:after {
      content: "\025B6";
      font-size: 10px;
      display: inline-block;
      margin: 0 0 0 8px; }
    .h-category-second li:nth-of-type(n+4) {
      border-top: 0; }

#h-search {
  float: left;
  margin: 10px 8px 0 0;
  width: 522px; }
  #h-search input.h-txt {
    font-size: 14px;
    padding: 0 0 0 10px;
    background: #e6e6e6;
    border: 1px solid #333;
    color: #000;
    width: 475px;
    height: 40px;
    line-height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    #h-search input.h-txt::placeholder {
      opacity: 0.5; }

.button1 {
  vertical-align: bottom;
  margin-left: 0; }

span.arrow {
  display: none; }

#dropmenu ul.level-1 {
  width: 798px;
  background: rgba(0, 0, 0, 0.8);
  height: auto;
  margin-top: 0;
  overflow: hidden;
  padding: 0 0 0 15px;
  /* display: none; */ }
  #dropmenu ul.level-1 li {
    width: 133px;
    display: block;
    float: left;
    padding: 0 0 0 5px;
    text-align: left;
    margin: 0 15px 0 0;
    font-size: 11px;
    background: none;
    height: auto;
    border-right: 0; }
    #dropmenu ul.level-1 li a {
      padding: 19px 0;
      color: #fff; }
      #dropmenu ul.level-1 li a:hover {
        padding: 19px 0;
        color: #fff; }
    #dropmenu ul.level-1 li.btmline {
      border-bottom: dashed 1px #60605f; }
#dropmenu ul.h-bag {
  height: 105px; }
#dropmenu ul.h-wallet {
  width: 580px;
  height: 50px; }
  #dropmenu ul.h-wallet.level-1 li {
    width: 123px;
    height: 50px; }
#dropmenu ul.watch {
  width: 475px;
  height: 50px; }
#dropmenu ul.h-accessary {
  width: 133px;
  height: 50px; }
#dropmenu ul.h-shoes {
  width: 310px;
  height: 50px; }

span.block {
  display: block; }

div#header-special {
  text-align: center;
  background: url(../img/header/171124_weekendsale_obi_1.jpg) repeat-x;
  /*　通常　160113obi30.jpg　*/
  background-size: auto 30px; }
  div#header-special a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
	
div#header-point {
  text-align: center;
  background: url(../img/header/obi30_180924_4hpoint10.jpg) repeat-x; }
  div#header-point a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
	
div#header-point2 {
  text-align: center;
  background: url(../img/header/180926obi_coupon.jpg) repeat-x; 
  /**/
  }  
  
  div#header-point2 a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
	
div#header-point3 {
  text-align: center;
  background: url(../img/header/obi30_line2.jpg) repeat-x; }
  div#header-point3 a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
	
div#header-point4 {
  text-align: center;
  background: url(../img/header/180318obi30_point5_gradation.jpg) repeat-x; }
  div#header-point4 a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
	
div#header-xmas {
  text-align: center;
  background: url(../img/header/obi30_newnormal_point.jpg) repeat-x; }
  div#header-xmas a {
    white-space: nowrap;
    overflow: hidden;
    text-indent: 200%;
    display: block;
    height: 30px; }
div#header-wrap {
  width: 100%;
  /*margin: 0 0 -165px 0;*/
  position: absolute;
  z-index: 100;
  top: 0; }
  div#header-wrap iframe {
    width: 100%;
    height: 420px;
    /*height: 380px;*/ }
    div#header-wrap iframe.iframe-height {
      height: 100vh;
      /*height: 100vh;*/ }

/*2015/11/24 START*/
/*2015/11/24 END*/
/*170612_obi30_coupon*/
/*2015/11/24 END*/
/*2015/12/08 START*/
/*2015/12/08  END*/
div#h_sale-banner {
  width: 980px;
  margin: 10px auto; }

/* main */
section#fixed-banner {
  position: fixed;
  top: 195px;
  right: 0;
  z-index: 900; }
section#fixed-banner2 {
  position: fixed;
  top: 295px;
  right: 0;
  z-index: 900; }
section#fixed-banner ul li {
  margin: 0 0 20px;
  position: relative; }

span#fixed-point {
  position: absolute;
  top: 69px;
  left: 17px;
  z-index: 901;
  font-size: 24px;
  color: #ff0000;
  font-weight: bold; }

#main {
  width: 750px;
  float: left;
  margin: 0; }
  #main h2 {
    text-align: center;
    font-family: Times New Roman;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: 3px solid #111; }

div#main-wrap {
  width: 870px;
  float: right; }
  div#main-wrap h2 {
    text-align: center;
    font-family: Times New Roman;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    border-bottom: 3px solid #111; }
  div#main-wrap .vertical h2 {
    padding: 15px;
    border-bottom: 1px solid #111;
    border-top: 3px solid #111;
    background: url(../img/main-vertical-bg.png);
    margin: 0 auto 20px;
    width: 810px;
  }
  div#main-wrap h2#main-other-site {
    font-size: 13px;
    text-align: left;
    padding: 10px 20px;
    border: 1px dotted #111;
    margin: 0 auto 40px;
    background-color: #fff;
    width: 690px; }

#main .vertical h2 {
  padding: 15px;
  border-bottom: 1px solid #111;
  border-top: 3px solid #111;
  background: url(h../img/main-vertical-bg.png);
  margin: 0 auto 20px;
  width: 700px; }

.new-top {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10px;
  background: url(../img/new-left-top-d.png) no-repeat left, url(../img/new-right-top-d.png) no-repeat right;
  -pie-background: url(../img/new-left-top-d.png) no-repeat left, url(../img/new-right-top-d.png) no-repeat right;
  behavior: url(/gold/culture/common/js/PIE.htc);
  z-index: 1;
  margin: 0;
  border: none;
  outline: none; }

div.new-wrapper {
  overflow: hidden;
  border: 1px solid #e5e5e5;
  background: url(../img/new-bg.png) repeat-x top, url(../img/new-bg.png) repeat-x bottom, url(../img/new-bg.png) repeat-y left, url(../img/new-bg.png) repeat-y right;
  -pie-background: url(../img/new-bg.png) repeat-x top, url(../img/new-bg.png) repeat-x bottom, url(../img/new-bg.png) repeat-y left, url(../img/new-bg.png) repeat-y right;
  behavior: url(/gold/culture/common/js/PIE.htc);
  position: relative;
  z-index: 0;
  height: auto;
  display: block;
  background-color: #fff;
  padding: 0 30px 30px;
  margin: 0 0 30px; }

#brand-ranking div.new-wrapper {
  background: none;
  background-color: #fff;
  padding: 40px 0 20px; }
  #brand-ranking div.new-wrapper h2 {
    margin: 0 auto; }
  #brand-ranking div.new-wrapper ul.tabs {
    overflow: hidden;
    margin: 0 auto 25px;
    width: 730px;
    border-bottom: 2px solid #111; }
    #brand-ranking div.new-wrapper ul.tabs li {
      float: left;
      margin: 9px 0;
      padding: 0 12px;
      border-right: 2px solid #888;
      font-size: 13px;
      font-weight: bold; }
      #brand-ranking div.new-wrapper ul.tabs li a {
        padding: 0 5px;
        border-radius: 5px;
        opacity: 0.99; }
        #brand-ranking div.new-wrapper ul.tabs li a.active {
          background: rgba(214, 212, 211, 0.3); }

#newitems, #item-ranking, #brand-ranking, #buyer-pickup, #contents, #category, #brand, #service, #shopping-guide {
  position: relative;
  /* height: 500px; */
  z-index: 0; }

.new-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 10px;
  background: url(../img/new-left-bottom-d.png) no-repeat left, url(../img/new-right-bottom-d.png) no-repeat right;
  -pie-background: url(../img/new-left-bottom-d.png) no-repeat left, url(../img/new-right-bottom-d.png) no-repeat right;
  behavior: url(/gold/culture/common/js/PIE.htc);
  z-index: 1;
  margin: 0; }

/* new-arrivals */
ul#masonry {
  margin: 0 0 0 10px;
  width: 870px; }

#main-new-arrivals {
  margin: 0 auto 30px; }
  #main-new-arrivals ul {
    overflow: hidden; }
    #main-new-arrivals ul li {
      width: 271px;
      float: left;
      background-color: white;
      margin: 0 19px 13px 0;
      position: relative; }
      #main-new-arrivals ul li a {
        display: block; }
      #main-new-arrivals ul li img {
        width: 291px;
        float: left;
        margin: 0 19px 13px 0; }
      #main-new-arrivals ul li span {
        padding: 10px 20px 20px 20px;
        display: block;
        background-color: #fff; }
        #main-new-arrivals ul li span.arr-abox-1 {
          padding: 0;
          display: block;
          background-color: none;
          width: 125px;
          height: 50px;
          background: url(../img/arr-abox.png) no-repeat top;
          position: absolute;
          top: 5px;
          left: 104px; }
        #main-new-arrivals ul li span.arr-abox-2 {
          padding: 0;
          display: block;
          background-color: none;
          width: 125px;
          height: 50px;
          background: url(../img/arr-abox.png) no-repeat bottom;
          position: absolute;
          top: 5px;
          left: 104px; }
        #main-new-arrivals ul li span h3 {
          font-size: 13px;
          font-weight: bold;
          margin: 0 0 1em; }
        #main-new-arrivals ul li span p {
          font-size: 12px;
          line-height: 1.5em; }
  #main-new-arrivals h3.arr-more {
    width: 520px;
    height: 30px;
    margin: 0 auto;
    background: url(../img/main-arrival.png);
    display: none; }
    #main-new-arrivals h3.arr-more:hover {
      background-position: bottom; }
    #main-new-arrivals h3.arr-more a {
      display: block;
      text-indent: 300%;
      white-space: nowrap;
      overflow: hidden;
      height: 30px; }

/*//new arrivals*/
/* buyer-pickup */
#buyer-pickup h2 {
  margin: 0 0 30px; }
#buyer-pickup ul li {
  border-bottom: 1px solid #999;
  overflow: hidden;
  width: 682px;
  margin: 0 auto; }
  #buyer-pickup ul li:last-child {
    border-bottom: none; }
  #buyer-pickup ul li ul li {
    float: left;
    width: 335px;
    border-bottom: none;
    padding: 15px 0 0 5px; }
    #buyer-pickup ul li ul li a {
      display: block; }
#buyer-pickup img {
  float: left;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0; }
#buyer-pickup h3 {
  float: left;
  font-size: 13px;
  font-weight: bold;
  margin: 15px 0;
  padding: 0 0 0 10px; }
#buyer-pickup p {
  float: left;
  font-size: 12px;
  width: 212px;
  padding: 0 0 0 10px; }

/* category */
#category ul {
  overflow: hidden;
  width: 680px;
  margin: 30px auto; }
  #category ul li {
    float: left; }
    #category ul li a {
      display: block; }
#category h3 {
  width: 520px;
  height: 30px;
  margin: 0 auto;
  background: url(../img/main-cat-list.png) no-repeat; }
  #category h3 a {
    width: 520px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 200%;
    display: block; }
  #category h3:hover {
    background-position: bottom; }

/* item ranking */
#item-ranking div.new-wrapper {
  background: none;
  background-color: #fff;
  padding: 40px 0 20px; }
  #item-ranking div.new-wrapper h2 {
    margin: 0 auto; }
  #item-ranking div.new-wrapper ul.tabs02 {
    overflow: hidden;
    margin: 0 auto 25px;
    width: 730px;
    /*border-bottom: 2px solid #111;*/
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-align-content: stretch;
    align-content: stretch; }
    #item-ranking div.new-wrapper ul.tabs02 li {
      float: left;
      margin: 9px 0;
      padding: 0 14px 0 0;
      /*border-right: 2px solid #888;*/
      font-size: 13px;
      font-weight: bold; }
      #item-ranking div.new-wrapper ul.tabs02 li:last-child { border:0; }
      #item-ranking div.new-wrapper ul.tabs02 li a {
        padding: 0 24px;
        border-radius: 5px;
        opacity: 0.99;
        background: rgba(0, 0, 0, 0.1);
      }
        #item-ranking div.new-wrapper ul.tabs02 li a.active {
          background: rgba(0, 0, 0, 1); color: #FFFFFF; }

#newitems, #item-ranking, #brand-ranking, #buyer-pickup, #contents, #category, #brand, #service, #shopping-guide {
  position: relative;
  /* height: 500px; */
  z-index: 0; }

/* brand */
#brand ul {
  overflow: hidden;
  width: 680px;
  margin: 30px auto; }
  #brand ul li {
    float: left; }
    #brand ul li a {
      display: block; }
#brand h3 {
  width: 520px;
  height: 30px;
  margin: 0 auto;
  background: url(../img/main-brand-list.png) no-repeat; }
  #brand h3 a {
    width: 520px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 200%;
    display: block; }
  #brand h3:hover {
    background-position: bottom; }

/*contents*/
#contents .new-wrapper {
  padding: 40px 0 30px 0;
  background: none;
  background-color: #fff; }

.pickup_brand_area {
  margin-bottom: 30px;
  border-bottom: none; }

.mainCont {
  border-top: #CCC solid 1px;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  line-height: 1.3em; }

.maintop {
  border-top: #000 solid 1px;
  margin: 0;
  padding: 0;
  line-height: 1.3em; }

.mainCont h4 {
  width: 100%;
  height: auto;
  border-top: #000 solid 3px;
  padding: 30px 0 20px 0;
  margin: 3px 0 0 0;
  clear: both; }

.pb_box {
  width: 100%;
  height: 188px;
  padding: 25px 0;
  clear: both; }
  .pb_box li.pb_img {
    width: 170px;
    height: 188px;
    float: left; }
    .pb_box li.pb_img img {
      width: 100%;
      height: auto; }
  .pb_box li.pb_info {
    color: #000;
    width: 547px;
    float: right;
    margin-right: 5px; }
    .pb_box li.pb_info a {
      text-decoration: none; }
    .pb_box li.pb_info p {
      font-size: 14px;
      line-height: 1.8;
      padding-left: 27px;
      color: #999; }
      .pb_box li.pb_info p.pb_info_title {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px; }

ul.abox_left {
  padding-bottom: 10px; }
  ul.abox_left li {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc; }
    ul.abox_left li a img {
      width: 40%;
      display: inline-block; }
    ul.abox_left li p {
      display: inline-block;
      width: 57% !important;
      padding: 0 0 0 3% !important;
      vertical-align: top; }

.pickup_brand_box li.pickup_brand_top {
  padding: 0;
  width: 755px; }

ul.abox_list {
  margin: 0 auto 30px;
  width: 730px;
  overflow: hidden; }
  ul.abox_list li {
    width: 182px;
    float: left;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    min-height: 192px; }
    ul.abox_list li a {
      text-decoration: none;
      color: #808080; }
      ul.abox_list li a:hover img {
        filter: url("data:image/svg+xml;utf8,<svg xmlns='https://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
        /* Firefox 10+ */
        filter: gray;
        /* IE6-9 */
        -webkit-filter: grayscale(100%);
        /* Chrome 19+ & Safari 6+ */
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transform: translateZ(0); }
    ul.abox_list li img {
      width: 188px;
      margin: 0; }
    ul.abox_list li h3 {
      padding: 5px 5px 0;
      font-size: 11px;
      height: 3em;
      color: #111;
      font-weight: bold; }
    ul.abox_list li p {
      padding: 5px;
      font-size: 10px;
      color: #111; }
ul.pb_box {
  /* border-bottom: 2px dotted #ccc; */
  width: 730px;
  margin: 0 auto 20px; }

.pickup_brand_area {
  margin-bottom: 30px;
  border-bottom: none;
  overflow: hidden;
  /* border-bottom: #ccc dotted 2px; */ }
  .pickup_brand_area h4 {
    width: 730px;
    margin: 0 auto 30px;
    border-bottom: dotted #ccc 2px;
    padding: 0 0 3px; }
    .pickup_brand_area h4 span.date {
      font-size: 12px;
      display: block;
      color: #000;
      float: right;
      padding: 19px 5px 0 0;
      font-weight: normal; }

ul.abox_left {
  padding-bottom: 10px; }
  ul.abox_left li {
    padding: 15px 0px;
    border-bottom: 1px solid #ccc; }
    ul.abox_left li a img {
      width: 40%;
      display: inline-block; }
    ul.abox_left li p {
      display: inline-block;
      width: 57% !important;
      padding: 0 0 0 3% !important;
      vertical-align: top; }

h4.abox_lefthead {
  border-bottom: solid #ccc 1px;
  font-size: 14px;
  padding: 0.5em 0;
  color: #111; }

p.trim {
  width: 188px;
  height: 120px;
  overflow: hidden;
  padding: 0 !important; }

h4.abox_lefthead {
  border-bottom: solid #ccc 1px;
  font-size: 14px;
  padding: 0.5em 0;
  color: #111; }

p.trim {
  width: 182px;
  height: 120px;
  overflow: hidden;
  padding: 0 !important; }

div.list_link {
  width: 171px;
  height: 20px;
  padding: 5px;
  margin: 20px 5px 0 0;
  background: url(../img/main-contents-back.png) left top repeat;
  float: right; }
  div.list_link:hover {
    background-position: bottom; }
  div.list_link.abox-more {
    width: 171px;
    height: 20px;
    padding: 5px;
    margin: 20px 5px 0 0;
    background: url(../img/abox-more.png) left top repeat;
    float: right; }
  div.list_link:hover {
    background-position: bottom; }
  div.list_link a {
    padding: 6px;
    display: block;
    /* background: url(../img/arrow_01.gif) no-repeat #FFF; */
    color: #000;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-position: 150px center; }
    div.list_link a:hover {
      background-position: 150px center; }

.a_date {
  float: left;
  padding-left: 27px;
  margin: 32px 0 0 0;
  font-size: 14px; }
  .a_date a {
    color: #111;
    text-decoration: none; }
    .a_date a:hover {
      color: #d10000; }

/* photo blog */
.photo_blog {
  width: 720px;
  /* border-top: #CCC dotted 2px; */
  padding: 10px 0 40px 0;
  margin: 3px 15px 0 15px;
  overflow: hidden;
  border-bottom: #ccc dotted 2px; }

.tate {
  float: left;
  background: url(../img/blog_photo_bg.jpg) left top no-repeat;
  padding: 25px 25px 50px 16px; }

.yoko {
  width: 295px;
  height: 250px;
  float: left;
  background: url(../img/blog_photo_bg_yoko.jpg) left top no-repeat;
  margin: 0;
  padding: 42px 24px 36px 15px; }
  .yoko p.coment {
    width: 100%;
    height: auto;
    padding: 10px 0 0 0;
    font-size: 12px;
    text-align: center; }

.yoko_coment {
  width: 375px;
  height: auto;
  padding: 0;
  float: right; }
  .yoko_coment h4 {
    width: 410px;
    height: 65px;
    border-top: none;
    padding: 0 0 20px 0;
    clear: none;
    text-indent: -9999px;
    display: block;
    background: url(../img/main_title03_yoko.gif) left top no-repeat;
    background-size: 356px; }
  .yoko_coment p {
    width: 358px;
    padding: 5px 30px 23px 0;
    float: left;
    font-size: 12px; }

.photo_blog a.read_more {
  color: #C8000B;
  text-decoration: none; }
  .photo_blog a.read_more:hover {
    text-decoration: underline; }

.yoko_coment dl {
  width: 350px;
  height: 88px;
  margin: 0;
  float: left;
  padding: 10px;
  box-shadow: 1px 1px 3px #EFEFEF;
  /*CSS3*/
  -moz-box-shadow: 1px 1px 3px #EFEFEF;
  /* Firefox*/
  -webkit-box-shadow: 1px 1px 3px #EFEFEF;
  /* Google Chrome, Safari*/
  border: #F2F2F2 solid 1px; }
  .yoko_coment dl dt img {
    background: none;
    padding: 0 10px 0 0;
    float: left; }
  .yoko_coment dl dd {
    font-size: 10px;
    line-height: 1.2em; }
.yoko_coment p.date {
  padding: 0; }

.photo_blog dl dd span.name {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  display: block;
  padding: 0 0 5px 0; }

div#contents-sns {
  overflow: hidden;
  width: 680px;
  margin: 20px auto 0; }
  div#contents-sns ul {
    text-align: justify;
    width: 69%;
    margin: 0 auto; }
    div#contents-sns ul:after {
      content: "";
      display: inline-block;
      width: 100%;
      line-height: 0;
      height: 0; }
    div#contents-sns ul li {
      width: 136px;
      height: 40px;
      display: inline-block; }
      div#contents-sns ul li:hover {
        background-position-y: bottom !important; }
      div#contents-sns ul li.c-sns1 {
        background: url(../img/main-c-sns.png) no-repeat; }
      div#contents-sns ul li.c-sns2 {
        background: url(../img/main-c-sns.png) no-repeat;
        background-position: -136px 0; }
      div#contents-sns ul li.c-sns3 {
        background: url(../img/main-c-sns.png) no-repeat;
        background-position: -272px 0; }
      div#contents-sns ul li.c-sns4 {
        background: url(../img/main-c-sns.png) no-repeat;
        background-position: -408px 0; }
      div#contents-sns ul li.c-sns5 {
        background: url(../img/main-c-sns.png) no-repeat;
        background-position: -544px 0; }
      div#contents-sns ul li a {
        width: 136px;
        height: 40px;
        display: block;
        white-space: nowrap;
        text-indent: 200%;
        overflow: hidden; }

/* service */
#service h2 {
  margin: 0 0 5px; }
#service ul {
  overflow: hidden;
  padding: 30px 0 0 10px; }
  #service ul li {
    float: left;
    width: 215px;
    padding: 30px 0 30px 9px;
    border-right: 2px dotted #ccc; }
    #service ul li:last-child {
      border-right: none; }
    #service ul li img {
      float: left; }
    #service ul li h3 {
      float: left;
      font-size: 15px;
      padding: 0 0 0 10px;
      font-weight: bold; }
    #service ul li p {
      float: left;
      font-size: 12px;
      width: 146px;
      padding: 5px 0 0 10px;
      line-height: 1.5em; }
#service .new-wrapper {
  margin: 0 0 10px; }

#gift ul {
  overflow: hidden;
  margin: 0 0 30px; }
  #gift ul li {
    float: left; }
    #gift ul li:last-child {
      margin: 5px 0 0 14px; }

/* guide area */
#shopping-guide h2 {
  width: 730px;
  margin: 0 auto; }
#shopping-guide .new-wrapper {
  padding: 0;
  background: none;
  background-color: #fff; }

.guide_area {
  width: 755px;
  height: auto;
  margin: 0;
  padding: 0;
  background: none; }

dl.left {
  width: 349px;
  height: auto;
  padding: 20px 0 0 25px;
  float: left;
  font-size: 10px;
  border-right: #F7F7F7 solid 1px; }
dl.right {
  width: 350px;
  height: auto;
  padding: 20px 0 0 25px;
  float: left;
  font-size: 10px;
  text-align: left; }
dl.left dt, dl.right dt {
  width: 320px;
  height: auto;
  padding: 0 0 10px 0;
  border-bottom: #F7F7F7 solid 1px; }
dl.left dd, dl.right dd {
  width: 320px;
  height: auto;
  padding: 20px 0 50px 0;
  line-height: 1.5em;
  font-size: 11px; }
dl.left dd img, dl.right dd img {
  display: block;
  padding: 5px 0; }
dl.left dd a {
  text-decoration: underline; }
dl.right dd a {
  text-decoration: underline; }
dl.right dd.guide_l {
  width: 205px;
  height: auto;
  float: left;
  display: block;
  padding: 20px 0 0 0; }
dl.right dd.guide_r {
  width: 105px;
  height: auto;
  float: right;
  display: inline;
  padding: 20px 25px 40px 10px; }

/* list links */
ul li.list_link {
  width: 100%;
  height: 27px;
  padding: 5px;
  margin: 0 5px 0 0;
  background: url(../img/list_bg.gif) left top repeat;
  float: right;
  text-align: left; }
ul li.new {
  width: 161px;
  margin: 10px 5px 0 0; }
ul li.brand {
  margin: 10px 5px 0 0;
  width: 171px; }
ul li.list_link a {
  padding: 6px;
  display: block;
  background: url(../img/arrow_01.gif) no-repeat #FFF;
  color: #000;
  text-decoration: none; }
  ul li.list_link a:hover {
    color: #FFF;
    background: url(../img/arrow_01.gif) no-repeat #C8000B; }
ul li.new a {
  background-position: 140px center; }
  ul li.new a:hover {
    background-position: 140px center; }
ul li.brand a {
  background-position: 150px center; }
  ul li.brand a:hover {
    background-position: 150px center; }

/* rightside */
#rightSide {
  display: none; }

/* return top */
.pageTop {
  width: 750px;
  height: auto;
  margin: 0;
  padding: 30px 5px 30px 0;
  float: none;
  clear: both;
  display: block;
  overflow: hidden; }
  .pageTop a {
    width: 55px;
    height: 20px;
    margin: 0;
    padding: 0;
    float: right;
    text-indent: -9999px;
    display: block;
    background: url(../img/top_return.gif) left top no-repeat; }

/* footer */
#footer_box {
  width: 100%;
  height: auto;
  float: none;
  margin: 50px 0 0 0;
  padding: 40px 0 75px 0;
  clear: both;
  background: #000;
  overflow: hidden; }
  #footer_box .footer {
    width: 950px;
    margin: 0 auto;
    text-align: left; }
    #footer_box .footer a img {
      float: left;
      padding: 0 0 40px 0; }
    #footer_box .footer dl {
      width: 550px;
      height: auto;
      float: left;
      padding: 0 0 0 55px; }
      #footer_box .footer dl dt {
        font-size: 13px;
        padding: 0 0 5px 0;
        color: #FFF; }
      #footer_box .footer dl dd {
        font-size: 10px;
        padding: 0 0 8px 0;
        color: #FFF; }
    #footer_box .footer p {
      width: 550px;
      height: auto;
      font-size: 9px;
      color: #999;
      float: left;
      line-height: 1.4em;
      padding: 0 0 0 55px; }
    #footer_box .footer a#fcontact {
      width: 145px;
      height: 30px;
      text-indent: -9999px;
      display: block;
      background: url(../img/contact_btn.gif) left top no-repeat;
      float: right;
      margin: -20px 0 20px 0; }
    #footer_box .footer dl.shop_links {
      width: 100%;
      height: auto;
      float: none;
      clear: both;
      overflow: hidden;
      padding: 35px 0 40px 0;
      border-top: #292929 solid 1px;
      border-bottom: #292929 solid 1px; }
      #footer_box .footer dl.shop_links dt {
        width: 100%;
        padding: 0 0 20px 0;
        margin: 0 0 25px 0;
        background: url(../img/sitetitle_bg.gif) left bottom repeat-x; }
      #footer_box .footer dl.shop_links dd {
        width: 185px;
        /*  height: auto;
        */
        height: 40px;
        padding: 0 0 20px 50px;
        float: left;
        border-left: #666 solid 1px; }
        #footer_box .footer dl.shop_links dd.left_nop {
          /*  padding: 0 50px 20px 0;
          */
          width: 160px;
          margin-left: 20px;
          padding: 0 30px 20px 0;
          border-left: none; }
        #footer_box .footer dl.shop_links dd a {
          padding: 3px 0 0 23px;
          background: url(../img/arrow_03.gif) left center no-repeat;
          display: block;
          text-decoration: none;
          color: #FFF; }
    #footer_box .footer ul {
      clear: both;
      padding: 37px 0 0 0;
      float: left;
      width: 730px; }
      #footer_box .footer ul li {
        float: left;
        padding: 0 10px 0 0;
        line-height: 2em;
        font-size: 11px; }
        #footer_box .footer ul li a {
          font-size: 11px;
          text-decoration: none;
          color: #FFF; }
  #footer_box address {
    font-size: 9px;
    font-style: normal;
    float: right;
    color: #FFF;
    padding: 65px 0 0 0; }
  #footer_box .footer dl.shop_links dd a:hover, #footer_box .footer ul li a:hover {
    text-decoration: underline; }

hr.footer-hr {
  border-bottom: solid 1px #292929;
  width: 100%; }

footer#footer iframe {
  width: 100%; }

/* campaign list */
.campaign {
  width: 640px;
  float: right; }
  .campaign h2 {
    padding: 15px 0px;
    border-bottom: 1px solid #111;
    border-top: 3px solid #111;
    background: url(../img/main-vertical-bg.png);
    margin: 0 auto 20px;
    width: 640px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 24px;
    font-weight: bold; }
  .campaign ul {
    overflow: hidden;
    border-bottom: 1px solid #111;
    margin: 0 0 20px; }
    .campaign ul.b-none {
      border-bottom: none; }

li.modalbox {
 
  width: 640px;
  margin: 0 8px 0 0; }
  li.modalbox h3 {
    font-size: 13px;
    text-align: left;
    margin: 10px 0;
    font-weight: bold; }
  li.modalbox p {
    font-size: 12px;
    text-align: left;
    margin: 10px 0 30px;
    line-height: 1.5em; }
/*  li.modalbox.thrd {
    float: left !important;
    width: 208px;
    margin: 0 0 0 0; }*/
  li.modalbox img {
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }

/*side*/
div#sidebar-wrap {
  float: left;
  width: 300px;
  }

article#sidebar {
  width: 180px;
  float: left;
   }

#sidebar h2 {
  font-family: Times New Roman;
  margin: 0 0 20px 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  z-index: 2; }
  #sidebar h2 span {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 0 9px 0 0; }
  #sidebar h2:after {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1; }
#sidebar h3 {
  width: 181px;
  height: 40px;
  margin: 0 0 30px; }
  #sidebar h3 a {
    display: block;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
    height: 40px; }
  #sidebar h3:hover {
    background-position: bottom; }

ul.sidebar-sns {
  width: 165px;
  overflow: hidden;
  padding: 0 0 0 15px; }
  ul.sidebar-sns li {
    width: 41px;
    height: 41px;
    margin: 0 5px 11px;
    float: left;
    background: url(../img/side-sns.png) no-repeat; }
    ul.sidebar-sns li:hover {
      background-position: bottom; }
    ul.sidebar-sns li a {
      display: block;
      height: 40px;
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden; }
    ul.sidebar-sns li.side-a {
      background: url(../img/side-sns-abox.png); }
    ul.sidebar-sns li.side-l {
      background-position: -55px 0; }
      ul.sidebar-sns li.side-l:hover {
        background-position: -55px -40px; }
    ul.sidebar-sns li.side-t {
      background-position: -109px 0; }
      ul.sidebar-sns li.side-t:hover {
        background-position: -109px -40px; }
    ul.sidebar-sns li.side-f {
      background-position: 0px -88px; }
      ul.sidebar-sns li.side-f:hover {
        background-position: 0px -129px; }
    ul.sidebar-sns li.side-m {
      background-position: -55px -88px; }
      ul.sidebar-sns li.side-m:hover {
        background-position: -55px -129px; }
    ul.sidebar-sns li.side-i {
      background-position: -109px -88px; }
      ul.sidebar-sns li.side-i:hover {
        background-position: -109px -129px; }

div#sidebar-line {
  margin: 0 0 30px; }

/* new */
ul#s-new {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.039); }
  ul#s-new li {
    line-height: 2.4em;
    background: #fff;
    border-bottom: dotted 1px #e0e0e0;
    font-size: 12px;
    padding: 0 0 0 15px;
    /* font-weight:bold; */
    width: 165px; }
    ul#s-new li:hover {
      background: #f5f5f5; }
    ul#s-new li a {
      display: block; }
    ul#s-new li span {
      font-size: 12px;
      margin: 0;
      color: #999;
      display: block; }

.sidebar-new-list h3 {
  background: url(../img/side-new.png) no-repeat; }

/* time sale */
div.sidebar-timesale {
  position: relative;
  margin: 0 0 30px;
  background: url(../img/side-time.png) no-repeat;
  height: 304px; }
  div.sidebar-timesale img {
    margin: 96px 20px 0;
    width: 139px; }
  div.sidebar-timesale p {
    /* position: absolute; */
    color: #fff;
    font-size: 12px;
    /* bottom:25px; */
    text-align: center;
    width: 100%;
    margin: 15px 0 0 0; }
  div.sidebar-timesale h4 {
    position: absolute;
    top: 81px;
    left: 30px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    width: 120px;
    font-weight: bold; }
  div.sidebar-timesale p span {
    display: block; }
div.sidebar-xmas2016 {
  position: relative;
  margin: 0 0 30px;
  background: #fff url(../img/Lnavi_supertimesale201808.png) no-repeat center 4px;
  border: #fe17a5 3px solid; }
  div.sidebar-xmas2016 h4 {
    padding-top: 85px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    font-family: "メイリオ", Meiryo; }
  div.sidebar-xmas2016 img {
    display: block;
    margin: 3px auto;
    width: 139px; }
  div.sidebar-xmas2016 p {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px 0;
    letter-spacing: 1px; }
    div.sidebar-xmas2016 p.rate {
      background: #000000;
      color: #fff;
      font-size: 17px;
      text-align: center;
      padding: 3px 0;
      font-weight: bold; }
    div.sidebar-xmas2016 p.brand {
      font-weight: bold;
      font-size: 17px; }
    div.sidebar-xmas2016 p.date {
      font-size: 14px;
      letter-spacing: 0; }
    div.sidebar-xmas2016 p.price {
      color: #ea0303;
      font-size: 17px;
      font-weight: bold; }

/* xmas2016 */
/* brandlist */
ul#s-brand {
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.039); }
  ul#s-brand li {
    line-height: 2.9em;
    background: #fff;
    border-bottom: solid 1px #e0e0e0;
    font-size: 13px;
    padding: 0 0 0 15px;
    font-weight: bold;
    width: 165px;
    height: 50px; }
    ul#s-brand li:hover {
      background: #f5f5f5; }
    ul#s-brand li span.rank1 {
      font-size: 12px;
      margin: 8px 20px 0 0;
      color: #999;
      float: left; }
    ul#s-brand li span.rank2 {
      font-size: 12px;
      margin: 8px 12px 0 0;
      color: #999;
      float: left; }
      ul#s-brand li span.rank2.attention {
        color: #C8000B; }
  ul#s-brand p {
    float: left;
    width: 120px;
    line-height: 1.25em;
    font-size: 13px;
    padding-top: 11px;
    color: #111;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    word-wrap: normal; }
    ul#s-brand p span {
      display: block;
      font-size: 10px;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      word-wrap: normal; }

.sidebar-brand-list h3 {
  background: url(../img/side-brand.png) no-repeat; }

/* category */
ul#s-category {
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.039); }
  ul#s-category li {
    line-height: 2.9em;
    background: #fff;
    border-bottom: solid 1px #e0e0e0;
    font-size: 12px;
    padding: 2px 15px;
    font-weight: bold;
    width: 150px;
    background: url(../img/side-cat-btn-p.png) no-repeat 90% center #fff; }
    ul#s-category li.noplus {
      background-image: none; }
    ul#s-category li a {
      display: block; }
    ul#s-category li.answer {
      padding: 0;
      background: none;
      background-color: #fff;
      width: 100%;
      font-weight: normal; }
      ul#s-category li.answer ul li {
        background: none;
        background-color: #fff;
        font-weight: normal;
        padding: 2px 15px 0 25px; }
        ul#s-category li.answer ul li:hover {
          background: #f5f5f5; }
    ul#s-category li.highlight {
      background: url(../img/side-cat-btn-m.png) no-repeat 90% center #fff; }
    ul#s-category li:hover {
      background: url(../img/side-cat-btn-p.png) no-repeat 90% center #f5f5f5; }
    ul#s-category li.noplus:hover {
      background-image: none; }
    ul#s-category li.highlight {
      background: url(../img/side-cat-btn-m.png) no-repeat 90% center #f5f5f5; }

.sidebar-category-list h3 {
  background: url(../img/side-cat.png) no-repeat; }

/* search */
div#s-search {
  margin: 0 0 30px; }
  div#s-search .h-txt {
    width: 145px;
    font-size: 14px;
    padding: 3px 0 2px; }

/* information */
ul#s-information {
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.039);
  behavior: url("/common/js/PIE.htc"); }
  ul#s-information li {
    line-height: 2.9em;
    background: #fff;
    border-bottom: solid 1px #e0e0e0;
    font-size: 13px;
    padding: 2px 15px;
    font-weight: bold;
    width: 150px; }
    ul#s-information li:hover {
      background: #f5f5f5; }

div#sidebar-end {
  text-align: center; }
  div#sidebar-end img {
    margin: 10px 0; }

* html .layer_board_bg,
* html .layer_board {
    position: absolute;
}

.layer_board_bg {
    position: fixed;
    width: 100%;
    height: 100%;
    
    z-index: 1000000;
    
    top: 0;
    left: 0;
    
    display: none;
    cursor: pointer;
    background: #000;
}

.layer_board {
    display: none;
    position: fixed;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    width: 360px;
    height: 360px;
    margin: auto;
    
    text-align: center;
    z-index: 2000000;
}
.btn_close {
    position:  absolute;
    right: -30px;
    top: -30px;
    width:  60px;
}

@media screen and (max-width: 767px) {
  #top {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: both; }
    #top.subpage {
      margin: 50px auto 0; } }

/*# sourceMappingURL=template2.css.map */


/* line_bar */
.line_bar{margin: 0 auto 10px;
text-align:center;}
