@charset "utf-8";

.gray { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.sepia {
	-webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  -ms-filter: sepia(1);
  -o-filter: sepia(1);
  filter: sepia(1);
  filter: sepia;
}

.saturate {
	-webkit-filter: saturate(800%);
	-moz-filter: saturate(800%);
	-ms-filter: saturate(800%);
	-o-filter: saturate(800%);
	filter: saturate(800%);
	filter: saturate;
}

.hue-rotate {
	-webkit-filter: hue-rotate(180deg);
	-moz-filter: hue-rotate(180deg);
	-ms-filter: hue-rotate(180deg);
	-o-filter: hue-rotate(180deg);
	filter: hue-rotate(180deg);
	filter: hue-rotate;
}

.blur {
	-webkit-filter:blur(2px);
	-moz-filter:blur(2px);
	-ms-filter:blur(2px);
	-o-filter:blur(2px);
	filter:blur(2px);
	filter:blur;
}

.invert {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-ms-filter: invert(100%);
	-o-filter: invert(100%);
	filter: invert(100%);
	filter: invert;
}

.opacity {
	-webkit-filter: opacity(0.5);
	-moz-filter: opacity(0.5);
	-ms-filter: opacity(0.5);
	-o-filter: opacity(0.5);
	filter: opacity(0.5);
	filter: opacity;
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.brightness {
	-webkit-filter: brightness(0.5);
	-moz-filter: brightness(0.5);
	-ms-filter: brightness(0.5);
	-o-filter: brightness(0.5);
	filter: brightness(0.5);
	filter: brightness;
}

.contrast {
	-webkit-filter: contrast(5);
	-moz-filter: contrast(5);
	-ms-filter: contrast(5);
	-o-filter: contrast(5);
	filter: contrast(5);
	filter: contrast;
}

.drop-shadow {
	-webkit-filter:drop-shadow(5px 5px 5px #000);
	-moz-filter:drop-shadow(5px 5px 5px #000);
	-ms-filter:drop-shadow(5px 5px 5px #000);
	-o-filter:drop-shadow(5px 5px 5px #000);
	filter:drop-shadow(5px 5px 5px #000);
	filter:drop-shadow;
}


.all {
	-webkit-filter:saturate(10) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(2.5) invert(0.2) brightness(1.2);
	-moz-filter:saturate(10) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(2.5) invert(0.2) brightness(1.2);
	-ms-filter:saturate(10) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(2.5) invert(0.2) brightness(1.2);
	-o-filter:saturate(10) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(2.5) invert(0.2) brightness(1.2);
	filter:saturate(10) hue-rotate(500deg) grayscale(0.3) sepia(0.7) contrast(2.5) invert(0.2) brightness(1.2);
}
