/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, marquee{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	/*font-family: "小塚ゴシック Pr6N", "小塚ゴシック Pro", "小塚明朝 Pr6N", "小塚明朝 Pro", "Meiryo UI", Helvetica, Arial, sans-serif;*/
	font-family: "メイリオ" !important;
	font: inherit;
	vertical-align: baseline;
}

a{text-decoration:none;}
button,img,input{display:block;border:none;}
input,textarea{outline:0 none;}/*去掉chrome、safari input或textarea在得到焦点时出现黄色边框*/
textarea{resize:none;}/*去掉chrome、safari textarea右下角可拖动鼠标改变textarea大小*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
html,body{height:100%;}
ol, ul,li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--- clearfix ---*/
.cf:after {
	content:url(images/clear.gif);
	display:block;
	height:0;
	clear:both;
}

.cf { display:inline-block; }

.cf { overflow:hidden; }


/* clearfix */
.cf:before, .cf:after {
	content:"\0020";
	display:block;
	height:0;
	visibility:hidden;
}
.cf:after { clear:both; }
.cf { zoom:1; }



