@charset "euc-jp";
/* Common Style */
/* ----------------------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family:"Gotham-Book","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body{
}

a{
	border: none;
}

img{
	border: none;
	vertical-align: bottom;
}
h1 img{
	width: 100%;
	padding:2% 0;
}

.bgcolor-white{background-color: #fff}
.bgcolor-gray-opacity{background-color: rgba(244,244,244,0.9)}


#rakuten_wrapper{
			width: 1000px;
			overflow: hidden;
			margin: 0 auto;
}
#rakuten_wrapper #left{
	width: 200;
	float: left;
}
#rakuten_wrapper #right{
	width: 800px;
	float: left;
}

.container-all{width: 100%;padding-bottom: 3%;}


/* Breadcrumb Navigation */
/* ----------------------------------------- */
.pankuzu_list{
	width: 96%;
	margin: 18px auto;
}
.pankuzu_list ol{
	list-style: none;
	overflow: hidden;
}
.pankuzu_list ol li{
	float: left;
	color:#666;
	font-size: 12px;
	margin-right: 8px;
}
.pankuzu_list ol li a{
	color: #666;
	font-size: 12px;
	text-decoration: none;
	  line-height: 12px;
}
.pankuzu_list ol li a::after{
	content:">";
	font-size: 10px;
	margin-left: 10px;
}


/* Content Main*/
/* ----------------------------------------- */
#main{
	width: 100%;
	margin:0 auto;
}

#text-topchach{
	text-align: center;
	font-size: 18px;
	line-height: 48px;
	color: #333;
	font-weight: bold;
}

/* Content Attention */
/* ----------------------------------------- */
#content-attention h2{
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid #ef5a6f;
	color:#ef5a6f;
	padding:5px 0;
	margin-bottom: 4px;
}

#content-attention{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}

#attention-downarrow{
	text-align: center;
	display: block;
	padding: 10px 0px;
	margin-bottom: 30px;
	top:0px;
	position: relative;
	/*background: linear-gradient(rgba(255,255,255,0),#FFF);*/
}

#attention-downarrow::after{
	position: absolute;
	top: 0%;
	right: 47%;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -4px;
	border-top: 1px solid #ef5a6f;
	border-right: 1px solid #ef5a6f;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

#attention-uparrow{
	text-align: center;
	display: block;
	padding: 10px 0px;
	margin-bottom: 30px;
	top:0px;
	position: relative;
	/*background: linear-gradient(rgba(255,255,255,0),#FFF);*/
	display: none;
}

#attention-uparrow::after{
	position: absolute;
	top: 0%;
	right: 48%;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -4px;
	border-top: 1px solid #ef5a6f;
	border-right: 1px solid #ef5a6f;
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}

#content-attention div{
	margin-bottom: 20px;
}
#content-attention div h3{
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	color:#333;
}

#content-attention div p{
	text-align: left;
	font-size: 12px;
	color:#333;
}

/* Content Article */
/* ----------------------------------------- */
#content-article{
	width: 98%;
	margin: 0 auto;
}

#content-article div{
	margin-bottom: 60px;
	padding: 0%;
}

#content-article div h2{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color:#666;
	border-top:1px solid #999;
	border-bottom: 1px solid #999;
	padding: 0px 0;
	width: 96%;
	margin: 0 auto 10px auto;
	letter-spacing: 3px;
}

#content-article div ul{
	list-style: none;
	overflow: hidden;
}

#content-article div ul li.one{
	width: 80%;
	margin:0 auto;
}

#content-article div ul li.two{
	width: 40%;
	margin:0 5%;
	float: left;
}

#content-article div ul li.three{
	width: 30%;
	margin:0 1.5%;
	float: left;
}

#content-article div ul li.four{
	width: 20%;
	margin:0 2.5%;
	float: left;
}

#content-article div ul li,#content-article div ul li.one,#content-article div ul li.two{
	margin-bottom: 50px;
}

#content-article div ul li a{
	text-decoration: none;
}

#content-article div ul .one .article-name{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:2px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article div ul .two .article-name{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:2px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article div ul .three .article-name{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:10px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article div ul .four .article-name{
	font-size: 12px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:10px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article div ul li .artilce-price{
	color:#333;	
	font-size: 16px;
	text-align: center;
	width: 120px;
	margin: 3px auto 0;
	display: block;
}

#content-article div ul li .free{
	width: 120px;
	margin: 0 auto;
	margin-top: 3px;
	display: block;
	text-align: center;
}
#content-article div ul li .free::after{
	content:"送料無料";
	color: #FFF;
	background-color:#e22;
	padding:1px 20px;
	font-size:15px;
	letter-spacing: 1px;
}

/* Link */
/* ----------------------------------------- */
#content-article div .link_text{
	background-color: #FFF;
	border: 1px solid #7198C3;
	text-align: center;
	width: 60%;
	margin: 40px auto 40px;
	border-radius: 0px;
}
#content-article div .link_text a{
	color: #7198C3;
    text-align: center;
    display: block;
    padding: 6px 10px;
    font-size: 14px;
    position: relative;
    font-weight: normal;
}
#content-article div .link_text a::after{
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #7198C3;
	border-right: 1px solid #7198C3;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.gotosearch {
	background-color: #fff;
	border: 2px solid #ff8095;
	color: #ff8095;
	text-align: center;
	width: 80%;
	margin: 10px auto;
	border-radius: 3px;
}

.gotosearch a{
	color: #ff8095;
	text-align: center;
	display: block;
	padding: 10px;
	font-size: 22px;
	position: relative;
}
.gotosearch a:after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-top: 2px solid #ff8095;
	border-right: 2px solid #ff8095;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}


/* Material */
/* ----------------------------------------- */


.pagetop{
		margin:30px auto;
	}
.event{
	margin:0 auto 30px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:1.5;
	color:#333;
}
.event span{
	background-color:#FFFE4C;
}
