@charset "utf-8";

/* Common Style */
/* ----------------------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
	color:#333;
	border-color: #ccc;
}

body{
	/*font-family:"Gotham-Book","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
}

a{
	border: none;
}

img{
	border: none;
	vertical-align: bottom;
}
h1 img{
	width: 96%;
	padding: 4% 2%;
}

.color-red{color:#ff4040;}
.color-blue{color:#4064ff;}
.color-green{color:#7bdb35;}

.bgcolor-white{background-color: #fff}
.bgcolor-gray-opacity{background-color: rgba(244,244,244,0.9)}

.container-all{width: 100%;}

.border-bottom{border-bottom:1px solid #ccc;}

/* Breadcrumb Navigation */
/* ----------------------------------------- */
.pankuzu_list{
	width: 96%;
	padding: 13px 2% !important;
}
.pankuzu_list ol{
	list-style: none;
	overflow: hidden;
}
.pankuzu_list ol li{
	float: left;
	color:#333;
	font-size: 11px;
	margin-right: 6px;
}
.pankuzu_list ol li a{
	color: #333;
	font-size: 11px;
	text-decoration: none;
	line-height: 11px;
}
.desktop .pankuzu_list ol li a::after{
	margin-left: 6px;
	content:">";
}

/* Container Main*/
/* ----------------------------------------- */
#container-main{
	width: 100%;
	margin: 0 auto;
}
#container-main-pc{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left;
	line-height: 1.5em;
}
#container-main-pc #left{
	float: left;
	width: 260px;
	margin-top: 20px;
}
#container-main-pc #right{
	float: left;
	width: 700px;
	margin-left: 40px;
	margin-top: 20px;
}

#container-main h1,#container-main-pc h1{
	font-weight: normal;
	font-size: 20px;
	border-bottom: 1px #ccc solid;
	/* padding: 0 0 20px 0; */
	padding-left: 15px;
}

#container-main h2{
	font-weight: bold;
	font-size: 18px;
}
.backbtn{
	display: block;
	background-color: #333;
	color:#FFF;
	font-size: 12px;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 5px 0;
	text-decoration: none;
	text-align: center;
}

/* Guide Navgation */
/* ----------------------------------------- */
ul.guideMenu {
	width:100%;
	margin:0 auto;
	list-style: none;
}
ul.guideMenu li{
	border-bottom: #ccc solid 1px;
	padding: 15px;
}
ul.guideMenu li:hover{
	cursor: pointer;
}
ul.guideMenu li:last-child{
	border: none;
}
ul.guideMenu li p{
	font-size:13px;
}
ul.guideMenu li p:before{
	content:"・";
	color:#e4007f;
	font-weight: bold;
}
ul.guideMenu li:hover{
	cursor: pointer;
}
.ico_open:after{
	content: " ";
	position: relative;
	background: url("../images/ico_plus.gif") repeat scroll 0% 0% / contain transparent;
	display: block;
	height: 13px;
	width: 13px;
	font-size: 16pt;
	float: right;
	color: #FFF;
	line-height: 42px;
	text-align: center;
	bottom: 0px;
}
.ico_close:after{
	content: " ";
	position: relative;
	background: url("../images/ico_minus.gif") repeat scroll 0% 0% / contain transparent;
	display: block;
	height: 13px;
	width: 13px;
	font-size: 16pt;
	float: right;
	color: #FFF;
	line-height: 42px;
	text-align: center;
	bottom: 0px;
}
ul.guideMenu div{
	display:none;
	margin-left: 10px;
	margin-top: 10px;
	background-color:#fff;
}
ul.guideMenu div a{
	text-decoration: underline;
	color:#333;
	display: block;
	padding:10px 0;
	font-size:12px;
}
ul.guideMenu div a:before{
	content:"・";
	color:#333;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	margin-right: 5px;
}


/* Accordion Menu */
/* ----------------------------------------- */
ul.accordionMenu {
	width:100%;
	margin:0 auto;
	list-style: none;
}
ul.accordionMenu li{
	border-bottom: #ccc dashed 1px;
	padding: 15px;
}
ul.accordionMenu li:last-child{
	border: none;
}
ul.accordionMenu li p{
	font-size:13px;
	margin:0px !important;
}
ul.accordionMenu li p:before{
	content:"・";
	color:#e4007f;
	font-weight: bold;
}
ul.accordionMenu div{
	display:none;
	margin-top: 10px;
	font-size: 12px;
	color:#333;
	background-color: rgba(239, 239, 239, 0.5);
	padding: 10px;
}
ul.accordionMenu div a{
	text-decoration: underline;
	color:#666;
	display: block;
	padding:10px 0;
	font-size:13px;
}
ul.accordionMenu div a:before{
	content:"Q.";
	color:#0076e4;
	font-weight: bold;
	font-size: 13px;
	display: inline-block;
	margin-right: 5px;
}


/* Content */
/* ----------------------------------------- */
#content-all section{
	margin: 20px 0 50px;
}
#content-all section h1{
	border: none;
	color:#333;
	font-size: 25px;
	font-weight: bold;
	line-height: 1;
	margin: 10px 18px;
	/* margin-top:30px; */
	border-left: 4px #333 solid;
	padding: 5px 10px;
}

#content-all section h2{
	border: none;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	/* border-bottom: 1px #ccc dotted; */
	margin: 15px;
}

#content-all section h3{
	border: none;
	color:#333;
	font-size: 14px;
	font-weight: bold;
	/* margin-left: 15px; */
	/* margin-bottom: 3px; */
}

#content-all section p{
	color: #333;
	font-size: 12px;
	margin: 5px 20px 15px;
}
#content-all section a{
	font-size: 12px;
	word-break: break-all;
	color: #067ec0;
	text-decoration: underline;
}
#content-all section pre{
	color: #333;
	font-size: 12px;
}
#content-all section aside{
	color:#666;
	font-size: 12px;
	margin: 0 15px;
}
/* No Material List */
/* ----------------------------------------- */
.nomaterial{
	overflow: hidden;
	width: 100%;
}

.nomaterial li{
	width: 46%;
	margin: 0 2%;
	margin-bottom: 4%;
	float: left;
}
.nomaterial li h2{
	margin-left: 0px !important;
	font-size:12px;
}
.nomaterial li h2 span{
	background-color: #333;
	color: #fff;
	margin-right: 10px;
	padding: 1px 4px;
	font-size:12px;
}
.nomaterial li a{
	display: block;
	margin-left: 2%;
	color:#333;
	font-size: 12px !important;
	letter-spacing: -1px;
}
.nomaterial li a:before{
	content: "・";
	color:#333;
	font-size:12px;
}
/* Material List */
/* ----------------------------------------- */
.material{
	width: 100%;
	list-style: none;
	overflow: hidden;
}
.material li{
	width: 46%;
	margin: 0 2%;
	margin-bottom: 4%;
	float: left;
}

.material li a{
	text-decoration: none;
	border: 1px solid rgb(204, 204, 204);
	display: block;
	overflow: hidden;
}
.desktop .material li a:hover{
	border: 1px solid #333;
}
.ios .material li,.android .material li{
	width: 90%;
	margin:0 auto;
	margin-bottom: 4%;
	float: none;
}
.material li .left{
	float: left;
	max-width: 100px;
	width: 22%;
	margin: 3%;
}
.material li .left img{
	width: 100%;
	vertical-align: bottom;
}
.material li .right{
	float: left;
	margin: 3%;
	width: 66%;
}
.material li .right h2{
	color:#333 !important;
	font-size: 13px !important;
	font-weight: bold !important;
	margin: 0 !important;
	margin-bottom: 5px !important;
}
.material li .right h2:before{
	content: "";
	display: none;
}
.material li .right p{
	color:#666 !important;
	font-size: 12px !important;
	margin: 0 !important;
	line-height:1.3;
}
.material li .right p:before{
	content: "";
	display: none;
}

/* InpageLink */
/* ---------------------------------------- */
.desktop #inpageLink{
	list-style: none;
	overflow: hidden;
	margin-left: 15px;
	margin-bottom: 10px;
}
.desktop #inpageLink li{
	float: left;
	margin-right: 2%;
}
.desktop #inpageLink li:before{
	content:"・";
	color:#666;
	font-size: 11px;
}
.desktop #inpageLink li a{
	text-align: center;
	color:#666;
	font-size: 12px;
	text-decoration: underline;
}

.ios #inpageLink, .android #inpageLink{
	list-style: none;
	border-bottom: 1px solid #ccc;
}
.ios #inpageLink li, .android #inpageLink li{
	text-align: left;
	color:#666;
	font-size: 12px;
	margin: 12px 0;
	margin-left: 15px;
}
.ios #inpageLink li:before{
	content:"・";
}
.android #inpageLink li:before{
	content:"・";
}
.ios #inpageLink li a, .android #inpageLink li a{
	color:#666;
	font-size: 12px;
}


/* F&Q */
/* ---------------------------------------- */
#faq-menu{
	list-style: none;
	margin: 0 15px;
	padding: 10px;
	background-color: rgba(239, 239, 239, 0.5);
}
#faq-menu li{
	margin:5px 0px;
}
#faq-menu li:before{
	content:"・";
	color:#333;
	font-weight: bold;
}
#faq-menu li a{
	color:#4064ff;
}

/* Carelist */
/* ---------------------------------------- */
/*.carelist h2{
	color:#f9C;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 13px;
	font-weight: bold;
}
.carelist h2:before{
	content: url("https://www.dreamvs.jp/sp/images/guide/guide_arrow.gif");
}
.carelist h2 a{
	color:#f9c;
	text-decoration: none;
}
.carelist ul{
	list-style: none;
	margin-bottom: 45px;
}
.carelist ul li{
	overflow: hidden;
	margin-bottom: 25px;
}
.carelist ul li a{
	border: none;
	text-decoration: none;
}
.carelist ul li a div:first-child{
	float: left;
	width: 30%;
	margin: 0 5%;
}
.carelist ul li a div:last-child{
	float: left;
	width: 60%;
}
.carelist ul li a div img{
	width: 100%;
	border: none;
	vertical-align: bottom;
}
.carelist ul li a div p{
	font-size: 13px;
	color:#333;
}*/

/* Carelist-PC */
/*.carelist-pc h2{
	color:#f9C;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 13px;
	font-weight: bold;
}
.carelist-pc h2:before{
	content: url("https://www.dreamvs.jp/sp/images/guide/guide_arrow.gif");
}
.carelist-pc h2 a{
	color:#f9c;
	text-decoration: none;
}
.carelist-pc ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	margin-bottom: 60px;
}
.carelist-pc ul li{
	float: left;
	width: 28%;
	margin: 0px 0px 0px 3.5%;
	padding-left: 2.5%;
}
.carelist-pc ul li:first-child{
	margin: 0 !important;
	border: none !important;
}
.carelist-pc ul li a{
	border: none;
	text-decoration: none;
}
.carelist-pc ul li a div img{
	width: 100%;
	border: none;
	vertical-align: bottom;
}
.carelist-pc ul li a div p{
	font-size: 12px;
	color:#333;
}*/

/* User agent */
/* ---------------------------------------- */
.pviewSP,.pviewPC{
	display: none !important;
}
.desktop .pviewPC{
	display: inline-block !important;
}
.ios .pviewSP,.android .pviewSP{
	display: inline-block !important;
}

/* ---------------------------------------- */
#shipping{
	width: 95%;
	margin: 0 auto;
}
#shipping tr{
	text-align: center;
}
#shipping tr th{
	border: 1px solid #ccc;
	padding: 5px 0px;
	font-size:13px;
	color:#333;
}
#shipping tr td{
	border: 1px solid #ccc;
	padding: 3px 0px;
	font-size:12px;
	color:#666;
}
/*
@media screen and (max-device-width: 640px) {
section.pankuzu_list li:after{
	content:"";
}}
*/




/*------ 見出し　共通--------*/
#item_search h1.get_item,#shopping_step h1.get_item,#to_sp h1.get_item{
	font-size:20px;
	color:#333;
	border-bottom:3px solid #F2F2F2;
	text-align: center;
	padding:0 0 5px 10px;
	line-height:1.2;
	margin-top:20px;
}

/*------ 検索ボタン　共通--------*/
#container-main .step_btn{
	background-color:#2a85e1;
	margin:10px auto 20px;
	padding:10px;
	width:80%;
	font-size:16px;
	text-align:center;
}
#container-main .btn_pink{
	background-color:#e4007f;
	margin:10px auto 20px;
	padding:10px;
	width:80%;
	font-size:16px;
	text-align:center;
}
#container-main .step_btn a{
	color:#fff;
	font-weight:bold;
	letter-spacing:1px;
	text-decoration:none;
	display:block;
	position:relative;
}
/*------ //検索ボタン　共通--------*/
.pink{
	color:#e4007f;
}
.pause{
	clear:both;
	margin:20px 0;
	width:96%;
	border:1px solid #f2f2f2;
	display:block;
}
.clearfix{
	clear:both;
}
.space100{
	clear:both;
	height:100px;
}

#breadcrumbs ol li{
	float:left;
}
.space50{
	clear:both;
	height:50px;
}

.space30{
	clear:both;
	height:30px;
}
.pagetop{
	font-size:14px;
	text-align:right;
	padding:20px;
}
.waku {
    border: 1px #999 solid;
    padding: 20px;
    margin: 30px 0;
}

#content_all p {
    margin: 5px 0;
}

span{
	display:inline !important;
}


table.layout01{
width: 100%;
border-collapse: collapse;
font-size:13px;
}

table.layout01 th{
/* width: 25%; */
padding: 6px;
text-align: left;
/* vertical-align: top; */
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
text-align: center;
}

table.layout01 td{
padding: 6px;
background-color: #fff;
border: 1px solid #b9b9b9;
}


.stepNumber{

	font-size: 15px;
    padding-right: 5px;
    background-color: #f2f2f2;
    padding: 0 7px;
    border: 1px #ccc solid;
    margin-right: 10px;
}

.leftBox{
	float: left;
	margin-left: 10px;
}

.leftBox.text{
	padding:60px 0 0;
	width:250px;
}


ul.yokonarabi li {
    float: left;
    width: 200px;
}

ul.yokonarabi li p {
    font-size:10px;
    width:150px;
}

ol.numberlist_ li {
    font-size: 12px;
    list-style: none;
    margin-left: 2.2em;
    text-indent: -1em;
    padding: 3px 0;
    line-height: 1.6em;  
}
/* -----------------------------
       　強調案内文
------------------------------ */
p.mark01_ {
    padding-left: 2em;
    text-indent: -2.2em;
}
p.mark01_ span {
    color: #f00;
    font-weight: bold; 
}
p.mark01_:before {
    content: '';/*何も入れない*/
      display: inline-block;/*忘れずに！*/
      width: 20px;/*画像の幅*/
      height: 20px;/*画像の高さ*/
      padding-right: 10px;
      background: url(https://www.dreamvs.jp/img/guide/mark_warning02.gif) no-repeat;
      background-size: contain;
      vertical-align: middle;
}
p.mark01_ img {
    margin: 10px 0 20px ;
	max-width:100%;
}
h3.attention_ {
    background-color:  #f00;
    color: #fff !important;
    padding: 3px 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em !important;
}

table.hyou_ {
    margin: 5px 26px;
    border: 1px #333 solid;
}

table.hyou_, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
  padding: 5px;
  text-align: center;
}

@media screen and (max-width: 767px)  {

table.hyou_ {
	font-size: 13px;
}

#content-all section h1{
	font-size: 18px;
}

}

section p img{
	max-width: 100%;
	/*width:100%;*/
}
