@charset "utf-8";
/* CSS Document */

a {text-decoration: none;
}
ul,li {
	list-style: none;
}
.top_space50_ {
	margin-top: 50px !important;
	clear: both;
}
.top_space100_ {
	margin-top: 100px !important;
	clear: both;
}
.bottom_space50_ {
	margin-bottom: 50px !important;
	clear: both;
}
.bottom_space100_ {
	margin-bottom: 100px !important;
	clear: both;
}
#contents {
	width: 100%;
	margin:0 auto;
}
.yoko1000_ {
	width: 1000px !important;
	margin:0 auto;
}
.topimg_ {
	margin: 0 auto 30px;
	text-align: center;
}
.pankuzu {
    font-size: 12px;
    margin: 10px;
    text-align: left;
}
.pankuzu ol {
    list-style: none;
    padding: 0 10px;
}
.pankuzu li {
    display: inline;
}
.pankuzu li a {
    color: #666;
}

.button_style01_ {
    width: 600px !important;
    margin: 10px auto;
    text-align: center;
    font-size: 28px !important;
    color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    /* clear: both; */
}
.button_style01_ a {
    color: #fff !important;
    text-decoration: none;
    padding: 20px 0px;
    background-color: #D86196;
    display: block;
    font-weight: normal !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.button_style01_::after {
    position: absolute;
    top: 43%;
    right: 30px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    margin-top: -4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
ul.button_line3_ {
    margin: 0 auto;
    width: 800px;
}
ul.button_line3_ li {
    float: left;
    list-style: none;
    margin: 0 10px 20px 0;
    width: 32% !important;
    background-color: #ff6db9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
ul.button_line3_ li:nth-child(3n){
	margin-right: 0;
}
ul.button_line3_ li a {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    display: block;
	color: #fff;
}
ul.button_line3_ li::after {
    position: absolute;
    top: 43%;
    right: 30px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    margin-top: -4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
p.attention_ {
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 1.3;
	text-align: center;
	padding: 10px;
}
.red_ {	
	color: #e61e20;
}
.obi01_ {
	background-color: #e61e20;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0;
    letter-spacing: 5px;
	font-weight:bold;
}
ul.item_line03_ dd.item_articlename_ {
	font-size: 10px !important;
}


dd.item_doubleprice_ {
	text-decoration: line-through !important;
}

#ranking ul.item_pcline04_spline03_ dd.price {
	display: none !important;
}


#ranking ul.item_pcline04_spline03_ dd.articleName{
	font-size: 8px !important;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding: 0;
	overflow: hidden;
}

p.attention_ {
	font-size: 14px;
	letter-spacing: 3px;
}
/* ---------------------------------------------------------------
	メインコンテンツ--商品一覧 横4つver.
--------------------------------------------------------------- */
ul.item_pcline04_spline03_ a{
	color: #333;
	text-decoration: none;
}
ul.item_pcline04_spline03_{
	width: 900px;
	margin: 0 auto 20px;
}
ul.item_pcline04_spline03_ li{
	width: 170px;
	float: left;
	margin: 10px 10px 30px;
	position: relative;
}
ul.item_pcline04_spline03_ li:nth-child(4n){
	margin-right: 0;
}
ul.item_pcline04_spline03_ li:nth-child(4n+1){
	clear: both;
}
ul.item_pcline04_spline03_ img{
	width: 100%;
	border: 1px #f2f2f2 solid;
}
ul.item_pcline04_spline03_ dt{
	margin: 0;
	padding: 0;
}
ul.item_pcline04_spline03_ dd{
	margin: 5px 0;
	padding: 0 5px;
	text-align: center;
}
ul.item_pcline04_spline03_ dd.item_articlename_{
	font-size: 8px !important;
	line-height: 1.2em;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis; 
    -o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding: 0;
	overflow: hidden;
}
ul.item_pcline04_spline03_ dd.item_price_{
	text-align: center !important;
	font-size: 16px !important;
	font-weight: bold !important;
	margin: 5px 0 !important;
	color: #e61e20 !important;
	display: inline !important;
}
ul.item_pcline04_spline03_ dd.item_price_ span{
	font-size: 10px;
	font-weight: normal;
	color: #e61e20 !important;
}

ul.item_pcline04_spline03_ dd.item_price_ span.intax_{
	font-size: 12px;
}

ul.item_pcline04_spline03_ dd.item_doubleprice_ {
	font-size: 8px;
	line-height: 1em;
}

ul.item_pcline04_spline03_:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

h2.midashi2 {
	margin-top: 30px;
}
.clear_ {
    clear: both;
}
ul.list02_ {
	width: 800px;
	margin: 0 auto;
}
ul.list02_ li {
	width: 45%;
	float: left;
	margin: 0 5% 20px 0;
}
ul.list02_ li:nth-child(2n){
	margin-right: 0;
}
ul.list02_ li img {
	width: 100%;
}
/* ---------------------------------------------------------------
	週末SALE
--------------------------------------------------------------- */
.tex03_ {
		text-align: center;
		font-size: 30px;
		line-height: 1.6em;
		font-weight: bold;
		letter-spacing: 2px;
		margin: 20px 0;
		color: #000;
		padding-bottom: 10px;
	}
	.tex03_ span {
		font-size: 1.3em;
		font-weight: bold;
		color: #d70000;
	}
	.tex03_.fukidashi_ span {
		font-size: 2em;
		font-weight: bold;
		color: #d70000;
	}
	ul.arrow_ {
		width: 790px;
		margin: 0 auto 10px;
		text-align: center;
	}
	ul.arrow_ li {
		display: inline-block;
		margin: 0 20px;
		text-align: center;
	}
	ul.item_line03_,
	ul.item_line04_{
		width: 900px !important;
		margin: 0 auto;
		text-align: center;
	} 
	ul.item_line03_ a,
	ul.item_line04_ a{
		color: #333;
		text-decoration: none;
	}
	ul.item_line03_ li{
		width: 30%;
		display:inline-block;
		vertical-align: top;
		margin: 10px 7px 35px;
		position: relative;
		border: 1px #89b8df solid;
		background-color: #f2f2f2;
		padding-bottom: 10px;
		text-align: center;
	}
	ul.item_line04_ li{
		width: 22.5%;
		display: inline-block;
		vertical-align: top;
		margin: 10px 7px 30px;
		position: relative;
		border: 1px #ccc solid;
		/* background-color: #f2f2f2; */
	}
	ul.item_line03_ img{
		width: 97.5%;
		padding-top: 3px;
		/* border: 3px #f4282e solid; */
	}
	ul.item_line04_ img{
		width: 99%;
	}
	ul.item_line03_ dt{
		margin: 0;
		padding: 0;
	}
	ul.item_line03_ dd,
	ul.item_line04_ dd{
		margin: 5px 0;
		padding: 3px 5px 1px;
		text-align: center;
	}
	ul.item_line03_ dd.item_articlename_,
	ul.item_line04_ dd.item_articlename_{
		font-size: 10px;
		line-height: 1.2em;
		text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis; /* Safari */
		-o-text-overflow: ellipsis; /* Opera */
		white-space: nowrap;
		overflow: hidden;
	}
	ul.item_line03_ dd.item_price_{
		text-align: center;
		font-size: 40px;
		font-weight: bold;
		margin: 5px 0;
		line-height: 1em;
		color: #d70000;
	}
	ul.item_line04_ dd.item_price_{
		text-align: center;
		font-size: 29px !important;
		font-weight: bold !important;
		margin: 5px 0;
		line-height: 1em;
		color: #d70000;
	}
	ul.item_line03_ dd.item_price_ span,
	ul.item_line04_ dd.item_price_ span {
		font-size: 31px;
	}
	ul.item_line03_ dd.item_price_ span.inTax,
	ul.item_line04_ dd.item_price_ span.inTax{
		font-size: 18px !important;
		color: #d70000;
	}
	ul.item_line03_ dd.item_doubleprice_,
	ul.item_line04_ dd.item_doubleprice_{
		font-size: 12px !important;
		line-height: 1em;
		margin-top: 10px !important;
	}
	ul.item_line03_:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	dd.item_offbar {
		color: #188946;
		margin: 0;
		font-weight: bold;
		background-color: rgba(256,256,256,0.9);
		padding: 5px 0;
		font-size: 2em;
	}

	dd.item_offbar span {
		color: #000;
		font-weight: normal;
		font-size: 0.7em;
	}
	.salecolor_ dd.item_offbar {
		color: #d70000;
		padding: 3px 0 0;
	}
	/*セール赤色*/
	.salecolor_ li{
		padding-top: 2px;
	  border: 2px #d70000 solid !important;
	  background-color: #d70000 !important;
	  	 /* background: -webkit-repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #d70000 5px, #d70000 10px);
		background: repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #d70000 5px, #d70000 10px);
		*/
	}

	.salecolor_ li a{
		color: #fff;
	}
	.salecolor_ dd.item_price_,
	.salecolor_ dd.item_price_ span{
		color: #ff0 !important;
	}
	dd.sale_price_ {
		color: #e61e20;
	}
	ul.bg_color_ li {
		background-color: #188946;
	}
	ul.item_line03_.bg_color_ dd.item_price_ span,
	ul.item_line03_.bg_color02_ dd.item_price_ span{
	font-size: 26px;
	font-weight: bold;
	color: #f91061;
	}
	ul.item_line03_.bg_color_ dd.item_price_ span.intax_,
	ul.item_line03_.bg_color02_ dd.item_price_ span.intax_{
	font-size: 18px;
    font-weight: bold;
    color: #f91061;
	}
	ul.bg_color02_ li {
		background-color: #c3e1fa;
	}
	ul.item_line03_.bg_color_ dd.item_price_,
	ul.item_line03_.bg_color02_ dd.item_price_ {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
    line-height: 1em;
    color: #f91061;
}
ul.item_line03_.bg_color02_ dd.item_offbar {
    color: #336188;
}
	li .icon2 {
		position: absolute;
		top: -23px;
		left: -12px;
		width: 70px;
	 }
	li .icon2 img {
	 	border: none !important;
	 }
.salecolor_ dd.item_bar01_ {
    background-color: #feff00;
    color: #d70000;
    font-size: 16px;
    font-weight: bold;
	padding: 5px 0 2px;
}

.bg_color_ dd.item_bar01_,
.bg_color02_ dd.item_bar01_ {
    background-color: #f91061;
    color: #ffff4f;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 2px;
}
ul.item_line02_ li {
    width: 340px;
}
ul.item_line02_.salecolor_ dd.item_price_ {
    font-size: 40px;
    font-weight: bold;
}
ul.item_line02_.salecolor_ img {
	width: 99%;
	border: 1px #d70000 solid;
}
/* カテゴリー */
ul.item_line03_.cate_ li{
		border: 1px #ccc solid;
		background-color: #FFF;
	}
	 ul.item_line03_.cate_ dd.item_price_{
		font-size: 26px;
		color: #d70000;
	}
	
/* 超目玉 */
.sale_medama01_ {
	width:900px;
	text-align: center;
	margin: 0 auto 50px;
	position:relative;
	border: solid 5px #db0213;
	background-color: #fff;
	display: inline-block;
}
.sale_medama01_ .limited_time{
	font-size:36px; background-color:#db0213; 
	color:#fff;
	letter-spacing:2px;
	padding: 15px 5px 10px;
    line-height: 1.2;
}
.sale_medama01_ .limited_time span {
	font-size: 24px;
	color:#fff;
}
.sale_medama01_ .left_box_ {
	width: 50%;
	float: left;
}
.sale_medama01_ .left_box_ img {
	width: 96%;
	padding: 2%;
}
.sale_medama01_ .right_box_ {
	width: 50%;
	float: left;
}
.sale_medama01_ .right_box_ .right_sabimg_ {
	width: 96%;
	padding: 2%;
}
.sale_medama01_ .right_box_ .right_sabimg_ p {
	width: 49%;
	float: left;
	margin-right: 2%;
}
.sale_medama01_ .right_box_ .right_sabimg_ p:nth-child(2){
	margin-right: 0;
}
.sale_medama01_ .right_box_ .right_sabimg_ p img {
	width: 100%;
}

.sale_medama01_ .right_box_ .limited_price p {
	font-size: 16px;
	letter-spacing: 2px;
	color: #333;
	text-align: center;
	line-height: 1.4em;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_doubleprice_ {
	font-size: 20px;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ {
	font-size: 68px;
	font-weight: bold;
	color: #db0213;
	line-height: 1em;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ span.imadake_yen {
	font-size: 28px;
	font-weight: bold;
	color: #db0213;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ span.free_sip {
	font-size: 24px;
	font-weight: bold;



	color: #fff;
	background-color: #db0213;
	padding: 0 8px;
	margin-right: 10px;
}
.sale_medama01_ .right_box_ .limited_price p.btn_buy_ {
	width: 80%;
	margin: 10px auto 0;
	background-color: #db0213;
	color: #fff;
	font-size: 18px;
	letter-spacing: 4px;
	padding: 5px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.sale_medama01_ .icon_medama_ {
	position: absolute;
	left: -15px;
	top: 30px;
}
.sale_medama01_ .icon_medama_ img{
	width:120px;
}

    .fukidashi_ {
	position: relative;
	/* background: #fbeaf0; */
	border-bottom: 4px solid #000;
	}
	.fukidashi_:after, .fukidashi_:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.fukidashi_:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #FFFFFF;
		border-width: 20px;
		margin-left: -20px;
	}
	.fukidashi_:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: #000;
		border-width: 26px;
		margin-left: -26px;
	}

/*　フローティングナビ　*/
#menu-wrap {
	position:fixed;
	bottom:80px;
	left: 5px;
	float: left;
	display:none\9; /* IE8 以下 */
	z-index: 2;
}
#menu {
  list-style-type: none;
  margin:0;
  padding: 0;
  width:220px;
}
#menu li {
  width: 100%;
  /*float: left;*/
  margin: 0 0 10px 0;
  padding: 2px 0;
  text-align: center;
}

#menu li a {
  display: block;
  width : 100%;
}
#menu li a img{
	width: 100%;
}

#menu li a img{
	display:none\9;
}
/*　フローティングナビ トピック　*/
#menu-topic_ {
	position:fixed;
	top:50px;
	right: 0;
	float:right;
	/*background: #fff;
  background-color: rgba(255, 255, 255, 0.7)*/
	z-index: 2;
}
#topic_ {
  list-style-type: none;
  margin:0;
  padding: 0;
  width:130px;
}
#topic_ li {
  width: 100%;
  /*float: left;*/
  margin: 7px 0;
  padding: 0;
  text-align: center;
  /* box-shadow:1px 2px 2px 2px rgba(178, 178, 178, 0.7); */
  -moz-box-shadow:1px 2px 2px 2px rgba(178, 178, 178, 0.7);
  /* -webkit-box-shadow: 1px 2px 2px 2px rgba(178, 178, 178, 0.7); */
}
#topic_ li a {
  display: block;
  width : 100%;
  /*padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;*/
}
#topic_ li a img{
	width:100%;
	padding:0;

}

/*　カウントダウン　*/
#CDT{
	width:800px;
	margin:30px auto;
	text-align:center;
	color:#cb2802 !important;
	font-size: 32px;
	/*border:2px solid #E50003;*/
	height:120px;
	text-align: center;
	/*display: table-caption;*/
}
#CDT .day{
	font-size: 48px;
}
#CDT .hour,#CDT .min,#CDT .sec{
 	font-size: 56px;
}

#CDT .cd_title{
	font-size:30px !important;
	margin-bottom:0;
	color:#333;
	text-align: center;
}
/*メニューボタン*/
	div#topic_navi {
		width: 800px;
		margin: 20px auto !important;
	}
	div#topic_navi li {
		/* float: left; */
		display: inline-block;
		vertical-align: top;
		width: 208px;
		margin: 0 10px 10px 0;
		border: 3px #000 solid;
		position: relative;
		background-color: #000;
	}
	div#topic_navi li:nth-child(3n) {
		margin-right: 0px;
	}
	div#topic_navi li div. {
		float: left;
		width: 280px;
		margin-right: 20px;
	}
	div#topic_navi li img {
		width: 100%;
	}
	div#topic_navi li a:hover{
		text-decoration: none;
	}

	.event_number_ {
		background-color: #000;
		padding: 10px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		letter-spacing: 1px;
		line-height: 1;
	}
	.event_start_ {
		background-color: #fc283c;
		padding: 10px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 1;
		font-weight: bold;
		background: -webkit-repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #fc283c 5px, #fc283c 10px);
		background: repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #fc283c 5px, #fc283c 10px);
	}
.icon_ {
	position: absolute;
	width: 100px;
	top: -40px;
	left: -15px;
}
.icon_ img {
	width: 100%;
	border: none !important;
}
.bg_red_ {
	background-color: #d70000;
	padding: 50px 0;
}
.bg_white_ {
	background-color: #fff;
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;

}
.bg_grad_ {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	padding: 50px 0;
}
.bg_dot_ {
    background: #fff;
    background-image: -webkit-radial-gradient(#f5f5f5 15%, transparent 0), -webkit-radial-gradient(#f5f5f5 15%, transparent 0);
    background-image: radial-gradient(#f5f5f5 15%, transparent 0), radial-gradient(#f5f5f5 15%, transparent 0);
    background-position: 0 0, 15px 15px;
    -webkit-background-size: 30px 30px;
    background-size: 30px 30px;
	padding: 50px 0;
}

ul.medama_list02 {
	width: 850px;
	margin: 0 auto;
	padding: 0;
}
ul.medama_list02 li{
	width: 48%;
	border: 5px solid #d70000;
	float: left;
	padding-bottom:15px;
	margin-bottom: 35px;
	background-color: #fff;
}
ul.medama_list02 li:nth-child(2n+1){
	margin-right:1.5%;
	clear:both;
}
ul.medama_list02 li img{
	width: 100%;
}
ul.medama_list02 .limited_time {
	background-color:#d70000; 
	color:#fff; 
	font-size:26px; 
	margin:0; 
	padding:10px 5px;
}
ul.medama_list02 .limited_time span{
	font-size:16px;
}
ul.medama_list02 li dd.item_articlename_ {
	font-size:16px;
	letter-spacing:2px;
	padding:5px;
	text-align:center;
	color:#000;
}
ul.medama_list02 li dd.doubleprice {
	font-size:18px;
	letter-spacing:2px;
	color:#000;
	margin: 5px auto;
	text-decoration: line-through;
}
ul.medama_list02 li dd.item_price_ {
	font-size:50px;
	font-weight:bold;
	color: #d70000;
	line-height:1;
}
ul.medama_list02 li dd.item_price_ span {
	font-size:24px;
}
ul.medama_list02 li dd.item_price_ img {
	width:80%;
}
ul.medama_list02 li dd.btn_ {
	width: 86%;
    margin: 10px auto 0px;
    text-align: center;
    font-size: 28px;
    padding: 10px 5px;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #d70000;
}

ul.medama_list02 li dd.btn_ a{
	    color: #fff !important;
	    text-decoration:none;
	    display: block;
	    font-weight: normal !important;
}
.medama_list02 li {
	position: relative;
}
.icon_medama_ {
	position: absolute;
    bottom: 100px;
    left: -15px;
    width: 100px;
}
.blinking {
    animation: inout 1s;
    animation-iteration-count: infinite;
    -webkit-animation: inout 1s;
    -webkit-animation-iteration-count: infinite;
}

/*
	タイムスケジュール
------------------------------*/
.schedul{
	padding: 30px 20px;
}
.schedul p {
	font-size: 24px;
	line-height: 1.6;
	text-align: center;
	color: #000;
}
ul.list03.favorite{
	margin: 0 auto 30px;
	padding:0;
	font-size:15px;
	width: 960px;
}
ul.list03.favorite li {
	width: 26%;
    margin: 0 3.5%;
	float: left;
}
ul.list03.favorite li:nth-child(3n) {
	margin-right: 0;
}
ul.list02.favorite li dd.item_favorite_btn_,
ul.list03.favorite li dd.item_favorite_btn_ {
	margin: 10px 1%;
	list-style: none;
	text-align: center;
	background-color: #ff5917;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
ul.list02.favorite li a dd.item_favorite_btn_,
ul.list03.favorite li a dd.item_favorite_btn_ {
	text-decoration: none;
	display:block;
	padding:13px 0 10px;
	text-decoration: none;
	font-size: 24px;
	color: #fff !important;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}
ul.list02.favorite li dd.item_price_,
ul.list03.favorite li dd.item_price_ {
	font-size: 32px;
	color: #ff5917;
	font-weight: bold;
}
ul.list02.favorite li dd.item_price_ span,
ul.list02.favorite li dd.item_price_ intax_,
ul.list03.favorite li dd.item_price_ span,
ul.list03.favorite li dd.item_price_ intax_ {
	font-size: 15px;
	font-weight: bold;
}

ul.list02.favorite{
	margin: 0 auto 30px;
	padding:0;
	font-size:15px;
	width: 959px;
	text-align: center;
}
ul.list02.favorite li {
	width: 29%;
	margin: 0 3.5%;
	/* float: left; */
	display: inline-block;
	vertical-align: top;
}
