@charset "utf-8";
/* CSS Document */



#itemList .ranking_lp ul.realtime-ranking{
	margin: 10px 0 10px 30px;
	height:auto !important;
	width: 100% !important;
	counter-reset: rankingnumeber;

}


#itemList .ranking_lp h2{
	line-height: 1.5em !important;
	font-size:30px !important;
	text-align:center !important;
}

#itemList .ranking_lp h2 span{
	display: block;
	margin-bottom: 10px;
}

#itemList .ranking_lp .realtime-ranking li{
	width: 28% !important;
	margin: 5px 35px 20px 0px !important;
	list-style: none;
	display: inline-block;
	vertical-align: top;
	float:left !important;
	height:300px;
}

#itemList .ranking_lp .realtime-ranking li:before{ 
    counter-increment: rankingnumeber;
    content: counter(rankingnumeber);
    font-size: 12px;
    position: relative;
    top: 30px;
    left: 5px;
    z-index:9999;
	background-color: #fff;
	color: #666;
	text-align: center;
	padding: 7px 9px;
	height:30px;
	width: 30px;
	border: 1px #ccc solid;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

#itemList .ranking_lp .realtime-ranking li:nth-child(n+10):before{ 
	padding: 7px 6px;
}


@media screen and (min-device-width: 414px) {
#itemList .ranking_lp .realtime-ranking li{
	width: 47.5%;
	margin: 5px;	
}
#itemList .ranking_lp .realtime-ranking li:nth-child(2n){
	margin: 5px 0 5px 0;
}
}


#itemList .ranking_lp .realtime-ranking li:nth-child(2n){
	margin: 5px 0 4px 0;
}

#itemList .ranking_lp .realtime-ranking li dt{
	position: relative;
}

#itemList .ranking_lp .realtime-ranking li dt img{
	width: 100%;
}


#itemList .ranking_lp .realtime-ranking li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	margin: 3px 0;
	text-align: center;
}

#itemList .ranking_lp .realtime-ranking li dd.articleName{
	width: auto;
	text-align:left;
}

#itemList .ranking_lp .realtime-ranking li dd.price{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	padding: 5px;
}

#itemList .ranking_lp .realtime-ranking li dd.price span{
	font-size: 10px;
	font-weight: normal;
}

#itemList .ranking_lp .realtime-ranking li dd.price span.inTax{
	font-size: 10px;
	color: #888;
}


#itemList .ranking_lp .realtime-ranking.sale li dd.price,

#itemList .ranking_lp .realtime-ranking.sale li dd.price span.inTax{
	color: #FA3350;
}

.back_btn {
	background-color:#333;
	padding:10px;
	width:150px;
	text-align:center;
	float:right;
}

.back_btn a{
	color:#FFF;
	letter-spacing:0.1em;
	font-weight:bold;
	text-decoration:underline;
}
