@charset "shift_jis";


/* ==================================================
 basic 修正版
================================================== */

body{
	font-size:75%;
	line-height:1.6;
	font-family:"メイリオ", "Meiryo", verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	color:#333;
	-webkit-text-size-adjust:100%;
	text-size-adjust:100%;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
}
address,caption,strong,em {
	font-style:normal;
}
ul,ol,li {
	list-style-type:none;
}
img {
	border:0;
	vertical-align:top;
}
hr {
	display:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	empty-cells:show;
}
table td {
	word-break:break-all !important;
	word-wrap:break-word !important;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
select,
textarea {
	vertical-align:middle;
	font-family:inherit;
}
label {
	cursor:pointer;
}

a{
	text-decoration:underline;
	color:#333333;
}
a:hover{
	text-decoration:none;
}

@media(min-width:0px){ /* modern browser */
	a img{
		transition:all 200ms linear;
		background-color:#fff;
	}
	a:hover img{
		filter:alpha(opacity=70);
		opacity:0.7;
	}
}

strong,em,i,u,s,del,strike,big,small{
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
}



/* ==================================================
 layout
================================================== */

/* parent column for pc
------------------------------ */
#ht5_contents{
	min-width:990px;
}
#ht5_contents .cntInner{
	min-width:990px;
}

/* sub window */
body.ht5_subWin #ht5_contents{
	min-width:658px;
}
body.ht5_subWin #ht5_contents .cntInner{
	min-width:658px;
}

/* contents block for pc
------------------------------ */

/* link color
------------------------------ */

#ht5_contents a:visited{
	color:#999;
}


/* ==================================================
 font / text
================================================== */

/* text
------------------------------ */

.taL{
	text-align:left;
}
.taC{
	text-align:center;
}
.taR{
	text-align:right;
}

/* font
------------------------------ */

.fb{
	font-weight:bold;
}
.fn{
	font-weight:normal;
}

.fsXXXL{
	font-size:167%; /* 20px; */
}
.fsXXL{
	font-size:150%; /* 18px; */
}
.fsXL{
	font-size:133%; /* 16px; */
}
.fsL{
	font-size:117%; /* 14px; */
}
.fsM{
	font-size:100%; /* 12px; */
}
.fsS{
	font-size:92%; /* 11px; */
}
.fsXS{
	font-size:83%; /* 10px; */
}
/* margin : top
-------------------------------------------------------------------------*/
.mt0 {margin-top:0px !important;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt6 {margin-top:6px !important;}
.mt7 {margin-top:7px !important;}
.mt8 {margin-top:8px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}
.mt90 {margin-top:90px !important;}
.mt100 {margin-top:100px !important;}
.mt150 {margin-top:150px !important;}
.mt200 {margin-top:200px !important;}


/*	margin : bottom
-------------------------------------------------------------------------*/
.mb0 {margin-bottom:0px !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
