@charset "utf-8";
/* CSS Document */

div#coordinateContents {
	margin: 0 0 50px;
}
li{
	list-style:none;
}

div#coordinateContents h1 {
    background-image: url(https://www.rakuten.ne.jp/gold/dreamv/img/coordinate/todayCode_topTitle.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    height: 100px;
    text-indent: -9999px;
}


@media only screen and (min-device-width: 375px){
	div#coordinateContents h1 {
    height: 120px;
   }
}


div#coordinateContents li {
    float: left;
    width:50%;
    margin-bottom: 5px;
	position:relative;
}

div#coordinateContents li.new:before {
    position: absolute;
    top: -5px;
    left: 5px;
    content: "NEW";
    background-color: #d86196;
    color: #fff;
    padding: 2px 5px;
    font-size: 9px;
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

div#coordinateContents li a {
    line-height: 0.8;
    display: block;
}

div#coordinateContents li img {
    width: 100%;
}

div#coordinateContents li p.update {
    font-size: 10px;
    color: #ccc;
    padding: 0 10px;
    text-align: right;
}





/*モーダル*/

.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width: 80%;
    margin: 50px 0 0 0;
    padding:10px 20px;
    background:#fff;
}

.modal-content p {
    margin:0;
    padding:0;
}

.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}

.modal-open {
    color:#00f;
    text-decoration:underline;
}

.modal-open:hover {
    cursor:pointer;
}

.modal-close {
    color:#00f;
}

.modal-close:hover {
    cursor:pointer;
}


@media screen and (max-device-width: 320px) {

	.coordinate-detail p.detailImg{
		margin:0 auto;
		width: 90%;
	}


	.coordinate-detail p{
		width: 90%;
		letter-spacing: 0.5px;
		margin: 0 auto;
	}

	.coordinate-detail p.pointText{
		width: 90%;
		margin: 10px auto;
		border-bottom: 1px #ccc dotted;
		padding-bottom: 5px;
		font-size: 13px;
	}

	.coordinate-detail .clothes-item{
		width:90%;
		margin: 0 auto;
	}

}

@media screen and (min-device-width: 321px) {

	.coordinate-detail p.detailImg{
		margin:0 auto;
		width: 100%;
	}

	.coordinate-detail p{
		width: 100%;
		letter-spacing: 0.5px;
		margin: 0 auto;
	}

	.coordinate-detail p.pointText{
		width: 100%;
		margin: 10px auto;
		border-bottom: 1px #ccc dotted;
		padding-bottom: 5px;
		font-size: 13px;
	}

	.coordinate-detail .clothes-item{
		width:100%;
		margin: 0 auto;
	}


}


.coordinate-detail p.detailImg img {
    width: 100%;
}

.coordinate-detail .clothes-item li{
    display: inline-block;
    font-size: 12px;
    margin: 3px 5px;
}

.coordinate-detail .clothes-item li a{
	color: #666;
	text-decoration: underline;

}




.coordinate-detail .update{
    /* text-align: center; */
    font-size: 11px;
    /* position: absolute; */
    /* top: 5px; */
    /* right: 10px; */
    color: #ccc;
}

.button-link-close {
	color: #FFF;
	/* text-decoration: underline; */
	background-color: #000000;
	display: block;
	/* padding: 15px 0; */
	font-size: 25px;
	width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	position: absolute;
	top: -10px;
	right: -10px;
	text-align: center;
	padding: 10px;
	line-height: 1em;
}

.button-link-close a{
	text-decoration: none;
	color: #fff;
}
