@charset "utf-8";

/* Common Style */
/* ----------------------------------------- */
*{
	margin: 0;
	padding: 0;
	font-family: "ヒラギノ角ゴ Pro W3";
}

body{
	/*font-family:"Gotham-Book","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
}

a{
	border: none;
}

img{
	border: none;
	vertical-align: bottom;
}
h1 img{
	width: 96%;
	padding: 4% 2%;
}

.bgcolor-white{background-color: #fff}
.bgcolor-gray-opacity{background-color: rgba(244,244,244,0.9)}

.container-all{width: 100%;padding-bottom: 3%;}


/* Breadcrumb Navigation */
/* ----------------------------------------- */
.pankuzu_list{
	width: 96%;
	padding: 13px 2%;
}
.pankuzu_list ol{
	list-style: none;
	overflow: hidden;
}
.pankuzu_list ol li{
	float: left;
	color:#333;
	font-size: 11px;
	margin-right: 6px;
}
.pankuzu_list ol li a{
	color: #333;
	font-size: 11px;
	text-decoration: none;
	line-height: 11px;
}
/*.pankuzu_list ol li a::after{
	content:">";
	font-size: 10px;
	margin-left: 8px;
}*/


/* Content Main*/
/* ----------------------------------------- */
#main{
	width: 100%;
	margin: 0px auto 0px;
}
#text-topchach{
	font-size: 12px;
	text-align: center;
	color: #333;
	line-height: 20px;
}

/* Content Attention */
/* ----------------------------------------- */
#content-attention h2{
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	border: 1px solid #ef5a6f;
	color:#ef5a6f;
	padding:5px 0;
	margin-bottom: 4px;
	position: relative;
	border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */  
}

#content-attention h2::after{
	position: absolute;
	top: 47%;
	right: 3%;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #ef5a6f;
	border-right: 1px solid #ef5a6f;
	-webkit-transform: rotate(45deg);
	transform: rotate(135deg);
}

#content-attention{
	width: 90%;
	margin: 10px auto 10px;
	overflow: hidden;
}

#content-attention section{
	margin-bottom: 20px;
	display: none;
}
#content-attention section h3{
	text-align: left;
	font-size: 15px;
	font-weight: normal;
	color:#333;
}

#content-attention section p{
	text-align: left;
	font-size: 12px;
	color:#333;
}


/* Down and Up arrow */
/* ----------------------------------------- */
#attention-downarrow{
	text-align: center;
	display: block;
	padding: 10px 0px;
	margin-bottom: 30px;
	top:0px;
	position: relative;
	/*background: linear-gradient(rgba(255,255,255,0),#FFF);*/
}

#attention-downarrow::after{
	position: absolute;
	top: 0%;
	right: 47%;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -4px;
	border-top: 1px solid #ef5a6f;
	border-right: 1px solid #ef5a6f;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

#attention-uparrow{
	text-align: center;
	display: block;
	padding: 10px 0px;
	margin-bottom: 30px;
	top:0px;
	position: relative;
	/*background: linear-gradient(rgba(255,255,255,0),#FFF);*/
	display: none;
}

#attention-uparrow::after{
	position: absolute;
	top: 0%;
	right: 48%;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin-top: -4px;
	border-top: 1px solid #ef5a6f;
	border-right: 1px solid #ef5a6f;
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg);
}

/* Content Article */
/* ----------------------------------------- */
#content-article{
	width: 100%;
	margin: 0 auto;
	padding:5% 0;

}

#content-article section{
	margin-bottom: 30px;
	padding:5% 2%;
}

#content-article section h2{
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	color:#333;
	border-bottom: 1px solid #666;
	padding: 0px 0;
	width: 96%;
	margin: 0px auto 10px auto;
	letter-spacing: 3px;
}

#content-article section ul{
	list-style: none;
	overflow: hidden;
}

#content-article section ul li[data-list-type="one"]{
	width: 96%;
	margin:0 auto;
}

#content-article section ul li[data-list-type="two"]{
	width: 40%;
	margin:0 5%;
	float: left;
}

#content-article section ul li,#content-article section ul li[data-list-type="one"],#content-article section ul li[data-list-type="two"]{
	margin-bottom: 50px;
}

#content-article section ul li h3{
	font-weight: normal;
	font-size: 11px;
	padding:6px 0;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color:#333;
	background-color: rgba(240,240,240,0.7);
	text-align: center;
}

#content-article section ul li a{
	text-decoration: none;
}

#content-article section ul [data-list-type="one"] .article-name{
	font-size: 10px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:2px;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article section ul [data-list-type="two"] .article-name{
	font-size: 10px;
	color: #333;
	text-align: center;
	margin: 0 auto;
	margin-top:2px;
	width:100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}

#content-article section ul li .artilce-price{
	color:#333;	
	font-size: 15px;
	text-align: center;
	width: 120px;
	margin: -3px auto 0;
	display: block;
}
#content-article section ul li .artilce-price::before{
	content:"￥";
	font-size: 11px;
}

#content-article section ul li .artilce-price::after{
	content:"(税込)";
	font-size: 11px;
}

#content-article section ul li [data-type="free"]{
	width: 100px;
	margin: 0 auto;
	display: block;
	text-align: center;
}
#content-article section ul li [data-type="free"]::after{
	content:"送料無料";
	color: #FFF;
	background-color:#e22;
	padding:2px 10px;
	font-size:15px;
}

/* Link */
/* ----------------------------------------- */
#content-article section .link_text{
	background-color: #FFF;
	border: 1px solid #7198C3;
	text-align: center;
	width: 90%;
	margin: -10px auto 20px;
	border-radius: 3px;        /* CSS3草案 */  
    -webkit-border-radius: 3px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 3px;   /* Firefox用 */
}
#content-article section .link_text a{
	color: #7198C3;
    text-align: center;
    display: block;
    padding: 6px 10px;
    font-size: 12px;
    position: relative;
    font-weight: normal;
}
#content-article section .link_text a::after{
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: "";
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #7198C3;
	border-right: 1px solid #7198C3;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


/* Material */
/* ----------------------------------------- */
