@charset "utf-8";

/* Yahoo!SP 共通ヘッダー CSS */



/*

    共通項目

------------------------------------*/



*{

	color: #333333;

	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	/*-webkit-appearance: none;*/

	margin:0;

	padding:0;

}



a{

	text-decoration: none;

	/*color: #333333;*/

}



p,ul,li,h2,h3,dl,dd,dt{

	padding: 0;

	margin: 0;

	list-style: none;

}





.clearfix{

	clear: both;

}



/*

    ヘッダー

------------------------------------*/



header{

	margin: 10px 0 5px;

}



.customers_name{

	clear: both; 

	text-align: right; 

	padding: 2px 5px; 

	font-size: 12px; 

	margin: 0 0 10px;

	border-bottom: 1px #CCC dotted; 

}



header .boxLeft{

	float: left;

	width: 127px;

	position: relative;

}



header img.icon{

	position: absolute;

	right: 5px;

	top: 25px;

	width: 20px;

}



header .boxRight{

	float: right;

	width: 60%;

}



header div#yumeLogo{

  background: url(https://shopping.geocities.jp/dreamv/sp/images/yumelogo.gif) no-repeat 15px 0;

  background-size: auto 50px;

  height: 65px;

  text-indent: -9999px !important;

  }

  

header div#yumeLogo a{

	display: block;

	height: 55px;

}

  

header .yumeText{ 

  font-size: 7px;

  margin: 5px 0 0 20px;

  position: absolute;

  bottom: 0;

}



header .menuBtn{

	float: right;

	width: 95%;

	margin-right: 5px;

}



header .menuBtn li{

	float: right;

	width: 24%;

	text-align: center;

	line-height: 1em;

	position: relative;

}



header .menuBtn li p{

	margin-bottom: 0;

	line-height: 1em;

	font-size: 17px;

}



header .menuBtn li span{

	font-size: 9px;

}



header .menuBtn li div.cartCount{

	position: absolute;

	top: 0;

	right: 3px;

	color: #f00;

	font-size: 13px;

}



header .searchFormWrap{

	float: right;

	width: 100%;

}



header .keyword{

	margin:0;

	padding:5px 7pxx;

	font-size: 13px;

	color: #CCC;

	text-align: left;

}



header .keyword a{

	color:#333;

}



/*header .keyword a:after{

	content: "|";

	padding: 0 3px;

	color: #666;

}



header .keyword a:after:last-child{

	content: "";

	color: #FFF !important;

}*/



header .keyword span.wordicon{

	font-size: 9px;

	color: #e4007f;

	padding: 1px 5px;

	background-color: #fff;

	text-align: center;

	border-radius:10px;

	margin-top: -1px;

	border: 1px #e4007f solid;

}



header .information{

	color:red; 

	padding:5px 0 0; 

	font-size:12px

}



header .information a{

	color: #f00;

}



/*検索窓*/

form{

	margin: 0 10px 0 ;

}





input.searchForm{

    height: 20px;

    margin: 2px 10px 5px 10px;

    padding: 2px 0 0 2px;

	font-size: 15px;

	width: 63%;

	float: right;

}



footer input.searchForm{

	float: left !important;

}



input.searchBtn{/*検索ボタン*/

	background-image: url(https://shopping.geocities.jp/dreamv/sp/images/icon/ico_searchBtn.png) !important;

	background-size: 28px 24px;

	padding: 0;

	margin: 0;

	background-repeat: no-repeat;

	background-position-x: center;

	height: 30px;

	width: 28px;

	text-indent: -9999px;

	white-space: nowrap;

    overflow: hidden;

	border: none;

	background-color: #fff !important;

	float: right;

	

}



header .pulldown,

footer .pulldown{

	background: url(https://shopping.geocities.jp/dreamv/sp/images/icon/ico_select_arrow_under.png) no-repeat right center;

	background-size: 20px 20px;

	width: 100%;

}


#gNavi li div.cartCount{
	position: absolute;
	top: -5px;
	right: 3%;
	color: #fff;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #e4007f;
	width: 17px;
	height: 17px;
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}

#gNavi li div.newCount{
	position: absolute;
	top: -5px;
	left: 40px;
	color: #fff;
	font-size: 13px;
	line-height: 1.4em;
	background-color: #e4007f;
	width: 17px;
	height: 17px;
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
}
#gNavi{
	margin: 0;
	background-color: #f2f2f2;
	/* position: relative; */
	border-bottom: 1px #666 solid;
	border-top: 1px #666 solid;
}

#gNavi .accordion{
	overflow:hidden;
}


#gNavi img{
	width: 92%;
	margin: 3px auto 0;
}


#gNavi li{
	float: left;
	width: 20%;
	border-right: 1px #666 solid;
	text-align: center;
	font-size: 12px;
	background-color: #f2f2f2;
	padding: 0;
	/* overflow: hidden; */
	_zoom:1;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	position: relative;
}
	
#gNavi li:last-child{
	border-right: none !important;
}
	
#gNavi li.color{
	background-color: #e4007f !important;
}

#gNavi li p.wf{
	font-size: 20px;
	padding: 5px 0 5px;
}

#gNavi li span{
	font-size:10px;
	line-height: 1em;
	padding: 0 0 5px;
}
	
#gNavi li.color{
	background-color: #e4007f !important;
}

#gNavi dt{/*開閉ナビ*/
	float: left;
	width: 19.5%;
	border-right: 2px #333333 solid;
	text-align: center;
	font-size: 12px;
	height: 28px;
	margin: 0;
	background: url(/sp/images/gnavi_search.png) no-repeat center 5px;
	background-size: 93% auto;
	background-position: center 8px;
	background-color: #333;
	}	

#gNavi dt.open{
	background: url(/sp/images/gnavi_search2.png) no-repeat center 5px;
	background-size: 93% auto;
	background-color: #333;
	background-position: center 9px;
}

#gNavi li a,#gNavi dt{
	padding: 2px 0;
	display: block;
	
}

#gNavi dd{
	clear:both;
	display: none;
	background-color:#fff;
	width: 100%;
	padding-top:10px;
	border-bottom: 1px solid #CCC;
}

#gNavi dd .inSearchWrap{
	clear: both;
	padding: 5px;
	background-color: #f2f2f2;
	position: relative;
	font-size:13px;
}

#gNavi dd .inSearchWrap2{
	padding: 10px;
	margin:10px;
	background-color: #ffffff;
	border-radius:7x;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
	box-shadow:0px 0px 3px 3px #EBEBEB;
    -moz-box-shadow:0px 0px 3px 3px #EBEBEB;
    -webkit-box-shadow:0px 0px 3px 3px #EBEBEB;
	
}

#gNavi dd .inSearchBtn{
	-webkit-appearance: none;
	background-color: #666;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	border-radius:5px;
	border: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}

#gNavi select{
	font-size:13px !important;
}

#gNavi input.textarea{
	width:90px; 
	padding: 0 3px 0 3px !important; 
	margin: 0 2px 0 0; 
	font-size:13px;
}



.bar01{

	background-color: #f2f2f2;

	text-align: center;

	padding: 2px;

	font-size: 11px;

}



h2{

	border-bottom: 3px #CCCCCC solid;

	color: #000000;

	padding: 5px 10px !important;

	margin: 10px 0 0 !important;

	font-size: 15px;

	font-weight: bold !important;

}



h2 span{

	color: #333333;

	font-size: 12px;

	padding: 0 10px;

	font-weight: normal;

}



h3{

	color: #000;

	padding: 3px 10px !important;

	margin: 10px 0 0 !important;

	font-size: 15px;

	font-weight: bold !important;

}



h3 span{

	color: #333333;

	font-size: 12px;

	padding: 0 10px;

	font-weight: normal;

}



.badge{/*数字*/

	 background-color: #E4007F;

	 color: #FFF;

	 font-size: 11px;

	 position: absolute;

	 padding: 1px;

	 text-align: center;

	 margin: 0;

	 border-radius: 90px;

	 z-index: 100 !important;

	 width: 17px;

	 border: 1px #FFF solid;

	 font-weight:bold;

	   -moz-box-shadow:

		0px 1px 3px rgba(142,147,148,0.4),

		inset 0px 0px 10px rgba(014,151,242,0);

	-webkit-box-shadow:

		0px 1px 3px rgba(142,147,148,0.4),

		inset 0px 0px 10px rgba(014,151,242,0);

	box-shadow:

		0px 1px 3px rgba(142,147,148,0.4),

		inset 0px 0px 10px rgba(014,151,242,0);

	top: -11px;

	left: 40px;

}





.h_information{

	color: #f00;

	padding:5px 0 0; 

	font-size:12px;

	text-align: center;

}



.h_information a{

	color: #f00;

}









/*

	フッター

-------------------------------------------*/



footer{

	font-size: 13px;

}



.pagetopLink{

	margin: 20px 0 10px;

	text-align: center;

}



.pagetopLink img{

	width:50px;

}





footer .footerNavi01{

	border-top: 2px #CCCCCC solid;

	border-bottom: 1px #CCCCCC dotted;

	font-size: 13px;

}



footer .footerNavi01 ul{

	width: 100%;

	margin: 7px auto;

}



footer .footerNavi01 li{

	width: 33%;

	float: left;

	text-align: center;

	overflow: hidden;

	_zoom:1;

}



footer .footerNavi01 li span{

	font-size: 13px;

	padding-right: 3px;

}



footer .footerNavi02{

	font-size: 15px;

	text-align: center;

	margin: 5px 0;

}





footer .footerNavi02 span{

	color: #ff3399 !important;

	padding: 0 5px;

}



footer .footerNavi03{

	margin: 10px auto;

	text-align: center;	

	font-size: 12px;

	line-height: 20px;

}



footer .footerNavi03 a{

	text-align: center;

	color: #333333;

}



footer .menuBtn li div.cartCount{

	position: absolute;

	top: 0;

	right: 0;

	color: #f00;

	font-size: 13px;

}



.copyright{

	background-color: #333333;

	color: #FFF;

	text-align: center;

	padding: 2px;

	font-size: 10px !important;

	line-height: 14px;

}





footer .boxLeft{

	float: left;

	width: 70%;

	overflow: hidden;

	_zoom:1;

}



footer .boxRight{

	float: right;

	width: 28%;

	overflow: hidden;

	_zoom:1;

	margin-right:5px;

}





footer .menuBtn{

	float: right;

	width: 100%;

	overflow: hidden;

	_zoom:1;

}



footer .menuBtn li{

	float: right;

	width: 50%;

	text-align: center;

	line-height: 1em;

	position: relative;

	overflow: hidden;

	_zoom:1;

}



footer .menuBtn li p{

	margin-bottom: 0;

	font-size: 17px !important;

	line-height: 1em;

}



footer .menuBtn li span{

	font-size: 7px !important;

}





/*

	スライダー下部広告枠

-------------------------------------------*/





#advertising{

	margin: 0;

}



#advertising .itemList{

	margin: 10px 0 0 1.5%;

}



#advertising .itemList ul{

	overflow:hidden;

}



#advertising .itemList li{

	/*float: left;*/

	display: inline-block;

	width: 47.5%;

	margin: 0 7px 0 0;

}



#advertising .itemList li dt{

	position: relative;

}



#advertising .itemList li a dt img{

	width: 100%;

}







#advertising .itemList li.header--half{

	/*float: left;*/

	display: inline-block;

	width: 47.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--half dt{

	position: relative;

}



#advertising .itemList li.header--half a dt img{

	width: 100%;

}







#advertising .itemList li.header--full{

	/*float: left;*/

	display: inline-block;

	width: 97.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--full dt{

	position: relative;

}



#advertising .itemList li.header--full a dt img{

	width: 100%;

}







/*

	スライダー下部広告枠

-------------------------------------------*/





#advertising{

	margin: 0;

}



#advertising .itemList{

	margin: 10px 0 0 1.5%;

}



#advertising .itemList ul{

	overflow:hidden;

}



#advertising .itemList li{

	/*float: left;*/

	display: inline-block;

	width: 47.5%;

	margin: 0 7px 0 0;

}



#advertising .itemList li dt{

	position: relative;

}



#advertising .itemList li a dt img{

	width: 100%;

}







#advertising .itemList li.header--half{

	/*float: left;*/

	display: inline-block;

	width: 47.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--half dt{

	position: relative;

}



#advertising .itemList li.header--half a dt img{

	width: 100%;

}







#advertising .itemList li.header--full{

	/*float: left;*/

	display: inline-block;

	width: 97.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--full dt{

	position: relative;

}



#advertising .itemList li.header--full a dt img{

	width: 100%;

}





/*

	スライダー下部広告枠

-------------------------------------------*/





#advertising{

	margin: 0;

}



#advertising .itemList{

	margin: 10px 0 0 1.5%;

}



#advertising .itemList ul{

	overflow:hidden;

}



#advertising .itemList li{

	/*float: left;*/

	display: inline-block;

	width: 47.5%;

	margin: 0 7px 0 0;

}



#advertising .itemList li dt{

	position: relative;

}



#advertising .itemList li a dt img{

	width: 100%;

}







#advertising .itemList li.header--half{

	/*float: left;*/

	display: inline-block;

	width: 47.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--half dt{

	position: relative;

}



#advertising .itemList li.header--half a dt img{

	width: 100%;

}







#advertising .itemList li.header--full{

	/*float: left;*/

	display: inline-block;

	width: 97.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--full dt{

	position: relative;

}



#advertising .itemList li.header--full a dt img{

	width: 100%;

}





/*

	スライダー下部広告枠

-------------------------------------------*/





#advertising{

	margin: 0;

}



#advertising .itemList{

	margin: 10px 0 0 1.5%;

}



#advertising .itemList ul{

	overflow:hidden;

}



#advertising .itemList li{

	/*float: left;*/

	display: inline-block;

	width: 47.5%;

	margin: 0 7px 0 0;

}



#advertising .itemList li dt{

	position: relative;

}



#advertising .itemList li a dt img{

	width: 100%;

}







#advertising .itemList li.header--half{

	/*float: left;*/

	display: inline-block;

	width: 47.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--half dt{

	position: relative;

}



#advertising .itemList li.header--half a dt img{

	width: 100%;

}







#advertising .itemList li.header--full{

	/*float: left;*/

	display: inline-block;

	width: 97.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--full dt{

	position: relative;

}



#advertising .itemList li.header--full a dt img{

	width: 100%;

}









/*

	スライダー下部広告枠

-------------------------------------------*/





#advertising{

	margin: 0;

}



#advertising .itemList{

	margin: 10px 0 0 1.5%;

}



#advertising .itemList ul{

	overflow:hidden;

}



#advertising .itemList li{

	/*float: left;*/

	display: inline-block;

	width: 47.5%;

	margin: 0 7px 0 0;

}



#advertising .itemList li dt{

	position: relative;

}



#advertising .itemList li a dt img{

	width: 100%;

}







#advertising .itemList li.header--half{

	/*float: left;*/

	display: inline-block;

	width: 47.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--half dt{

	position: relative;

}



#advertising .itemList li.header--half a dt img{

	width: 100%;

}







#advertising .itemList li.header--full{

	/*float: left;*/

	display: inline-block;

	width: 97.8%;

	margin: 0 1%;

	float:left;

}



#advertising .itemList li.header--full dt{

	position: relative;

}



#advertising .itemList li.header--full a dt img{

	width: 100%;

}





/*



