@charset "utf-8";
/* CSS Document */

	.top_space50_ {
		margin-top: 10px !important;
	}
	.top_space80_ {
		margin-top: 20px !important;
	}
	.top_space100_ {
		margin-top: 30px !important;
	}
	.bottom_space50_ {
		margin-bottom: 10px !important;
	}
	.bottom_space80_ {
		margin-bottom: 20px !important;
	}
	.bottom_space100_ {
		margin-bottom: 30px !important;
	}
	.clear_ {
		clear: both;
	}
	.topimg_ {
		text-align: center;
	}
	div#bigsale {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		background-color: #fff;
		color: #000;
	}
	div#bigsale h2{
		margin-top: 50px;
	}
	ul.item_line03_,
	ul.item_line04_{
		width: 95%;
		text-align: center;
		margin: 0 auto;
	} 
	ul.item_line03_ a,
	ul.item_line04_ a{
		color: #333;
		text-decoration: none;
	}
	ul.item_line03_ li{
		width: 45% !important;
		display:inline-block;
		vertical-align: top;
		margin: 8px 4px 30px;
		position: relative;
		padding-bottom: 10px;
	}
	@media screen and (max-width:320px){
		ul.item_line03_ li {
		width: 44.5% !important;
	}
	}
	ul.item_line03_.bg_color_ li{
		border: 1px #ccc solid;
		background-color: #188946;
	}
	ul.bg_color02_ li {
		border: 1px #89b8df solid;
		background-color: #c3e1fa;
	}
	ul.item_line03_ img {
    border: none !important;
}
	ul.item_line04_ li{
		width: 29%;
		display:inline-block;
		vertical-align: top;
		margin: 5px 3px 10px;
		position: relative;
	}
	ul.item_line04_.bg_color_ li {
		border: 1px #bf0000 solid;
		background-color: #fdfcb8;
	}

	@media screen and (max-width:320px){
		ul.item_line04_ li{
			width: 29.5%;
		}
	}	
	ul.item_line03_ img,
	ul.item_line04_ img{
		width: 100%;
		/* border: 3px #f4282e solid; */
	}
	ul.item_line03_ dt{
		margin: 0;
		padding: 0;
	}
	ul.item_line03_ dd,
	ul.item_line04_ dd{
		margin: 5px 0;
		padding: 0 3px;
		text-align: center;
		/* display: none; */
	}
	ul.item_line03_ dd.item_articlename_,
	ul.item_line04_ dd.item_articlename_{
		font-size: 10px;
		line-height: 1.2em;
		text-overflow: ellipsis;
		-webkit-text-overflow: ellipsis; /* Safari */
		-o-text-overflow: ellipsis; /* Opera */
		white-space: nowrap;
		overflow: hidden;
		display: none;
	}
	ul.item_line03_ dd.item_price_{
		text-align: center;
		font-size: 27px;
		font-weight: bold;
		margin: 5px 0 0;
		line-height: 1em;
		color: #bf0000;
	}
	ul.item_line04_ dd.item_price_{
		text-align: center;
		font-size: 18px;
		/* font-weight: bold; */
		margin: 5px 0 0;
		line-height: 1em;
		color: #f71666;
	}
	ul.item_line03_ dd.item_price_ span{
		font-size: 15px;
		color: #bf0000;
	}
	ul.item_line03_ dd.item_price_ span.intax_ {
		color: #bf0000;
	}
	ul.item_line03_ dd.item_price_ span.intax_,
	ul.item_line04_ dd.item_price_ span {
		font-size: 10px;
		color: #f71666;
	}
	ul.item_line03_ dd.item_doubleprice_{
		font-size: 12px;
		line-height: 1em;
		margin-top: 5px !important;
		color: #fff;
		}
	ul.item_line03_:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	ul.item_line03_ dd.item_offbar {
		color: #bf0000;
		font-size: 1em;
		margin: 0;
		font-weight: bold;
		background-color: rgba(256,256,256,0.9);
		padding: 1px 0;
	}
	ul.item_line03_ dd.item_offbar span{
		color: #000;
		font-size: 0.7em;
		font-weight: normal;
	}
	ul.item_line03_.bg_color02_ dd.item_offbar {
    color: #336188;
}
	ul.item_line04_ dd.item_offbar {
		color: #bf0000;
		font-size: 15px;
		margin-top: 0;
		font-weight: bold;
		background-color: rgba(256,256,256,0.9);
		padding: 1px 0;
	}
	ul.item_line04_ dd.item_offbar span{
		color: #000;
		font-size: 9px;
		font-weight: normal;
	}
	ul.item_line04_.inc_ranking_all li:nth-child(n+28){
		display: none;
	}
	ul.item_line04_ dd.item_doubleprice_ {
		/* display: none; */
		font-size: 12px;
	}

    .salecolor_ dd.item_bar01_ {
		padding: 3px 0 1px !important;
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 1;
		}
	.bg_color_ dd.item_bar01_,
	.bg_color02_ dd.item_bar01_ {
    background-color: #f82a3d;
    color: #fbff2a;
    font-size: 12px;
    padding: 3px 0 1px !important;
}
	dd.item_bar02_ {
		padding: 3px 0 !important;
		font-size: 10px;
		letter-spacing: 1px;
		line-height: 1;
		background-color: #f82a3d;
		color: #ffff00;
	}

    /*カテゴリ別カラー*/
    ul.item_line04_.col_01_  li{
		border: 1px #f4c2d4 solid;
		background-color: #fbeaf0;
	}
    .fukidashi_.col_01_ {
	background-color: #fbeaf0;
	}
	.fukidashi_.col_01_:after {
		border-top-color: #fbeaf0;
	}
	ul.col_01_ li dd.item_bar01_ {
    background-color: #e34f84;
    color: #fff;
	}
	ul.item_line04_.col_02_  li{
		border: 1px #9fd6f6 solid;
		background-color: #eff9ff;
	}
	.fukidashi_.col_02_ {
	background-color: #eff9ff;
	}
	.fukidashi_.col_02_:after {
		border-top-color: #eff9ff;
	}
	ul.col_02_ li dd.item_bar01_ {
    background-color: #55ace0;
    color: #fff;
	}

	ul.item_line04_.col_03_  li{
		border: 1px #9fc6b0 solid;
		background-color: #e3feef;
	}
	.fukidashi_.col_03_ {
	background-color: #e3feef;
	}
	.fukidashi_.col_03_:after {
		border-top-color: #e3feef;
	}
	ul.col_03_ li dd.item_bar01_ {
    background-color: #47b075;
    color: #fff;
 }

	ul.item_line04_.col_04_  li{
		border: 1px #c0a9c8 solid;
		background-color: #f8e9fd;
	}
	.fukidashi_.col_04_ {
	background-color: #f8e9fd;
	}
	.fukidashi_.col_04_:after {
		border-top-color: #f8e9fd;
	}
	ul.col_04_ li dd.item_bar01_ {
    background-color: #a345c4;
    color: #fff;
 }
	
	/*セール赤色*/
	ul.item_line03_.salecolor_ li,
	ul.item_line04_.salecolor_ li{
	  border: 2px #bf0000 solid;
	  background-color: #bf0000;
	  	  /*background: -webkit-repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #bf0000 5px, #bf0000 10px);
		background: repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #bf0000 5px, #bf0000 10px);*/
		/*opacity: 0.6; 予告時透けさせる*/
	}

	ul.item_line03_.salecolor_ li a,
	ul.item_line04_.salecolor_ li a{
		color: #fff;
	}
	ul.item_line03_.salecolor_ dd.item_price_,
	ul.item_line04_.salecolor_ dd.item_price_{
		color: #ff0 !important;
	}
	ul.item_line03_.salecolor_ dd.item_price_ span.intax_,
	ul.item_line04_.salecolor_ dd.item_price_ span.intax_{
		color: #ff0 !important;
	}
	ul.item_line03_.salecolor_ dd.item_price_{
		font-size: 26px;
	}
	ul.item_line04_ dd.sale_price_ {
		color: #bf0000;
	}
	ul.timesale_ ul.item_line03_ dd.item_price_ span {
		color: #bf0000;
	}
	.salecolor_ dd.item_bar01_ {
    background-color: #feff00;
    color: #f82a3d;
    font-size: 10px;
	padding: 5px 0 2px;
}
	ul.item_line03_.bg_color_ dd.item_price_,
	ul.item_line03_.bg_color02_ dd.item_price_ {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 5px 0;
    line-height: 1em;
    color: #f91061;
}
	ul.item_line03_.bg_color_ dd.item_price_ span,
	ul.item_line03_.bg_color02_ dd.item_price_ span,
	ul.item_line03_.bg_color_ dd.item_price_ span.intax_,
	ul.item_line03_.bg_color02_ dd.item_price_ span.intax_ {
    color: #f91061;
}
	
	/*もっと見る*/
	.button_style01_ {
		width: 90%;
		margin: 0 auto 30px;
		text-align:center;
		font-size: 16px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		position:relative;
		/* clear: both; */
	}
	.button_style01_ a{
		color: #fff;
		text-decoration: none;
		padding: 7px 0px;
		/*border: 3px #bf0000 solid;*/
		background-color: #D86196;
		display: block;
		font-weight: normal !important;
		border-radius: 5px;        /* CSS3草案 */
		-webkit-border-radius: 5px;    /* Safari,Google Chrome用 */
		-moz-border-radius: 5px;
		/*box-shadow:2px 2px 3px 3px #ggg;
		-moz-box-shadow:2px 2px 3px 3px #bf0000;
		-webkit-box-shadow:2px 2px 0 3px #bf0000;*/
	}
	
	/*もっと見る 複数ボタン*/
ul.button_line3_ {
    margin: 0 auto;
    width: 96%;
}
ul.button_line3_ li {
    float: left;
    list-style: none;
    margin: 0 8px 10px 0;
    width: 31% !important;
    background-color: #ff6db9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
ul.button_line3_ li:nth-child(3n){
	margin-right: 0;
}
ul.button_line3_ li a {
    padding: 8px 3px;
    text-align: center;
    font-size: 12px;
    display: block;
	color: #fff;
}
ul.button_line3_ li::after {
    position: absolute;
    top: 47%;
    right: 8px;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
	
	/*下部メニューボタン FIX*/
	#topic_navi_fix {
		width: 100%;
		position: fixed;
		bottom: 0;
		z-index: 50;
		text-align: center;
		color: #fff;
		font-weight: bold;
		padding: 0;
		display: block;
		letter-spacing:2px;
		background-color: #013fee;
		box-shadow:2px 2px 8px 3px rgba(110, 109, 109, 0.6);
		-moz-box-shadow:2px 2px 8px 3px rgba(110, 109, 109, 0.6);
		-webkit-box-shadow:2px 2px 8px 3px rgba(110, 109, 109, 0.6);
	}
	#topic_navi_fix ul li {
		width: 19.5%;
		float: left;
		border-right: 1px #FFF solid;
	}
	#topic_navi_fix ul li img {
		width: 100%;
		vertical-align: bottom;
	}
	#topic_navi_fix ul li a{
		display: block;
		padding: 5px 0;
	}
	#topic_navi_fix ul li:nth-child(5){
		border: none;
	}
	
	.tex01_ {
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    letter-spacing: 2px;
    margin-top: 20px;
    /* color: #bf0000; */
 }
	.tex03_ {
		text-align: center;
		font-size: 17px;
		line-height: 2em;
		/*letter-spacing: 2px;*/
		margin: 0;
		padding: 10px 0;
	}
	.tex03_ span {
		font-size: 1.3em;
		color: #bf0000;
	}
	.tex03_.fukidashi_ span {
		font-size: 2em;
		font-weight: bold;
		color: #bf0000;
	}
	.tex04_ {
		text-align: center;
		font-size: 12px;
		line-height: 1.4;
		padding: 0 10px;
	}
	.tex04_ span{
		font-weight: bold;
		letter-spacing: 1px;
		color: #bf0000;
	}
	
    .fukidashi_ {
	position: relative;
	border-bottom: 2px solid #000;
	}
	.fukidashi_:after, .fukidashi_:before {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.fukidashi_:after {
		border-color: rgba(136, 183, 213, 0);
		border-top-color: #fff;
		border-width: 13px;
		margin-left: -13px;
	}
	.fukidashi_:before {
		border-color: rgba(194, 225, 245, 0);
		border-top-color: #000;
		border-width: 16px;
		margin-left: -16px;
	}
	
	h2 .event_start_ {
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 1.4;
	}
	.info_mail_ {
		width: 90%;
		margin: 20px auto;
		text-align: center;
	}
	.info_mail_ .info_app_ li{
		width: 25%;
		float: left;
		margin: 20px auto;
	}
	.info_mail_ .info_app_ li img{
		width: 80%;
	}

	ul.arrow_ {
		width: 70%;
		margin: 0 auto;
	}
	ul.arrow_ li {
		float: left;
		width: 33%;
		margin: 0 auto;
		text-align: center;
	}
	ul.arrow_ li img{
		width: 30%;
	}
	.commingsoon25 li:before {
		content:"3/30(木) 19:00～";
		color: #fff;
		font-size: 23px;
		background-color: #000;
		width: 100%;
		position: absolute;
		left: 0;
		top: 320px;
		padding: 10px 0;
		opacity: 0.9;
		font-weight: bold;
	}

	ul.item_line04_.commingsoon24  li:before {
		top: 200px !important;

	}
	
    ul.item_line03_.inc_newitem_10off_all dd.item_price_,
	ul.item_line04_.inc_newitem_10off_all dd.item_price_,
	ul.item_line04_.inc_freeshipping_ dd.item_price_{
		color: #000;
		font-size: 15px;
	}
	ul.item_line03_.inc_newitem_10off_all dd.item_price_ span,
	ul.item_line04_.inc_newitem_10off_all dd.item_price_ span{
		color: #000;
		font-size: 10px;
	}
	ul.item_line03_.inc_newitem_10off_all .item_doubleprice_,
	ul.item_line04_.inc_newitem_10off_all .item_doubleprice_{
		text-decoration:line-through;
	}
	ul.item_line03_.inc_newitem_10off_all dd.item_price_ .sale_,
	ul.item_line04_.inc_newitem_10off_all dd.item_price_ .sale_{
		color: #bf0000;
		font-size: 15px;
		margin-top: 12px !important;
	}
	ul.item_line03_.inc_newitem_10off_all dd.item_price_ .sale_ span,
	ul.item_line04_.inc_newitem_10off_all dd.item_price_ .sale_ span{
		color: #bf0000;
		font-size: 11px;

	}


	.inc_ranking_all dd.item_price_{
		/* display: none; */
		font-size: 15px !important;
		color: #000 !important;
	}

    p.attention_ {
    font-size: 10px;
    letter-spacing: 1px;
	line-height: 1.3;
    color: #bf0000;
    text-align: center;
    padding: 10px;
	}
	p.attention_ span {
    font-size: 1.2em;
    font-weight: bold;
	}

    /* ---------------------------------------------------------------
	商品一覧アイコン
	--------------------------------------------------------------- */ 
	div.item_icon_ {
		margin: 0 0 7px;
		text-align: left;
	}
	div.item_icon_ span.new_  {

		font-size: 10px;
		color: #fff;

		padding: 0 3px;
		margin-right: 2px;
		line-height: 1;
		color: #D96196;
		border: 1px #D96196 solid;
	}
	div.item_icon_ span.re_  {
		font-size: 10px;
		color: #fff;
		padding: 0 3px;
		margin-right: 2px;
		line-height: 1;
		color: #6E74BB;
		border: 1px #6E74BB solid;
	}
	div.item_icon_ span.free_  {
		font-size: 10px;
		color: #fff;
		padding: 0 3px;
		margin-right: 2px;
		line-height: 1;
		color: #E06D6F;
		border: 1px #E06D6F solid;
	}
	div.item_icon_ span.upday_  {
		font-size: 13px;
		padding: 0 5px 0 0;
		line-height: 1;
	}
	
	
	div.item_icon_.yokoku_ {
		margin: 0 0 3px;
		text-align: center;
		line-height: 1.2;
	}
	
	
	div.item_icon_.yokoku_ span.upday_  {
		font-size: 15px;
		padding: 0;
		line-height: 1;
		color: #E06D6F;
	}
	
	/*ランク*/
	.ranking_count_ li:before  {
		position: absolute;
		top: -5px;
		left: -5px;
		width: 20px;
		height: 13px;
		margin: 0;
		padding: 7px 3px 7px;
		text-align: center;
		content: counter(ranking_count_);
		z-index: 10;
		font-size: 15px;
		border-radius: 50%;
		background: #fff;
		color: #333;
		border:  #ccc solid 1px;
	}
	.ranking_count_ li  {
		display: block;
		position: relative;
		counter-increment: ranking_count_;
		cursor: pointer;
	}
	
	.ranking_count_ li:nth-child(1):before {
		 background: #D9C646 !important;
		 color: #fff !important;
		 border-color: #D9C646 !important;
	}
	
	
	.ranking_count_ li:nth-child(2):before {
		 background: #9E9C9C !important;
		 color: #fff !important;
		 border-color: #9E9C9C !important;
	}
	.ranking_count_ li:nth-child(3):before {
		 background: #A05615 !important;
		 color: #fff !important;
		 border-color: #A05615 !important;
	}
	ul.inc_ranking_shoes_all li:nth-child(n+5){
		display: none;
	}
  
	li .icon2 {
		position: absolute;
		top: -23px;
		left: -12px;
		width: 50px;
	 }
	
	.info_banner_ {
		width: 70%;
		margin: 20px auto;
	}
	.info_banner_ li {
		/* float: left; */
		/* width: 48%; */
		margin: 20px 0;
		position: relative;
	}
	.info_banner_ li:nth-child(2n) {
		margin-right: 0;
	}
	.info_banner_ li img{
		width: 100%;
	}
	.click_hand_ {
    position: absolute;
    bottom: -16px;
    right: 0;
 }
	.click_hand_ img {
		width: 61px !important;
	}
	
	/*メニューボタン*/
	div#topic_navi {
		width: 90%;
		margin: 20px auto !important;
	}
	div#topic_navi li {
		/* float: left; */
		display: inline-block;
		width: 46%;
		vertical-align: top;
		margin: 0 10px 10px 0;
		border: 2px #000 solid;
		position: relative;
	}
	@media screen and (max-width:320px){
		div#topic_navi li {
		width: 45.5%;
	}
	}
	div#topic_navi li:nth-child(2n) {
		margin-right: 0px;
	}
	div#topic_navi li img {
		width: 100%;
	}
	div#topic_navi li a{
		text-decoration: none;
	}
.event_number_ {
		background-color: #000;
		padding: 5px 0;
		text-align: center;
		color: #fff;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1;
	}

@-webkit-keyframes pulse {
 from {
   opacity: 1.0;/*透明度100%*/
 }
 to {
   opacity: 0.8;/*透明度80%*/
 }
}
.blinking{
-webkit-animation-name: pulse;/* 実行する名前 */
-webkit-animation-duration: 0.3s;/* 0.3秒かけて実行 */
-webkit-animation-iteration-count:infinite;/* 何回実行するか。infiniteで無限 */




-webkit-animation-timing-function:ease-in-out;/* イーズインアウト */
-webkit-animation-direction: alternate;/* alternateにするとアニメーションが反復 */
-webkit-animation-delay: 0s; /* 実行までの待ち時間 */
}



dd.price span.sale {
    line-height: 1.3;
    color: #bf0000 !important;
    font-size: 12px !important;
}

dd.price span.sale span {
    color: #bf0000;
}

/*
	タイムSALE
------------------------------*/
.sale_medama01_ {
	width:90%;
	text-align: center;
	margin: 0 4% 30px;
	position:relative;
	border: solid 3px #db0213;
	background-color: #fff;
	display: inline-block;
}
.sale_medama01_ .limited_time{
	font-size:16px; background-color:#db0213; 
	color:#fff;
	letter-spacing:2px;
	padding: 15px 5px 10px;
    line-height: 1.2;
}
.sale_medama01_ .limited_time span {
	font-size: 16px;
	color:#fff;
}
.sale_medama01_ .left_box_ {
	width: 90%;
    margin: 0 auto;
    padding: 2% 0 0;
}
.sale_medama01_ .left_box_ img {
	width: 100%;
}
.sale_medama01_ .right_box_ {
	width: 96%;
	margin: 0 auto;
}
.sale_medama01_ .right_box_ .right_sabimg_ {
	display: none;
}

.sale_medama01_ .right_box_ .limited_price p {
	font-size: 11px;
	letter-spacing: 2px;
	color: #333;
	text-align: center;
	line-height: 1.4em;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_doubleprice_ {
	font-size: 16px;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ {
	font-size: 38px;
	font-weight: bold;
	color: #db0213;
	line-height: 1em;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ span.imadake_yen {
	font-size: 20px;
	font-weight: bold;
	color: #db0213;
}
.sale_medama01_ .right_box_ .limited_price p.imadake_price_ span.free_sip {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background-color: #db0213;
	padding: 0 8px;
	margin-right: 10px;
	letter-spacing: 0;
}
.sale_medama01_ .right_box_ .limited_price p.btn_buy_ {
	width: 80%;
	margin: 0 auto 10px;
	background-color: #db0213;
	color: #fff;
	font-size: 18px;
	letter-spacing: 4px;
	padding: 5px;
	border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.sale_medama01_ .icon_medama_ {
	position: absolute;
	left: -15px;
	top: 30px;
}
.sale_medama01_ .icon_medama_ img{
	width:120px;
}

.event_number_ {
		background-color: #000;
		padding: 5px 0;
		text-align: center;
		color: #fff;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 1;
	}
	.event_start_ {
		background-color: #bf0000;
		padding: 5px 0;
		text-align: center;
		color: #fff;
		font-size: 12px;
		/* letter-spacing: 1px; */
		line-height: 1.2;
		font-weight: bold;
		background: -webkit-repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #bf0000 5px, #bf0000 10px);
		background: repeating-linear-gradient(45deg, #f02b3d, #f02b3d 5px, #bf0000 5px, #bf0000 10px);
	}

/*	li.ico_new_:before {
    content: "NEW";
    background-color: #ffff54;
    color: #bf0000;
    font-size: 9px;
    line-height: 270%;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    height: 21px;
    left: -7px;
    top: -15px;
    border: 1px #bf0000 solid;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
 }
	li.ico_up_:before {
		content: "更新";
		background-color: #ffffff;
		color: #bf0000;
		font-size: 9px;
		line-height: 270%;
		font-weight: bold;
		padding: 3px;
		position: absolute;
		height: 21px;
		left: -7px;
		top: -15px;
		border: 1px #bf0000 solid;
		border-radius: 50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50%;
	}*/
.subtex01_ {
    text-align: center;font-size: 10px;color:#000;margin: 10px auto;padding: 0 10px;line-height: 1.3em;
}
ul.list03_{
	margin: 10px auto;
	padding:0;
	font-size:12px;
	width: 96%;
}

ul.list03_ li {
  width: 31%;
  margin: 2px 1% 10px;
  padding: 0;
  float: left;
  list-style: none;
}

ul.list03_ li:nth-child(3n+1){
	clear:both;
}
ul.list03_ li img{
	margin:0 auto;
	padding:0;
	width:100%;
}
ul.list02_ {
	width: 96%;
	margin: 0 auto;
}
ul.list02_ li {
	width: 48%;
	float: left;
	margin: 0 4% 20px 0;
}
ul.list02_ li:nth-child(2n){
	margin-right: 0;
}
ul.list02_ li img {
	width: 100%;
}

/*
	木曜6HタイムSALE
------------------------------*/
.text_ {
	text-align: center;
}

.bg_red_ {
	background-color: #db0213;
	padding: 10px;
}

.bg_white_ {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
.icon_ {
	position: absolute;
	width: 60px;
	top: -20px;
	left: -7px;
}
.icon_ img {
	width: 100%;
}
.obi01_ {
    background-color: #bf0000;
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 2px 0 0;
    margin-top: -5px !important;
}
/*　カウントダウン　*/
#CDT{
	width:98%;
	margin: 0 auto;
	text-align:center;
	color:#bf0000 !important;
	font-size: 16px;
	/*border:2px solid #E50003;*/
	height: auto;
	text-align: center;
}
#CDT .day{
	font-size: 24px;
	color:#bf0000 !important;
}
#CDT .hour,#CDT .min,#CDT .sec{
 	font-size: 32px;
	color:#bf0000 !important;
}
#CDT .hour,#CDT .min,#CDT .milli {
	color:#bf0000 !important;
}
#CDT .cd_title{
	font-size:16px !important;
	margin-bottom:0;
	color:#333;
}


ul.medama_list02 {
	width: 98%;
	margin: 0 auto;
	padding: 0;
}
ul.medama_list02 li{
	width: 47%;
	border: 3px solid #bf0000;
	float: left;
	padding-bottom:8px;
	margin-bottom: 20px;
	background-color: #fff;
}
ul.medama_list02 li:nth-child(2n+1){
	margin-right:1.5%;
	clear:both;
}
ul.medama_list02 li img{
	width: 100%;
}
ul.medama_list02 .limited_time {
	background-color:#bf0000; 
	color:#000; 
	font-size:14px; 
	margin:0; 
	padding:3px 2px;
	text-align: center;
}
ul.medama_list02 .limited_time span{
	font-size:10px;
	color:#000;
}
ul.medama_list02 li dd.item_articlename_ {
	font-size:11px;
	padding:5px;
	text-align:center;
	color:#000;
}
ul.medama_list02 li dd.doubleprice {
	font-size:12px;
	color:#000;
	text-align: center;
	letter-spacing: 1;
}
ul.medama_list02 li dd.item_price_ {
	font-size:24px;
	font-weight:bold;
	color: #bf0000;
	line-height:1;
	text-align: center;
}
ul.medama_list02 li dd.item_price_ span,
ul.medama_list02 li dd.item_price_ span.inTax {
	font-size:14px;
	color: #bf0000 !important;
}
ul.medama_list02 li dd.item_price_ img {
	width:80%;
	margin: 0 auto;
}
ul.medama_list02 li dd.btn_ {
	width: 86%;
    margin: 5px auto 0;
    text-align: center;
    font-size: 14px;
    padding: 1px;
    letter-spacing: 2px;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #bf0000;
}

ul.medama_list02 li dd.btn_ a{
	    color: #fff !important;
	    text-decoration:none;
	    display: block;
	    font-weight: normal !important;
}

.medama_list02 li {
	position: relative;
}
.icon_medama_ {
	position: absolute;
    top: -20px;
    left: -8px;
    width: 45px;
}


/*
	タイムスケジュール
------------------------------*/
.schedul{
	padding: 20px 0;
	width: 100%;
}

.schedul p {
	font-size: 12px;
	line-height: 1.6;
	text-align: center;
	padding: 0 10px;
}
ul.list02.favorite,ul.list03.favorite{
	margin: 0 auto 30px;
	padding:0;
	width: 100%;
	text-align: center;
}
ul.list03.favorite li {
	width: 29%;
    margin: 0 2%;
	float: left;
}
ul.list02.favorite li {
	width: 33%;
	margin: 0 2%;
	display: inline-block;
	/* float: left; */
	vertical-align:  top;
}
ul.list03.favorite li:nth-child(3n) {
	margin-right: 0;
}
ul.list02.favorite li dd.item_favorite_btn_,ul.list03.favorite li dd.item_favorite_btn_ {
	margin: 0 1% 3px;
	list-style: none;
	text-align: center;
	background-color: #ff5917;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
ul.list02.favorite li a dd.item_favorite_btn_,ul.list03.favorite li a dd.item_favorite_btn_ {
	text-decoration: none;
	display:block;
	padding:7px 0 5px;
	font-size: 12px;
	color: #fff !important;
}
ul.list02.favorite li dd.item_price_,ul.list03.favorite li dd.item_price_ {
	font-size: 18px;
	color: #ff5917;
	font-weight: bold;
	text-align: center;
	line-height: 1.2;
}
ul.list02.favorite li dd.item_price_ span,ul.list03.favorite li dd.item_price_ span {
	font-size: 12px;
	color: #ff5917;
	font-weight:normal;
}
ul.list03.favorite li dd.item_price_ span.intax_ {
	font-size: 10px;
	color: #d70000;
	font-weight:normal;
}
