@charset "utf-8";
/* category_page bese CSS */



/*
	共通
------------------------------*/
h1,h2,p,ul,li,dl{
	margin:0;
	padding:0;
	list-style: none;
}

h1{
	font-size: 15px;
	text-align: center;
	line-height: 1.2em;
}

h1+p{
	text-align: center;
	font-size: 13px;
}

h1+p img{
	width: 100%;
	margin: 10px auto;
	}

a{
	text-decoration: none;
	color: #333;
}

.clearfix{
	clear: both;
}

.date_time{
	color:#F00;
	margin:3px !important;
	text-align:right !important;
	padding-right:5px !important;
	font-size:11px !important;
}


.freeText01{
	font-size:12px; 
	text-align:center;
	text-align: left;
	margin:10px; 
	line-height:15px;
}



#itemList h2{
	text-align: center;
	padding: 7px;
	/*background-color: #666;*/
	color: #333;
	font-size: 18px;
	margin: 40px 0 10px;
	border-bottom: 2px #CCC solid;
	letter-spacing: 2px;
	font-weight: bold;
}


#itemList h2.sale{
	color: #DF223E;
	border-bottom: 2px #DF223E solid;
}


#itemList h2 div.text{
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 5px;
  padding: 2px 0 0 0;
}


#itemList h2.taste{
	border: none !important;
	margin: none !important;
	padding: 7px 0 !important;
}

#itemList h2.taste img{
	width:100% !important;
}


#item_list h3{
	text-align:center; 
	font-weight:bold;
	 color:#FFF;
	 margin:0 auto;
}


#itemList h3.style01 {
    font-size: 1em;
    font-weight: normal !important;
    /* text-align: left !important; */
    background-color: #ddd;
    color: #fff;
    padding: 5px  0 5px 15px !important;
    letter-spacing: 2px;
	text-align: center;
}

/*ブランドランキング*/
#itemList h3.style01.dbs {
    background-color: #ae9fb6;
}

#itemList h3.style01.dml {
    background-color: #e1afbf;
}

#itemList h3.style01.nlm {
    background-color: #a2a1a1;
}

#itemList .brandRanking .list02 li {
    width: 30%;
    margin: 5px 5px;
}

#itemList .brandRanking .list02 li:nth-child(2n+1) {
    margin: 5px 5px;
	clear: both;
}

.brandRanking .rankIcon {
    top: -2px;
    left: -3px;

}/*//ブランドランキング*/

/*
	商品一覧 横1列ver.
------------------------------*/
#itemList .list01 li{
	width: 85%;
	margin: 10px auto 20px;
	list-style: none;
	/*overflow: hidden;*/
}


/*#itemList .list01 li:nth-child(2n){
	margin: 5px 0 15px 0;
}*/

#itemList .list01 dl{
	width: 100%;
	margin: 0 auto;
	/*overflow: hidden;*/}


#itemList .list01 li dt{
	width: 100%;
	text-align:center;
	margin: 0 auto;
	padding: 0;
}

#itemList .list01 li dt img{
	width: 100%;
}


#itemList .list01 li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	margin: 3px 0;
	text-align: center;
}

#itemList .list01 li dd.articleName{
	width: auto;
	overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;
	
}



/*
	商品一覧 横2列ver.
------------------------------*/
#itemList ul.list02{
	margin: 10px auto;
	width: 95%;
}

/*@media screen and (max-device-width: 320px) {
#itemList .list02 li{
	float: left;
	width: 45%;
	margin: 5px 10px 15px 0;
	list-style: none;
	overflow: hidden;
	height:240px !important;	
}
}*/

#itemList .list02 li{
	/* float: left; */
	width: 46%;
	margin: 5px;
	list-style: none;
	/*overflow: hidden;*/
	/* height:270px; */	
	display: inline-block;
	vertical-align: top;
}

@media screen and (min-device-width: 375px) {
#itemList .list02 li{
	width: 47%;
	margin: 5px;	
}
#itemList .list02 li:nth-child(2n+1){
	margin-right: 0;
}
}


#itemList .list02 li:nth-child(2n+1){
	margin-right: 0;
}

#itemList .list02 li dt{
	position: relative;
}

#itemList .list02 li dt img{
	width: 100%;
}


#itemList .list02 li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	margin: 3px 0;
	text-align: center;
}

#itemList .list02 li dd.articleName{
	width: auto;
	text-align:left;
	/*overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;*/
	
}

#itemList .list02 li dd.price{
	font-size: 14px;
	font-weight: bold;
	display: none;
	text-align: right;
	padding: 5px;
}

#itemList .list02 li dd.price span{
	font-size: 10px;
	font-weight: normal;
}

#itemList .list02 li dd.price span.inTax{
	font-size: 10px;
	color: #888;
}


#itemList .list02.sale li dd.price,
#itemList .list02.sale li dd.price span.inTax{
	color: #FA3350;
}

#itemList dd.detailsButton{
	background-image: url('/pc/images/detailsButton.png');
	background-size: 90px;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9999px;
	margin: 5px 0 !important;
	height: 18px;

}



/*
	商品一覧 横3列ver.
------------------------------*/

#itemList ul.list03{
	margin: 10px 0 10px 3%;
}

#itemList .list03 li{
	/*float: left;*/
	width: 30%;
	margin: 0 6px 18px 0;
	list-style: none;
	/*overflow: hidden;*/
	display:inline-block;


	vertical-align: top;
}


#itemList .list03 li:nth-child(3n){
	width: 30%;
	margin: 0 0 18px 0;
	list-style: none;
	/*overflow: hidden;*/
	display:inline-block;
	vertical-align: top;
}


#itemList .list03 li dt{
	position: relative;
}

#itemList .list03 li dt img{
	width: 100%;
}


#itemList .list03 li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	margin: 3px 0;
	text-align: center;
}

#itemList .list03 li dd.articleName{
	width: auto;
	text-align:left;
	/*overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;*/
	
}

#itemList .list03 li dd.price{
	margin:0;
	font-weight: bold;
	font-size: 12px;
	display: none;
}

#itemList .list03 li dd.price span{
	font-weight: normal;
	font-size: 10px;
}

#itemList .list03 li dd.price span.inTax{
	font-size: 10px;
	color: #888;
}


/*
	おすすめアイテム
------------------------------*/
ul.osusumeWrap{
	margin: 0 !important;
	/*background-color: #f2f2f2;*/
	padding: 10px 0 10px;
}

ul.osusumeWrap li{
	margin: 0 0 10px;
	text-align: center;
	/* padding: 10px 0 0; */
	position: relative;
}

ul.osusumeWrap li img{
	width: 95%;
}

ul.osusumeWrap li dt.articleImg{
		position: relative;
		margin: 0 10px;
}

ul.osusumeWrap li dt.articleImg img{
	width: 100%;
}

ul.osusumeWrap li div.text{
	text-align: center;
	line-height: 1.4em;
	font-size: 13px;
	/*letter-spacing:1px;*/
	margin-bottom:5px;
}

ul.osusumeWrap li div.text span{
	font-weight:bold;
	font-size: 1.2em;
}

ul.osusumeWrap li dd.articleName{
	/*overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;*/
	margin: 10px 0 5px;
	font-size: 14px;
	
}


ul.osusumeWrap li .comingsoon {
    top: 85px;
    font-size: 18px;
    padding: 5px 0;
}



#itemList .list03 li dd.price{
	margin:0;
}


h2.pickup{
	background-color: #F0E1C8;
	color: #430F10;
	margin: 30px auto 0 !important;
	padding: 20px 20px !important;
	border: none !important;
}





/*
	セールアイテム
------------------------------*/

#itemList ul.sale li .obi{
	background-color:#DF223E;
	color:#fff;
	text-align: center;
	padding: 1px 0;
	font-size: 12px;
	letter-spacing:1px;
	margin-top: -2px;
}

#itemList ul.sale li dt img{
	border: 2px #DF223E solid;
	width: 98%;
}


/*
	ボタン横2つ
------------------------------*/

.btn{
	margin: 10px 0 10px 3% !important;
}

.btn ul.yoko02 li{
	float: left;
	width: 47%;
	margin: 0 5px 5px 0;
	overflow: hidden;
	text-align: center;
	border: 1px #333 solid;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    box-shadow:0px 0px 1x 1px #DDD;
    -moz-box-shadow:0px 0px 1px 1px #DDD;
    -webkit-box-shadow:0px 0px 1px 1px #DDD;
	font-weight: bold;
	font-size: 0.8em;
	
}

.btn ul.yoko02 li a{
	display: block;
	padding: 10px 0;
}

.btn ul.yoko02-img li{
	float: left;
	width: 47%;
	margin: 0 5px 5px 0;
	overflow: hidden;
	text-align: center;   
}

.btn ul.yoko02-img li a{
	display: block;
	padding: 0;
}



/*
	ボタン横3つ
------------------------------*/

.btn{
	margin: 10px 0 10px 3% !important;
}

.btn ul.yoko03 li{
	float: left;
	width: 31%;
	margin: 0 5px 5px 0;
	/*overflow: hidden;*/
	text-align: center;
	border: 1px #333 solid;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    box-shadow:0px 0px 1x 1px #DDD;
    -moz-box-shadow:0px 0px 1px 1px #DDD;
    -webkit-box-shadow:0px 0px 1px 1px #DDD;
	font-weight: bold;
	font-size: 0.8em;
	
}

.btn ul.yoko03 li a{
	display: block;
	padding: 10px 0 !important;
}


/*
	ボタン1つ
------------------------------*/

.btn01-yoko01{
	background-color: #fc6cae;
	/*border: 1px #fc6cae solid;*/
	color: #FFF;
	text-align:center;
	width: 80%;
	margin: 10px auto;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:0px 0px 1x 1px #DDD;
    -moz-box-shadow:0px 0px 1px 1px #DDD;
    -webkit-box-shadow:0px 0px 1px 1px #DDD;
}

.btn01-yoko01 a{
	color: #fff;
	text-align:center;
	display: block;
	padding: 10px;
	font-size: 15px;
	position: relative;
	font-weight: bold;
}

.btn01-yoko01 a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



.btn02-yoko01{
	border: 1px #333 solid;
	color: #FFF;
	text-align:center;
	width: 80%;
	margin: 10px auto;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	box-shadow:0px 0px 1x 1px #DDD;
    -moz-box-shadow:0px 0px 1px 1px #DDD;
    -webkit-box-shadow:0px 0px 1px 1px #DDD;
}

.btn02-yoko01 a{
	color: #333;
	text-align:center;
	display: block;
	padding: 10px;
	font-size: 15px;
	position: relative;
	font-weight: bold;
	
}

.btn02-yoko01 a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



/*
	検索リンク カラー別
------------------------------*/

img.colorIcon{
	position:absolute; 
	top:11px; 
	left:5px;
	width:12px;
	
}


ul.yoko03.colorList li{
	position: relative;
}

ul.yoko03.colorList li a{
	padding: 10px 0 10px 5px;
}


.itemList_midashi01{
	margin: 0 10px;
	border-bottom: 1px #ccc dotted;
	padding: 0 0 3px 0;
	text-align: center;
}


.itemList_midashi02{
	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: #f2f2f2;
	color: #333;
	font-size: 13px;
	border-bottom: 1px #ccc dotted;
}


/*
	検索リンク キーワード
------------------------------*/

.category-searchWrap{
	border:1px #ccc solid;
	margin: 10px;
	padding: 0;
}

.category-searchWrap ul.yoko03{
	margin-bottom: 10px;
}

.category-searchWrap ul.yoko03 li,
.hKeyword li{
	float: left;
	width: 33%;
	margin: 0;
	overflow: hidden;
	text-align: center;
	font-weight: bold;
	font-size: 12px;	
}

.category-searchWrap ul.yoko03 li a,
.hKeyword li a{
	display: block;
	padding: 7px 0;
	text-decoration: underline;
}

.hKeyword li.midashi{
	display: none;
}



/*
	タグ（右）
---------------------------*/
	.side-corner-tag {
		position: relative;
		color: #fff;
		display: inline-block;
		padding: 0;
		overflow: hidden;
		font-weight: 900;
	} 
	
	.side-corner-tag p {
		display: inline;	
	}
	
	.side-corner-tag p span {
		position: absolute;
		display: inline-block;
		right: -35px;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2), inset 0px 5px 10px rgba(255,255,255,0.2);
		text-align: center;
		text-transform: uppercase;
		top: 15px;
		background: #d93131;
		width: 100px;
		padding: 2px 7px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);	
		font-size: 12px;
		text-align: center;
		line-height: 1;
}  
	
	.side-corner-tag p:before {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: -17px;
		right: 69px;
		z-index: -1;
		border: 17px solid;
		border-color: transparent transparent #662121 transparent;
	}
	
	.side-corner-tag p:after {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: 74px;
		z-index: -1;
		right: -10px;
		border: 17px solid;
		border-color: #662121 transparent transparent transparent;
	}
	
	
/*
	タグ（左）
---------------------------*/	
	.side-corner-tag-left{
		position: relative;
		color: #fff;
		display: inline-block;
		padding: 0;
		overflow: hidden;
		font-weight: 900;
	} 
	
	.side-corner-tag-left p {
		display: inline;	
	}
	
	.side-corner-tag-left p span {
		position: absolute;
		display: inline-block;
		left: -35px;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
		text-align: center;
		text-transform: uppercase;
		top: 15px;
		background: #333;
		width: 100px;
		padding: 2px 7px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);	
		font-size: 15px;
		text-align: center;
		line-height: 1;
}  
	
	.side-corner-tag-left p:before {
		content: "";
		width: 0;
		height: 0;
		position: absolute;
		top: -17px;
		left: 69px;
		z-index: -1;
		border: 17px solid;
		border-color: transparent transparent #662121 transparent;
	}
	
	.side-corner-tag-left p:after {
		content: "";

		width: 0;
		height: 0;
		position: absolute;
		top: 74px;
		z-index: -1;
		left: -10px;
		border: 17px solid;
		border-color: #662121 transparent transparent transparent;
	}  
	
	
	
/*
	 ランキング
---------------------------------------*/

.rankIcon{
	background-color: #fff;
	color: #666;
	text-align: center;
	padding: 3px;
	font-size: 12px;
	line-height: 1.2;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -3px;
    left: -3px;
	border: 1px #ccc solid;
	border-radius: 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 10px;
	font-family: Arial;
	font-weight: bold;
	
}
		




/*
	   hr(ライン) スタイル
------------------------------------------------------*/	
hr.style01 {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


/*
	   アイコン
------------------------------------------------------*/
p.icon{
	margin: 0 0 3px;
}



p.icon span.new {
	font-size: 10px;
	color: #fff;
	padding: 0 2px;
	margin-right: 2px;
	line-height: 1;
	color: #D96196;
	border: 1px #D96196 solid;
}

p.icon span.re {
	font-size: 10px;
	color: #fff;
	padding: 0 2px;
	margin-right: 2px;
	line-height: 1;
	color: #6E74BB;
	border: 1px #6E74BB solid;
}

p.icon span.free {
	font-size: 10px;
	color: #fff;d
	padding: 0 2px;
	margin-right: 2px;
	line-height: 1;
	color: #E06D6F;
	border: 1px #E06D6F solid;
}

p.icon span.upday {
	font-size: 10px;
	padding: 0 2px;
	line-height: 1;
}


p.icon.yokoku{
	margin: 0 0 3px;
	text-align: center;
	line-height: 1.2;
}


p.icon.yokoku span.upday {
	font-size: 14px;
	padding: 0;
	line-height: 1;
	color: #E06D6F;
}



ul li dt div.tag_sale{
	position: absolute;
	background-image: url(/pc/images/tag_sale.png);
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 50px 50px;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
}

ul li dt div.tag_sale02{
	position: absolute;
	/*background-image:url(../images/tag_sale.png);
	background-position: top right;
	background-repeat: no-repeat;*/
	bottom: 0;
	background-color: rgba(255,0,0,0.8);
	width: 100%;
	/*content:"SALE";*/
	color: #fff;
	text-align:center;
	letter-spacing: 5px;
	font-size:12px;
}


ul li dt div.tag_free {
    position: absolute;
    background-image: url(/pc/images/tag_free.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}

/*
	   検索フォーム
------------------------------------------------------*/
nav.searchFormWrap{
	border: 1px #ccc solid;
	padding: 10px;
	width: 90%;
}


nav.searchFormWrap .select-wrap{
	position: relative;
	overflow: hidden;
	display: inline-block;
	min-width: 99%;
	background: url(/sp/images/icon/ico_select_arrow_under.png) no-repeat right center;
	background-size: 20px 20px;
	border: solid 1px #BBB;
	color: #333;
	border-radius:4x;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding: 5px;
}

nav.searchFormWrap .select-wrap select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	appearance:none;
	position:relative;
	z-index:2;
	display:block;
	width:200%;/* fallback non calc support */
	width:-webkit-calc(100% + 5em);
	margin:0;
	padding:8px 35px 8px 11px;
	background:transparent;
	border:0;
	outline:none;
	font-size:16px;
	line-height:1;
}


nav.searchFormWrap .searchBtn{
	-webkit-appearance: none;
	background-color: #666;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	-webkit-border-radius: 5px;
}



/*-----------------------------------------------

		    広告LP コンテンツ用
		   
--------------------------------------------------*/


/*新作アイテム*/
#newitem{
	margin: 0;
}

#newitem h2{
	/*display: none;*/
}

#newitem .itemList{
	margin: 10px 0 0 3%;
}

#newitem .itemList li{
	float: left;
	/*display: inline-block;*/
	width: 47%;
	margin: 5px 10px 15px 0;
	list-style: none;
	overflow: hidden;
}

#newitem .itemList li:nth-child(2n+1){
	margin: 5px 0 15px 0;
	clear: both;
}

#newitem .itemList li dt{
	position: relative;
}

#newitem .itemList li dt img{
	width: 100%;
}


#newitem .itemList li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	margin: 3px 0;
	text-align: center;
}

#newitem .itemList li dd.articleName{
	width: auto;
	overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;
	
}

#newitem .itemList li dd.price{
display: none;}

/*#newitem .itemList li dd.articleTag{
	margin: 0 0 5px !important;
	text-align: right !important;
}*/

#newitem .itemList li dd.articleTag span,
dd.eventDate span{
	margin-left: 3px;
	color: #fff;
	padding: 2px 3px;
	margin-right: 5px;
}

#newitem h2{
	border-bottom: 1px #CCCCCC solid;
	color: #000000;
	padding: 5px 10px !important;
	margin: 10px 0 0 !important;
	font-size: 15px;
	font-weight: bold !important;
}

#newitem h2 span{
	color: #333333;
	font-size: 12px;
	padding: 0 0 0 10px;
	font-weight: normal;
}


#itemList .button01{
	background-color: #FD647C;
	/*border: 1px #fc6cae solid;*/
	color: #FFF;
	text-align:center;
	width: 45%;
	float: right;
	margin: 10px 10px 10px 0;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#itemList .button01 a{
	color: #fff;
	text-align:center;
	display: block;
	padding: 4px 10px 4px 4px;
	font-size: 13px;
	position: relative;

}

#itemList .button01 a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#itemList .button02{
	background-color: #FD647C;
	/*border: 1px #fc6cae solid;*/
	color: #FFF;
	text-align:center;
	width: 93%;
	margin: 10px auto;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

#itemList .button02 a{
	color: #fff;
	text-align:center;
	display: block;
	padding: 4px 10px 4px 4px;
	font-size: 13px;
	position: relative;
}

#itemList .button02 a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*ランキング*/
#rankingWrap{
	margin: 0 0 20px 0;
}

#rankingWrap .itemList{
	margin: 10px 0 10px 3%;
}

#rankingWrap .itemList li{
	width: 31%;
	/* float: left; */
	margin: 0 7px 20px 0;
	display: inline-block;
	vertical-align: top;
}

#rankingWrap .itemList li:nth-child(n+7){
	display:none;
}

#rankingWrap .itemList li dt{
	position: relative;
}


#rankingWrap .itemList li dt img{
	width: 100%;
}

#rankingWrap .itemList li dd{
	font-size: 10px;
	text-align: right;
	line-height: 12px;

	margin: 3px 0;
	text-align: center;
}

#rankingWrap .itemList li dd.articleName{
	width: auto;
	/*overflow: hidden;
  	white-space: nowrap;
 	text-overflow: ellipsis;*/
	text-align:left;
	
}

#rankingWrap .itemList li dd.price{
	line-height: 12px;
	display: none;
}

#rankingWrap h2{
	border-bottom: 1px #CCCCCC solid;
	color: #000000;
	padding: 5px 10px !important;
	margin: 10px 0 0 !important;
	font-size: 15px;
	font-weight: bold !important;
}

#rankingWrap h2 span{
	color: #333333;
	font-size: 12px;
	padding: 0 0 0 10px;
	font-weight: normal;
}


/*コーデ*/
#coordinate{
	margin: 0 0 20px 0;
}

#coordinate .itemList{
	margin: 10px 0 0 3%;
}

#coordinate .itemList li{
	float: left;
	width: 47%;
	margin: 5px 10px 15px 0;
	overflow: hidden;
}

#coordinate .itemList li:nth-child(2n+1){
	margin: 5px 0 15px 0;
	clear: both;
}

/*#coordinate .itemList li:nth-child(3n){
	width: 32%;
	margin: 0 0 15px 0;
}*/


#coordinate .itemList li dt img{
	width: 100%;
}

#coordinate .itemList li dd.tasteName{
	font-size: 10px;
	text-align: center;
}



.banner{
	width: 94%;
	margin: 20px auto;
}

.banner img{
	width: 100%;
}

.banner p{
	text-align: center;
	font-size: 16px;
	padding: 0 0 5px 0;
}


.comingsoon {
    position: absolute;
    top: 100px;
    z-index: 9999;
    text-align: center;
    width: 100%;
    background-color: rgba(211, 65, 98, 0.8);
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#CCd34162,EndColorStr=#CCd34162);/*IE8以下用*/
    font-size: 15px;
    line-height: 1.2em;
    padding: 5px 0;
    color: #fff;
}


/*再入荷ページ用アイコン*/

#itemList .list02 li dd.reDay{
	text-align:center;
	background-color: #333;
	color: #fff;
	padding: 3px 0;
	margin: -3px 0 5px;
	width: 100%;
	display: none;
}

#itemList .list02 li dd.reDay.up{
	background-color: #e95b8c !important;
}




/*---横×2 白--*/


.button01-half{
	background-color: #fff;
	border: 1px #000 solid;
	color: #000;
	text-align:center;
	width: 44%;
	float: left;
	margin: 10px 2%;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}

.button01-half a{
	color: #000;
	text-align:center;
	display: block;
	padding: 7px 0px 7px;
	font-size: 13px;
	position: relative;
	letter-spacing: 2px;

}


.button01-half a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}



