
html
{
  overflow-y: scroll;
}

body {
    font-size: 0.8em;
    font-family: 'Noto Sans', sans-serif;
}

#infoList h1 {
    font-size: 30px;
    font-family: ‘Metrophobic’, Arial, serif; font-weight: 700;
	margin:10px 0;
	text-align:center;
}

#infoList p {
    font-size: 10px;
    font-family: 'Noto Sans', sans-serif;
	text-align:center;
}

.clearfix{
	clear: both;
}


#infoList{
	width:95%;
	margin:0 5px auto;
	font-size:0.8em;
}


#infoList h2{
	border-bottom: 3px #000 solid;
	padding: 5px 10px !important;
	margin: 10px 0 0 !important;
    font-size: 20px;
    font-family: ‘Metrophobic’, Arial, serif; font-weight: 700;
}

#infoList h2 span.icon{
	color:#FFFFFF;
	padding-right:3px;
}


/*********************************

      　TOPコンテンツ（全体）
	  　ショップ一覧
		 
***********************************/
#top_info{
	margin:0;
	padding:0;
}

#top_info dl.accordion { 
  width:100%; 
  margin:0;
  padding:0;
  color:#333;
 } 

#top_info dl.accordion dt{
        font-weight:bold;
        padding:0;
        margin:-1px 0 0 0;
        cursor:pointer;
        width:97%;
        height:160px;
        border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
		clear:both;
		padding:0 0 0 3%;
		background: url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/icon_plus.png) no-repeat;/*切り替わりボタン画像*/
       background-position:96% center;
       background-size:20px 20px;
}


#top_info dl.accordion dt img{
	float:left;
	height:150px;
	/*width:40px;*/
	/*border:1px #CCC solid;*/
	margin-top:4px;
	display: table-cell;
}

#top_info dl.accordion dt p{
	/*float:left;*/
	margin:0;
	padding:3px 0 0 10px;
	font-size:15px;
	display: table-cell;
    vertical-align: middle;
    line-height: 1.0em;
}

#top_info dl.accordion dt p b{
	font-size:0.8em;
	padding-left:10px;
	font-weight:normal;
}



#top_info dl.accordion dt.open {
 background: url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/icon_minus.png)  no-repeat;/*切り替わりボタン画像*/
       background-position:96% center;
       background-size:20px 20px;
	 } 
	 
#top_info dl.accordion dd { 
 background:#FFF; 
 padding:0; 
 display:none;
 margin:0;
 clear:both;
 border-bottom:1px #CCC solid;
 background-color:#fff;
}


/*********************************

      　NO アコーディオン
		 
***********************************/


#top_info dl.noaccordion { 
  width:100%; 
  margin:0;
  padding:0;
  color:#333;
 } 

#top_info dl.noaccordion dt{
        font-weight:bold;
        padding:0;
        margin:-1px 0 0 0;
        cursor:pointer;
        width:97%;
        height:160px;
        border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
		clear:both;
		padding:0 0 0 3%;
}


#top_info dl.noaccordion dt img{
	float:left;
	height:150px;
	/*width:40px;*/
	/*border:1px #CCC solid;*/
	margin-top:4px;
	display: table-cell;
}

#top_info dl.noaccordion dt p{
	/*float:left;*/
	margin:0;
	padding:3px 0 0 10px;
	font-size:15px;
	display: table-cell;
    vertical-align: middle;
    line-height: 1.0em;
}

#top_info dl.noaccordion dt p b{
	font-size:0.8em;
	padding-left:10px;
	font-weight:normal;
}


/*
#top_info dl.accordion dt.open {
 background: url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/icon_minus.png)  no-repeat; 切り替わりボタン画像
       background-position:96% center;
       background-size:20px 20px;
	 } */
	 
#top_info dl.noaccordion dd { 
 background:#FFF; 
 padding:0; 
 margin:0;
 clear:both;
 border-bottom:1px #CCC solid;
 background-color:#fff;
}

/***********************************/

#top_info ul.sub_menu{
	margin:0;
	padding: 0;
	clear:both;
	}

	
#top_info .sub_menu li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 50%;
	border-right: #CCC solid 1px;
	border-bottom: #CCC solid 1px;	
	background-color:#F9F9F9;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}


#top_info .sub_menu li:nth-child(2n){
	border-right: none;
	
}
	
#top_info .sub_menu li a::after,
#top_info .sub_menu_all li a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.sale_info{
	text-align:center;
	margin:10px;
}
.detail{
	border:0x;
	background-color:#000;
	float:right;
	color:#FFF;
	margin-bottom:-10px;
}
.sub_menu li a {
	color: #333;
	display: block;
	margin: 0;
	padding: 10px 5px 10px 10px;
	text-align: left;
	font-size: 13px;
	text-decoration: none;
	}
	

li.sub_menu_all, /*全て見るボタン*/
li.special{  /*特集用*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight:bold;
	width: 100% !important;
	/*border-bottom: #ccc solid 1px;*/
	border-right:none !important;
	}

li.sub_menu_all a {
	clear: both;
	display: block;
	padding: 10px 30px 10px 10px;
	text-align: right;
	font-size: 15px;
	text-decoration: none;
	background-color:#fff;
	}
	

li.special a{
	display: block;
	padding: 7px 30px 7px 10px;
	font-size: 15px;
	text-decoration: none;
	font-weight:bold;
	text-align: left;
	background-color:#FFF !important;
}

li.special a div.lp_img{
	width:60%;
	float:center; 
	
}

li.special a img{
	width:95%;
	margin-right:5px !important;
	/*border:1px #CCC solid;*/
	/*display: table-cell;*/
} 

li.special p.text{
	margin:0;
	padding:0;
	font-size:11px !important;
	float:center;
	color:#333;
	line-height:1.2em;
	font-weight:normal;
	width:40%;
	/*display: table-cell;
    vertical-align: middle;
    line-height: 1.0em;*/
}

li.special p.text b{
	font-size:15px;
	line-height:1.3em;
}



dt div {
  display: table-cell;
}

dt p.up:after,
li.sub_menu li a.up:after {
	content:url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/icon_up_red.gif);
	padding-left:10px;
	
}

dt p.new:after,
li.sub_menu li a.new:after {
	content:url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/icon_new_red.gif);
	padding-left:10px;
	
}


.itemMidashi{
	background-color:#CCC;
	color: #333;
	font-weight: bold; 
	padding:2px 10px;
	margin:5px 0;
	clear:both;
	font-size:13px;
}

.cate_all { /*中分類ボタン*/
	margin: 0;
	padding: 0;
	}

.cate_all ul {
	margin: 0;
	padding: 0;
	}

	
.cate_all li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 50%;
	border-right: #CCC solid 1px;
	border-bottom: #CCC solid 1px;	
	background-color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;    
   _zoom: 1;
	}
	
.cate_all li:nth-child(2n){
	border-right: none;
	
}
	

.cate_all li a {
	color: #333;
	display: block;
	margin: 0;
	padding: 10px 5px 10px 10px;
	text-align: left;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	}
	
.cate_all a::after {
	position: absolute;
	top: 51%;
	right: 10px;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -4px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.cate_all img{
	float:left; 
	width:17px; 
	padding-right:5px;
}


.cate_all2 li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 49%;
	border-right: #CCC solid 1px;
	border-bottom: #CCC solid 1px;	
	background-color:#fff;

	}

.cate_all2 li a {
	background:url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/cate_arrow.png)no-repeat right;
	background-size:20px 10px;
	color: #333;
	display: block;
	margin: 0;
	padding: 10px 5px 10px 10px;
	text-align: left;
	font-size: 12px;
	text-decoration: none;
	}
	
.cate_all2 a {
	color: #FFF;
	margin: 0;
	padding-left: 170px;
	text-align: right;
	font-size: 12px;
	text-decoration: none;
	}

.cate_all_w li{  /*全て見るボタン*/
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	font-weight:bold;
	width: 100%;
	border-right: #ccc solid 1px;
	border-bottom: #ccc solid 1px;	
	background-color:#EFEFEF;
	
	}

.cate_all_w li a {
	background:url(https://www.rakuten.ne.jp/gold/dreamv/sp/images/icon/cate_arrow.png)no-repeat right;
	background-size:20px 10px;
	color: #333;
	display: block;
	margin: 0;
	padding: 10px 30px 10px 10px;
	text-align: right;
	font-size: 12px;
	text-decoration: none;
	}



/*ALLカテゴリ中分類ボタンここまで*/

/*//////ALLカテゴリ一覧ここまで//////*/
hr.style-one {
    border: 0;
    border-bottom: 1px dashed #ccc;
}


 /*店頭取り寄せアイコン*/
 
.t_icon {
	background-color:#e95b8c;
	color:#FFF;
	padding:3px 5px;
	font-size:12px;
	text-decoration:none;
	margin:0 0 5px 0;
	line-height:12px;
	float:left;
}


.s_t_icon {
	background-color:#e95b8c;
	color:#FFF;
	padding:3px 4px;
	font-size:10px;
	text-decoration:none;
	margin:0 0 5px 0;
	line-height:10px;
	float:left;
}
