@charset "euc-jp";

/*-----------------------------------

cal.css
�����潟���寂賢荳�

�����潟���弱��眼�����㏍�鴻����top.css

-----------------------------------*/


div.cal_wrapper {
	padding: 10px 0px;
}
div.cal_wrapper table{
        width: 100%;
        table-layout: fixed;
        text-align: center;
}
div.cal_wrapper table.cal tr th{
            padding: 5px 0;
            border: 1px solid #fff;
            background: #f3f3f3;
            font-size: 10px;
            font-weight: bold;
}

div.cal_wrapper table.cal tr th div.cal_ui input {
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 12px;
	margin: 5px 1px 3px;
	padding: 1px 5px;
}

div.cal_wrapper table.cal tr td {
	border: 1px solid #fff;
	font-size: 10px;
	text-align: center;
	padding: 1px;
	font-weight: bold;
}
div.cal_wrapper table.cal tr.headline td {
	padding: 5px 0px;
	color: #666;
}
div.cal_wrapper table.cal tr.headline {
	background-color: #EEE;
}
div.cal_wrapper table.cal tr td div {
	position: relative;
	padding: 5px;
	font-size: 10px;
	text-align: center;
	background-color: #FFF;
}
div.cal_wrapper table.cal tr td div span {
	display: none;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 180px;
	border: solid 1px #EEE;
	background-color: #FFF;
	text-align: left;
	padding: 5px;
	z-index: 10;
	color: #000;
	font-weight: normal;
	line-height: 1.5em;
	box-shadow: 1px 1px 3px #666;
}

/* 篁ヤ��������号��絎������������≪�� */

div.cal_wrapper table.cal tr td div.Sat {
	background: #25acf2;
}
div.cal_wrapper table.cal tr td div.Sun {
	background: #f5a7a7;
}
div.cal_wrapper table.cal tr td div.Today {
	background: #333;
	color: #fff;
}
div.cal_wrapper table.cal tr td div.Deli {
	background: #25acf2;
}
div.cal_wrapper table.cal tr td div.Holyday {
	background: #f5a7a7;
}

div.cal_wrapper table.cal tr td div.backward {
	color: #CCC;
	font-weight: normal;
	background-color: #FFF;
	border-radius: 3px;
}
div.cal_wrapper table.cal tr td div.pointer {
	cursor: pointer;
}
div.cal_wrapper table.cal tr td div.pointer:hover {
	background-color: #EEE;
}


/*
 * 筝脂ゝ����
 */

/* �����潟���� */
#mainCarlender {
    margin: 10px 0 0;
    border-top: #d6d6d6 1px solid;
}
    #mainCarlender .title {
        margin: 15px 10px 5px;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }

.carlender {
    margin: 0 20px;
}
    .carlender table {
        table-layout: fixed;
        text-align: center;
        width: 100%;
    }
    .carlender caption {
        position: relative;
        margin: 5px 0;
        text-align: center;
    }
    .carlender caption .month {
        display: block;
        width: 50%;
        height: 25px;
        margin: 0 auto;
        padding: 0 13px;
        background: #333;
        font-size: 14px;
        line-height: 25px;
        color: #fff;
    }
    .carlender caption .prev, .carlender caption .next {
        color: transparent;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background: #d6d6d6;
    }
    .carlender caption .next {
        left: auto;
        right: 0;
    }
    .carlender caption .prev:before, .carlender caption .next:before {
        display: block;
        content: "";
        position: absolute;
        top: 7px;
        left: 7px;
        width: 12px;
        height:12px;
        background: url(../../images/sp/common/ico.png) no-repeat 0 -85px;
        -webkit-background-size: 250px 250px;
        -moz-background-size: 250px 250px;
        -ms-background-size: 250px 250px;
        background-size: 250px 250px;
        overflow: hidden;
    }
    .carlender caption .next:before {
        background-position: -32px -85px;
    }
    .carlender th {
        background: #f3f3f3 none repeat scroll 0 0;
        border: 1px solid #fff;
        font-size: 10px;
        font-weight: normal;
        padding: 5px 0;
    }
    .carlender td {
        padding: 3px 0;
        border: 1px solid #fff;
        font-size: 12px;
    }
    .carlender .holiday01 {
        background: #cce7f5;
    }
    .carlender .holiday02 {
        background: #f8d3d3;
    }
    #mainCarlender dl {
        border-top: 1px solid #d6d6d6;
        margin: 5px 20px 0;
        padding-top: 10px;
    }
    #mainCarlender dt {
        clear: left;
        color: transparent;
        float: left;
        height: 17px;
        overflow: hidden;
        width: 23px;
        background: #cce7f5;
    }
    #mainCarlender dt.holiday02 { background: #f8d3d3; }
    #mainCarlender dd {
        font-size: 10px;
        line-height: 1.2;
        margin: 0 0 10px 30px;
        
    }
