@charset "utf-8";

		*{margin:0px;padding:0px;}
		img{
			width: 100%;
			display: block;
		}
		.main{
			max-width: 600px;
			border: #CCC 1px solid;
			padding: 24px;
			margin: 40px auto;
		}
		.list{
			max-width: 650px;
			margin: 0 auto;
		}
		.tabbox{margin:10px;}
		.tabbox ul{
			list-style:none;
			display:table;
		}
		.tabbox ul li{
			float:left;
			margin-right:1px;
			cursor:pointer;
		}
		.tabbox ul li img{
			width: 48px;
			border: 2px solid white;
		}
		.tabbox ul li.active img{
			border: 2px solid red;
		}
		.tabbox .content{
			border:1px solid transparent;
		}
		.tabbox .content img{
			width: 100%;
		}
		.tabbox .content>div{display:none;}
		.tabbox .content>div.active{display:block;}
		.main h2{
			margin: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 130%;
	    color: #666666;
	    padding: 3px 0;
	    border-bottom: 1px solid #CCCCCC;
	    text-align: left;
	    letter-spacing: 1px;
	    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
		}
		.list p{
			color: #333333;line-height: 24px;
			font-size: 14px;
		}
		.main p{
			margin: 5px 0 15px 0;
	    font-size: 12px;
	    line-height: 17px;
	    color: #666666;
	    text-align: left;
	    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
		}
		.list table {
			font-size: 14px;
		}
		.list table th{
			font-weight: normal;
		}
	.table-info{
		max-width: 650px;
		margin: 0 auto 60px;
	}
	.table-info img{
		width: auto;
		display: inline-block;
	}
	.itemSpec{
		width: 100%;
    background-color: #CCC;
    margin: auto;
    font-family: 'Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
	}
	.itemSpec th{
		width: 120px;
    background-color: #EEE;
    color: #666;
    font-size: 80%;
    text-align: left;
    padding: 5px 10px;
    font-weight: 400;
    vertical-align: middle;
	}
	.itemSpec th img{
		float: right;
	
    margin-left: 5px;
    display: inline;
	}
	.itemSpec td{
		background-color: #FFF;
    color: #666;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 160%;
    text-align: left;
	}
	.table-info table a{
		color: #0066CC;
		text-decoration: none;
	}
	.sale_desc{
		max-width: 650px;
		margin: 20px auto 0;
	}
	.sale_desc img{
		display: block;
		width: 100%;
		text-align: center;
    margin: auto auto 0;
	}