/* CSS Document */
/* 背景用コンテナ指定 */
#sale_container {
 max-width: 950px;
 height: auto;
 margin: 0 auto;
 text-align: left;
 font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
/*
 background: url(../../update/150301-bg02.jpg) left 400px no-repeat;
background-image:url(../../update/150301-bg02.jpg);
background-repeat:repeat-y;
background-position:left 400px;
*/
 background: url(../../update/bg01.gif) 0px 100px repeat-y,url(../../update/bg01.gif) right repeat-y;
 width: 100%;
}

/* その他 */

/* return top */

a.pageTop {
	width: 80px;
	height: 40px;
	margin: 0;
	padding: 0;
	float: right;
	text-indent: -9999px;
	display: block;
	background: url(https://www.axes-net.com/common/img/smp/rtop_btn.png) left top no-repeat;
	background-size: 100% auto;
	position: fixed;
	right: 10px;
	bottom: 0;
	z-index: 999999;
}

#sale_container h2 {
 margin: 0;
 padding: 0;
}
#sale_container h3 {
 max-width: 850px;
 height: auto;
 display: block;
 margin: 0 auto 20px auto;
 padding: 10px 0;
 border-top: #000 solid 1px;
 border-bottom: #000 solid 1px;
 text-align: center;
 width: 90%;
 font-family: Bell MT,"メイリオ", Meiryo, Osaka;
 font-weight: normal;
 font-size: 28px;
 line-height: 1em;
}
#sale_container iframe {
 margin: 0 auto;
}
div.h3 {
 width: 850px;
 height: auto;
 display: block;
 margin: 50px auto 0 auto;
 padding: 10px 0;
 border-top: #000 solid 1px;
 border-bottom: #000 solid 1px;
 text-align: center;
}
div.h2 {
 margin: 0;
 padding: 0;
}


* {
	margin: 0;
	padding: 0;
}

body{
	font-family: "メイリオ",sans-serif;
	/* text-align:center; */
	margin:0 auto;
	font-size:12px;
	line-height:1.5em;
	color:#000;
	overflow: hidden;
}

h1,h2,h3,h4 {
	text-align:left;
}

a{
	color:#000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

ul, ul ul{
	list-style-type: none;}

img{
	max-width: 100%;
	border: none;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
}

p{
	color:#000;
	font-size: 12px;
	padding: 20px 75px 20px 75px;
}

.red {
	color: #C00;
}
header {
    background-color: #111;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
div#head_inner{
	display: block;
	max-width: 950px;
	margin: 0 auto;
	height: 60px;
	width: 100%;
	position: relative;
}
div#head_inner ul{
	/* display: none; */
	z-index: 100;
	/* display: block; */
}
div#head_inner ul li ul{
	display: block;
	z-index: 100;
	overflow: hidden;
	min-height: 250px;
	/* padding: 5px 0 0 0; */
	background-color: #fff;
}
div#head_inner ul li ul.border{
	border-right:1px solid #ccc;
}
div#head_inner h1 {
    display: block;
    position: absolute;
    top: 0;
    left: 70px;
}
div#head_inner h1 a{
    display: block;
}
li#i_hum {
height:60px;
}
li#i_hum:hover {
	overflow:hidden;
	visibility: visible;
	height:325px;
}
li#i_hum:hover ul li {
	overflow:hidden;
	visibility: visible;
}
.humberger {
    width: 60px;
    height: 60px;
    display: block;
    background: url(https://www.rakuten.ne.jp/gold/culture/sale_new/common/img/humberger.gif)no-repeat;
    margin: 0 10px 0 0;
    cursor: pointer;
     -moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
.humberger:hover {
   background-color:#333;
   display: block;
}

.humberger:hover #pc_list{
    display:block;
    z-index:100;
    margin:60px 0 0 0;
    background:#fff;
    color:#111;
    width:738px;
    border:solid 1px #ccc;
  -moz-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  -o-transition: all linear 1s;
  -ms-transition: all linear 1s;
  transition: all linear 1s;
  overflow:hidden;
  padding:30px 15px;

}
ul#pc_list {
    visibility: hidden;

}
ul#pc_list li {
	font-size: 1em;
	line-height: 2em;
	padding: 1em 0 0 1em;
	font-family:Century;
	float: left;
	background:#fff;
	width:230px;
}
ul#pc_list li ul li{
	padding: 0 0 0 1em;
}
ul#pc_list li a{
	display:block;
	color:#111;
}
ul#pc_list li.active {
	background:#111;
}
ul#pc_list li.active a{
	background:#fff;
	color:#111;
}
ul#pc_list li ul li:hover {
	background:#111;
	color:#fff;

}
ul#pc_list li ul li:hover a{
	background:#111;
	color:#fff;
	-moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

div#headsmp_inner {
    display: none;
}
/* container */

#sale_container {
	max-width: 950px;
	height: auto;
	margin: 0 auto;
	text-align: left;
	/* position: relative; */
	/* top: 60px; */
	overflow: hidden;
}
ul.ranking.bg01 {
    background: url(../../update/bg02.gif);
}
ul.ranking.bg02 {
    background: url(../../update/bg03.gif);
}
/* banas */
#sale_container h2 {
 margin: 0 auto 50px;
 padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}

/* SALE title */

h3 {
	width: 850px;
	height: auto;
	display: block;
	margin: 50px auto 0 auto;
	padding: 10px 0;
	border-top: #000 solid 1px;
	border-bottom: #000 solid 1px;
	text-align: center;
}
/* brand lineup */

ul.blineup {
	width: 846px;
	height: auto;
	margin: 0 auto;
	padding: 0 0 0 1px;
	border-top: #000 solid 2px;
	border-left: #000 solid 2px;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	overflow: hidden;
	background: #fff;
}
ul.blineup li {
	width: 120px;
	height: 230px;
	padding: 10px;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	float: left;
}
ul.blineup li img {
	width: 120px;
	height: auto;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	border-bottom: #E4E4E4 solid 1px;
}
ul.blineup li a {
	padding: 0;
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.3em;
	margin: 0 0 0 1px;
}
ul.blineup li a span.detail {
	padding: 0 0 2px 10px;
	display: block;
	line-height: 1.2em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}
ul.blineup li a span.price {
	font-size: 14px;
	color: #C01920;
	padding: 0 0 0 10px;
	display: block;
	line-height: 1.3em;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
ul.blineup li a span.price s{
	font-size: 11px;
	color: #999;
	display: block;
}
span.price s{
	font-size: 13px;
	color: #999;
	display: block;
}
a.blist_link {
	float: right;
	margin: 25px 50px; 
}

/* brand lineup */

ul.blineup_b {
	width: 846px;
	height: auto;
	margin: 0 auto;
	padding: 0 0 0 1px;
	border-top: #000 solid 2px;
	border-left: #000 solid 2px;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	overflow: hidden;
}
ul.blineup_b li {
	width: 261px;
	height: 360px;
	padding: 10px;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	float: left;
}
ul.blineup_b li img {
	width: 260px;
	height: auto;
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	border-bottom: #E4E4E4 solid 1px;
}
ul.blineup_b li a {
	padding: 0;
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.3em;
}
ul.blineup_b li a span.detail_l {
	padding: 0 10px;
	display: block;
}
ul.blineup_b li a span.price {
	font-size: 13px;
	color: #f80000;
	padding: 0 10px;
	display: block;
}
a.blist_link {
	float: right;
	margin: 25px 50px; 
}

ul.blineup_head {
    max-width: 804px;   height: auto;   
    margin: 0 auto 30px;   
    padding: 42px 0 0 42px;   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */   overflow: hidden;   width: 100%;
    background-color: #f2f2f2;
}
ul.blineup_head span.offbox {
    padding: 10px 0 0 11px;
    width: 41px;
    height: 40px;
    background: url(../img/icon.png) no-repeat;
    background-size: 50px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
    display: block;
    float: right;
}
ul.blineup_head li {
	width: 226px;
	height: 375px;
	float: left;
	box-sizing: content-box;
	position: relative;
	margin: 0 42px 42px 0;
	background: #fff;
}

a.pricebox {
    /* position: absolute; */
    /* top: 0; */
    width: 206px;
    border-top: solid #f1f1f1 2px;
    margin: 0 6px;
    padding: 17px 0 0 0;
    display: inline-block;
}
a.pricebox_mini {
    /* position: absolute; */
    top: 0;
    width: 90%;
    border-top: solid #f1f1f1 2px;
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
    height: 78px;
}

a.list_box {
    display: block;
    /* border-bottom: solid #f1f1f1 3px; */
    margin: 10px 0 0;
}
a.list_box img{
    width: 76%;
    margin: 22% 12% 4%;
}
a.listbox_mini {
    display: block;
    /* border-right: solid #C01920 3px; */
    height: 142px;
    margin: 10px 0 0;
}
ul.blineup_min li:nth-of-type(6n+1) a.listbox_mini {
    display: block;
    height: 142px;
    margin: 10px 0 0;
}
a.list_box img{
    width: 100%;
    margin: 0;
    /* padding: 0 0 5%; */
    /* border-bottom: solid #f1f1f1 2px; */
}

ul.blineup_head li:nth-of-type(1) a.list_box,ul.blineup_head li:nth-of-type(4) a.list_box {
    display: block;
    /* border-left: solid #C01920 3px; */
    margin: 10px 0;
}
span.detail {
    display: block;
    font-size: 1em;
    background: #fff;
    color: #555;
    padding: 0 0 7px 15px;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
    /* float: left; */
}
span.period {
    display: block;
    font-size: 12px;
    background: #fff;
    padding: 0 0 0 15px;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
    float: none;
}
span.price {
    font-size: 2em;
    color: #C01920;
    font-weight: bold;
    display: block;
    /* background: #fff; */
    font-family: Century Gothic, Futura, sans-serif;
    padding: 0 0 0 15px;
    line-height: 0.8em;
    float: left;
}
span.special {
    display: block;
}
span.brand_price {
    font-size: 1em;
    color: #C01920;
    font-weight: bold;
    display: table-row;
    background: none;
    font-family: Century Gothic, Futura, sans-serif;
}
ul.blineup_min span.offbox {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 9px 0 0 7px;
    width:34px;
    height: 35px;
    background: url(../img/icon.png) no-repeat;
    background-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    vertical-align: top;
    display: block;
    float: right;
}
span.specialbox {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 9px 0 0 7px;
    width:34px;
    height: 35px;
    background: url(../img/specialicon.png) no-repeat;
    background-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    vertical-align: top;
    display: block;
    float: right;
}

/* big slider */

.flexslider01 {
	width: 760px;
	height: 486px;
	margin: 0 auto;
	padding: 30px 48px 30px 38px;
	border: #000 solid 2px;
	background: #e4e4e4;
}
.flexslider01 ul.slides li {
	width: 760px;
	height: 500px;
	background: none;
}
.flexslider01 ul.slides li ul li {
	width: 340px;
	height: 210px;
	margin: 0 0 10px 10px;
	padding: 15px;
	float: left;
	background: #FFF;
	overflow: hidden;
}
.flexslider01 ul.slides li img {
	width: 210px;
	height: auto;
	margin: 0 20px 0 0;
	float: left;
	border: #e4e4e4 solid 2px;
}
.flexslider01 ul.slides li a span.name {
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 20px 0;
}
.flexslider01 ul.slides li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding: 0 0 20px 0;
}
.flexslider01 ul.slides li a span.price {
	font-size: 13px;
	font-weight: bold;
	display: block;
	color: #f80000;
}
.flex-direction-nav {
	width: 760px;
	position: absolute;
	margin: -275px 0 0 0;
}
.flex-direction-nav a {
    width: 30px;
    height: 100px;
	text-indent: -99999px;
	text-align: left;
	margin: -30px 0 0 0;
}
.flex-direction-nav a.flex-prev {
	left:0;
	background: url(../img/prev_arrw.png) left center no-repeat #000;
	left: -38px;
}
.flex-direction-nav a.flex-next {
	background: url(../img/next_arrw.png) left center no-repeat #000;
	text-align: left;
	right: -48px;
}


/* small slider */

.flexslider02 {
	width: 760px;
	height: 240px;
	margin: 0 auto;
	padding: 0 43px;
	border: #000 solid 2px;
	background: #e4e4e4;
}
.flexslider02 ul.slides li {
	width: 780px;
	height: 240px;
	float: left;
	overflow: hidden;
}
.flexslider02 ul.slides li ul {
	width: 780px;
}
.flexslider02 ul.slides li ul li {
	width: 110px;
	height: 190px;
	margin: 20px 20px 0 0;
	padding: 10px 0 0 0;
	float: left;
	background: #FFF;
	overflow: hidden;
}
.flexslider02 ul.slides li img {
	width: 100px;
	height: auto;
	margin: 0 0 10px 0;
	padding: 0 5px 10px 5px;
	border-bottom: #e4e4e4 solid 1px;
}
.flexslider02 ul.slides li a {
	line-height: 1.2em;
}
.flexslider02 ul.slides li a span.detail {
	font-size: 11px;
	font-weight: bold;
	display: block;
	padding: 0 10px;
}
.flexslider02 ul.slides li a span.price {
	font-size: 12px;
	font-weight: bold;
	display: block;
	color: #f80000;
	padding: 0 10px;
}
.flexslider02 .flex-direction-nav {
	width: 760px;
	position: absolute;
	margin: -110px 0 0 0;
}
.flexslider02 .flex-direction-nav a {
    width: 30px;
    height: 60px;
}
.flexslider02 .flex-direction-nav a.flex-prev {
	left: -43px;
}
.flexslider02 .flex-direction-nav a.flex-next {
	right: -43px;
}

/* serch */

ul.item_search {
	max-width: 850px;
	height: auto;
	margin: 0 auto 50px;
	padding: 0 0 55px 0;
	overflow: hidden;
	background: url(../img/arrow_01.png) bottom center no-repeat;
	width: 82%;
	letter-spacing:-0.4em;
	text-align: justify;
}
ul.item_search:after {
  content: "";
  display: inline-block;
  width: 100%;
  line-height: 0;
  height: 0;	
}
ul.item_search li {
	display: inline-block;
	padding: 0;
	width: 14.28%;
	letter-spacing:0.4em;
}
ul.item_search li.last {
	padding: 0;
}

/* category */

ul.search_list {
	width: 82%;
	height: auto;
	margin: 0 auto 50px;
	overflow: hidden;
	padding: 3% 3%;
	border: #000 solid 2px;
	background: #FFF;
}
ul.search_list li {
	width: 33%;
	height: 3em;
	float: left;
	padding: 0 0 1em 0;
}
ul.search_list li a {
	font-size: 12px;
	display: block;
	padding: 0 0 0 22px;
	background: url(../img/arrow_02.png) left 2px no-repeat;	
	line-height: 1.5em;
}
ul.search_list li a span.off {
	display: block;
	color: #f80000;
}

/* ranking */

ul.ranking {
	width: 756px;
	height: auto;
	margin: 0 auto 50px;
	padding: 45px 45px 35px 45px;
	border: #000 solid 2px;
	overflow: hidden;
}
ul.ranking.bg01 li {
	background: #f4e8e8;
}
ul.ranking.bg02 li {
	background: #d8e6f0;
}

ul.ranking li.no1 {
	width: 350px;    
	padding: 10px;    float: left;    
	height: 510px;
}
ul.ranking li.no1 a img {
	width: 100%;
	height: auto;
}
ul.ranking li.no1 a.txt_link {
	padding: 35px 20px 0 0;
	display: block;
}
ul.ranking li.no1 a.txt_link img {
	max-width: 90px;
	height: auto;
	padding: 0 35px 0 10px;
	float: left;
	width: 30%;
}
ul.ranking li a span.name {
	font-size: 16px;
	font-weight: bold;
	display: block;
	padding: 0 0 15px 0;
	font-family: Century Gothic, Futura, sans-serif;
}
ul.ranking li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.price {
	font-size: 13px;
	font-weight: bold;
	color: #f80000;
}

ul.ranking li.no2, ul.ranking li.no3 {
	width: 355px;    
	padding: 10px;    
	margin: 0 0 10px 0;    float: right;
	height: 240px;
}
ul.ranking li.no2 a img, ul.ranking li.no3 a img {
	width: 240px;
	height: auto;
	float: right;
	position: relative;
	z-index: 999;
}
ul.ranking li.no2 a.txt_link, ul.ranking li.no3 a.txt_link {
	padding: 0 0 0 5px;
	display: block;
}
ul.ranking li.no2 a.txt_link img, ul.ranking li.no3 a.txt_link img {
	max-width: 70px;
	height: auto;
	padding: 5px 0 20px 0;
	float: none;
	width: 25%;
}

/* brand_info */

dl.brand_info {
	max-width: 850px;
	height: auto;
	margin: 0 auto 50px auto;
	overflow: hidden;
	width: 82%;
}
dl.brand_info dt {
	width: 31%;
	height: auto;
	padding: 35px 0;
	text-align: center;
	display: block;
	border: #000 solid 3px;
	float: left;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2em;
}

dl.brand_info dd {
	width: 68%;
	height: auto;
	float: left;
}
dl.brand_info dd h4 {
	width: 90%;
	height: auto;
	overflow: hidden;
	padding: 0 0 15px 30px;
	border-bottom: #000 solid 1px;
	float: none;
	clear: both;
	display: block;
	float: left;
}
dl.brand_info dd span.bname {
	font-size: 19px;
	font-weight: bold;
	display: block;
	padding: 0 20px 0 0;
	float: left;
}
dl.brand_info dd span.bcap {
	font-size: 12px;
	font-weight: bold;
}
dl.brand_info dd span.bdetail {
	font-size: 12px;
	padding: 15px 0 0 30px;
	display: block;
	float: none;
	clear: both;
}

/* brand lineup */

ul.blineup_min {
	max-width: 804px;
	height: auto;
	margin: 0 auto 70px;
	padding: 10px 0 0 42px;
	/* border-top: #000 solid 2px; */
	/* border-left: #000 solid 2px; */
	/* border-bottom: #000 solid 1px; */
	/* border-right: #000 solid 1px; */
	overflow: hidden;
	width: 100%;
	background: #f2f2f2;
}

ul.blineup_min li {
	width: 118px;
	height: 250px;
	/* padding: 10px; */
	/* border-bottom: #000 solid 1px; */
	/* border-right: #000 solid 1px; */
	float: left;
	position: relative;
	margin: 0 11px 11px 0;
	background: #fff;
}
ul.blineup_min li img {
	width: 100%;
	height: auto;
	/* padding: 0 0 10px 0; */
	/* margin: 0 9% 15px; */
	/* border-bottom: #E4E4E4 solid 1px; */
}
ul.blineup_min li a {
	/* padding: 0; */
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.3em;
}
ul.ranking li a span.brand_detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.blineup_min li a span.detail {
	padding: 10px 0 0 10px;
	display: block;
	line-height: 1.3em;
}
ul.blineup_min li a span.period {
	padding: 0 0 0 10px;
	display: block;
	line-height: 1.3em;
	/* float: left; */
}
ul.blineup_min li a span.price {
	font-size: 16px;
	color: #C01920;
	padding: 0 10px;
	display: block;
	line-height: 1.2em;
}
a.blist_link {
	float: right;
	margin: 10px 5px; 
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	background: url(../img/next_arrw.gif) #ececec no-repeat right;
	height: 30px;
	/* background-size: 15px; */
	display: inline-block;
	line-height: 30px;
	text-align: center;
	padding: 0 30px 0 0;
}
a.blist_link:hover {
	opacity:0.75;
}
img.lazy.is-ready {
	opacity:0;
}
img.lazy.is-loaded {
	opacity:1;
	-webkit-transition: all .5s ease-in;
	transition:all .5s ease-in;
}
div#pc_footer {
    position: relative;
    top: 60px;
    display: block;
}
iframe#footer_frame {
    width: 100%;
}
div#sp_footer {
    display: none;
}

/* 150817追加 */
ul.bnlist {
	width: 850px;
	height: auto;
	margin: 0 auto 60px auto;
	padding: 0 0 0 1px;
	overflow: hidden;
}
ul.bnlist li {
	width: 414px;
	padding: 5px;
	float: left;
}
ul.bnlist li img {
	width: 410px;
	height: auto;
	
}
ul.bnlist a:hover img{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}

/* 150827追加 */
ul.line {
	width: 850px;
	height: auto;
	margin: 0 auto 60px auto;
	padding: 0 0 0 1px;
	overflow: hidden;
}
ul.line li {
	width: 850px;
	padding: 5px;
	float: left;
}
ul.line li img {
	width: 850px;
	height: auto;
	
}
ul.line a:hover img{
opacity:0.8;
filter:alpha(opacity=80);
-ms-filter: “alpha( opacity=80 )”;
}



@media screen and (min-width:728px) and (max-width:845px){
	ul.blineup {
	width: 705px;
	height: auto;
	margin: 0 auto;
	padding: 0 0 0 1px;
	border-top: #000 solid 2px;
	border-left: #000 solid 2px;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	overflow: hidden;
}
	ul.blineup_min {
	max-width: 705px;
	width: 100%;
}
ul.blineup_min li {
	width: 118px;
	height: 250px;
	/* padding: 10px; */
	/* border-bottom: #000 solid 1px; */
	/* border-right: #000 solid 1px; */
	float: left;
	position: relative;
	margin: 0 18px 18px 0;
	background: #fff;
}
ul.blineup_head {
    max-width: 705px;   height: auto;   margin: 0 auto;   
    /* padding: 0 0 0 1px; */   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */   overflow: hidden;   width: 100%;
}

ul.blineup_head li {
	width: 310px;
	height: 446px;
	float: left;
	box-sizing: content-box;
	position: relative;
}
/* ranking */

ul.ranking {
	width: 675px;
	height: auto;
	margin: 0 auto 50px;
	padding: 25px 15px 15px 15px;
	border: #000 solid 2px;
	overflow: hidden;
}

ul.ranking li.no1 {
	width: 310px;    
	padding: 10px;    float: left;    
	height: 510px;
}
ul.ranking li.no1 a img {
	width: 100%;
	height: auto;
}
ul.ranking li.no1 a.txt_link {
	padding: 35px 20px 0 0;
	display: block;
}
ul.ranking li.no1 a.txt_link img {
	max-width: 90px;
	height: auto;
	padding: 0 35px 0 10px;
	float: left;
	width: 30%;
}
ul.ranking li a span.name {
	font-size: 15px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.price {
	font-size: 13px;
	font-weight: bold;
	color: #f80000;
}

ul.ranking li.no2, ul.ranking li.no3 {
	width: 305px;    
	padding: 10px;    
	margin: 0 0 10px 0;
	float: right;
	height: 240px;
}
ul.ranking li.no2 a img, ul.ranking li.no3 a img {
	width: 182px;
	height: auto;
	float: right;
	position: relative;
	z-index: 999;
}
ul.ranking li.no2 a.txt_link, ul.ranking li.no3 a.txt_link {
	padding: 0 0 0 5px;
	display: block;
}
ul.ranking li.no2 a.txt_link img, ul.ranking li.no3 a.txt_link img {
	max-width: 70px;
	height: auto;
	padding: 5px 0 20px 0;
	width: 25%;
}
a.pricebox {
    /* position: absolute; */
    /* top: 0; */
    width: 286px;
    /* border-top: solid #C01920 3px; */
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}
a.pricebox_mini {
    width: 90%;
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}

a.list_box {
    display: block;
    /* border-right: solid #C01920 3px; */
    height: 290px;
    margin: 10px 0;
}
a.list_box img{
    width:86%;
    margin: 22% 7% 4%;
}
a.listbox_mini {
    display: block;
    height: 142px;
}
a.list_box img{
    width:86%;
    margin: 5% 7% 4%;
}

span.detail {
    display: table-cell;
    background: #fff;
    color: #555;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
}

span.price {
    font-size: 2.5em;
    color: #C01920;
    font-weight: bold;
    /* background: #fff; */
    font-family: Century Gothic, Futura, sans-serif;
}



}
@media screen and (min-width:565px) and (max-width:727px){
	div#head_inner{
	display:none;
}
div#headsmp_inner {
    display: block;
}
	dl.brand_info {
	max-width: 850px;
	height: auto;
	margin: 0 auto 50px auto;
	overflow: hidden;
	width: 100%;
}
dl.brand_info dt {
	width: 90%;
	height: auto;
	margin: 0 auto 30px;
	padding: 35px 0;
	text-align: center;
	display: block;
	border: #000 solid 3px;
	float: none;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2em;
}

dl.brand_info dd {
	width: 90%;
	height: auto;
	float: none;
	margin: 0 auto;
}
		ul.blineup {
	width: 564px;

}
	ul.blineup_min {
	max-width: 564px;
	width: 100%;
}
ul.blineup_head {
    max-width: 565px;   height: auto;   margin: 0 auto;   
    /* padding: 0 0 0 1px; */   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */   overflow: hidden;   width: 100%;
}

ul.blineup_head li {
	width: 240px;
	height: 380px;
	float: left;
	box-sizing: content-box;
	position: relative;
}
/* ranking */

ul.ranking {
	width: 564px;
	height: auto;
	margin: 0 auto 50px;
	padding: 25px 15px 15px 15px;
	border: #000 solid 2px;
	overflow: hidden;
}

ul.ranking li.no1 {
	width: 543px;    
	padding: 10px;    float: left;    
	height: auto;
	margin: 0 0 10px;
}
ul.ranking li.no1 a img {
	width: 100%;
	height: auto;
}
ul.ranking li.no1 a.txt_link {
	padding: 35px 20px 0 0;
	display: block;
}
ul.ranking li.no1 a.txt_link img {
	max-width: 90px;
	height: auto;
	padding: 0 35px 0 10px;
	float: left;
	width: 30%;
}
ul.ranking li a span.name {
	font-size: 15px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.price {
	font-size: 13px;
	font-weight: bold;
	color: #f80000;
}

ul.ranking li.no2, ul.ranking li.no3 {
	width: 543px;    
	padding: 10px;    
	margin: 0 0 10px 0;
	float: left;
	height: auto;
}
ul.ranking li.no2 a img, ul.ranking li.no3 a img {
	width: 57%;
	height: auto;
	float: right;
	position: relative;
	z-index: 999;
}
ul.ranking li.no2 a.txt_link, ul.ranking li.no3 a.txt_link {
	padding: 0 0 0 5px;
	display: block;
}
ul.ranking li.no2 a.txt_link img, ul.ranking li.no3 a.txt_link img {
	max-width: 70px;
	height: auto;
	width: 25%;
}
a.pricebox {
    /* position: absolute; */
    /* top: 0; */
    width: 90%;
    /* border-top: solid #C01920 3px; */
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}
a.pricebox_mini {
    top: 0;
    width: 90%;
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}

a.list_box {
    display: block;
    /* border-right: solid #C01920 3px; */
    height: 224px;
    margin: 10px 0;
}
a.list_box img{
    width:86%;
    margin: 22% 7% 4%;
}
a.listbox_mini {
    display: block;
    height: 142px;
}
a.list_box img{
    width:86%;
    margin: 4% 7% 4%;
}
span.detail {
    display: table-cell;
    background: #fff;
    color: #555;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
}

span.price {
    font-size: 2em;
    color: #C01920;
    font-weight: bold;
    /* background: #fff; */
    font-family: Century Gothic, Futura, sans-serif;
}

}
@media screen and (min-width:475px) and (max-width:564px){
			ul.blineup {
	max-width: 423px;
			}
	ul.search_list li {
	width:49%;
	height: 4em;
	float: left;
	padding: 0 0 1em 0;
}
ul.item_search li {
	float: left;
	padding: 0;
	width: 24%;
}
	ul.blineup_min {
	max-width: 423px;
	width: 95%;
	border: none;
	/* border-top: #000 solid 1px; */
	/* border-right: #000 solid 1px; */
	padding: 0;
}
ul.blineup_min li {
	width: 50%;
	height: auto;
	/* padding:10px 0; */
	/* border-left: #000 solid 1px; */
	/* border-bottom: none; */
	/* border-bottom: #000 solid 1px; */
	border-right: none;
	float: left;
	margin:0 0 0 -1px;
}
dl.brand_info dt {
	width: 94%;
	margin: 0 3% 1em;
	height: auto;
	padding: 35px 0;
	text-align: center;
	display: block;
	border: #000 solid 3px;
	float: left;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2em;
}
dl.brand_info dd {
	width: 94%;
	margin: 0 3%;
	height: auto;
	float: left;
}
ul.blineup_head {
    max-width: 423px;   height: auto;   margin: 0 auto;   
    padding: 0 0 0 1px;   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */   overflow: hidden;   width: 100%;
}

ul.blineup_head li {
	width: 100%;
	height: auto;
	float: left;
	box-sizing: content-box;
	position: relative;
}

a.pricebox {
    /* position: absolute; */
    /* top: 0; */
    width: 90%;
    /* border-top: solid #C01920 3px; */
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}
a.pricebox_mini {
    width: 94%;
    margin: 0 6px;
    /* padding: 17px 0 0 0; */
}
/* ranking */

ul.ranking {
	width: 393px;
	height: auto;
	margin: 0 auto 50px;
	padding: 25px 15px 15px 15px;
	border: #000 solid 2px;
	overflow: hidden;
}


ul.ranking li.no1 {
	width: 374px;    
	padding: 10px;    float: left;    
	height: auto;
	margin: 0 0 10px;
}
ul.ranking li.no1 a img {
	width: 100%;
	height: auto;
}
ul.ranking li.no1 a.txt_link {
	padding: 35px 20px 0 0;
	display: block;
}
ul.ranking li.no1 a.txt_link img {
	max-width: 90px;
	height: auto;
	padding: 0 35px 0 10px;
	float: left;
	width: 30%;
}
ul.ranking li a span.name {
	font-size: 15px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.price {
	font-size: 13px;
	font-weight: bold;
	color: #f80000;
}

ul.ranking li.no2, ul.ranking li.no3 {
	width: 374px;    
	padding: 10px;    
	margin: 0 0 10px 0;
	float: left;
	height: auto;
}
ul.ranking li.no2 a img, ul.ranking li.no3 a img {
	width: 57%;
	height: auto;
	float: right;
	position: relative;
	z-index: 999;
}
ul.ranking li.no2 a.txt_link, ul.ranking li.no3 a.txt_link {
	padding: 0 0 0 5px;
	display: block;
}
ul.ranking li.no2 a.txt_link img, ul.ranking li.no3 a.txt_link img {
	max-width: 70px;
	height: auto;
	padding: 5px 0 20px 0;
	width: 25%;
}
a.list_box {
    display: block;
    border-right: none;
    height: auto;
    margin: 10px 0;
}
a.list_box img{
    width:86%;
    margin: 22% 7% 4%;
}
a.listbox_mini {
    display: block;
    height: auto;
}
a.list_box img{
    width:86%;
    margin: 4% 7% 4%;
}

ul.blineup_head li:nth-of-type(1) a.list_box,ul.blineup_head li:nth-of-type(4) a.list_box {
    display: block;
    border-left: none;
    height: auto;
    margin: 10px 0;
}
ul.blineup_min li img {
	width: 98%;
	height: auto;
	padding: 0 0 10px 0;
	margin: 20px 1% 15px 1%;
	/* border-bottom: #E4E4E4 solid 1px; */
}
ul.blineup_min li:nth-of-type(2n+1) a.listbox_mini {
    display: block;
    height: auto;
    margin: 10px 0 0;
}
span.detail {
    display: table-cell;
    background: #fff;
    color: #555;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
}

span.price {
    font-size: 2.5em;
    color: #C01920;
    font-weight: bold;
    /* background: #fff; */
    font-family: Century Gothic, Futura, sans-serif;
}
span.offbox,span.specialbox {
	position: static;
	
}

}
@media screen and (max-width: 474px){
	div#head_inner{
	display:none;
}
div#headsmp_inner {
    display: block;
}
			ul.blineup { max-width: 423px;
			height: auto;   margin: 0 auto;   
			padding: 2% 0 2% 2%;   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */
    overflow: hidden;   
    width: 96%;
}
ul.item_search {
	margin: 0 auto 25px;
}
ul.blineup li {
	width: 33.3%;
	height: 230px;
	padding: 1% 0;
	border-bottom: #000 solid 1px;
	border-right: #000 solid 1px;
	float: left;
	margin: 0 -1px 0 0;
}
ul.blineup li img {
	width: 96%;
	height: auto;
	padding: 0 0 10px 0;
	margin: 0 2% 15px;
	border-bottom: #E4E4E4 solid 1px;
}
	ul.search_list li {
	width:49%;
	height: 4em;
	float: left;
	padding: 0 0 1em 0;
}
ul.item_search li {
	float: left;
	padding: 0;
	width: 24%;
}
	ul.blineup_min {
	max-width: 423px;
	width: 95%;
	border: none;
	/* border-top: #000 solid 1px; */
	/* border-right: #000 solid 1px; */
	padding: 5% 0 5% 5%;
	margin: 0 auto 70px;
}
ul.blineup_min li {
	width: 47%;
	height: auto;
	float: left;
	box-sizing: content-box;
	position: relative;
	min-height: 300px;
	margin: 0 2% 2% 0;
}
dl.brand_info dt {
	width: 94%;
	margin: 0 3% 1em;
	height: auto;
	padding: 35px 0;
	text-align: center;
	display: block;
	border: #000 solid 3px;
	float: left;
	font-size: 19px;
	font-weight: bold;
	line-height: 1.2em;
}
dl.brand_info dd {
	width: 94%;
	margin: 0 3%;
	height: auto;
	float: left;
}
ul.blineup_head {
    max-width: 423px;   height: auto;   margin: 0 auto;   
    padding: 2% 0 2% 5%;   
    /* border-top: #000 solid 2px; */   
    /* border-left: #C01920 solid 3px; */   
    /* border-bottom: #000 solid 1px; */   
    /* border-right: #000 solid 1px; */   overflow: hidden;   
    width: 95%;
}

ul.blineup_head li {
	width: 47%;
	height: auto;
	float: left;
	box-sizing: content-box;
	position: relative;
	min-height: 300px;
	margin: 0 2% 2% 0;
}

a.pricebox {
    /* position: absolute; */
    /* top: 0; */
    width: 96%;
    border-top: solid #f1f1f1 2px;
    margin: 0 2%;
    padding: 17px 0;
}
a.pricebox_mini {
    /* position: absolute; */
    /* top: 0; */
    width: 96%;
    border-top: solid #f1f1f1 2px;
    margin: 0 2%;
    padding: 17px 0;
}
/* ranking */

ul.ranking {
	width: 92%;
	height: auto;
	margin: 0 2% 50px;
	padding: 2%;
	border: #000 solid 2px;
	overflow: hidden;
}


ul.ranking li.no1 {
	width: 94%;    
	padding: 3%;    float: left;    
	height: auto;
	margin: 0 0 10px;
}
ul.ranking li.no1 a img {
	width: 100%;
	height: auto;
}
ul.ranking li.no1 a.txt_link {
	padding: 20px 20px 0 0;
	display: block;
}
ul.ranking li.no1 a.txt_link img {
	max-width: 90px;
	height: auto;
	padding: 0 35px 0 10px;
	float: left;
	width: 30%;
}
ul.ranking li a span.name {
	font-size: 15px;
	font-weight: bold;
	display: block;
	padding: 0 0 15px;
}
ul.ranking li a span.detail {
	font-size: 12px;
	font-weight: bold;
	display: block;
}
ul.ranking li a span.price {
	font-size: 13px;
	font-weight: bold;
	color: #f80000;
}

ul.ranking li.no2, ul.ranking li.no3 {
	width: 94%;    
	padding: 3%;    
	margin: 0 0 10px 0;
	float: left;
	height: auto;
}
ul.ranking li.no2 a img, ul.ranking li.no3 a img {
	width: 57%;
	height: auto;
	float: right;
	position: relative;
	z-index: 999;
}
ul.ranking li.no2 a.txt_link, ul.ranking li.no3 a.txt_link {
	padding: 0 0 0 5px;
	display: block;
}
ul.ranking li.no2 a.txt_link img, ul.ranking li.no3 a.txt_link img {
	max-width: 70px;
	height: auto;
	padding: 5px 0 20px 0;
	float: none;
	width: 25%;
}
a.list_box {
    display: block;
    border-right: none;
    height: auto;
    margin: 0;
}
a.list_box img{
    width:86%;
    margin: 22% 7% 4%;
}
a.listbox_mini {
    display: block;
    /* border-right: solid #C01920 3px; */
    height: auto;
}
a.list_box img{
    width: 100%;
    margin: 0;
    border: none;
}

ul.blineup_head li:nth-of-type(1) a.list_box,ul.blineup_head li:nth-of-type(4) a.list_box {
    display: block;
    border-left: none;
    height: auto;
    margin: 0;
}
ul.blineup_min li img {
	width: 100%;
	height: auto;
	/* padding: 0 0 10px 0; */
	/* margin: 20px 1% 15px 1%; */
	/* border-bottom: #E4E4E4 solid 1px; */
}
ul.blineup_min li:nth-of-type(2n+1) a.listbox_mini {
    display: block;
    height: auto;
    margin: 10px 0 0;
}
span.detail {
    display: table-cell;
    background: #fff;
    color: #555;
    padding: 0 0 7px 7px;
    font-family: Century Gothic, Futura, sans-serif;
    font-weight: bold;
}

span.price {
    font-size: 1.1em;
    color: #C01920;
    font-weight: bold;
    display: table-row;
    /* background: #fff; */
    font-family: Century Gothic, Futura, sans-serif;
}
ul.blineup_min span.offbox {
    position: static;
    /* top: 10px; */
    /* right: 10px; */
    padding: 9px 0 0 7px;
    width: 34px;
    height: 35px;
    background: url(../img/icon.png) no-repeat;
    background-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
ul.blineup_head span.offbox {
    position: static;
    /* top: 10px; */
    /* right: 10px; */
    padding: 7px 0 0 7px;
    width: 34px;
    height: 35px;
    background: url(../img/icon.png) no-repeat;
    background-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
span.specialbox {
    position: static;
    /* top: 10px; */
    /* right: 10px; */
    padding: 9px 0 0 7px;
    width: 34px;
    height: 35px;
    background: url(../img/specialicon.png) no-repeat;
    background-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}
dl.brand_info dd h4 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0 0 15px 0;
	border-bottom: #000 solid 1px;
	float: none;
	clear: both;
	display: block;
	text-align: center;
}
dl.brand_info dd span.bname {
	font-size: 19px;
	font-weight: bold;
	display: block;
	padding: 0 0 10px;
	float: none;
}
dl.brand_info dd span.bcap {
	display:block;
}
dl.brand_info dd span.bdetail {
	font-size: 12px;
	padding: 15px 0 0 0;
	display: block;
	float: none;
	clear: both;
}
/* 2015.8.7 追加 by 林      */
#sale_container {
	background: none;
}
.humberger {
	margin-top:5px!important;
}
#sale_container p {
	width: 94%;	
}
#sale_container h2 {
	margin-bottom: 20px;
}
#sale_container h3 {
	width: 96%;
	margin-bottom: 15px;
	font-size:24px;
}
dl.brand_info {
	width:96%;
}
ul.search_list li {
	height:3em;
}
ul.item_search {
	margin-bottom: 15px;
	padding-bottom: 0;

}
dt.pickup {
	display: none!important;
}
ul.search_list {
	width: 90%;	
}
ul.item_search {
	width: 96%;
	padding-bottom: 10px;
}
ul.item_search li.is_top {
  width: 32%;
  padding-bottom: 5px;
}
ul.item_search li.is_bt {
  width: 24%;
}


/* 150817追加 */
ul.bnlist {
	width: 100%;
	height: auto;
	margin: 0 auto 30px auto;
	padding: 0 0 0 1px;
	overflow: hidden;
}
ul.bnlist li {
	width: 100%;
	padding: 5px;
	float: left;
}
ul.bnlist li img {
	width: 95%;
	height: auto;
	
}


/* 150827追加 */
ul.line {
	width: 100%;
	height: auto;
	margin: 0 auto 30px auto;
	padding: 0 0 0 1px;
	overflow: hidden;
}
ul.line li {
	width: 100%;
	padding: 5px;
	float: left;
}
ul.line li img {
	width: 95%;
	height: auto;
	
}

}
@media screen and (max-width:767px){
	header {
    background-color: #111;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
}
div#head_inner{
	display: none;
	max-width: 950px;
	margin: 0 auto;
	height: 50px;
	width: 100%;
}
div#head_inner ul{
	display: none;
	z-index: 100;
	/* display: block; */
}
div#headsmp_inner h1 {
    display: block;
    margin-top: 5px;
    float: left;
}
div#headsmp_inner h1 img{
    width:;
    height: 40px;
}
div#head_inner h1 a{
    display: block;
}

.humberger {
    width: 40px;
    height: 40px;
    float: left;
    background: url(https://www.rakuten.ne.jp/gold/culture/sale_new/common/img/humberger.gif)no-repeat;
    margin: 0 5px 0 10px;
    cursor: pointer;
     -moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
  
    background-size: 40px;
}
.humberger a{
	display:block;
	height: 50px;
}
.humberger:hover {
   background-color:#111;
}

.humberger:hover #pc_list{
    display:block;
    z-index:100;
    margin:60px 0 0 0;
    background:#fff;
    color:#fff;
    width:300px;
    border:solid 1px #ccc;
  -moz-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  -o-transition: all linear 1s;
  -ms-transition: all linear 1s;
  transition: all linear 1s;

}
ul#pc_list {

}
ul#pc_list li {
	font-size:1.5em;
	line-height:2em;
	padding:0 0 0 1em;
	font-family:Century;
}
ul#pc_list li.active {
	background:#111;
}
ul#pc_list li.active a{
	background:#111;
	color:#fff;
}
ul#pc_list li:hover {
	background:#111;
	color:#fff;

}
ul#pc_list li:hover a{
	background:#111;
	color:#fff;
	-moz-transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

div#headsmp_inner {
    display: block;
}
#sidr ul li a{
	font-family:Century;
}
#sale_container {
	/* position: relative; */
	/* top: 50px; */
}
#sale_container p{
    padding: 0 0 20px;
	
    margin: 0 auto;
    max-width: 850px;
    width: 82%;
}
div#pc_footer {
    display: none;
}
div#sp_footer {
    display: block;
    position:relative;
    top:50px;
}
iframe#footer_frame_sp {
    width: 100%;
}
.sb-slidebar.sb-left ul li{
    font-size:15px;
        display: block;
    margin: 0;
    line-height: 48px;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
}.sb-slidebar.sb-left ul li a {
    color: #fff;
    padding: 0 15px;
    display: block;
    text-decoration: none;
}
#sb-site, .sb-site-container {
    padding: 50px 0 0 0;
}
}
/*left navi sidr*/
#sidr{display:none;}
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:200px;overflow-x:none;overflow-y:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;background:#333;color:#fff;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-200px}.sidr.left{left:-200px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#fff;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));background-image:-webkit-linear-gradient(#4d4d4d,#1a1a1a);background-image:-moz-linear-gradient(#4d4d4d,#1a1a1a);background-image:-o-linear-gradient(#4d4d4d,#1a1a1a);background-image:linear-gradient(#4d4d4d,#1a1a1a);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}
