html{border:none;}
body{margin:0; padding:0px; color:#333;}

body,td,th {font-family: Helvetica,Arial,'Hiragino Kaku Gothic Pro','�q���M�m�p�S Pro W3','Droid Sans',sans-serif;font-size:14px;-webkit-text-size-adjust:100%;}

a { text-decoration: none;
	color:#000;
}

hr{
	margin:0px;
	border:none;
	border-top:solid 1px #000;

}
.hr2{
	margin:5px 0px;
	border:none;
	border-top:#eeeeee 1px dashed;

}
.hr3{
	margin:10px 0px;
	border:none;
	border-top:#eeeeee 1px dashed;

}
img { -ms-interpolation-mode: bicubic; }


/* search */

#searchform2 {
	position: relative;	
}
#keywords2	{
	width: 75%;
	background: #eee;
	border: none;
	padding: 4px;
	color: #555;
	position: absolute;
	left:2px;
	top: -1px;
}
#searchBtn2	{
	position: absolute;
	right: 0%;
}
*:first-child + html #searchBtn2	{
	top: -3px;
}




/* spheader */

#head{
	background-color:#ffffff;
	top:0px;
	left:0px;
	
}

#menu{
	width:90%;
	margin:auto;
}

#menu td img{
	width:60%;
}
#head-obi {
	color:#000000; 
	text-align:center;
	font-weight:bold;
	margin:0px;
	padding:0px;
	font-size:10px;
	text-align:right;
}
#head-obi2 {
	color:#d92912; 
	text-align:center;
	font-weight:bold;
	margin:0px;
	padding:0px;
	font-size:10px;
	text-align:right;
}



/* sp-main */

#center{
	margin:auto;
	margin-top:100px;
	padding:0px;
	text-align:center;
}
.yohaku{
	margin:auto;
	padding:0px 5px;
	text-align:center;
}
.botan{
	background-color:#000;
	color:#fff;
	border-radius:10px;
	margin:0px 10%;
	padding:8px;
	font-size:11px;
	 box-shadow: 2px 2px 2px  rgba(0,0,0,0.2);
	background-image:url(../../sp/images/top/sp-botan1.gif); 
	background-repeat:no-repeat; background-position:5% 50%; background-size:7%;
}
.obi{
	background-color:#eee;
	padding:2px 0px;
	padding-left:5px;
	color:#000;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	padding-left:10px;
	margin-bottom:5px;
}
.waku{
	padding:2px;
	border:#eeeeee 1px solid;
}

.waku-142{
	padding:2px;
	border:#eeeeee 1px solid;
	text-align:center;
	margin:7px 1%;
}
.point{
	padding:0px;
	border:#ffffff 1px solid;
	text-align:center;
	margin:0px 2px;
}
 
.new-item{
	border:#eeeeee 3px solid;
	margin:0px 5px;
	margin-bottom:5px;
	padding:5px;
}
.new-item p{
	background-color:#eee;
	margin:0px;
	 padding:5px;
	 font-size:10px;
}

.event-item{
	overflow:hidden;
	margin:1% 3%;
}
.event-item img{
	width:50%;
	float:left;
	margin-right:5px;
	
}
.event-item div{
	background-color:#d92912;
	color:#FFF;
	font-size:10px;
	display:table;
	padding:5px;
	border-radius:5px;
}
.event-item p{
	margin:0px;
	padding:5px;
	font-size:10px;
	color:#000;
	text-align:left;
}

#ward{
	 margin:0px 5%;
	 background-color:#eee;
	 overflow:hidden;
	 font-weight:bold;
}
#ward div{
	background-color:#000;
	color:#FFF;
	font-size:10px;
	padding:3px; 
	background-image:url(../../sp/images/top/sp-search2.gif); background-repeat:no-repeat; background-position:5% 50%; background-size:10%;
}

#ward p{
	background-color:#FFFFFF;
	border:#ccc 1px solid;
	font-size:8px;
	float:left;
	margin:3px;
	padding:2%;
	padding-left:15px;
	background-image:url(../../sp/images/top/sp-search3.gif); background-repeat:no-repeat; background-position:5% 50%; background-size:10px;
}
#ward a{
	color:#333333;
}

/*
.trend-item img{
	width:100%;
	filter: brightness(0.5);
-webkit-filter: brightness(0.5);
-moz-filter: brightness(0.5);
-o-filter: brightness(0.5);
-ms-filter: brightness(0.5);
}


.trend-item{
	margin:0% 2%;
}
.trend-item td{
	border:#ffffff solid 3px;
	background:#000000;
}
.trend-item div{
	text-align:center;
}
.trend-item td img{
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.trend-text{
	color:#ffffff;
	font-size:11px;
	font-weight:bold;
}
*/




.rank-item{
	margin:auto;
	width:95%;
}
.rank-item img{
	width:30%;
}
.rank-item div{
	font-size:10px;
	text-align:center;
}
.rank-item div img{
	width:100%;
}
	
	
.rank-item{
	margin:auto;
	width:95%;
}
.code-item{
	overflow:hidden;
	width:95%;
}

.code-item td{
	padding:5px;
}
.code-item td div {
	position: relative;
	display: inline-block;
	overflow: hidden; /* �s�v���������� */
	padding: 1px;
}
.code-item td div:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100px;
	height: auto;
	background:#bf0000;
	content: "New";	/* �\������e�L�X�g */
	text-align: center;
	color: #fff;
	font-family: 'Arial';
	font-weight: bold;
	padding: 5px 10px;
	left: -30px;
	top: 3px;
	transform: rotate(-30deg);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.code-item img{
	width:90%;
	margin-bottom:5px;
	border:#fff solid 5px;
	-webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
}

.pick-item{
	margin:0%;
}
.pick-item li{
	border:1px solid #eeeeee;
	list-style:none;
	text-align:center;
	font-size:12px;
	margin:5% 2%;
	padding:3px;
	display: ;
	/*
	-webkit-box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px 2px rgba(0,0,0,0.2);
	*/
}
.pick-item li img{
	width:100%;
}
.pick-item li p{
	font-size:10px;
}



/*


.toku div{
	margin:5px;	
}

.toku div img{
	width:100%;	
	border:#ccc 1px solid;
	margin-bottom:8px;
}
.toku span{
	font-size:12px;
	margin:2px;
}

.toku p{
	font-size:12px;
	letter-spacing:1px;
	text-align:left;
	padding:0px;
	margin:-2px 5px;
}

*/


.cate-item{
	overflow:hidden;
}
.cate-item img{
	width:100px;
	float:left;
	margin-right:5px;
	opacity:0.7;
	position:relative;
	border:#eee 1px solid;
	border-radius:5px;
	
}
.cate-item p{
	margin:0px;
	padding:5px;
	font-size:12px;
	color:#333333;
	text-align:left;
	line-height:15px;
}

#foot-obi{
	 font-size:10px;
	 font-weight:bold;
	 color:#ffffff;padding:6px;
	 background-color:#222222;
	 line-height:20px;
}
#foot-obi a{
	color:#FFFFFF;
}


/* topicon */

.top-icon{
	letter-spacing:-2px;
	line-height:15px;
	background-color:#333; 
	text-align:center; 
	font-size:12px; 
	font-weight:bold; 
	padding:10px;
	border-radius:100px;
	position: fixed;
	bottom:50px;
	right: 2px;
	z-index: 1;
	opacity: 0.8;
}
	
.top-icon:hover{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}



.top-icon2{
	letter-spacing:-2px;
	line-height:15px;
	background-color:#333; 
	text-align:center; 
	font-size:12px; 
	font-weight:bold; 
	padding:15px;
	border-radius:100px;
	position: fixed;
	bottom:0px;
	right: 2px;
	z-index: 1;
	opacity: 0.8;
}
	
.top-icon2:hover{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* obi */

.fab-typo-optima {
  font-family: 'Optima-Regular';
}

.fab-design-mg--t20 {
  margin-top: 40px;
}

.fab-typo-title--lg {
  border-top: 1px solid black;
  text-align: center;
  height: 33px;
  font-size: 250%;
}

.fab-typo-title--lg span {
  position: relative;
  top: -21px;
  padding: 0 30px;
  background: white;
  font-size:20px;
}


.fab-typo-title--lg.fab-typo--jp {
  font-size: 100%;
  margin-bottom: -0.5em;
}

.fab-typo-title--lg.fab-typo--jp span {
  top: -.7em;
}

.fab-typo-title--lg__caption {
  position: relative;
  top: -15px;
  text-align: center;
}


.obi-mini{
  position: relative;
	text-align:center;
	top:-20px;
}
.obi-mini span{
	font-weight: normal;
	font-size:10px;
}













/* jq-slick */

.autoplay li{
	border:#fff 1px solid;
}
.autoplay img{
	-ms-interpolation-mode: bicubic;
}
