*{
margin:0;
padding:0;
border:0;

}

#container {
	width: 100%;
	overflow:hidden;
}
#container p{
	font-size:12px;
	text-align:center;
	font-weight:bold;
	color:#cd2d1b;
}

#banner ul {
list-style: none;
height: 250px;
margin-top:20px;
}
#banner ul li {
float: left;
position: absolute;
}
.recommenditem{
	width:1000px;
}

#container2 {
	width: 100%;
	overflow:hidden;
}

#banner2 ul {
list-style: none;
height: 250px;
margin-top:20px;
}
#banner2 ul li {
float: left;
position: absolute;
}


#btn-prev {
position: absolute;
left: 0px;
top: 120px;
}
#btn-next {
position: absolute;
right: 0px;
top: 120px;
}

#btn-prev2 {
position: absolute;
left: 0px;
bottom: 50px;
}
#btn-next2 {
position: absolute;
right: 0px;
bottom: 50px;
}