/**･ｿ･ｰ**/
/**ｱｦﾂﾓ
body { margin: 0px; padding: 0px; background-image: url(http://www.rakuten.ne.jp/gold/outletruckruck/images/eventimg/0110eventimg/0110_rm_souryou_l.jpg); background-repeat: repeat-y; background-position: left top; }**/







body{
	font-family:"メイリオ","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Meiryo, Osaka, "MS PGothic", sans-serif;
}
a{text-decoration: none;}


/** ヘッダー　フレーム **/
#header2016{ width: 100%; height:1200px; /*  height: 550px; 600px; 750px; 800px 850px 1050px; */
}

/** ランキング上ナビフレーム **/
#navii{ width: 728px; height:800px; border:1px #ffffff solid;}/*　650px　700px 800px */



/** トレンドカルーセルフレーム **/
#trend{ width: 1000px; height: 200px; }




/** フッター　フレーム **/
#foot2016{ width: 100%; height: 350px; } 

/** スタイリングブック　コーデlistフレーム **/
#code-list{ width: 1000px; height: 350px; }


/** インスタグラムフレーム **/
#inst-frame{ width: 1000px; height: 1500px; }



/** カゴ横フレーム **/
#point{ width: 400px; height: 1350px; }/*  height: 580px 650px 1050px　1120px*/

/** カゴ横即納フレーム **/
#kago-ue2{ width: 400px; height: 170px; }/*  height: 170px; */

/** ランキング上即納フレーム **/
#sokunou{ width: 728px; height: 120px; border:1px #ffffff solid;}/* 120px */


/** カゴ横メール便フレーム **/
#mail{ width: 380px; height: 80px; }/*  height: 70px; */

/** カゴ横ヤフーポイント **/
#y-point{ width:380px; height: 0px; }/*  height: 280px; */

/** ページ下部メール便フレーム **/
#mailbin{ width: 728px; height: 1110px; }/*  height: 910px; */

/** ランキングフレーム **/
#rank{ width: 728px; height: 450px; border:1px #ffffff solid;
}








/** Yahoo内部 **/

.ptData2 td p{
	font-size:10px;
}
.ftPrice3{
	font-weight:bold;
}















/** 旧ヘッダー　フレーム **/
#header2012{ width: 980px; height: 1000px; } 



/**カテゴリページのテキストデザイン**/
a.category_itemnamelink{ color:#777777; font-size:10px; line-height:14px;}
span.category_itemprice{ color:#121212; font-size:14px; font-weight:bold; margin: 5px 0px; font-family: Arial; display: block;}
span.category_itemtaxpostage{ color:#555555; font-size:10px;}



/**2013ｳﾚﾅｷ･､｡ｼ･ｰ･・ｹ ･ｻ｡ｼ･・ﾕ･・ｼ･・*/
.eagles_frame1{ height: 0px; width: 728px; }/**3300px**/
.eagles_frame2{ height: 4850px; width: 728px; }/**3500px**/
.eagles_frame3{ height: 0px; width: 728px; }/**2300px**/
.eagles_frame4{ height: 0px; width: 728px; }/**3400px**/
.eagles_frame5{ height: 0px; width: 728px; }/**1650px**/

/**20140328 ･ｷ･蝪ｼ･ｺ･ｫ･ﾆ｡｡･ﾕ･・ｼ･・*/
.shoes_cate1{ height: 2300px; width: 728px; }


/**ﾇﾘｷﾊ､ﾎﾀﾟﾄ・*/
.bg{ border-bottom: 3px solid #444444; }
.bg_copy{ background-color: #000000; }

/**･ﾆ･ｭ･ｹ･ﾈ､ﾎﾀﾟﾄ・*/
.textbox01{ font-size: 12px; line-height: 24px; color: #666666; margin-top: 15px; margin-bottom: 15px; margin-left: 20px; }
.textbox02{ font-size: 10px; line-height: 14px; color: #666666; }
.textbox03{ font-size: 10px; line-height: 14px; color: #666666; padding-right: 5px; padding-left: 5px; }
.pagetop{ font-size: 12px; margin-top: 15px; margin-bottom: 50px; text-align: right; }

/**･・ｯ**/
a:link { color: #666666; }
a:visited { color: #666666; }
a:hover { color: #FF6600; }
a:active { color: #FF6600; }
a:hover img{
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}


/**･皈ﾋ･蝪ｼ**/
#menu { width: 930px; margin: 0px 0px 10px; padding: 6px 0px; background-color: #f4f4f4; font-size:12px; color: #000; }
#menu a{ background-image: url(../images/common/icon02.gif); background-repeat: no-repeat; padding-left: 15px; background-position: 0px -2px; padding-right: 10px; }
#menu a:link { color: #666666; }
#menu a:visited { color: #666666; }
#menu a:hover { color: #FF6600; }
#menu a:active { color: #FF6600; }


/**･ﾘ･ﾃ･ﾀ｡ｼ･皈ﾋ･蝪ｼ**/
#nav, #nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:1.2em;width: 100%;}
#nav a{	display:block;padding:0px 5px;color:#333333;text-decoration:none;background-color:#fafafa;font-size: 10px; font-weight:bold;}
#nav div{font-size: 8px;line-height: 0.2em;padding-bottom: 7px;}
#nav a:hover{background-color:#333333;color:#bba700;}
#nav li{ float:left; position:relative; width: 155px; margin:0; padding:0; text-align: center; }
#nav ul { position:absolute; display:none; width:12em; top:2.em;margin:0; padding:0; z-index: 200;}
#nav ul li{ text-align: left;}
#nav li ul a{width:145px;height:auto;float:left;}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}
#menu2012 {	background-color: #000000;width: 100%;text-align: center;}


/**･ﾘ･ﾃ･ﾀ｡ｼ20130819~**/
#nav2013, #nav2013 ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:1.2em;width: 100%;}
#nav2013 a{	display:block;padding:0px 5px;color:#333333;text-decoration:none;background-color:#FAFAFA;font-size: 10px;}
#nav2013 div{font-size: 8px;line-height: 0.2em;padding-bottom: 7px;}
#nav2013 a:hover{background-color:#999999;color:#FFFFFF;}
#nav2013 li{ float:left; position:relative; width: 155px; margin:0; padding:0; text-align: center; }
#nav2013 ul { position:absolute; display:none; width:12em; top:2.em;margin:0; padding:0; z-index: 200;}
#nav2013 ul li{ text-align: left;}
#nav2013 li ul a{width:145px;height:auto;float:left;}

#nav2013 li:hover ul ul, #na2013 li:hover ul ul ul, #nav2013 li:hover ul ul ul ul{display:none;}
#nav2013 li:hover ul, #nav2013 li li:hover ul, #nav2013 li li li:hover ul, #nav2013 li li li li:hover ul{display:block;}



/**･ﾘ･ﾃ･ﾀ｡ｼｸ｡ｺ・*/
#search{ font-size: 10px; color: #333333; margin: 0px; padding: 0px; width: 930px; background-position: center center; background-color: #e6e6e6; }


/**･ﾘ･ﾃ･ﾀ｡ｼｸ｡ｺ｣､ﾎ･ﾜ･ｿ･・*/
#header_subbt{ font-size: 12px; }
#header_subbt div { height: 20px; padding-top: 7px; }
#header_subbt a:link { color: #FFFFFF; }
#header_subbt a:visited { color: #FFFFFF; }
#header_subbt a:hover { color: #bf0000; }
#header_subbt a:active { color: #FFFFFF; }



/**ﾇ网､ﾊｪ､ｫ､ｴ･ﾜ･ｿ･・*/
.none {display: none;}
#cart_bt{width: 147px;height: 21px;background-image:url(../images/common/2011new_cart.gif);text-align:left;margin:0px;padding:0px;background-repeat: no-repeat;display:block;}
#cart_bt_box { padding-top: 1px; }
#cart_bt a{width:147px;height:21px;background-image:url(../images/common/2011new_cart.gif);text-align:left;margin:0px;padding:0px;background-repeat: no-repeat;display:block;}
#cart_bt a:hover{width:147px;height:21px;background-image:url(../images/common/2011new_cart_on.gif);text-align:left;margin:0px;padding:0px;background-repeat: no-repeat;display:block;}


/**･ﾘ･ﾃ･ﾀ｡ｼ･ｵ･ﾖ･皈ﾋ･蝪ｼ**/
#head_submenu { font-size: 10px; color: #727272; }

/**･ｹ･ｯ･悅ｼ･・､･ﾕ･ｩ･癸ｼ･ｷ･逾・
#pscroller2{ width: 390px; height: 17px; border: 1px solid #b4b4b4; padding: 3px 3px 0px; font-size: 12px; font-weight: bold; color: #666666; background-color: #FFFFFF; }
#pscroller2 div{ background-image: url(../images/common/icon01.gif); background-repeat: no-repeat; text-indent: 16px; background-position: 0px 0px; }
**/

#head_info { background-image: url(../images/common/2011new_bar01.gif); background-repeat: no-repeat; background-position: center top; margin: 5px 0px 0px; padding: 9px 0px; height: 41px; width: 930px; }


/**･､･ﾁ･ｪ･ｷｾｦﾉﾊ**/
#itiosi{ margin: 10px 0px 0px; width: 930px;}
.itiosi_m1{ width: 304px; margin: 0px 6px 6px 0px; padding: 16px 0px 0px; }
.itiosi_m2{ width: 304px; margin: 0px 0px 6px; padding: 16px 0px 0px; }
.itiosi_m3{ width: 304px; margin: 0px 6px 6px 0px; padding: 16px 0px 0px; }
#itiosi_txt{ border-bottom: 3px solid #FF6400; width: 930px; margin: 0px; padding: 3px 0px 0px; }

/**･ﾘ･ﾃ･ﾀ｡ｼ･ﾐ･ﾊ｡ｼ**/
#header_banner{ padding-top: 10px; }
#header_banner img{ margin-bottom: 10px; }

/***ｺｸ･ｵ･､･ﾉ｡ﾊﾊﾑｹｹ･｢･遙ﾋ***/
#side{ margin: 0px; padding: 0px; width: 180px; display:block }
#side p{ width: 180px; margin: 0px 0px 10px; padding: 0px; }


/***ﾅｹﾄｹ･ﾖ･愠ｰ｡ﾊﾊﾑｹｹ･｢･遙ﾋ***/
#techo{ font-size: 12px; line-height: 18px; margin: 0px; padding: 0px; }


/***･癸ｼ･・ﾞ･ｬ･ｸ･・**/
#mailmaga{ background-image: url(../images/common/mailmaga.jpg); background-repeat: no-repeat; height: 130px; width: 180px; display: block; font-size: 12px; line-height: 18px; padding: 0px; margin: 0px; }
#mailmaga p{ margin: 0px; padding: 55px 0px 0px 90px; }

/***･ｫ･ﾆ･ｴ･・・ｹ･ﾈ***/
.catelist{ font-size: 10px; margin: 10px 0px 0px; padding: 0px 15px 0px 15px; line-height: 20px; }




/***｢｣｢｣｢｣･ﾕ･・ｼ･爨ﾎｹ筅ｵﾊﾑｹｹ･ｨ･・｢｢｣｢｣｢｣***/

/***ﾇ网､ﾊｪ､ｫ､ｴ､ﾎｲｼ､ﾎ･ﾕ･・ｼ･・ﾄﾌｾ・80px-***/
.soryo-nado{ height: 500px; width: 440px; }
/***｢･ﾇ网､ﾊｪ､ｫ､ｴ､ﾎｲｼ､ﾎ･ﾕ･・ｼ･爨ﾎｹ筅ｵ､ﾏ､ｳ､ｳ､ﾇﾊﾑｹｹ***/
.soryo-nado_img{ padding-bottom: 10px; }

/***･ﾕ･ﾃ･ﾀ｡ｼ***/
.footersize{ height: 1450px; width: 728px; }
.footersize02{ height: 850px; width: 930px; }
/***｢･･ﾕ･ﾃ･ﾀ｡ｼ､ﾎｹ筅ｵ､ﾏ､ｳ､ｳ､ﾇﾊﾑｹｹ***/
#f_pay{ background-image: url(../images/common/icon_p.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_ototoke{ background-image: url(../images/common/icon_o.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_privacy{ background-image: url(../images/common/icon_pp.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_souryou{ background-image: url(../images/common/icon_s.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_eigyou{ background-image: url(../images/common/icon_e.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_calendar{ background-image: url(../images/common/icon_c.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }
#f_goriyou{ background-image: url(../images/common/icon_g.gif); background-repeat: no-repeat; padding-top: 3px; padding-bottom: 5px; }


/***･ｵ･､･ﾉ･皈ﾋ･蝪ｼ･ｫ･ﾆ･ｴ･・・ﾎ･ﾕ･・ｼ･・**/
#sidecate{ height: 1430px; width: 180px; }

/***･ｵ･､･ﾉ･皈ﾋ･蝪ｼ･ﾔ･ﾃ･ｯ･｢･ﾃ･ﾗ､ﾎ･ﾕ･・ｼ･・**/
#sidepickup{ height: 1300px; width: 180px; }

/***･ｵ･､･ﾉ･皈ﾋ･蝪ｼ･鬣ｭ･ｰ､ﾎ･ﾕ･・ｼ･・**/
#siderank{ height: 500px; width: 180px; }

/***ｾｦﾉﾊ･ﾚ｡ｼ･ｸ､ﾎ･癸ｼ･・ﾘｲ霖・ﾎ･ﾕ･・ｼ･・**/
.mall-bann{ height: 430px; width: 728px; }

/***･ﾐ･ﾃ･ｰ･ﾏ･ｬ｡ｼ､ﾎ･ﾕ･・ｼ･・**/
.bagkhanger{ height: 210px; width: 728px; }

/***･ﾔ･ｿ･ｯ･愠ｿ･ﾃ･ﾁ､ﾎ･ﾕ･・ｼ･・**/
.osusume_pitakuro{ height: 900px; width: 728px; }

/***･鬣ﾃ･ﾔ･ｰ･ｪ･ｹ･ｹ･皈ﾕ･・ｼ･・ｾｦﾉﾊﾂﾐｾﾝｾｦﾉﾊ･ﾚ｡ｼ･ｸ､ﾇｻﾈﾍﾑ-0120_wrap.html*/
.osusume_wrap{ height: 3400px; width: 728px; }

/***･ﾇ･ﾋ･爨ﾎ､ｪ､ｹ､ｹ､眄ｦﾉﾊ｡ﾊwft00511､ﾈ･ﾇ･ﾋ･猗ﾃｽｸﾀﾟﾃﾖ｡ﾋ-0314_wft00511.html*/
.denim_tokusyu0314{ height: 2300px; width: 728px; }

/***･ｵ･ﾋ｡ｼ･ｹ･ｭ･ﾋ｡ｼ､ﾎ､ｪ､ｹ､ｹ､眄ｦﾉﾊ｡ﾊSunny Skinnyｾｦﾉﾊ､ﾋﾀﾟﾃﾖ｡ﾋ-0418_sunnyskinny_rosusume.html*/
.suny_osusume0418{ height: 800px; width: 728px; }

/***･鬣ｯ｡ｼ･ﾝ･ｦﾉﾊﾆ筵ﾐ･ﾊ｡ｼ｡｡-0409_rakupon_rrframe.html*/
.rakupon_0409{ height: 160px; width: 728px; }

/***･ｫ｡ｼ･ﾇ･｣･ｬ･ﾃｽｸ･ﾕ･・ｼ･爍｡0802_caedigan.html*/
.frame_cardigan { width:728px; height:1000px; }


/***･ﾕ･ﾃ･ﾀ｡ｼ･ﾖ･鬣ﾉｰ・・**/
#brand{ background-image: url(../images/common/icon_b.gif); background-repeat: no-repeat; margin-top: 30px; }
.list{font-size: 10px;}
.list ul{margin: 0px;padding: 0px;font-weight: bold;list-style-type: none;}
.list li{font-weight: normal;margin-top: 3px;margin-right: 0px;margin-bottom: 3px;margin-left: 30px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px; }
.footerbrand_lm{ list-style-image: url(../images/common/sanlm.gif); }
.footerbrand_m{list-style-image: url(../images/common/sanm.gif);}
.footerbrand_l{list-style-image: url(../images/common/sanl.gif);}

/***･ｳ･ﾔ｡ｼ･鬣､･ﾈ***/
#copy { width: 930px; margin: 30px 0px 0px; padding: 6px 0px; background-color: #f5f5f5; font-size: 10px; color: #666666; }


/**､ｴﾍﾑ･ｬ･､･ﾉ**/
#goriyo{ margin-bottom: 50px; }
#goriyo ul{ list-style-type: none; margin: 15px 15px 40px 20px; padding: 0px; font-size: 12px; color: #666666; }
#goriyo li{ margin-bottom: 5px; }


/**ｻｨｻ・ｹ･鬣､･ﾀ**/
.list_carousel {
   margin-top:-30px ;
   width: 728px;
   height:250px;
   padding:0 0 0 10px;
}
.list_carousel ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: block;
}
.list_carousel li {
   text-align: center;
   background-color: #eee;
   border: 3px solid #fff;
   width: 200px;
   height: 224px;
   padding: 0;
   margin:30px 10px;
   display: block;
   float: left;
   -webkit-box-shadow: 1px 1px 3px #808080;
   -moz-box-shadow: 1px 1px 3px #808080;
   box-shadow: 1px 1px 3px #808080;
   position:relative;
}
.clearfix {
   float: none;
   clear: both;
}


/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
/**､ｿ､ﾞ､ﾋ､ﾁ､遉ﾚ､・・ﾎ､ﾇﾃ擎ﾕ｡ｪ｡ｪ**/
